<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/aura-browser-5.26.90.tar.xz">aura-browser-5.26.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0f7f298cc536140bf34e036e21a5aeb526d116702607aee5a5f9ed56b56bcdff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/bluedevil-5.26.90.tar.xz">bluedevil-5.26.90</a></td>
   <td align="right">355kB</td>
   <td><tt>ab1f26bcc708dd6f96de9a181e7c86939b01ed0001bee8eb3507e1de317f57b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/breeze-5.26.90.tar.xz">breeze-5.26.90</a></td>
   <td align="right">55MB</td>
   <td><tt>fea8afb4e6c283c9995e687ad51a0bb83270d841fbc6c2fac04bd9e3f2293700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/breeze-grub-5.26.90.tar.xz">breeze-grub-5.26.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b0b5bcb4a645499dfbdf294eef1fd1915f617fee9e57d5f055265d8b687951b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/breeze-gtk-5.26.90.tar.xz">breeze-gtk-5.26.90</a></td>
   <td align="right">39kB</td>
   <td><tt>34e7ea71c5b6d78982e2b20d6bbbcf994eeedb70e261a7ca714cb48116e6bd4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/breeze-plymouth-5.26.90.tar.xz">breeze-plymouth-5.26.90</a></td>
   <td align="right">108kB</td>
   <td><tt>29e0d1b547bbc5d68548812e7573cb385fa05d2a6711700c7e607cf0e8b56540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/discover-5.26.90.tar.xz">discover-5.26.90</a></td>
   <td align="right">831kB</td>
   <td><tt>6df2c11e7ce6cdf2e00f04941b0a6c0d48b072165c853192966e075f9a26d12f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/drkonqi-5.26.90.tar.xz">drkonqi-5.26.90</a></td>
   <td align="right">832kB</td>
   <td><tt>4b8b2d12323677afab87ff0bae53df90771eacde56dd07fe40502016b4326e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/flatpak-kcm-5.26.90.tar.xz">flatpak-kcm-5.26.90</a></td>
   <td align="right">187kB</td>
   <td><tt>bf62e6cf2cd7eb6a02ab171d60fffd3fc80eb01c3f2dc85548661be556d0b7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kactivitymanagerd-5.26.90.tar.xz">kactivitymanagerd-5.26.90</a></td>
   <td align="right">121kB</td>
   <td><tt>207496b5faf61bf42b3010dead089e6818313630e4072152f624f119f17f28d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kde-cli-tools-5.26.90.tar.xz">kde-cli-tools-5.26.90</a></td>
   <td align="right">641kB</td>
   <td><tt>34779724a8f5cfb4385728ca9ad1fd2a43accf949d563a8dbd8ec02d4f81e750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kdecoration-5.26.90.tar.xz">kdecoration-5.26.90</a></td>
   <td align="right">51kB</td>
   <td><tt>9b8cad7f084503b45790a9105c7975448af9f921bd9d87ef313e3404a11ba397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kde-gtk-config-5.26.90.tar.xz">kde-gtk-config-5.26.90</a></td>
   <td align="right">72kB</td>
   <td><tt>ebb18d93936effa6895cb15e27e1295a8370e24e84f63ea0a0fa3ad99e44ca0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kdeplasma-addons-5.26.90.tar.xz">kdeplasma-addons-5.26.90</a></td>
   <td align="right">796kB</td>
   <td><tt>07ac2136d73a1add24f9c9f897a0779619e7dab4e7d013419e3ab277173b2e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kgamma5-5.26.90.tar.xz">kgamma5-5.26.90</a></td>
   <td align="right">84kB</td>
   <td><tt>833f24c416fe6da6fbd3f9643a1bdd520e5a8bbc9ac34697527653706e03c02d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/khotkeys-5.26.90.tar.xz">khotkeys-5.26.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1d9a476bc100622f0634ee4cfdb0f40a25c71f6e961614084ea500d62118ef89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kinfocenter-5.26.90.tar.xz">kinfocenter-5.26.90</a></td>
   <td align="right">993kB</td>
   <td><tt>4a5af2061ceca65314d3c37d422a29aacd2e16431655dd68eaeb9106a204b5c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kmenuedit-5.26.90.tar.xz">kmenuedit-5.26.90</a></td>
   <td align="right">899kB</td>
   <td><tt>021a3f195bacd13673c78cba6b6232fd210540e2267dafc5ff067fa2478952fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kpipewire-5.26.90.tar.xz">kpipewire-5.26.90</a></td>
   <td align="right">56kB</td>
   <td><tt>a6e1f661eac38341fc815efa38cbc95c7008c54106e834e9838c5a31971c9995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kscreen-5.26.90.tar.xz">kscreen-5.26.90</a></td>
   <td align="right">174kB</td>
   <td><tt>84727a9b796fd8ca217351fc64a581c694edd0e3c9ac17b30ad4559ef05cd810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kscreenlocker-5.26.90.tar.xz">kscreenlocker-5.26.90</a></td>
   <td align="right">155kB</td>
   <td><tt>72828af049b47f00da8ed108e073fc20ad8dbd5d92018b23b05f8065f9709025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/ksshaskpass-5.26.90.tar.xz">ksshaskpass-5.26.90</a></td>
   <td align="right">27kB</td>
   <td><tt>4a76fcd40e4897a8bc08f028acee5956844929c7f1af0bf96e5fa247e9500807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/ksystemstats-5.26.90.tar.xz">ksystemstats-5.26.90</a></td>
   <td align="right">111kB</td>
   <td><tt>c68cd510a07e7e8947dd73dbd0b10b56e2eabcdb9d88a4463655f8d07f65e5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kwallet-pam-5.26.90.tar.xz">kwallet-pam-5.26.90</a></td>
   <td align="right">22kB</td>
   <td><tt>1999ef0c75df7b6024584dcd177402dac73267afc5767856260293f942e7aff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kwayland-integration-5.26.90.tar.xz">kwayland-integration-5.26.90</a></td>
   <td align="right">25kB</td>
   <td><tt>1368b9f3e5bd8431f2e3558dd9331437ae8db9d44c669e4e31af014d863733d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kwin-5.26.90.tar.xz">kwin-5.26.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>2a6e1b2a687bf69737a4b7783126981971ed8e6c334c4f27550bd7da449ec090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/kwrited-5.26.90.tar.xz">kwrited-5.26.90</a></td>
   <td align="right">22kB</td>
   <td><tt>29e7dc61cbe75b7c1991f037ee0f6dc946e088fdc43f8c0bdf834ab5f90173cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/layer-shell-qt-5.26.90.tar.xz">layer-shell-qt-5.26.90</a></td>
   <td align="right">17kB</td>
   <td><tt>c44770cfed8a8f5210f697bb0e40aecba8c80b22c2d2462ae8ed31ca2485acfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/libkscreen-5.26.90.tar.xz">libkscreen-5.26.90</a></td>
   <td align="right">110kB</td>
   <td><tt>41005e1bb65fd0a1778801abde2b66b93349e33e177b7fbbeb4f8543f5e3b952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/libksysguard-5.26.90.tar.xz">libksysguard-5.26.90</a></td>
   <td align="right">846kB</td>
   <td><tt>54e6766b5f19f5c5e8ec84b0ddcb6e73314f365890167094a2e2d412ae3b0629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/milou-5.26.90.tar.xz">milou-5.26.90</a></td>
   <td align="right">55kB</td>
   <td><tt>3798e38f1f60e36dd7ad5db0dcb63b968e76b1c28b57cbed5f918c3b7b8172c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/oxygen-5.26.90.tar.xz">oxygen-5.26.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4856c8026e28c2d9d64cd45775190092d45a22721c3f1c5a19e313d1fc9b4288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/oxygen-sounds-5.26.90.tar.xz">oxygen-sounds-5.26.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>47fe0546caed78a6699aab8df1db5d4828d385eaa292c6705e43ae01d5a9ab1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plank-player-5.26.90.tar.xz">plank-player-5.26.90</a></td>
   <td align="right">154kB</td>
   <td><tt>d89b1ebc357b8b6d0404db1ae2d159e0d5813bc6dc74849f0564164bc2a2e196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-bigscreen-5.26.90.tar.xz">plasma-bigscreen-5.26.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4cd4571163cb7753784327911a47d43beb86ee56cf78995812340c1d1a683ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-browser-integration-5.26.90.tar.xz">plasma-browser-integration-5.26.90</a></td>
   <td align="right">205kB</td>
   <td><tt>af620b00713c4eec565f4c9ca286db3662ee026dda96ee3acaca407d7aa1ca11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-desktop-5.26.90.tar.xz">plasma-desktop-5.26.90</a></td>
   <td align="right">13MB</td>
   <td><tt>08efa77f49af2748f4e207ddf96114710acad9c9dba624c7125c308473649e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-disks-5.26.90.tar.xz">plasma-disks-5.26.90</a></td>
   <td align="right">90kB</td>
   <td><tt>6f636056eae9c051c90c3b3530369e5d70083d1331539d65fe4ab9853efdc191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-firewall-5.26.90.tar.xz">plasma-firewall-5.26.90</a></td>
   <td align="right">353kB</td>
   <td><tt>be44dbabc971694eaefcec0e4cca4c31da5c7d9efd3be3f75a041ed33d60f517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-integration-5.26.90.tar.xz">plasma-integration-5.26.90</a></td>
   <td align="right">88kB</td>
   <td><tt>67299ff84a38c707b9f8625ec382541a78c45ecec9b6989a1a28533961e9da85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-mobile-5.26.90.tar.xz">plasma-mobile-5.26.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c773cc3965b8ff281825a86d5dfe780c4c0fafe215949a2a8b5386d5179f979b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-nano-5.26.90.tar.xz">plasma-nano-5.26.90</a></td>
   <td align="right">71kB</td>
   <td><tt>7581d0eadbc3a893d1694709bd6a323aafac237925017e5267333bd924ca371a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-nm-5.26.90.tar.xz">plasma-nm-5.26.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cc300f957deb97d654e5de3b2bf6f3adb30c78b1ea944d2b014cb6e68a537eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-pa-5.26.90.tar.xz">plasma-pa-5.26.90</a></td>
   <td align="right">157kB</td>
   <td><tt>7e261aabcf583eba6dc3f4d598c3093aa7663bf29c84012b17a5c76175ec87bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-remotecontrollers-5.26.90.tar.xz">plasma-remotecontrollers-5.26.90</a></td>
   <td align="right">72kB</td>
   <td><tt>b08314d2291e5d6680dd700c021a56fa78b240e70d28591c0e18e18ef2a0da73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-sdk-5.26.90.tar.xz">plasma-sdk-5.26.90</a></td>
   <td align="right">312kB</td>
   <td><tt>7c364bbd98b24cc5ab870c05e5954ed7ddc585b9bd980cb55f48e8224b7f7d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-systemmonitor-5.26.90.tar.xz">plasma-systemmonitor-5.26.90</a></td>
   <td align="right">167kB</td>
   <td><tt>ec952c3262537df8e02de8928d8aff89ef09fc1281ec31150766e0e7e50344d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-tests-5.26.90.tar.xz">plasma-tests-5.26.90</a></td>
   <td align="right">1kB</td>
   <td><tt>720fa31e49ad3a328fd2493edff9e709f1b258cf53e227762d7b6206cb17199a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-thunderbolt-5.26.90.tar.xz">plasma-thunderbolt-5.26.90</a></td>
   <td align="right">70kB</td>
   <td><tt>eaff37430509e9472dc566169c684267d881820d70508e0d1e0a105db5bc0b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-vault-5.26.90.tar.xz">plasma-vault-5.26.90</a></td>
   <td align="right">182kB</td>
   <td><tt>abb331b7f634f6b1024b2b2fafb44c07f24c60ceb8092e7d104058db3ab190b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-welcome-5.26.90.tar.xz">plasma-welcome-5.26.90</a></td>
   <td align="right">768kB</td>
   <td><tt>32e41ef920ede088ee8d10d567a655246f7151bbfc72db2424f438256a474565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-workspace-5.26.90.tar.xz">plasma-workspace-5.26.90</a></td>
   <td align="right">17MB</td>
   <td><tt>72f46bd00fa2492ced1a6c98c2ee0e471b67b6a30e56dc62974939c11bde1a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plasma-workspace-wallpapers-5.26.90.tar.xz">plasma-workspace-wallpapers-5.26.90</a></td>
   <td align="right">80MB</td>
   <td><tt>18182abf2cbdf96920637fa6e52bf55d5d55cba1ea32eb46bd1e45edc568b6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/plymouth-kcm-5.26.90.tar.xz">plymouth-kcm-5.26.90</a></td>
   <td align="right">44kB</td>
   <td><tt>7dff3faaf2d3a8a867c03b00ba3907c251feb6f67019d97fb67ea0536f19ffb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/polkit-kde-agent-1-5.26.90.tar.xz">polkit-kde-agent-1-5.26.90</a></td>
   <td align="right">51kB</td>
   <td><tt>6892bf68ba71ad4213af1858781bc2cc608d221e02893f333cc820f1a6ebdb57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/powerdevil-5.26.90.tar.xz">powerdevil-5.26.90</a></td>
   <td align="right">766kB</td>
   <td><tt>e68b4d004b3a3931b438bd17c87dcc4cfdbf28e0c44038a550b7dbcf86ebb4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/qqc2-breeze-style-5.26.90.tar.xz">qqc2-breeze-style-5.26.90</a></td>
   <td align="right">64kB</td>
   <td><tt>02688646c6f2cbb21077d5858ff319fc3e045cf9342aae0e27800ec4ff112ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/sddm-kcm-5.26.90.tar.xz">sddm-kcm-5.26.90</a></td>
   <td align="right">89kB</td>
   <td><tt>f5d00038e72996ee0b3c6deeeba864e8f1b1abe9788d062363c14a1ecd57451c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/systemsettings-5.26.90.tar.xz">systemsettings-5.26.90</a></td>
   <td align="right">217kB</td>
   <td><tt>055711470d06b2c98057502057e417c1d5de7dd28b9114ba3f5ff082cad2cffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.26.90/xdg-desktop-portal-kde-5.26.90.tar.xz">xdg-desktop-portal-kde-5.26.90</a></td>
   <td align="right">124kB</td>
   <td><tt>9778f8360f75b75b7b1a9fcb7ceb36e8880e411e89df2e565f0964e92debf415</tt></td>
</tr>

</table>
