<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/bluedevil-5.5.1.tar.xz">bluedevil-5.5.1</a></td>
   <td align="right">129kB</td>
   <td><tt>27f18ad0c776e8b0d3809f3defb2172b7b9dc587dc7d50271094d726fd162d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/breeze-5.5.1.tar.xz">breeze-5.5.1</a></td>
   <td align="right">28MB</td>
   <td><tt>7cc284bcad00fc7505c76e6d6baff5f953a4aa03fd1ebfcd6729a383a293900d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/breeze-gtk-5.5.1.tar.xz">breeze-gtk-5.5.1</a></td>
   <td align="right">251kB</td>
   <td><tt>f856dd5d8555623f6752674f9ec42ab2d06b38943d7f4eb281f950af1b54d682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/discover-5.5.1.tar.xz">discover-5.5.1</a></td>
   <td align="right">821kB</td>
   <td><tt>8e1ba18e0760eda6874d2874db8ccb5a93f3f5820b10f692ca88ac6e4440245b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kde-cli-tools-5.5.1.tar.xz">kde-cli-tools-5.5.1</a></td>
   <td align="right">474kB</td>
   <td><tt>72a5923d34b8f80a53d284950c20e24afcafa41085642739bfaccbbcb04bf647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kdecoration-5.5.1.tar.xz">kdecoration-5.5.1</a></td>
   <td align="right">33kB</td>
   <td><tt>561222ff4a0328b10589f4135c3a2c9361ea0ce3605890eef03b2eb76ea4aeb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kde-gtk-config-5.5.1.tar.xz">kde-gtk-config-5.5.1</a></td>
   <td align="right">142kB</td>
   <td><tt>20e6d69243f1843ee9dc94a2aa5ac0c61c7b1859bb62839a66e3f39e622a5ade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kdeplasma-addons-5.5.1.tar.xz">kdeplasma-addons-5.5.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3486d8bf1e686d33196b342dc5c8d47ce9c3c6e3178ace72faf37ce51bb9a944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kgamma5-5.5.1.tar.xz">kgamma5-5.5.1</a></td>
   <td align="right">58kB</td>
   <td><tt>7e20648aeb2c81e563485a743aac7a50ab0b791020c32daac9f9de23a8138b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/khelpcenter-5.5.1.tar.xz">khelpcenter-5.5.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1a2cb19a725728b30bb88390f77018e4ed3f3e57dba5a9db171430a53bb29a2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/khotkeys-5.5.1.tar.xz">khotkeys-5.5.1</a></td>
   <td align="right">589kB</td>
   <td><tt>1132aa80ef8c3548d82d85c50e65b131530efc6318e461670abaa2ed116c7565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kinfocenter-5.5.1.tar.xz">kinfocenter-5.5.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>80b86a8316c24b3e725935bc6c53c884f81c1729013d35024ff4e2a034463f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kmenuedit-5.5.1.tar.xz">kmenuedit-5.5.1</a></td>
   <td align="right">431kB</td>
   <td><tt>98bda543c62dd910ecbca5b91d1c3771a795687cee52c7186237a96da3a26572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kscreen-5.5.1.tar.xz">kscreen-5.5.1</a></td>
   <td align="right">100kB</td>
   <td><tt>acd44e8f445516da50d7f1bfb63036884c8d92b23e529037be3d75319d0fc3fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kscreenlocker-5.5.1.tar.xz">kscreenlocker-5.5.1</a></td>
   <td align="right">95kB</td>
   <td><tt>3a1850a8cfc210a6c0fdff56b34481577eb697aa40982208df102f1dd1e02418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/ksshaskpass-5.5.1.tar.xz">ksshaskpass-5.5.1</a></td>
   <td align="right">19kB</td>
   <td><tt>1bd5b7b9e4ef58c4f1586af1818fea25cd772eba6f5d2285bcfea8cb4d814e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/ksysguard-5.5.1.tar.xz">ksysguard-5.5.1</a></td>
   <td align="right">470kB</td>
   <td><tt>816f0120dad6deb32de80e5da3d3d5335a5257865ed5d5700f5652284483e37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kwallet-pam-5.5.1.tar.xz">kwallet-pam-5.5.1</a></td>
   <td align="right">15kB</td>
   <td><tt>a6601a5d87e07ea0a546c94c153f187d17b304e8ee4e0f5781c9edda045268c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kwayland-5.5.1.tar.xz">kwayland-5.5.1</a></td>
   <td align="right">155kB</td>
   <td><tt>85b4bb15c084391ec41b404b596213db5c28fb2156c73414d7909506af87bda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kwayland-integration-5.5.1.tar.xz">kwayland-integration-5.5.1</a></td>
   <td align="right">16kB</td>
   <td><tt>ae649db9c158efcc3c170a2f7deb7e249bcb6eb3557e032d913d7d1d3b4b41eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kwin-5.5.1.tar.xz">kwin-5.5.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>74a308ce3951139e3009c6dcb005fdc0a143962aaae2d60f02ac1a48364a103f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/kwrited-5.5.1.tar.xz">kwrited-5.5.1</a></td>
   <td align="right">19kB</td>
   <td><tt>60e00ecc2d43026b70c3a896c540c9f93bab8886a637507aaf4b682ac90e3636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/libkscreen-5.5.1.tar.xz">libkscreen-5.5.1</a></td>
   <td align="right">70kB</td>
   <td><tt>5e2c38a436293ec4ba2f19237614e254a799808ee232818a053d439e5b8761ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/libksysguard-5.5.1.tar.xz">libksysguard-5.5.1</a></td>
   <td align="right">554kB</td>
   <td><tt>bd95020baf65e779ee649af9d9743d699dd51679a055466ced558158f3eefbfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/milou-5.5.1.tar.xz">milou-5.5.1</a></td>
   <td align="right">50kB</td>
   <td><tt>7a42ee7d80164648f6cbc883b177a5d7319f60f733eaf0fcf1ffe38c3a761a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/oxygen-5.5.1.tar.xz">oxygen-5.5.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>d0b4d99ee3df0d89412b23d6b255612bfd5dfd4571ac29507dbe6ed587835f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-desktop-5.5.1.tar.xz">plasma-desktop-5.5.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d146a98ff75726ae04c2025477f78b8ec1f124475f5f94cd3727045048865fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-mediacenter-5.5.1.tar.xz">plasma-mediacenter-5.5.1</a></td>
   <td align="right">156kB</td>
   <td><tt>be81e0cd40d16c6c103e06d9222d3e5171d8ccadc99dbb54abd4e825738fb48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-nm-5.5.1.tar.xz">plasma-nm-5.5.1</a></td>
   <td align="right">593kB</td>
   <td><tt>0ffac9d50564928136d68c74a2d27f6eab450f51474e5dcceee09cf377420160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-pa-5.5.1.tar.xz">plasma-pa-5.5.1</a></td>
   <td align="right">52kB</td>
   <td><tt>13de2fa6d8c739b65ad1019ce937652ca6bdc3d9da1687a7954800dcc9a5ca8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-sdk-5.5.1.tar.xz">plasma-sdk-5.5.1</a></td>
   <td align="right">647kB</td>
   <td><tt>1e1e6fbb77808130516fdcdbe3ac3d395bc975252a077e6c0be5de3fdb4733e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-workspace-5.5.1.tar.xz">plasma-workspace-5.5.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>7e91dac2301975ae8ee788deddc9e4ac8c5f699865e85d09cefe0f9f29ac3705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/plasma-workspace-wallpapers-5.5.1.tar.xz">plasma-workspace-wallpapers-5.5.1</a></td>
   <td align="right">43MB</td>
   <td><tt>317f3204ce070d42efb3ae208f9f151e817890da7c64d21eedb26db9d85b4bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/polkit-kde-agent-1-5.5.1.tar.xz">polkit-kde-agent-1-5.5.1</a></td>
   <td align="right">38kB</td>
   <td><tt>819d44b53fc1bcc386bf671c714b6d94c99e6345cfd0e9c56f7d1ed800052da0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/powerdevil-5.5.1.tar.xz">powerdevil-5.5.1</a></td>
   <td align="right">337kB</td>
   <td><tt>f76205cc39329c683eb03efb5dbc4b3c9e891d55a236f4ccaab437542a6550be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/sddm-kcm-5.5.1.tar.xz">sddm-kcm-5.5.1</a></td>
   <td align="right">46kB</td>
   <td><tt>3bbb2c5c691c0480f332fb36ba5493874e8875b0dbaf86854d80643afdf67639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/systemsettings-5.5.1.tar.xz">systemsettings-5.5.1</a></td>
   <td align="right">153kB</td>
   <td><tt>568f4ea2122324a16202674403929296cfe2aefb26462bfba8c160bfe9f609a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.1/user-manager-5.5.1.tar.xz">user-manager-5.5.1</a></td>
   <td align="right">55kB</td>
   <td><tt>2ed10090b0424cfc53fc6f61fc456121bd12b0d1260599bf0db5281a9db0b98a</tt></td>
</tr>

</table>
