
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/attica-5.111.0.tar.xz">attica-5.111.0</a></td>
   <td align="right">67kB</td>
   <td><tt>8b3575632d0043048420c47927bc7a73b2816f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/baloo-5.111.0.tar.xz">baloo-5.111.0</a></td>
   <td align="right">305kB</td>
   <td><tt>fdd5d79ac813a3a6e1344feb870d4ab23fa9560c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/bluez-qt-5.111.0.tar.xz">bluez-qt-5.111.0</a></td>
   <td align="right">112kB</td>
   <td><tt>ea49dc842945501eac9006e70ddb0b643de450c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/breeze-icons-5.111.0.tar.xz">breeze-icons-5.111.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1a9501b63f79f6d3ad499af3458768570ad06ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/extra-cmake-modules-5.111.0.tar.xz">extra-cmake-modules-5.111.0</a></td>
   <td align="right">324kB</td>
   <td><tt>a5b3392da504b89004918904b9864a230570b086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/frameworkintegration-5.111.0.tar.xz">frameworkintegration-5.111.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>05460a0ec180cb892932797b536443a1330f030c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kactivities-5.111.0.tar.xz">kactivities-5.111.0</a></td>
   <td align="right">71kB</td>
   <td><tt>5e7c37903f4bbc84d838a4b3e7130b2307acad3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kactivities-stats-5.111.0.tar.xz">kactivities-stats-5.111.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b251fb39e25cbfbc841fe4777efc394a66048a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kapidox-5.111.0.tar.xz">kapidox-5.111.0</a></td>
   <td align="right">194kB</td>
   <td><tt>f6b8b6841724d54de4b99dac641391f3071a964f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/karchive-5.111.0.tar.xz">karchive-5.111.0</a></td>
   <td align="right">999kB</td>
   <td><tt>79d629a56adc3455fe08f8bb168340cdec40836f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kauth-5.111.0.tar.xz">kauth-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>17414b3efa3355f680541f004395d8e347008896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kbookmarks-5.111.0.tar.xz">kbookmarks-5.111.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e848350242ff479c563b3fdaf214312e7854d0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcalendarcore-5.111.0.tar.xz">kcalendarcore-5.111.0</a></td>
   <td align="right">263kB</td>
   <td><tt>57fb04f1715a061bda62a5ab3c6e2c55219a4416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcmutils-5.111.0.tar.xz">kcmutils-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>95ab9f1446d9b792bae32b6daf88dc3f93d975c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcodecs-5.111.0.tar.xz">kcodecs-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ee7a1b34ad922efa9619153ca22662fe954f3b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcompletion-5.111.0.tar.xz">kcompletion-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fb2df085bdbea423eca1a35d1849a30fc2f5c8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kconfig-5.111.0.tar.xz">kconfig-5.111.0</a></td>
   <td align="right">287kB</td>
   <td><tt>5f85f96b47cf05d08d6f43051a9f4f49280ec5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kconfigwidgets-5.111.0.tar.xz">kconfigwidgets-5.111.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>33ee46142309012ca4b40209244fa8df1256cbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcontacts-5.111.0.tar.xz">kcontacts-5.111.0</a></td>
   <td align="right">208kB</td>
   <td><tt>693ef39967cfe7e154ff23358064467e50d7ced2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcoreaddons-5.111.0.tar.xz">kcoreaddons-5.111.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>388fb1e5128ff04d0da696cb978a2ba70ae48984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kcrash-5.111.0.tar.xz">kcrash-5.111.0</a></td>
   <td align="right">27kB</td>
   <td><tt>c2fa17cd7d319c609cfc3e3ce28c1e1545c447e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdav-5.111.0.tar.xz">kdav-5.111.0</a></td>
   <td align="right">64kB</td>
   <td><tt>e2320a0d361c3a9a79758b358b9a0be598a27cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdbusaddons-5.111.0.tar.xz">kdbusaddons-5.111.0</a></td>
   <td align="right">47kB</td>
   <td><tt>f2458dea86fc024f0564110f7837dcafb12c60d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdeclarative-5.111.0.tar.xz">kdeclarative-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cd74ca02ba954b1e7af34a5b1ef666efc00de95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kded-5.111.0.tar.xz">kded-5.111.0</a></td>
   <td align="right">40kB</td>
   <td><tt>e10c4009f2814c01a52072366601d93d61bad55c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdesu-5.111.0.tar.xz">kdesu-5.111.0</a></td>
   <td align="right">55kB</td>
   <td><tt>bf0b2825f75c018437b70cb3904219ae6df8794c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdnssd-5.111.0.tar.xz">kdnssd-5.111.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f4b4782e2b241750aee2c560a44f451306ef92bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kdoctools-5.111.0.tar.xz">kdoctools-5.111.0</a></td>
   <td align="right">454kB</td>
   <td><tt>e1cb5ebb28941455f5743f363796545cf6b3f6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kemoticons-5.111.0.tar.xz">kemoticons-5.111.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6d5f29057e78d2bffc0672edb6c8f5ad078493b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kfilemetadata-5.111.0.tar.xz">kfilemetadata-5.111.0</a></td>
   <td align="right">461kB</td>
   <td><tt>d19a7587cb5ba6741c38f05849a080673ab4de05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kglobalaccel-5.111.0.tar.xz">kglobalaccel-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>238521057713b8b6b01370ec5d592e541676cca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kguiaddons-5.111.0.tar.xz">kguiaddons-5.111.0</a></td>
   <td align="right">76kB</td>
   <td><tt>fe6fbe1f98085995bb86da2b638287d644179de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kholidays-5.111.0.tar.xz">kholidays-5.111.0</a></td>
   <td align="right">249kB</td>
   <td><tt>b337681e9dfdf436764652ba1250b47e0360e6bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/ki18n-5.111.0.tar.xz">ki18n-5.111.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>74ba5353907f8ee95fcb27ea7e1d7e26db03813c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kiconthemes-5.111.0.tar.xz">kiconthemes-5.111.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0e0e34ea156ff240c306fa7d5fa953c904cda237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kidletime-5.111.0.tar.xz">kidletime-5.111.0</a></td>
   <td align="right">30kB</td>
   <td><tt>ded4d140af0f9cff33d9b484f4a4da3607d3bdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kimageformats-5.111.0.tar.xz">kimageformats-5.111.0</a></td>
   <td align="right">14MB</td>
   <td><tt>1f0348fbd1d81992037cdb25de57de430a1a2461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kinit-5.111.0.tar.xz">kinit-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>51abe7e0c1b6123986d2f62d5882a92b87686e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kio-5.111.0.tar.xz">kio-5.111.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>651fe046043173a1d2a98b354917d87b0b956f3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kirigami2-5.111.0.tar.xz">kirigami2-5.111.0</a></td>
   <td align="right">373kB</td>
   <td><tt>8ddbc09dcacb8eeba4985c11c1d64e95a7112a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kitemmodels-5.111.0.tar.xz">kitemmodels-5.111.0</a></td>
   <td align="right">397kB</td>
   <td><tt>2dfb0f68a0bf9bdd1dc51c21ff7ab082b1b13bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kitemviews-5.111.0.tar.xz">kitemviews-5.111.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c14b411870f378a3bb854ed15c3b262fbc72d8b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kjobwidgets-5.111.0.tar.xz">kjobwidgets-5.111.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>243a1688f9561baabe83672973a46ced7d941b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/knewstuff-5.111.0.tar.xz">knewstuff-5.111.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8723e3568e5cd0c4f35cac1b248f574fa57b809e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/knotifications-5.111.0.tar.xz">knotifications-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5d5213eb9fa5ff7d283530191151cc94ecb67d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/knotifyconfig-5.111.0.tar.xz">knotifyconfig-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c15f21b29c6dabb04c6a1ecd752fa47f064aec1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kpackage-5.111.0.tar.xz">kpackage-5.111.0</a></td>
   <td align="right">183kB</td>
   <td><tt>b183f952c9a0ef602c89577a3bf6f976f0ed1a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kparts-5.111.0.tar.xz">kparts-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1dc1b3a32f44c915f5fd5fabce24ec20ccc2afbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kpeople-5.111.0.tar.xz">kpeople-5.111.0</a></td>
   <td align="right">61kB</td>
   <td><tt>c5eab428a397c2634147f79d0e12c06254b5e8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kplotting-5.111.0.tar.xz">kplotting-5.111.0</a></td>
   <td align="right">32kB</td>
   <td><tt>34e1acd609b1a8cbea6ab2d35ed0b160f7209cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kpty-5.111.0.tar.xz">kpty-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0ad58df548757a32eefc06bf93924f87cdf310a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kquickcharts-5.111.0.tar.xz">kquickcharts-5.111.0</a></td>
   <td align="right">110kB</td>
   <td><tt>5b9b4c6986ae3a711a00e954925ffd6dbbebc1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/krunner-5.111.0.tar.xz">krunner-5.111.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2fff849f7d4d4a4e859a54a92a7b9e870bcc8597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kservice-5.111.0.tar.xz">kservice-5.111.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8e0c1d5c7e579e01954d255bc09be4670ddbd25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/ktexteditor-5.111.0.tar.xz">ktexteditor-5.111.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>faacc0848135b1aec92559448dd5ca6f59096d9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/ktextwidgets-5.111.0.tar.xz">ktextwidgets-5.111.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a4594844aaa417d43196b191e0fe3292a5e6a548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kunitconversion-5.111.0.tar.xz">kunitconversion-5.111.0</a></td>
   <td align="right">909kB</td>
   <td><tt>d6dabd1e7d848f2e0c96d4dfb08f1a598a25cd0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kwallet-5.111.0.tar.xz">kwallet-5.111.0</a></td>
   <td align="right">341kB</td>
   <td><tt>d3182ff53b8bf6b1b07e31b3f2b38696242e0475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kwayland-5.111.0.tar.xz">kwayland-5.111.0</a></td>
   <td align="right">329kB</td>
   <td><tt>a0c0db8f231f20ba84ac971bc920f938676d5313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kwidgetsaddons-5.111.0.tar.xz">kwidgetsaddons-5.111.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1f5b0a6308df0e77012d12391b4f3495aa6b017a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kwindowsystem-5.111.0.tar.xz">kwindowsystem-5.111.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>cd6696b28c8764ae4c76357672ee5a6ef909b30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/kxmlgui-5.111.0.tar.xz">kxmlgui-5.111.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1a6b876d7bbeff7f5573e4b09a3d8a2a249ebfc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/modemmanager-qt-5.111.0.tar.xz">modemmanager-qt-5.111.0</a></td>
   <td align="right">118kB</td>
   <td><tt>29d4be769a6a9d26160bbe4f1dbd4910df6d9bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/networkmanager-qt-5.111.0.tar.xz">networkmanager-qt-5.111.0</a></td>
   <td align="right">193kB</td>
   <td><tt>f6df4d0cb8e55d84016361692f7e0dcfc7e8afc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/oxygen-icons5-5.111.0.tar.xz">oxygen-icons5-5.111.0</a></td>
   <td align="right">227MB</td>
   <td><tt>6b2afa99615451ce6602326c3535cc13c4cfba71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/plasma-framework-5.111.0.tar.xz">plasma-framework-5.111.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9a500cf886ca2cf44432d4c59a9da1cac987b271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/prison-5.111.0.tar.xz">prison-5.111.0</a></td>
   <td align="right">53kB</td>
   <td><tt>e4c6074047c30efb7916e754f6ac90ede9c4638c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/purpose-5.111.0.tar.xz">purpose-5.111.0</a></td>
   <td align="right">176kB</td>
   <td><tt>232a210c048c67d7153cb360fb8a3b769c5fea49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/qqc2-desktop-style-5.111.0.tar.xz">qqc2-desktop-style-5.111.0</a></td>
   <td align="right">67kB</td>
   <td><tt>3b65c3cdfbc03e0813e18d451b2760c22cf6dbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/solid-5.111.0.tar.xz">solid-5.111.0</a></td>
   <td align="right">299kB</td>
   <td><tt>84bb187e3804760beceb55492ad78cd08791da99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/sonnet-5.111.0.tar.xz">sonnet-5.111.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bc897fc663d4907a736bca41067776f421b7afab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/syndication-5.111.0.tar.xz">syndication-5.111.0</a></td>
   <td align="right">498kB</td>
   <td><tt>fac1a754908602ad142f32c598b99d860ed8f235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/syntax-highlighting-5.111.0.tar.xz">syntax-highlighting-5.111.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c8d41413f58572389dde3847d0aac867302c4c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.111/threadweaver-5.111.0.tar.xz">threadweaver-5.111.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c8def3b466d63e164c5c1c3cfae12b59caf54ed0</tt></td>
</tr>

</table>
