
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/attica-5.5.0.tar.xz">attica-5.5.0</a></td>
   <td align="right">58kB</td>
   <td><tt>c45a91bc35eaa7065cb970f50ea73c8f544fc752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/extra-cmake-modules-1.5.0.tar.xz">extra-cmake-modules-1.5.0</a></td>
   <td align="right">119kB</td>
   <td><tt>7102b9663cf2d0d81e3220e43a5ae098321336a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/frameworkintegration-5.5.0.tar.xz">frameworkintegration-5.5.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ab894fe1ff77a2603f5b632a2dfb1a9126ba76a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kactivities-5.5.0.tar.xz">kactivities-5.5.0</a></td>
   <td align="right">107kB</td>
   <td><tt>10d67354a7cd3ada47d67fc342600206c8f959cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kapidox-5.5.0.tar.xz">kapidox-5.5.0</a></td>
   <td align="right">127kB</td>
   <td><tt>535c5b407c36dfa647404cb0ef3d0e60dc247861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/karchive-5.5.0.tar.xz">karchive-5.5.0</a></td>
   <td align="right">105kB</td>
   <td><tt>c3aa5927d5856c6536798d17bedb2f6f8c2b422d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kauth-5.5.0.tar.xz">kauth-5.5.0</a></td>
   <td align="right">78kB</td>
   <td><tt>b6835aa2466efd59e6852276df3f98465dd13ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kbookmarks-5.5.0.tar.xz">kbookmarks-5.5.0</a></td>
   <td align="right">111kB</td>
   <td><tt>d17cb62871b8d8dc7965d59e1b03242ef8168180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kcmutils-5.5.0.tar.xz">kcmutils-5.5.0</a></td>
   <td align="right">225kB</td>
   <td><tt>2f08470ab71700cbc98e4b3090cc11f1a72452cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kcodecs-5.5.0.tar.xz">kcodecs-5.5.0</a></td>
   <td align="right">208kB</td>
   <td><tt>6e29e4861e7970f2eb458d3d37878526ecb49b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kcompletion-5.5.0.tar.xz">kcompletion-5.5.0</a></td>
   <td align="right">112kB</td>
   <td><tt>0dc78ba5e492b82b9bdd98af4c14028aba87a83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kconfig-5.5.0.tar.xz">kconfig-5.5.0</a></td>
   <td align="right">207kB</td>
   <td><tt>99a848c1e1b82f825504f2e9c36a383316d08e72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kconfigwidgets-5.5.0.tar.xz">kconfigwidgets-5.5.0</a></td>
   <td align="right">340kB</td>
   <td><tt>fa0d63b77f9a1d8a04e99e398a51bd4263cf1510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kcoreaddons-5.5.0.tar.xz">kcoreaddons-5.5.0</a></td>
   <td align="right">286kB</td>
   <td><tt>6b8a5c0d9b645530f3a417ddef21011d21ce3764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kcrash-5.5.0.tar.xz">kcrash-5.5.0</a></td>
   <td align="right">19kB</td>
   <td><tt>06f26ad52e0bb6a16eca1a6976162d8b61d6a7bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdbusaddons-5.5.0.tar.xz">kdbusaddons-5.5.0</a></td>
   <td align="right">30kB</td>
   <td><tt>aeddb21cd70856e0ee72ea0496f7fa6bc5c015da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdeclarative-5.5.0.tar.xz">kdeclarative-5.5.0</a></td>
   <td align="right">97kB</td>
   <td><tt>66d88cc4e0d71045495d177527939fdf18f0dc06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kded-5.5.0.tar.xz">kded-5.5.0</a></td>
   <td align="right">31kB</td>
   <td><tt>8e1e7a480133b96f2375851c90861fd72ac20225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdesignerplugin-5.5.0.tar.xz">kdesignerplugin-5.5.0</a></td>
   <td align="right">82kB</td>
   <td><tt>20d49413d8e1f3be778b32480bd9c1df4ea96a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdesu-5.5.0.tar.xz">kdesu-5.5.0</a></td>
   <td align="right">41kB</td>
   <td><tt>64183575ae240d6173602391297578c351e96463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdewebkit-5.5.0.tar.xz">kdewebkit-5.5.0</a></td>
   <td align="right">28kB</td>
   <td><tt>af2e2079a5a9aa5699284ddfc36433b7a9f6e858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdnssd-5.5.0.tar.xz">kdnssd-5.5.0</a></td>
   <td align="right">54kB</td>
   <td><tt>8109c862208c4f33dc2ae80210a6c0e088c41fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kdoctools-5.5.0.tar.xz">kdoctools-5.5.0</a></td>
   <td align="right">380kB</td>
   <td><tt>7ab0b57b8376bc493c102d966b3b99e519c54c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kemoticons-5.5.0.tar.xz">kemoticons-5.5.0</a></td>
   <td align="right">71kB</td>
   <td><tt>0ca29db7883103cd02d48eb858146c7effe41186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kglobalaccel-5.5.0.tar.xz">kglobalaccel-5.5.0</a></td>
   <td align="right">57kB</td>
   <td><tt>754c1604f82d6c8daf8377fb0eea91e3313053d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kguiaddons-5.5.0.tar.xz">kguiaddons-5.5.0</a></td>
   <td align="right">38kB</td>
   <td><tt>b1833ade92bb237a43bed2cfe4471afac86343b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/ki18n-5.5.0.tar.xz">ki18n-5.5.0</a></td>
   <td align="right">566kB</td>
   <td><tt>79b423fb1eb4b5f792895f36f524001d60136f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kiconthemes-5.5.0.tar.xz">kiconthemes-5.5.0</a></td>
   <td align="right">189kB</td>
   <td><tt>128c912cc30e9a23dc7aef7678a8a0f0f0503ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kidletime-5.5.0.tar.xz">kidletime-5.5.0</a></td>
   <td align="right">22kB</td>
   <td><tt>32d7ee56c7976fb827991b9396ff0400e72a7243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kimageformats-5.5.0.tar.xz">kimageformats-5.5.0</a></td>
   <td align="right">90kB</td>
   <td><tt>b610ae6e50f7a2233021986960d7998f65a055a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kinit-5.5.0.tar.xz">kinit-5.5.0</a></td>
   <td align="right">111kB</td>
   <td><tt>f3e6c73007cbcd2768eabfc832ad0ac40beb33b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kio-5.5.0.tar.xz">kio-5.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1c8adb880927fb67041a9c3161f21547e2fbcb9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kitemmodels-5.5.0.tar.xz">kitemmodels-5.5.0</a></td>
   <td align="right">361kB</td>
   <td><tt>02503886b8fa2edc6d49b8dfa4a607f84f5eb997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kitemviews-5.5.0.tar.xz">kitemviews-5.5.0</a></td>
   <td align="right">71kB</td>
   <td><tt>23feaec80641a1d77a12900e62527eb8c5303a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kjobwidgets-5.5.0.tar.xz">kjobwidgets-5.5.0</a></td>
   <td align="right">86kB</td>
   <td><tt>21bc56479a891041621f2081707756a670f809d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/knewstuff-5.5.0.tar.xz">knewstuff-5.5.0</a></td>
   <td align="right">400kB</td>
   <td><tt>f6d7c2d53414aaa589cdcc545ddfc7efc3b32fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/knotifications-5.5.0.tar.xz">knotifications-5.5.0</a></td>
   <td align="right">91kB</td>
   <td><tt>5bac7312047747092636fbd90f2d4b7838934dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/knotifyconfig-5.5.0.tar.xz">knotifyconfig-5.5.0</a></td>
   <td align="right">77kB</td>
   <td><tt>c842a14b33f36cffac259fdef8dc55fcda32b49c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kparts-5.5.0.tar.xz">kparts-5.5.0</a></td>
   <td align="right">149kB</td>
   <td><tt>bd6f4e1005aa498a3de976adf6fa73bc9381010e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kplotting-5.5.0.tar.xz">kplotting-5.5.0</a></td>
   <td align="right">28kB</td>
   <td><tt>afe588e0255f236df5a3f6f96bbb620306989312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kpty-5.5.0.tar.xz">kpty-5.5.0</a></td>
   <td align="right">54kB</td>
   <td><tt>a6163c574d8d648a098fd23822a93685140e37c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kservice-5.5.0.tar.xz">kservice-5.5.0</a></td>
   <td align="right">252kB</td>
   <td><tt>62fd081aa5c495082c7ea0cfbfde27a140d04d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/ktexteditor-5.5.0.tar.xz">ktexteditor-5.5.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9c5048c6d2ec9a1296b5c31a4b1c8a5c03447dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/ktextwidgets-5.5.0.tar.xz">ktextwidgets-5.5.0</a></td>
   <td align="right">296kB</td>
   <td><tt>27feeaf55917926b652c4337eec11828ed4e8285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kunitconversion-5.5.0.tar.xz">kunitconversion-5.5.0</a></td>
   <td align="right">595kB</td>
   <td><tt>3d8fafcd2c08a3b461c42512e81759d113241ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kwallet-5.5.0.tar.xz">kwallet-5.5.0</a></td>
   <td align="right">259kB</td>
   <td><tt>46b0a8e0145c55b934d725ed7565fcd2193c7f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kwidgetsaddons-5.5.0.tar.xz">kwidgetsaddons-5.5.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>77545c7afea6cb6191df4441cab7f2fdaa62f836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kwindowsystem-5.5.0.tar.xz">kwindowsystem-5.5.0</a></td>
   <td align="right">154kB</td>
   <td><tt>f2c6e652757abc083356da31bda03da960792e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/kxmlgui-5.5.0.tar.xz">kxmlgui-5.5.0</a></td>
   <td align="right">835kB</td>
   <td><tt>0faa02fbe2e832ee821dde650d1d2cdc22db2b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/plasma-framework-5.5.0.tar.xz">plasma-framework-5.5.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>2e6d7ec6391d00ccc2a43bd309a69fd1f5aafe20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/solid-5.5.0.tar.xz">solid-5.5.0</a></td>
   <td align="right">254kB</td>
   <td><tt>d257bf293693520f0f75b7ef71fbc1740547ea44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/sonnet-5.5.0.tar.xz">sonnet-5.5.0</a></td>
   <td align="right">266kB</td>
   <td><tt>dc36d735ff62ae72bd6a7c3247675dbcce2fff10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.5/threadweaver-5.5.0.tar.xz">threadweaver-5.5.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>868e024fa227305113c8d4f9daed8207193d90a1</tt></td>
</tr>

</table>
