<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-21.12.0.tar.xz">akonadi-21.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fb8ad363ea30c5fa7e7f96fa25aae73533564f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-calendar-21.12.0.tar.xz">akonadi-calendar-21.12.0</a></td>
   <td align="right">344kB</td>
   <td><tt>1528d04ffbd319e3c42631954836cb2e8f8b3e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-calendar-tools-21.12.0.tar.xz">akonadi-calendar-tools-21.12.0</a></td>
   <td align="right">230kB</td>
   <td><tt>7d098d2dcab6d88f4ef9a5aa90341dfe310fbc3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadiconsole-21.12.0.tar.xz">akonadiconsole-21.12.0</a></td>
   <td align="right">195kB</td>
   <td><tt>b463fba6c74261b96f3fdc215a3956320f2fad27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-contacts-21.12.0.tar.xz">akonadi-contacts-21.12.0</a></td>
   <td align="right">416kB</td>
   <td><tt>092acd913664f557c63a632f8bf55c4fe2739099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-import-wizard-21.12.0.tar.xz">akonadi-import-wizard-21.12.0</a></td>
   <td align="right">498kB</td>
   <td><tt>85fd8c5e328925c70761c2eea270a2af1b0600fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-mime-21.12.0.tar.xz">akonadi-mime-21.12.0</a></td>
   <td align="right">138kB</td>
   <td><tt>4f63d2b648057f9b04b89814a66d6df9f9028ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-notes-21.12.0.tar.xz">akonadi-notes-21.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>14cc5f364736dcc79b343617f5af923505ffded9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akonadi-search-21.12.0.tar.xz">akonadi-search-21.12.0</a></td>
   <td align="right">95kB</td>
   <td><tt>7dbf3a528f2e476e414dd8618bcae07c0eb0021a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/akregator-21.12.0.tar.xz">akregator-21.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a6e0dc84efe89f9ab000e6ad3b48d518f6187147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/analitza-21.12.0.tar.xz">analitza-21.12.0</a></td>
   <td align="right">339kB</td>
   <td><tt>93559acd0dfc06c19bc40301ecc3a806c09c6a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ark-21.12.0.tar.xz">ark-21.12.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>04eca8fffa2eec08edd49d136c5c4fa298eaa7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/artikulate-21.12.0.tar.xz">artikulate-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>62b04731f8547f09425c45a4e6afce2474ed4d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/audiocd-kio-21.12.0.tar.xz">audiocd-kio-21.12.0</a></td>
   <td align="right">510kB</td>
   <td><tt>a3808263c273f7e1a4355d11b2c3ffa7186c8b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/baloo-widgets-21.12.0.tar.xz">baloo-widgets-21.12.0</a></td>
   <td align="right">256kB</td>
   <td><tt>74c984a1d36d5fb8b0f85aa89e65eb27bad061c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/blinken-21.12.0.tar.xz">blinken-21.12.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>9538e424df8229217b99ce40ce156fe68b17396f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/bomber-21.12.0.tar.xz">bomber-21.12.0</a></td>
   <td align="right">811kB</td>
   <td><tt>7ee78265b2ab9d27dbb1e3e80350fc48efc196df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/bovo-21.12.0.tar.xz">bovo-21.12.0</a></td>
   <td align="right">204kB</td>
   <td><tt>6df70d4f1b1c47a329480b587150a0be58d768e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/calendarsupport-21.12.0.tar.xz">calendarsupport-21.12.0</a></td>
   <td align="right">747kB</td>
   <td><tt>81faf4761a78477c82c82c0e29c4b49856e12b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/cantor-21.12.0.tar.xz">cantor-21.12.0</a></td>
   <td align="right">8.7MB</td>
   <td><tt>f9e9448eba999d99d4767ef453f3c0a126be52e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/cervisia-21.12.0.tar.xz">cervisia-21.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>10ef7894972512f0a3a1a6898cd7215e59fe5182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/dolphin-21.12.0.tar.xz">dolphin-21.12.0</a></td>
   <td align="right">5.0MB</td>
   <td><tt>493dd2401f98972c9ed0cdf7d672a610651fce5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/dolphin-plugins-21.12.0.tar.xz">dolphin-plugins-21.12.0</a></td>
   <td align="right">248kB</td>
   <td><tt>7f8cd30d954f59246cc9357e7ac164dac1ca4fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/dragon-21.12.0.tar.xz">dragon-21.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>212b72781e9f55c5a7850676774a57b18e0d4241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/elisa-21.12.0.tar.xz">elisa-21.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>33fc2be0cc4d96de9e77e78de937cf3d835617b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/eventviews-21.12.0.tar.xz">eventviews-21.12.0</a></td>
   <td align="right">443kB</td>
   <td><tt>c45b22e120bd61bbcc945e0efb1388bdbe664920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ffmpegthumbs-21.12.0.tar.xz">ffmpegthumbs-21.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>fc13fe8f477e5861ffeb2ec092d6cf243ea7866c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/filelight-21.12.0.tar.xz">filelight-21.12.0</a></td>
   <td align="right">668kB</td>
   <td><tt>c4ab0e6c2c65e0b3ae964fbdfd1d73b55d33280c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/granatier-21.12.0.tar.xz">granatier-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>692189e6cf1308be5d07fd284cf75a7efe27f619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/grantlee-editor-21.12.0.tar.xz">grantlee-editor-21.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>4ae5c3379d5df5cbce66c64f41ed4114857a99ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/grantleetheme-21.12.0.tar.xz">grantleetheme-21.12.0</a></td>
   <td align="right">58kB</td>
   <td><tt>51ae89081efcf84b71dd4fc29dadbbe438c62ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/gwenview-21.12.0.tar.xz">gwenview-21.12.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>4f0d203187708afa6696c47ee0e98031e86c3464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/incidenceeditor-21.12.0.tar.xz">incidenceeditor-21.12.0</a></td>
   <td align="right">533kB</td>
   <td><tt>101cb5b0646064fc113c57e89e7ca4b39a1d4de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/itinerary-21.12.0.tar.xz">itinerary-21.12.0</a></td>
   <td align="right">457kB</td>
   <td><tt>16212b71f155552cbcf4ad24496fef2ed05e6758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/juk-21.12.0.tar.xz">juk-21.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f00786fb461ed1c082838d1d4a7d314441ef6741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/k3b-21.12.0.tar.xz">k3b-21.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>2ca0de8054f8b842d4ac70955696f009c2cc4d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kaccounts-integration-21.12.0.tar.xz">kaccounts-integration-21.12.0</a></td>
   <td align="right">85kB</td>
   <td><tt>7d7ad6f15b73ffd5a0180b55f8c933ce3744d1f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kaccounts-providers-21.12.0.tar.xz">kaccounts-providers-21.12.0</a></td>
   <td align="right">62kB</td>
   <td><tt>86c5515ff1e397e9576871f2b132744092fba66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kaddressbook-21.12.0.tar.xz">kaddressbook-21.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b8047a1b22537208338bbf241f404581a1454c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kajongg-21.12.0.tar.xz">kajongg-21.12.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>fa1b370a6f4d06e320cc42ddf9b4554134c2bd51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kalarm-21.12.0.tar.xz">kalarm-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8841362103593dfeb81ed4d9a56b423070d859f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kalarmcal-21.12.0.tar.xz">kalarmcal-21.12.0</a></td>
   <td align="right">615kB</td>
   <td><tt>e54fc1c92e7b67dc369073a46ddbd6c3658bbd52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kalgebra-21.12.0.tar.xz">kalgebra-21.12.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>3cab58235f151e7fcbe3df1f15877f99fded2308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kalzium-21.12.0.tar.xz">kalzium-21.12.0</a></td>
   <td align="right">23MB</td>
   <td><tt>a7657e0478db1f2f40f4075b5828383d81a56855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kamera-21.12.0.tar.xz">kamera-21.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>3be8acefa2c0998dc4ba15345df6fb017ad42848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kamoso-21.12.0.tar.xz">kamoso-21.12.0</a></td>
   <td align="right">209kB</td>
   <td><tt>b9277631b190c3f6285c71d19d66afd219297895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kanagram-21.12.0.tar.xz">kanagram-21.12.0</a></td>
   <td align="right">7.6MB</td>
   <td><tt>ea6a984828075fff3576aff7557b66e610df9e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kapman-21.12.0.tar.xz">kapman-21.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c7b2b2458661bc790cf9bd7d71bd25bd0c3038ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kapptemplate-21.12.0.tar.xz">kapptemplate-21.12.0</a></td>
   <td align="right">326kB</td>
   <td><tt>1b450077e19d4ac127ed4e1b4bb44e5165158ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kate-21.12.0.tar.xz">kate-21.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>fe474b3f36d6d19c05a0d331c8d7747ea5302631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/katomic-21.12.0.tar.xz">katomic-21.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>574a3be59a4ac498d499459d4714b0ead4712ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kbackup-21.12.0.tar.xz">kbackup-21.12.0</a></td>
   <td align="right">379kB</td>
   <td><tt>e18bfd64ec4fa8486e17f56d50c597735443327c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kblackbox-21.12.0.tar.xz">kblackbox-21.12.0</a></td>
   <td align="right">511kB</td>
   <td><tt>9f85cdd46f9187972fc46a069c75fbd6c5e2b52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kblocks-21.12.0.tar.xz">kblocks-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>60d453af718e443de65962e87c3937012dfd9fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kbounce-21.12.0.tar.xz">kbounce-21.12.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2b198caf4d9f2a6c6fcb0823a2a86d13dd921ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kbreakout-21.12.0.tar.xz">kbreakout-21.12.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2a5eff3e1798fc3134115b47ddb3efcc04601e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kbruch-21.12.0.tar.xz">kbruch-21.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>c8dc9653c1f7fa42a0383a401fb4b219654a97dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcachegrind-21.12.0.tar.xz">kcachegrind-21.12.0</a></td>
   <td align="right">834kB</td>
   <td><tt>19b2c0e9ff49a16066355aff1cbe7968e12bf536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcalc-21.12.0.tar.xz">kcalc-21.12.0</a></td>
   <td align="right">374kB</td>
   <td><tt>6999373d35a7437fac8a530b9ecc984d80049a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcalutils-21.12.0.tar.xz">kcalutils-21.12.0</a></td>
   <td align="right">330kB</td>
   <td><tt>580ee492ab424779468e4b55e38217397b1f04ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcharselect-21.12.0.tar.xz">kcharselect-21.12.0</a></td>
   <td align="right">364kB</td>
   <td><tt>0b5b9c27987ac24ada853e2f1c85dfcb6ce4698f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcolorchooser-21.12.0.tar.xz">kcolorchooser-21.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>bcfbe65f97bb295a3cf927f8b461868387223a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kcron-21.12.0.tar.xz">kcron-21.12.0</a></td>
   <td align="right">894kB</td>
   <td><tt>ba43dbc11003d12b462a4e5c6c765d9d60691f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdebugsettings-21.12.0.tar.xz">kdebugsettings-21.12.0</a></td>
   <td align="right">90kB</td>
   <td><tt>ae8e320a79e08c562e5e2f967fd790ec85a95c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdeconnect-kde-21.12.0.tar.xz">kdeconnect-kde-21.12.0</a></td>
   <td align="right">594kB</td>
   <td><tt>5ada32e81fba97c4f355bf5c009c88ba67fe7f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kde-dev-scripts-21.12.0.tar.xz">kde-dev-scripts-21.12.0</a></td>
   <td align="right">357kB</td>
   <td><tt>c5975d270b48fabeb1015c66d2eadb4ae7193ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kde-dev-utils-21.12.0.tar.xz">kde-dev-utils-21.12.0</a></td>
   <td align="right">66kB</td>
   <td><tt>8b96efdd200bdffb73f912fba19705c74f40d3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdeedu-data-21.12.0.tar.xz">kdeedu-data-21.12.0</a></td>
   <td align="right">327kB</td>
   <td><tt>800de4cd5bebdb3c1bfebeb0f8d436f1c9096268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdegraphics-mobipocket-21.12.0.tar.xz">kdegraphics-mobipocket-21.12.0</a></td>
   <td align="right">16kB</td>
   <td><tt>1568ebd3d690e1796acece8da4aca9c3a006f83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdegraphics-thumbnailers-21.12.0.tar.xz">kdegraphics-thumbnailers-21.12.0</a></td>
   <td align="right">46kB</td>
   <td><tt>6124a6a59bbed90fc5ed2ec4fbcc3853cda90a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdenetwork-filesharing-21.12.0.tar.xz">kdenetwork-filesharing-21.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>70ea9966a2b534fac527ad85057f3dd28692cfdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdenlive-21.12.0.tar.xz">kdenlive-21.12.0</a></td>
   <td align="right">11MB</td>
   <td><tt>4c3b32f7b5ca732034bf53cbc7940fbb004e5e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdepim-addons-21.12.0.tar.xz">kdepim-addons-21.12.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b8f3893587ea6a2936f8d905c9690308ccd37d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdepim-runtime-21.12.0.tar.xz">kdepim-runtime-21.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6a703a964868929cb567f32d52e17da4bc9665e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdesdk-kioslaves-21.12.0.tar.xz">kdesdk-kioslaves-21.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>bb0ed4a2cb128a5471ab9e6108bdb2afc1f389cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdesdk-thumbnailers-21.12.0.tar.xz">kdesdk-thumbnailers-21.12.0</a></td>
   <td align="right">25kB</td>
   <td><tt>00305e8ef98be08e7a0aaf52c26db1e4da22e9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdevelop-21.12.0.tar.xz">kdevelop-21.12.0</a></td>
   <td align="right">7.9MB</td>
   <td><tt>f559d8a3fc84e97f944f9ca5357014580dc0f402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdev-php-21.12.0.tar.xz">kdev-php-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4ad69013b0ca7bef7d5b562ed784d4defd619140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdev-python-21.12.0.tar.xz">kdev-python-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0fb1291f296c749dd924f56c6b9896e335c8ab1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdf-21.12.0.tar.xz">kdf-21.12.0</a></td>
   <td align="right">463kB</td>
   <td><tt>dc1df397c435ebf9e428ae121cdeba5c0bfa1667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdialog-21.12.0.tar.xz">kdialog-21.12.0</a></td>
   <td align="right">113kB</td>
   <td><tt>e7e30b5816273656e04c11b78d46ca8c91f90437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kdiamond-21.12.0.tar.xz">kdiamond-21.12.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>e32408ebb57907d25ffccf26231a32b8e51e5ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/keditbookmarks-21.12.0.tar.xz">keditbookmarks-21.12.0</a></td>
   <td align="right">199kB</td>
   <td><tt>e4c0b80595c4356be05df564ac4c49c18c712ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kfind-21.12.0.tar.xz">kfind-21.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>464651349031413b78d042f7f608340619c4c43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kfloppy-21.12.0.tar.xz">kfloppy-21.12.0</a></td>
   <td align="right">208kB</td>
   <td><tt>69a4e7199282fbfc5175daf89a4de96f5f8dfcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kfourinline-21.12.0.tar.xz">kfourinline-21.12.0</a></td>
   <td align="right">702kB</td>
   <td><tt>594a93909e1eabeec90db69d1ff2d16d750eefac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kgeography-21.12.0.tar.xz">kgeography-21.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>3f7446895d6b7d352384f4d77660d5f3904d09f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kget-21.12.0.tar.xz">kget-21.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a4c6bfa433ded9343f4b3c596156beb32a11c5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kgoldrunner-21.12.0.tar.xz">kgoldrunner-21.12.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d0e626abe16bd0357b2d84c3f789c0fbb47f7ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kgpg-21.12.0.tar.xz">kgpg-21.12.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ccfa7d6b056cbc9175b19c917c4ba5c31f4c5769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/khangman-21.12.0.tar.xz">khangman-21.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>5f9bc29e666bf79c498dc2fc08ae6bf5f5df574c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/khelpcenter-21.12.0.tar.xz">khelpcenter-21.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>1d5fa550903c1e7c5a8f0eb8ef1b75f45209f1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kidentitymanagement-21.12.0.tar.xz">kidentitymanagement-21.12.0</a></td>
   <td align="right">154kB</td>
   <td><tt>027b9e3882f72434d0ef492ff40b6e73650b7d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kig-21.12.0.tar.xz">kig-21.12.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0e937a88f1f28cd316b171fc882eee607337b298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kigo-21.12.0.tar.xz">kigo-21.12.0</a></td>
   <td align="right">5.0MB</td>
   <td><tt>f53033abdd5d1ff928f33cbe1d3185e6ecd233ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/killbots-21.12.0.tar.xz">killbots-21.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3a4e21b59ba2cbe580ea90ff4df2b72eea188319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kimagemapeditor-21.12.0.tar.xz">kimagemapeditor-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>49b0e7bc202cd36f6a6a5009e79566d3139d9ea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kimap-21.12.0.tar.xz">kimap-21.12.0</a></td>
   <td align="right">124kB</td>
   <td><tt>1d62640c6befbc010d435f47fccb1e576ea026d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kio-extras-21.12.0.tar.xz">kio-extras-21.12.0</a></td>
   <td align="right">618kB</td>
   <td><tt>c5e4fe6893386f4a8402cab51df90591eef47974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kio-gdrive-21.12.0.tar.xz">kio-gdrive-21.12.0</a></td>
   <td align="right">68kB</td>
   <td><tt>f9f96e189ad8e2e18b28ebe15a8ffed8f38f03b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kipi-plugins-21.12.0.tar.xz">kipi-plugins-21.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>385c36dad33cb07720cd0241f625430098cf54dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kirigami-gallery-21.12.0.tar.xz">kirigami-gallery-21.12.0</a></td>
   <td align="right">323kB</td>
   <td><tt>07e0ce6dac906cd7e51c0a3576d0047063dc5770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kiriki-21.12.0.tar.xz">kiriki-21.12.0</a></td>
   <td align="right">356kB</td>
   <td><tt>9fecd457d4dd58497fb34c9f7f3ee6ef8e6bd688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kiten-21.12.0.tar.xz">kiten-21.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>11533946ceaa852c844199271f3153b201a7cfe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kitinerary-21.12.0.tar.xz">kitinerary-21.12.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9d16a0db052e2911464d60591ed3a8e3aeac9462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kjumpingcube-21.12.0.tar.xz">kjumpingcube-21.12.0</a></td>
   <td align="right">315kB</td>
   <td><tt>6594f97d3c0dd22b9507a6323cf0b1893c719cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kldap-21.12.0.tar.xz">kldap-21.12.0</a></td>
   <td align="right">168kB</td>
   <td><tt>757b307dfd75965c32eb9ad8042ef6f1a082fd1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kleopatra-21.12.0.tar.xz">kleopatra-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2b9eb7bb26fb78b249f111070396872080f0d057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/klettres-21.12.0.tar.xz">klettres-21.12.0</a></td>
   <td align="right">44MB</td>
   <td><tt>b6795a77a97b2cd8b9ae0f43ceb82383c4dcb7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/klickety-21.12.0.tar.xz">klickety-21.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5dec13f3e9bc2aa2dfe9a3fab2997826a7a65d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/klines-21.12.0.tar.xz">klines-21.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>28b4d6f0c9e520a30652ab012edb6b5c5ef7b081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmag-21.12.0.tar.xz">kmag-21.12.0</a></td>
   <td align="right">690kB</td>
   <td><tt>9ccac5e2421d00dce404943b4eb9f561b48360d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmahjongg-21.12.0.tar.xz">kmahjongg-21.12.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>879be5c4bcebdfa65c4051cfa4e495eb2271cfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmail-21.12.0.tar.xz">kmail-21.12.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>af5379ed7818eb821cfb6390c47b17b85768850c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmail-account-wizard-21.12.0.tar.xz">kmail-account-wizard-21.12.0</a></td>
   <td align="right">164kB</td>
   <td><tt>0a7d7f8d7d7726f5eadbfc1637c9eaf8ac5b6deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmailtransport-21.12.0.tar.xz">kmailtransport-21.12.0</a></td>
   <td align="right">169kB</td>
   <td><tt>92afe30c65e810407d70a617bd137e09f3f64d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmbox-21.12.0.tar.xz">kmbox-21.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>49d286a845a3e5f809ef1da4d0363fef41a08732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmime-21.12.0.tar.xz">kmime-21.12.0</a></td>
   <td align="right">151kB</td>
   <td><tt>cdb6f7e9862431209a9adcad43f8ad7237053c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmines-21.12.0.tar.xz">kmines-21.12.0</a></td>
   <td align="right">967kB</td>
   <td><tt>38bfed0cfc4fcd857908f405207198975145b5bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmix-21.12.0.tar.xz">kmix-21.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8d25887109ff55bd4a624babadd4de70342ef01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmousetool-21.12.0.tar.xz">kmousetool-21.12.0</a></td>
   <td align="right">118kB</td>
   <td><tt>5bf37baec1611b8713c16e85725acce008af8887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmouth-21.12.0.tar.xz">kmouth-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>09d6047338eb71697d2b8077146aa8e6d9ca294b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kmplot-21.12.0.tar.xz">kmplot-21.12.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8ef34b5bbbf9845f0c3b243e0e37cf9a17b8f6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/knavalbattle-21.12.0.tar.xz">knavalbattle-21.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f6b0f4bd34e39b7c3978a8ac821bcf561382e80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/knetwalk-21.12.0.tar.xz">knetwalk-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>970633fc3a84acf0be2499ad9019d06db084e0ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/knights-21.12.0.tar.xz">knights-21.12.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>613a5b636175b95da66f5917362578d59bfecd92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/knotes-21.12.0.tar.xz">knotes-21.12.0</a></td>
   <td align="right">332kB</td>
   <td><tt>7bcefd57e82c60da8f1df1efc7a55fea12be9d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kolf-21.12.0.tar.xz">kolf-21.12.0</a></td>
   <td align="right">1022kB</td>
   <td><tt>665422ee38781e11aed5fca6471a8897ec0c05ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kollision-21.12.0.tar.xz">kollision-21.12.0</a></td>
   <td align="right">291kB</td>
   <td><tt>966a9f4d441238a073519fc32b41ef36cdbf1750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kolourpaint-21.12.0.tar.xz">kolourpaint-21.12.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0cd592d77bc88efa25c5adf305aa2d8d0fdb6024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kompare-21.12.0.tar.xz">kompare-21.12.0</a></td>
   <td align="right">920kB</td>
   <td><tt>0969c4af781349136f23220f3878f740ac31af5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/konqueror-21.12.0.tar.xz">konqueror-21.12.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>e701f1c44b1543b556c8c144917bca468e5ca3b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/konquest-21.12.0.tar.xz">konquest-21.12.0</a></td>
   <td align="right">840kB</td>
   <td><tt>8d4704f422062173dfe891322851e1284c8982d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/konsole-21.12.0.tar.xz">konsole-21.12.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c5d7781cc02aefca528ae68ffd562decb413c7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kontact-21.12.0.tar.xz">kontact-21.12.0</a></td>
   <td align="right">804kB</td>
   <td><tt>6262d217dd5819389f550959a9886ac37c44d63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kontactinterface-21.12.0.tar.xz">kontactinterface-21.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>6e4193c8ca4de2e71690fa7e48c83af20609d93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kontrast-21.12.0.tar.xz">kontrast-21.12.0</a></td>
   <td align="right">122kB</td>
   <td><tt>e71cc8ccf942ebe29fb30358a239a171f59cd6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/konversation-21.12.0.tar.xz">konversation-21.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7fc8ec62826f24329b3a96e268be3cad3af19578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kopeninghours-21.12.0.tar.xz">kopeninghours-21.12.0</a></td>
   <td align="right">65kB</td>
   <td><tt>292b8adb1db756853dd2bb698a3ec930edaf7430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kopete-21.12.0.tar.xz">kopete-21.12.0</a></td>
   <td align="right">9.2MB</td>
   <td><tt>830023fc53bec470a304fec8dcf17ac23f3bb4d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/korganizer-21.12.0.tar.xz">korganizer-21.12.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>503d3cdac6e1f3ec2df344030ce8cf87418dd358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kosmindoormap-21.12.0.tar.xz">kosmindoormap-21.12.0</a></td>
   <td align="right">342kB</td>
   <td><tt>77d26270a7e5cbc4fb494643e757330aa6fc475f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kpat-21.12.0.tar.xz">kpat-21.12.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>75c27f791419374e8f5ccb875401a411e69cbfc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kpimtextedit-21.12.0.tar.xz">kpimtextedit-21.12.0</a></td>
   <td align="right">206kB</td>
   <td><tt>958a6dd17fc2d19c9f8b323c2d53d96e5448ffc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kpkpass-21.12.0.tar.xz">kpkpass-21.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>5238adf9134dfe25294e71e9989fa11bb16daf01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kpmcore-21.12.0.tar.xz">kpmcore-21.12.0</a></td>
   <td align="right">580kB</td>
   <td><tt>6c76212b815e6aac833a1689b1354a2ec66b1f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kpublictransport-21.12.0.tar.xz">kpublictransport-21.12.0</a></td>
   <td align="right">467kB</td>
   <td><tt>bdb3f8276dd273e3a72530a86146371d3983dad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kqtquickcharts-21.12.0.tar.xz">kqtquickcharts-21.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>ffc1f9850132fde08f06ecc0aebb6727493ce930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/krdc-21.12.0.tar.xz">krdc-21.12.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c051e58dd33952adb0ec8a0015651e251bd0843e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kreversi-21.12.0.tar.xz">kreversi-21.12.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4ac1506665464d1a7ae12136b5bab0a7b1ebe3df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/krfb-21.12.0.tar.xz">krfb-21.12.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>36dc7056a65fae6d8f03bf92e6d4f95f7421beb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kross-interpreters-21.12.0.tar.xz">kross-interpreters-21.12.0</a></td>
   <td align="right">147kB</td>
   <td><tt>ba4ec27c9c91bd0d97a37ac957c5a259c8223b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kruler-21.12.0.tar.xz">kruler-21.12.0</a></td>
   <td align="right">270kB</td>
   <td><tt>520c25f62c3cea2c9d395dec2e5071615670b934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kshisen-21.12.0.tar.xz">kshisen-21.12.0</a></td>
   <td align="right">964kB</td>
   <td><tt>39d9f8729f669d8dda5efd57c1c90bcae2aa2717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksirk-21.12.0.tar.xz">ksirk-21.12.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>5bfc04beff1dcd50f660e39a5c46e11f4bdebe17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksmtp-21.12.0.tar.xz">ksmtp-21.12.0</a></td>
   <td align="right">46kB</td>
   <td><tt>f1accc40f26ef4ef78fc98f129ca86a3291b2539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksnakeduel-21.12.0.tar.xz">ksnakeduel-21.12.0</a></td>
   <td align="right">589kB</td>
   <td><tt>c5d3d04520eb376a9913277574c3af96b269851c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kspaceduel-21.12.0.tar.xz">kspaceduel-21.12.0</a></td>
   <td align="right">633kB</td>
   <td><tt>b68c14068e1df3a89fd7c94be6aab1858667104c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksquares-21.12.0.tar.xz">ksquares-21.12.0</a></td>
   <td align="right">297kB</td>
   <td><tt>e253794abfbeb4304ae9f58834a426f600066068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksudoku-21.12.0.tar.xz">ksudoku-21.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6935adad42839f56b91aec0b16dce4c9de329839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ksystemlog-21.12.0.tar.xz">ksystemlog-21.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>31a9c11ec18acf702583ac505815329e913b3eb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kteatime-21.12.0.tar.xz">kteatime-21.12.0</a></td>
   <td align="right">293kB</td>
   <td><tt>1223667036b583daa101e162c4dfd2579670877c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktimer-21.12.0.tar.xz">ktimer-21.12.0</a></td>
   <td align="right">383kB</td>
   <td><tt>106b8260035c870b66da4985a2bb1e82b2a04657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktnef-21.12.0.tar.xz">ktnef-21.12.0</a></td>
   <td align="right">298kB</td>
   <td><tt>97526b11a8a8b6db1e91150df6215ef2f50a5aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktorrent-21.12.0.tar.xz">ktorrent-21.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>65ccff7570084e55c5caa03868f37f6b9d3efa01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktouch-21.12.0.tar.xz">ktouch-21.12.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>4393cd70afd4a0f9e69caafc5121549e92177c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-accounts-kcm-21.12.0.tar.xz">ktp-accounts-kcm-21.12.0</a></td>
   <td align="right">259kB</td>
   <td><tt>d83a4e81a1186530a2953ec074067070fe66d415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-approver-21.12.0.tar.xz">ktp-approver-21.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>914fa959be6dd57ac7ff89837cb6510760dbb7aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-auth-handler-21.12.0.tar.xz">ktp-auth-handler-21.12.0</a></td>
   <td align="right">46kB</td>
   <td><tt>0f3428527e4c73396c958dd662a663f1a4681ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-call-ui-21.12.0.tar.xz">ktp-call-ui-21.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>f481fd9eecb26830c3f39e7f17186fca810c30be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-common-internals-21.12.0.tar.xz">ktp-common-internals-21.12.0</a></td>
   <td align="right">440kB</td>
   <td><tt>1359036a6a28ead9d99090bc220405d8f75d1eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-contact-list-21.12.0.tar.xz">ktp-contact-list-21.12.0</a></td>
   <td align="right">150kB</td>
   <td><tt>a521a7748d76a591d7345e111ad244eea136c747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-contact-runner-21.12.0.tar.xz">ktp-contact-runner-21.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>7ecff3c45e640b423471d2829a2b1fe794040df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-desktop-applets-21.12.0.tar.xz">ktp-desktop-applets-21.12.0</a></td>
   <td align="right">43kB</td>
   <td><tt>50b1a003fe8472468a8f93803020c15978cf428d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-filetransfer-handler-21.12.0.tar.xz">ktp-filetransfer-handler-21.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>fb943b07c81f69e88f7087d91a7218d156adfd55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-kded-module-21.12.0.tar.xz">ktp-kded-module-21.12.0</a></td>
   <td align="right">97kB</td>
   <td><tt>0a9bdb14c68d75618d8c15e2c552a02059719497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-send-file-21.12.0.tar.xz">ktp-send-file-21.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>293d716bab8f52e78dcef98a4678c12fefbdc138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktp-text-ui-21.12.0.tar.xz">ktp-text-ui-21.12.0</a></td>
   <td align="right">463kB</td>
   <td><tt>7a5daa5b5c50877f1ff1b33f89338d2b697785ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/ktuberling-21.12.0.tar.xz">ktuberling-21.12.0</a></td>
   <td align="right">67MB</td>
   <td><tt>aec8d63602f9917189de1719c367c0887b344bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kturtle-21.12.0.tar.xz">kturtle-21.12.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ecabb5c22ba0d4a79c25eccdb9ea7531bed482a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kubrick-21.12.0.tar.xz">kubrick-21.12.0</a></td>
   <td align="right">335kB</td>
   <td><tt>da60a6ae9dcd7a085544a477fec420f4d1215d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kwalletmanager-21.12.0.tar.xz">kwalletmanager-21.12.0</a></td>
   <td align="right">781kB</td>
   <td><tt>a810fef531475bc7d86e4d5a82cd79b7b9850095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kwave-21.12.0.tar.xz">kwave-21.12.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>0cb070cca3249d764da69ce99a73de0134315983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/kwordquiz-21.12.0.tar.xz">kwordquiz-21.12.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bad0daeb8c903ae4c910253966dc028a3fa1dca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libgravatar-21.12.0.tar.xz">libgravatar-21.12.0</a></td>
   <td align="right">34kB</td>
   <td><tt>f4e3c74e38655dc4e2b29335ab33ce8dae60338c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkcddb-21.12.0.tar.xz">libkcddb-21.12.0</a></td>
   <td align="right">425kB</td>
   <td><tt>76e1e7b5b99d6ddd5db14fa7b1db129ac4d31986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkcompactdisc-21.12.0.tar.xz">libkcompactdisc-21.12.0</a></td>
   <td align="right">94kB</td>
   <td><tt>3b8a202733c05a400f91e4fea88ac19abc67671a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkdcraw-21.12.0.tar.xz">libkdcraw-21.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>7579a8435dfb5255295633eba51349719de398fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkdegames-21.12.0.tar.xz">libkdegames-21.12.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>396f7956f963281974c7f6c41dd8db5307c6115f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkdepim-21.12.0.tar.xz">libkdepim-21.12.0</a></td>
   <td align="right">247kB</td>
   <td><tt>843b76d2b5b8879d3332c5ab86aa969db20393b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkeduvocdocument-21.12.0.tar.xz">libkeduvocdocument-21.12.0</a></td>
   <td align="right">212kB</td>
   <td><tt>9f22257ffd71e537a4afe54b51a133926948a230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkexiv2-21.12.0.tar.xz">libkexiv2-21.12.0</a></td>
   <td align="right">58kB</td>
   <td><tt>994013cea928e8aa4db676acbcf011c80e97291e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkgapi-21.12.0.tar.xz">libkgapi-21.12.0</a></td>
   <td align="right">239kB</td>
   <td><tt>5d9ad3700b8bb39bf229d9d76be3c0f1d43594ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkipi-21.12.0.tar.xz">libkipi-21.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>fe81d1165810a84cec58e956ffce0e233724e676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkleo-21.12.0.tar.xz">libkleo-21.12.0</a></td>
   <td align="right">435kB</td>
   <td><tt>8685b4f6a716b2dbb5e89c98c69eaf0e080927ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkmahjongg-21.12.0.tar.xz">libkmahjongg-21.12.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3a2c729453d8b117a2e29fffe687d89c27c47c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libkomparediff2-21.12.0.tar.xz">libkomparediff2-21.12.0</a></td>
   <td align="right">168kB</td>
   <td><tt>2c8bb6716c32f7638d380cbf23f56a52b76af74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libksane-21.12.0.tar.xz">libksane-21.12.0</a></td>
   <td align="right">158kB</td>
   <td><tt>3d2574eba3335978f2d84f78033cb60b84f59c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libksieve-21.12.0.tar.xz">libksieve-21.12.0</a></td>
   <td align="right">558kB</td>
   <td><tt>ed35cdface25224abe0f61029e8b50ab32261a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/libktorrent-21.12.0.tar.xz">libktorrent-21.12.0</a></td>
   <td align="right">591kB</td>
   <td><tt>206519e518f76d6c2b109d12a4ceac529ac0527b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/lokalize-21.12.0.tar.xz">lokalize-21.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1c2423af378763f1966ee780b4853b542213bd1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/lskat-21.12.0.tar.xz">lskat-21.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c17e899b7aeb644eedaa472b5d9cd9d86ab9958e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/mailcommon-21.12.0.tar.xz">mailcommon-21.12.0</a></td>
   <td align="right">718kB</td>
   <td><tt>4897cc862221388023405b283c9b3202d5ad9462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/mailimporter-21.12.0.tar.xz">mailimporter-21.12.0</a></td>
   <td align="right">545kB</td>
   <td><tt>a7224501ebc685d49fe04d341a63256c8d58f427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/marble-21.12.0.tar.xz">marble-21.12.0</a></td>
   <td align="right">51MB</td>
   <td><tt>1e96f78ca8e35bb1b40a43b1974f42390d6d703d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/markdownpart-21.12.0.tar.xz">markdownpart-21.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>884ff53388ab7c65fcc3f303e05d285cb3b24fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/mbox-importer-21.12.0.tar.xz">mbox-importer-21.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>55755b557e35143ac2d590e96a9c04398663c704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/messagelib-21.12.0.tar.xz">messagelib-21.12.0</a></td>
   <td align="right">10MB</td>
   <td><tt>3f8d6a3e69b5ee1546716a851741218a834e19f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/minuet-21.12.0.tar.xz">minuet-21.12.0</a></td>
   <td align="right">26MB</td>
   <td><tt>0549dabebd24d5107be77429416611252f14536a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/okular-21.12.0.tar.xz">okular-21.12.0</a></td>
   <td align="right">7.7MB</td>
   <td><tt>cdf5ec86eb3933f228a48ad29629fe11107243c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/palapeli-21.12.0.tar.xz">palapeli-21.12.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d307e3732b5b054dc66bdc32b31db9c7388034a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/parley-21.12.0.tar.xz">parley-21.12.0</a></td>
   <td align="right">8.0MB</td>
   <td><tt>38c12c176f7f1b05449a4361a7a7a6f862faeb00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/partitionmanager-21.12.0.tar.xz">partitionmanager-21.12.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>928e01e0975afa58bd3302193cd797747782c4d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/picmi-21.12.0.tar.xz">picmi-21.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ecfd98ef70270433b54b4691c797dc218f8938f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/pimcommon-21.12.0.tar.xz">pimcommon-21.12.0</a></td>
   <td align="right">360kB</td>
   <td><tt>dd68c75ed4263e2352e6ef8b10bf37d1d5b8cb07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/pim-data-exporter-21.12.0.tar.xz">pim-data-exporter-21.12.0</a></td>
   <td align="right">393kB</td>
   <td><tt>d471835d483c80094d086285f80f86ec163f0c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/pim-sieve-editor-21.12.0.tar.xz">pim-sieve-editor-21.12.0</a></td>
   <td align="right">446kB</td>
   <td><tt>f092e43d509eee363bcbcf2e0607ac387f9b03ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/poxml-21.12.0.tar.xz">poxml-21.12.0</a></td>
   <td align="right">42kB</td>
   <td><tt>1c9a000f35a1136f26a62566228d86900faaae39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/print-manager-21.12.0.tar.xz">print-manager-21.12.0</a></td>
   <td align="right">265kB</td>
   <td><tt>8c73a466ca614d874a618015d688e2721743ad5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/rocs-21.12.0.tar.xz">rocs-21.12.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8395ac1e5f4a7baadaa02ae08d10de72f76fbf81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/signon-kwallet-extension-21.12.0.tar.xz">signon-kwallet-extension-21.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>056a635244890561bdbf87e658ee43ee6e6f745f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/skanlite-21.12.0.tar.xz">skanlite-21.12.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b042bfc1acf032d4888376e739f730afa9cfbeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/spectacle-21.12.0.tar.xz">spectacle-21.12.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>687237d9757f6b60dc0a98e1598b311f20d87e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/step-21.12.0.tar.xz">step-21.12.0</a></td>
   <td align="right">900kB</td>
   <td><tt>e607f9ac7b78c100213ab763fa8f67e14ce39dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/svgpart-21.12.0.tar.xz">svgpart-21.12.0</a></td>
   <td align="right">24kB</td>
   <td><tt>7540d3e0d1b8accc947ce6f1f63e03fb3ffa33d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/sweeper-21.12.0.tar.xz">sweeper-21.12.0</a></td>
   <td align="right">369kB</td>
   <td><tt>edc0b77fa823f36a9911ffbcf490c39eb8b98d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/umbrello-21.12.0.tar.xz">umbrello-21.12.0</a></td>
   <td align="right">5.3MB</td>
   <td><tt>20fb9835ffbb455f8ed0e416374ca5079928fc6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/yakuake-21.12.0.tar.xz">yakuake-21.12.0</a></td>
   <td align="right">393kB</td>
   <td><tt>196d5b1f1accc6d1c99a6a7ea4b2c6b4a90b3e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/zanshin-21.12.0.tar.xz">zanshin-21.12.0</a></td>
   <td align="right">342kB</td>
   <td><tt>4f7ef2c64649f622645962b0aa22f2ba1619b04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.0/src/zeroconf-ioslave-21.12.0.tar.xz">zeroconf-ioslave-21.12.0</a></td>
   <td align="right">37kB</td>
   <td><tt>07055c61c74fdddbf411b09d951d4d072d980269</tt></td>
</tr>

</table>
