
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/attica-5.78.0.tar.xz">attica-5.78.0</a></td>
   <td align="right">64kB</td>
   <td><tt>c71f910fae58f41db3d967533fa2b581b80c887f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/baloo-5.78.0.tar.xz">baloo-5.78.0</a></td>
   <td align="right">283kB</td>
   <td><tt>8abf0dc266c3d9ae7856b9d6970299db3c69869f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/bluez-qt-5.78.0.tar.xz">bluez-qt-5.78.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4d4f110d942578e8b6845e61d89a64dd9f339245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/breeze-icons-5.78.0.tar.xz">breeze-icons-5.78.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4b9a7379caaa124bbb42643dbe57fa8370de3bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/extra-cmake-modules-5.78.0.tar.xz">extra-cmake-modules-5.78.0</a></td>
   <td align="right">347kB</td>
   <td><tt>3af766a3b0055c258a605bf0ada9f055e10bbae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/frameworkintegration-5.78.0.tar.xz">frameworkintegration-5.78.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c99a59d1488837824bc5a44068553d8ddc081f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kactivities-5.78.0.tar.xz">kactivities-5.78.0</a></td>
   <td align="right">70kB</td>
   <td><tt>0979f47484d25ca90b73b961a547e71c11cdca14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kactivities-stats-5.78.0.tar.xz">kactivities-stats-5.78.0</a></td>
   <td align="right">80kB</td>
   <td><tt>f8d6594b54c780e7123f290e288bfb3bdcd6d8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kapidox-5.78.0.tar.xz">kapidox-5.78.0</a></td>
   <td align="right">186kB</td>
   <td><tt>2ba661a9d0c2d617b2415052fb60fa2bb897291d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/karchive-5.78.0.tar.xz">karchive-5.78.0</a></td>
   <td align="right">960kB</td>
   <td><tt>9a8c4f1c2535ae0a4fe22d648b745184d207acba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kauth-5.78.0.tar.xz">kauth-5.78.0</a></td>
   <td align="right">85kB</td>
   <td><tt>fb16210fd4fd89a7814ccbfb1e48cbb74ce2329b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kbookmarks-5.78.0.tar.xz">kbookmarks-5.78.0</a></td>
   <td align="right">123kB</td>
   <td><tt>1ea039ff9530e7a2d53197598972269cd7700555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcalendarcore-5.78.0.tar.xz">kcalendarcore-5.78.0</a></td>
   <td align="right">253kB</td>
   <td><tt>c5f17e05a5f5da1bd2fde1955ade3bffb0aad46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcmutils-5.78.0.tar.xz">kcmutils-5.78.0</a></td>
   <td align="right">251kB</td>
   <td><tt>e3c49d212361e55a744c53856676260e0e04b978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcodecs-5.78.0.tar.xz">kcodecs-5.78.0</a></td>
   <td align="right">222kB</td>
   <td><tt>6b9441908b75111a356cd0feff44d61a13eda1bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcompletion-5.78.0.tar.xz">kcompletion-5.78.0</a></td>
   <td align="right">118kB</td>
   <td><tt>5e0d052290c0ee00480b17d9fe63b09d8636a9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kconfig-5.78.0.tar.xz">kconfig-5.78.0</a></td>
   <td align="right">257kB</td>
   <td><tt>6ee485922b5f46870ba1f799533903cfa5446a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kconfigwidgets-5.78.0.tar.xz">kconfigwidgets-5.78.0</a></td>
   <td align="right">380kB</td>
   <td><tt>c27e2d54c2bb790d7893dc38209fc71884077f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcontacts-5.78.0.tar.xz">kcontacts-5.78.0</a></td>
   <td align="right">530kB</td>
   <td><tt>a687e0ef0c6bb9bd4384e1d2a3415445dc7d9149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcoreaddons-5.78.0.tar.xz">kcoreaddons-5.78.0</a></td>
   <td align="right">393kB</td>
   <td><tt>db7b2953f6838d4a3f0c95a564d84bf23b710d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kcrash-5.78.0.tar.xz">kcrash-5.78.0</a></td>
   <td align="right">21kB</td>
   <td><tt>a3d6388fd908f09cd1771bb25aa8e56acb3a2517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdav-5.78.0.tar.xz">kdav-5.78.0</a></td>
   <td align="right">57kB</td>
   <td><tt>b5e58d0141a6c2980cb884a7cdd91908057073cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdbusaddons-5.78.0.tar.xz">kdbusaddons-5.78.0</a></td>
   <td align="right">41kB</td>
   <td><tt>d84a1d2b2a44a0cb513ed00dd38dfc2bf607139e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdeclarative-5.78.0.tar.xz">kdeclarative-5.78.0</a></td>
   <td align="right">180kB</td>
   <td><tt>ebd7d9a628cc8d98a77f95ab74de5708ce2c8979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kded-5.78.0.tar.xz">kded-5.78.0</a></td>
   <td align="right">35kB</td>
   <td><tt>9520ec3611350e424cd84afe681d842ba105c38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdesu-5.78.0.tar.xz">kdesu-5.78.0</a></td>
   <td align="right">50kB</td>
   <td><tt>2d1e2c9a440e131dd27fe46fcbd4598b1925e527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdnssd-5.78.0.tar.xz">kdnssd-5.78.0</a></td>
   <td align="right">56kB</td>
   <td><tt>ef34245d9c9013dcbd3746ff249cd519e6177072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kdoctools-5.78.0.tar.xz">kdoctools-5.78.0</a></td>
   <td align="right">428kB</td>
   <td><tt>b00a3316bbf5e6d18da88e2a848efe741a98d5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kemoticons-5.78.0.tar.xz">kemoticons-5.78.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>accf84f5ed67befcf9f1984e24cbc5d32503c156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kfilemetadata-5.78.0.tar.xz">kfilemetadata-5.78.0</a></td>
   <td align="right">414kB</td>
   <td><tt>47941d2b1b2cbc8babe0f1591a4f79dfba813d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kglobalaccel-5.78.0.tar.xz">kglobalaccel-5.78.0</a></td>
   <td align="right">85kB</td>
   <td><tt>6d32fb200a272b53c9bec39fec60bf431438124b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kguiaddons-5.78.0.tar.xz">kguiaddons-5.78.0</a></td>
   <td align="right">57kB</td>
   <td><tt>7f4cb9cc0e4df2b36edf9e874572cb61a8c5830a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kholidays-5.78.0.tar.xz">kholidays-5.78.0</a></td>
   <td align="right">219kB</td>
   <td><tt>761abfa8841822565952bc6a35b8fc8ae49ce092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/ki18n-5.78.0.tar.xz">ki18n-5.78.0</a></td>
   <td align="right">576kB</td>
   <td><tt>c7869d5d9b8386e0a4051db551d42883f636f919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kiconthemes-5.78.0.tar.xz">kiconthemes-5.78.0</a></td>
   <td align="right">217kB</td>
   <td><tt>dfb109c47996fb7448eb1ee9d6475568bea01fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kidletime-5.78.0.tar.xz">kidletime-5.78.0</a></td>
   <td align="right">25kB</td>
   <td><tt>804da94e950595b1372276890c6d1257c8c645a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kimageformats-5.78.0.tar.xz">kimageformats-5.78.0</a></td>
   <td align="right">545kB</td>
   <td><tt>dff8a2dd562c92f41054c279c1ee21f899b32e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kinit-5.78.0.tar.xz">kinit-5.78.0</a></td>
   <td align="right">118kB</td>
   <td><tt>360dfd4dae65a69c1797c052c14e7909dc9f401e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kio-5.78.0.tar.xz">kio-5.78.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b96ff2b7184b2f08f04ded5dfe8d91351c14fc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kirigami2-5.78.0.tar.xz">kirigami2-5.78.0</a></td>
   <td align="right">292kB</td>
   <td><tt>ff0fd8f78921d8f0275ac18e8138846751920f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kitemmodels-5.78.0.tar.xz">kitemmodels-5.78.0</a></td>
   <td align="right">393kB</td>
   <td><tt>ee0de313d368f8b6d7ea60074bcccc0dd24e214a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kitemviews-5.78.0.tar.xz">kitemviews-5.78.0</a></td>
   <td align="right">73kB</td>
   <td><tt>e4ca8617815e45d1a16ce54991d5b9fa9c8ef751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kjobwidgets-5.78.0.tar.xz">kjobwidgets-5.78.0</a></td>
   <td align="right">90kB</td>
   <td><tt>b14217a621fc09ceee66609aa42b2e0ef64d2baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/knewstuff-5.78.0.tar.xz">knewstuff-5.78.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5d16773907696ca6bcebdc705f65006766296878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/knotifications-5.78.0.tar.xz">knotifications-5.78.0</a></td>
   <td align="right">117kB</td>
   <td><tt>1f6de6f3bda5dce5e4f0c6b245d05f6331f4b5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/knotifyconfig-5.78.0.tar.xz">knotifyconfig-5.78.0</a></td>
   <td align="right">82kB</td>
   <td><tt>d6349086a85252145ea2e2e8fae74523e295bb5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kpackage-5.78.0.tar.xz">kpackage-5.78.0</a></td>
   <td align="right">137kB</td>
   <td><tt>2feac5cd451eefe5667df481eeebf23d64b9e1fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kparts-5.78.0.tar.xz">kparts-5.78.0</a></td>
   <td align="right">186kB</td>
   <td><tt>8009b5f9ad3fe0c80b8e53657ae9745abbff38ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kpeople-5.78.0.tar.xz">kpeople-5.78.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7d22e363546dd8dd401718e6c847d3fb2f58c5c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kplotting-5.78.0.tar.xz">kplotting-5.78.0</a></td>
   <td align="right">30kB</td>
   <td><tt>a9ad02b0de3cd505973ccc45135af486f573bd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kpty-5.78.0.tar.xz">kpty-5.78.0</a></td>
   <td align="right">54kB</td>
   <td><tt>92306c2793f2a1ec5b0965cc882ca2d9e9d8d36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kquickcharts-5.78.0.tar.xz">kquickcharts-5.78.0</a></td>
   <td align="right">98kB</td>
   <td><tt>dba9e25a13df9e4e56a91816660a2e78160fa872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/krunner-5.78.0.tar.xz">krunner-5.78.0</a></td>
   <td align="right">71kB</td>
   <td><tt>d6f1bbecf19de6d33488fa100e3cba95ea964f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kservice-5.78.0.tar.xz">kservice-5.78.0</a></td>
   <td align="right">254kB</td>
   <td><tt>cce2d814d754c9da44e3092cc30fe69cf2bcf88d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/ktexteditor-5.78.0.tar.xz">ktexteditor-5.78.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>942061c649384897d27f093a3ae4996a39087b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/ktextwidgets-5.78.0.tar.xz">ktextwidgets-5.78.0</a></td>
   <td align="right">316kB</td>
   <td><tt>52ed73714872983eb9b43fe847468455fffb1e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kunitconversion-5.78.0.tar.xz">kunitconversion-5.78.0</a></td>
   <td align="right">840kB</td>
   <td><tt>7be78b2b6c4fb315bc6e3d18900d5be9cee64832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kwallet-5.78.0.tar.xz">kwallet-5.78.0</a></td>
   <td align="right">292kB</td>
   <td><tt>5725f0d1f4db8c3ddeefa4d52199e8f4fd32c95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kwayland-5.78.0.tar.xz">kwayland-5.78.0</a></td>
   <td align="right">336kB</td>
   <td><tt>658ee0439c60e8a7f71bdf8b4066e6f9bdeaf4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kwidgetsaddons-5.78.0.tar.xz">kwidgetsaddons-5.78.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2eb31132e4b1ebc85d945340414cb86c32c2b141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kwindowsystem-5.78.0.tar.xz">kwindowsystem-5.78.0</a></td>
   <td align="right">172kB</td>
   <td><tt>cea2a379f6a56bf987ba2ad3f684a0fc27e53e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/kxmlgui-5.78.0.tar.xz">kxmlgui-5.78.0</a></td>
   <td align="right">840kB</td>
   <td><tt>3c863b66c0308fd6c6b140dcae0c588d086dc494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/modemmanager-qt-5.78.0.tar.xz">modemmanager-qt-5.78.0</a></td>
   <td align="right">109kB</td>
   <td><tt>11260371640c605561b7fac22690285fa8368847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/networkmanager-qt-5.78.0.tar.xz">networkmanager-qt-5.78.0</a></td>
   <td align="right">190kB</td>
   <td><tt>af2e04fa5455766d1cdf3b1c9d8358dfd737abaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/oxygen-icons5-5.78.0.tar.xz">oxygen-icons5-5.78.0</a></td>
   <td align="right">225MB</td>
   <td><tt>e952d4aaa4d3264c823d854412406c0bacc7139e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/plasma-framework-5.78.0.tar.xz">plasma-framework-5.78.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>15763d00e1297d4f5cdb8bb385b54481067b08e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/prison-5.78.0.tar.xz">prison-5.78.0</a></td>
   <td align="right">40kB</td>
   <td><tt>cda71e6980d2ffd3f385c0106ee5c669b9dc225e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/purpose-5.78.0.tar.xz">purpose-5.78.0</a></td>
   <td align="right">154kB</td>
   <td><tt>12443ece862691e61b8d583c661e80b08bdb80c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/qqc2-desktop-style-5.78.0.tar.xz">qqc2-desktop-style-5.78.0</a></td>
   <td align="right">58kB</td>
   <td><tt>a0e426291507488ca83d01211ad56300cd2da2c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/solid-5.78.0.tar.xz">solid-5.78.0</a></td>
   <td align="right">267kB</td>
   <td><tt>433d96be7a0a5ba9c1d683671bcdb81042e249ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/sonnet-5.78.0.tar.xz">sonnet-5.78.0</a></td>
   <td align="right">287kB</td>
   <td><tt>67d77baf547c6b5c60c6f71f4f8cb8a8aa7133c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/syndication-5.78.0.tar.xz">syndication-5.78.0</a></td>
   <td align="right">497kB</td>
   <td><tt>e74b4dc222af823232ff1b189639f32b949172f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/syntax-highlighting-5.78.0.tar.xz">syntax-highlighting-5.78.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ade57abe25013424fee271fee7ddc75cc8866a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.78/threadweaver-5.78.0.tar.xz">threadweaver-5.78.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>08ca00a21e252ea06ed49e33f6ee1213ce1c052c</tt></td>
</tr>

</table>
