<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/aura-browser-5.27.10.tar.xz">aura-browser-5.27.10</a></td>
   <td align="right">2.9MB</td>
   <td><tt>532896b35c46f7b49f4af6d4396c74794e19a19ef3c8fcb11b917838a6de8565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/bluedevil-5.27.10.tar.xz">bluedevil-5.27.10</a></td>
   <td align="right">357kB</td>
   <td><tt>771fd58c2e1945e9f375598a5d1120671d9142d95580f08ec22494dd4d7fa180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/breeze-5.27.10.tar.xz">breeze-5.27.10</a></td>
   <td align="right">83MB</td>
   <td><tt>bebc960752da9d53a9895ffc05d824cba702735428aa61347b703fea074700a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/breeze-grub-5.27.10.tar.xz">breeze-grub-5.27.10</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ff6aa08b0436740026d4243ec287e80bff24b8ba349561d91115de218ec65f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/breeze-gtk-5.27.10.tar.xz">breeze-gtk-5.27.10</a></td>
   <td align="right">39kB</td>
   <td><tt>1da3f98cce2761bb2c9c72d0156b93cf7bf50f08d59fd64bfeb06149a87069b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/breeze-plymouth-5.27.10.tar.xz">breeze-plymouth-5.27.10</a></td>
   <td align="right">108kB</td>
   <td><tt>081e67f78cef1063f864465382d50212c1301ecbd3055e7ae058c07eed9e4bf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/discover-5.27.10.tar.xz">discover-5.27.10</a></td>
   <td align="right">852kB</td>
   <td><tt>1f9189e2a759ac035a5ba83a2842a40b7034a7e5885b0836e3921b9671109fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/drkonqi-5.27.10.tar.xz">drkonqi-5.27.10</a></td>
   <td align="right">841kB</td>
   <td><tt>a3ea4794ca1d8e31cacfe78301884419cfd9daaf939c5d843718372b65657fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/flatpak-kcm-5.27.10.tar.xz">flatpak-kcm-5.27.10</a></td>
   <td align="right">225kB</td>
   <td><tt>ba527040a4fa39ac0e3021bcf4117238d20eab148bc48259f5f9e3c86c885a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kactivitymanagerd-5.27.10.tar.xz">kactivitymanagerd-5.27.10</a></td>
   <td align="right">124kB</td>
   <td><tt>8ee262fb6c4987fb3e66b5adec4d60d10c98adb40ed7da3372b8b342d70e5dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kde-cli-tools-5.27.10.tar.xz">kde-cli-tools-5.27.10</a></td>
   <td align="right">651kB</td>
   <td><tt>7baa6d899cf0e14194f935cd2f2526123c40261f6fbd86dc17cf75bbc6a04d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kdecoration-5.27.10.tar.xz">kdecoration-5.27.10</a></td>
   <td align="right">51kB</td>
   <td><tt>64966cb8258b50b55da50a8ab01fd1dd201065f1512216a04ce92189df679dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kde-gtk-config-5.27.10.tar.xz">kde-gtk-config-5.27.10</a></td>
   <td align="right">75kB</td>
   <td><tt>6f3b3150b138b5c309ef2c47eee2ab15b0908cacf1487cbc9d561d64f0f68e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kdeplasma-addons-5.27.10.tar.xz">kdeplasma-addons-5.27.10</a></td>
   <td align="right">806kB</td>
   <td><tt>9e64ef3dd88aa355f49f8d2d11be3ef158431ceda6a6fe570a1288c3f50f3e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kgamma-5.27.10.tar.xz">kgamma-5.27.10</a></td>
   <td align="right">86kB</td>
   <td><tt>dd81bb62a35ce4fce4482ed498e4072a50f9ec1190ba2a9246139ba1e24ef570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/khotkeys-5.27.10.tar.xz">khotkeys-5.27.10</a></td>
   <td align="right">1.8MB</td>
   <td><tt>645c51e7b27a6bfb3105e5d5352350b651c782b43813c6a82b14ad1e09d9f6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kinfocenter-5.27.10.tar.xz">kinfocenter-5.27.10</a></td>
   <td align="right">992kB</td>
   <td><tt>ce5c2a34840787b50fcbc70d82ff0b4b9f8260b6814276f68c6912c4db2aca11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kmenuedit-5.27.10.tar.xz">kmenuedit-5.27.10</a></td>
   <td align="right">910kB</td>
   <td><tt>1c090b7e96c65043d2d75c359e536cb05a44ed6655e4e12c437ef233fa4f20d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kpipewire-5.27.10.tar.xz">kpipewire-5.27.10</a></td>
   <td align="right">58kB</td>
   <td><tt>c23ca5169ae2ef069b1d79107c5ae4ff859d8848fe6c98decfd0f357f378c3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kscreen-5.27.10.tar.xz">kscreen-5.27.10</a></td>
   <td align="right">181kB</td>
   <td><tt>8987bfcdb4e8617a229090ff42c4e4142ac0b5228e9bed7c3d2f03ed4e981c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kscreenlocker-5.27.10.tar.xz">kscreenlocker-5.27.10</a></td>
   <td align="right">157kB</td>
   <td><tt>d74d80b87fc5b4915d615c288819f9006c0103ee864cadc565141bf468cb3d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/ksshaskpass-5.27.10.tar.xz">ksshaskpass-5.27.10</a></td>
   <td align="right">27kB</td>
   <td><tt>d38de7ddcb9c3e58d04cb240510db7f48448e9700de443b40a9062897239e26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/ksystemstats-5.27.10.tar.xz">ksystemstats-5.27.10</a></td>
   <td align="right">113kB</td>
   <td><tt>5a5eda2ded432b380882ede9fbe9a30b090cfbbe6c84ce9274dd795eb01fe238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kwallet-pam-5.27.10.tar.xz">kwallet-pam-5.27.10</a></td>
   <td align="right">22kB</td>
   <td><tt>ac191714d637c9f43041b08f9c946ff01ffef1b77cf80f33c7ae0f819244a1fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kwayland-integration-5.27.10.tar.xz">kwayland-integration-5.27.10</a></td>
   <td align="right">25kB</td>
   <td><tt>f37d054662b6b294faee9dae9a8a808023cf2ec5a0508b76fcaceb61b4a3bd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kwin-5.27.10.tar.xz">kwin-5.27.10</a></td>
   <td align="right">7.2MB</td>
   <td><tt>b85a25125900b62cb5a3c609961088c45a58f55004317e4f5e8ba2039ae6dac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/kwrited-5.27.10.tar.xz">kwrited-5.27.10</a></td>
   <td align="right">22kB</td>
   <td><tt>5aa19eba68eb9df0ac9ee894773028f093c9fb54f8ca69cf878ee8e8ec6f4d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/layer-shell-qt-5.27.10.tar.xz">layer-shell-qt-5.27.10</a></td>
   <td align="right">18kB</td>
   <td><tt>0aed80cf2a143033c186df5343215acd638c80e419b4e854a14bd35ba3d4c3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/libkscreen-5.27.10.tar.xz">libkscreen-5.27.10</a></td>
   <td align="right">113kB</td>
   <td><tt>27f59f088929bc7fb560c353fb9da98832dde5b58fde88d9c694c98fdf3aff98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/libksysguard-5.27.10.tar.xz">libksysguard-5.27.10</a></td>
   <td align="right">869kB</td>
   <td><tt>17fc33b028cb272391b68c46e93b2d806d8254e6af9399d61375d49041ff3ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/milou-5.27.10.tar.xz">milou-5.27.10</a></td>
   <td align="right">57kB</td>
   <td><tt>7c19dd8b16cc9bdf594118bbe49e8aa6e5cf12984665377cc8bc369d5f110ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/oxygen-5.27.10.tar.xz">oxygen-5.27.10</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5b16f6e3e5ee11bb959fc0e1fd233bbb0231b54ea8eff5e14fd78003ba2d090b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/oxygen-sounds-5.27.10.tar.xz">oxygen-sounds-5.27.10</a></td>
   <td align="right">1.8MB</td>
   <td><tt>23a1f090aaeee966476ff03aecad1f60b1e067d7948edd1b61c3a5d2b33bc35f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plank-player-5.27.10.tar.xz">plank-player-5.27.10</a></td>
   <td align="right">155kB</td>
   <td><tt>2b8ece5b7ea268327dbad08d0859a889cb4e0df90651b3c835dabfcc5f8e2d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-bigscreen-5.27.10.tar.xz">plasma-bigscreen-5.27.10</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3731ab079b820e5c6c288343013c5667e82d64db869a1c84ffe549e9ee068218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-browser-integration-5.27.10.tar.xz">plasma-browser-integration-5.27.10</a></td>
   <td align="right">206kB</td>
   <td><tt>a17dbeae99d25def0c8e43b03b4be58bbfc0e3986f3c25e8de2e71047ecfccce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-desktop-5.27.10.tar.xz">plasma-desktop-5.27.10</a></td>
   <td align="right">14MB</td>
   <td><tt>de015fc921d34da23d85998a03afa7c81d935f5d9c55261ff7a2b413c9cfd09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-disks-5.27.10.tar.xz">plasma-disks-5.27.10</a></td>
   <td align="right">91kB</td>
   <td><tt>1e8f4d145a9f16c98a5dc1ac5449ee8178b119f63b4faecd99feec25fc54587b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-firewall-5.27.10.tar.xz">plasma-firewall-5.27.10</a></td>
   <td align="right">354kB</td>
   <td><tt>755a6a00848f536e567ea9672b4fa70af958a875ab7651e2edc75bbb661c84cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-integration-5.27.10.tar.xz">plasma-integration-5.27.10</a></td>
   <td align="right">87kB</td>
   <td><tt>35f2c81e8586051acd4bbccd9c44bab7dc86a1b3f5f0988589f43777032affbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-mobile-5.27.10.tar.xz">plasma-mobile-5.27.10</a></td>
   <td align="right">3.2MB</td>
   <td><tt>2ca8ff8cd848b727e5513ac3edca8fa5ad3618845642eb3f72c5dd5441425b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-nano-5.27.10.tar.xz">plasma-nano-5.27.10</a></td>
   <td align="right">72kB</td>
   <td><tt>4bf61c1bf27e1209584cd0f21ebb450a7eda43cd5c5269eaa028b790dc2e1c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-nm-5.27.10.tar.xz">plasma-nm-5.27.10</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b75dd3a7624e137ce350f438c3e3535c24d015d0e096e8e2f513b75df1b3dcb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-pa-5.27.10.tar.xz">plasma-pa-5.27.10</a></td>
   <td align="right">159kB</td>
   <td><tt>0d713742f1472587e3e678d8ce99fb62333fbda5106dfae99cad7298316b3f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-remotecontrollers-5.27.10.tar.xz">plasma-remotecontrollers-5.27.10</a></td>
   <td align="right">80kB</td>
   <td><tt>510426dfb47cb86e0491cdeaead3af6f5d8700408973188ca981c24572f1f473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-sdk-5.27.10.tar.xz">plasma-sdk-5.27.10</a></td>
   <td align="right">313kB</td>
   <td><tt>eea9ea1d0eca8a0126edb3040701331e29421fb867ee7d8352e74d1cc9690123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-systemmonitor-5.27.10.tar.xz">plasma-systemmonitor-5.27.10</a></td>
   <td align="right">169kB</td>
   <td><tt>64a1705797b42be1ed0be8258b11829b10f8b155e09bb4fbcf4757e2d7eb8a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-thunderbolt-5.27.10.tar.xz">plasma-thunderbolt-5.27.10</a></td>
   <td align="right">70kB</td>
   <td><tt>4d245ee5cb373d8cab39939e11002ee983c0f223070c30d2fba76f4c70306196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-vault-5.27.10.tar.xz">plasma-vault-5.27.10</a></td>
   <td align="right">182kB</td>
   <td><tt>75f1d05661ac553fc8fec14f4ea683bfbb60b0dea816cd7cffb22a2ae3d11a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-welcome-5.27.10.tar.xz">plasma-welcome-5.27.10</a></td>
   <td align="right">816kB</td>
   <td><tt>8423e03419fb89e6f66a48bac981722748f7db6074f7a57865c71529867a1c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-workspace-5.27.10.tar.xz">plasma-workspace-5.27.10</a></td>
   <td align="right">18MB</td>
   <td><tt>525dc164c61a6730f33d54ff5013d57184b9d671786fe898ca7e054426359778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plasma-workspace-wallpapers-5.27.10.tar.xz">plasma-workspace-wallpapers-5.27.10</a></td>
   <td align="right">89MB</td>
   <td><tt>82862d512993b958f7f96e191ce951ff2748012292941f73cdd308f37e2e64d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/plymouth-kcm-5.27.10.tar.xz">plymouth-kcm-5.27.10</a></td>
   <td align="right">44kB</td>
   <td><tt>7f70f2ec93cada800db916988bed124ade377fbd646d2cba537f877cef8ce682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/polkit-kde-agent-1-5.27.10.tar.xz">polkit-kde-agent-1-5.27.10</a></td>
   <td align="right">51kB</td>
   <td><tt>a3952a2785e468317a41bbc49ae02af816646afe3108d0612730f4f2398f8bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/powerdevil-5.27.10.tar.xz">powerdevil-5.27.10</a></td>
   <td align="right">769kB</td>
   <td><tt>06c1a3c09880dd2060e3c8026189d8568d8a0f166ea33c2584669f85a04ec8f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/qqc2-breeze-style-5.27.10.tar.xz">qqc2-breeze-style-5.27.10</a></td>
   <td align="right">64kB</td>
   <td><tt>3d8a6fbe18f7ac56ff0c0706e9219df29d49ff398173522bd53f1d8baa7b8b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/sddm-kcm-5.27.10.tar.xz">sddm-kcm-5.27.10</a></td>
   <td align="right">91kB</td>
   <td><tt>83e43177bf83d7b2c5d617349bb913dbdb80b0354aecbcc47febd4e50d95f4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/systemsettings-5.27.10.tar.xz">systemsettings-5.27.10</a></td>
   <td align="right">223kB</td>
   <td><tt>af4c47f2cbe3a5cd8789eaad69d6ab4e73909dfe7500c5a71b01f5b82c860d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.10/xdg-desktop-portal-kde-5.27.10.tar.xz">xdg-desktop-portal-kde-5.27.10</a></td>
   <td align="right">139kB</td>
   <td><tt>bd731ff0c3e27293728292e1b07276af53ad8a4fbbb915f1d0fd77b99d7bef2b</tt></td>
</tr>

</table>
