<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/aura-browser-5.26.4.tar.xz">aura-browser-5.26.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>daa51b684c221c91ea038115969111a6cf308e1ecffb2ede845ace0ed616fbbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/bluedevil-5.26.4.tar.xz">bluedevil-5.26.4</a></td>
   <td align="right">309kB</td>
   <td><tt>be1e6d34e1e19f7402ef79bd66aced3c72893f3e769ee7bbee51e5af3bb506a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/breeze-5.26.4.tar.xz">breeze-5.26.4</a></td>
   <td align="right">55MB</td>
   <td><tt>6c093f48b49228a01d7be1563c6f05e98c1ecf0c71c466cf45edb4328a58006b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/breeze-grub-5.26.4.tar.xz">breeze-grub-5.26.4</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e8e6e6e60e1d2389dbc9b5c104f4caf3b9db9e7d7106229da45bd0f2794389b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/breeze-gtk-5.26.4.tar.xz">breeze-gtk-5.26.4</a></td>
   <td align="right">39kB</td>
   <td><tt>613c04c5cd43ae1e671c65ad04e9ff78c769225b6d5615669c39d8726f6f814d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/breeze-plymouth-5.26.4.tar.xz">breeze-plymouth-5.26.4</a></td>
   <td align="right">108kB</td>
   <td><tt>ad6b9e1743fa8d23431e705bf98b9ec3904b022d0011f633ebf8b7871b6b2641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/discover-5.26.4.tar.xz">discover-5.26.4</a></td>
   <td align="right">640kB</td>
   <td><tt>8cb73da1cc70a04370923775cd4ede92156cbfc7b520d041a32b600fce2988c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/drkonqi-5.26.4.tar.xz">drkonqi-5.26.4</a></td>
   <td align="right">495kB</td>
   <td><tt>6dec4acc7371decd5d80552740e73477589957f0fec4e505d684d3570b4e135d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kactivitymanagerd-5.26.4.tar.xz">kactivitymanagerd-5.26.4</a></td>
   <td align="right">106kB</td>
   <td><tt>8406805f1de0f5e6bb1fac08a9ff39fbb0cbbbe81ac0d9812f51b241816325cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kde-cli-tools-5.26.4.tar.xz">kde-cli-tools-5.26.4</a></td>
   <td align="right">615kB</td>
   <td><tt>1fc96d511305ec948127646c247c9ee71de8303497ebaa246b1ce53aaa1cd84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kdecoration-5.26.4.tar.xz">kdecoration-5.26.4</a></td>
   <td align="right">50kB</td>
   <td><tt>88fc3b01796e06784a9008882195b33bc0c076c42dd7c81c63b1078e8d47285d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kde-gtk-config-5.26.4.tar.xz">kde-gtk-config-5.26.4</a></td>
   <td align="right">72kB</td>
   <td><tt>53bf675fbc93a0180a016f278f1ac04ce0aa6ff9ff6290d58d4e3d4bd774f314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kdeplasma-addons-5.26.4.tar.xz">kdeplasma-addons-5.26.4</a></td>
   <td align="right">671kB</td>
   <td><tt>3984e9731429c138770d79386964969154791a19b5ddc752b6480f594aee7da0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kgamma5-5.26.4.tar.xz">kgamma5-5.26.4</a></td>
   <td align="right">85kB</td>
   <td><tt>94ea37474322ebaafd4c7a9a87bf0fbe9a5dc398052cf1aa0433f068da92c957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/khotkeys-5.26.4.tar.xz">khotkeys-5.26.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f0532470d5c944df38428d4249fc38c5572ae580dab425570c6a68f8245f20cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kinfocenter-5.26.4.tar.xz">kinfocenter-5.26.4</a></td>
   <td align="right">712kB</td>
   <td><tt>99c1e881bdbcac042aee7fd5088bf0fbc6c66a4abeb445c20ce18c4ffbaf0543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kmenuedit-5.26.4.tar.xz">kmenuedit-5.26.4</a></td>
   <td align="right">884kB</td>
   <td><tt>c88b26f60c1f569c11ecc90548500e4a2adbc7aebc974cbb2ab101b2d789c9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kpipewire-5.26.4.tar.xz">kpipewire-5.26.4</a></td>
   <td align="right">51kB</td>
   <td><tt>46274e57d863fabe5e344c0e29f48d1eb27cc7318c923d33056d025870a5f634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kscreen-5.26.4.tar.xz">kscreen-5.26.4</a></td>
   <td align="right">150kB</td>
   <td><tt>d7dc48881feaa1b58edc2f9e7c07366bb6ce844a357b671e894180ba17f6c69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kscreenlocker-5.26.4.tar.xz">kscreenlocker-5.26.4</a></td>
   <td align="right">113kB</td>
   <td><tt>a126eb7085fff1aa9982c4567faaca16e930a28e60d021ef69d73276c956e857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/ksshaskpass-5.26.4.tar.xz">ksshaskpass-5.26.4</a></td>
   <td align="right">26kB</td>
   <td><tt>312499e6fc0a1047e4e3e354edcf7529da90165c9af756d6ebdef968f2c42d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/ksystemstats-5.26.4.tar.xz">ksystemstats-5.26.4</a></td>
   <td align="right">104kB</td>
   <td><tt>23afc8fd757287f3bd206cb4ba3fadf8d7a95c7be6a1c07c0561a835d359bf2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kwallet-pam-5.26.4.tar.xz">kwallet-pam-5.26.4</a></td>
   <td align="right">22kB</td>
   <td><tt>4bea8622892d7b28f210fc80706aaf61c1ec24001660270703a3f105940ec67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kwayland-integration-5.26.4.tar.xz">kwayland-integration-5.26.4</a></td>
   <td align="right">26kB</td>
   <td><tt>f019658d3e512557b2c5b464a58b0f5f9ae212339322528791ed4518f789e982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kwin-5.26.4.tar.xz">kwin-5.26.4</a></td>
   <td align="right">6.3MB</td>
   <td><tt>2650db6006fe916ee2d48ff1083d4a5775fb0cf51ccdf01ac08dc1abbed300b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/kwrited-5.26.4.tar.xz">kwrited-5.26.4</a></td>
   <td align="right">22kB</td>
   <td><tt>42879599f4a849b84b4bc9350ee22316c0eb414285838e42a8a4f3db14ca3ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/layer-shell-qt-5.26.4.tar.xz">layer-shell-qt-5.26.4</a></td>
   <td align="right">17kB</td>
   <td><tt>ebd088a6c5d0bf5c8adf4b06c7c0d8f55f4c3c332bf930b06b7b389ae47260c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/libkscreen-5.26.4.tar.xz">libkscreen-5.26.4</a></td>
   <td align="right">103kB</td>
   <td><tt>bb0252f6b8ac52ca6066d127fb3dbb782ef864a8ac60f66c03cb3c81c78378f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/libksysguard-5.26.4.tar.xz">libksysguard-5.26.4</a></td>
   <td align="right">777kB</td>
   <td><tt>eb954bab3eb26e4b891e0838097529fe73499b2f843bc1ed17ccc64db085b5e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/milou-5.26.4.tar.xz">milou-5.26.4</a></td>
   <td align="right">49kB</td>
   <td><tt>00bc5c80bf0160e1ea43e2c621de90a5ca69bbebfa288964e021387980009d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/oxygen-5.26.4.tar.xz">oxygen-5.26.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>13fa479a205a8af60d8a0cf142dbed173232692b8d8b718e180ecbc7d82343d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/oxygen-sounds-5.26.4.tar.xz">oxygen-sounds-5.26.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2258cf25a3a768728aa29c2036499513c4637c490bed85daecf567798e2f5c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plank-player-5.26.4.tar.xz">plank-player-5.26.4</a></td>
   <td align="right">153kB</td>
   <td><tt>978fb89c7cb525b61e1e73aabf67b5c8e4b0e2ccfc76c0ed03ee15245dd15a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-bigscreen-5.26.4.tar.xz">plasma-bigscreen-5.26.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ba546660c4efdad8e2f09e4331fea4f98fbe86d7d17cf2f767186de3d981d64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-browser-integration-5.26.4.tar.xz">plasma-browser-integration-5.26.4</a></td>
   <td align="right">230kB</td>
   <td><tt>f0bac322cb23dc0dbe7f3a5c3cb80e708162833adca6e6ef4a98c481ad469f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-desktop-5.26.4.tar.xz">plasma-desktop-5.26.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6a990ce1eb8009848ecdab539d7e1d5f0d17cbb50a275c9c28de4a18e54293d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-disks-5.26.4.tar.xz">plasma-disks-5.26.4</a></td>
   <td align="right">90kB</td>
   <td><tt>f2f1e26db778d5c1d7c94c4ad9842a48924701483cea4443a1d51ecfe9c6f5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-firewall-5.26.4.tar.xz">plasma-firewall-5.26.4</a></td>
   <td align="right">350kB</td>
   <td><tt>813d7532e6cdd1c6682f7bf5aac8c43c4cd1a2aca1e80bc39a210b31f02be4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-integration-5.26.4.tar.xz">plasma-integration-5.26.4</a></td>
   <td align="right">86kB</td>
   <td><tt>5e63c1ee25dc37788bd633eeae7ba96bac8fc2a79ce021a5d04250ca749fbf3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-mobile-5.26.4.tar.xz">plasma-mobile-5.26.4</a></td>
   <td align="right">3.2MB</td>
   <td><tt>7d0819d6be0029dd43b6e5b64eb57816a69ef6c859cd6c2541be106b37da0697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-nano-5.26.4.tar.xz">plasma-nano-5.26.4</a></td>
   <td align="right">70kB</td>
   <td><tt>ba87b074211538ef4b757b838cb1dc39353bb46eaa055765e8538e5741925d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-nm-5.26.4.tar.xz">plasma-nm-5.26.4</a></td>
   <td align="right">949kB</td>
   <td><tt>1e9ef4ba5d37a9cd938c947380ce84acaeefffaae3d71b1c0b803a3986633df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-pa-5.26.4.tar.xz">plasma-pa-5.26.4</a></td>
   <td align="right">139kB</td>
   <td><tt>6ac43cf4fb3f60a18cbd33749a87efd2123d9ff0954e677918d50468d95b1940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-remotecontrollers-5.26.4.tar.xz">plasma-remotecontrollers-5.26.4</a></td>
   <td align="right">68kB</td>
   <td><tt>ba45c2122f317c45a1499449e18428e4087c953a0049da837ad491bc42e76cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-sdk-5.26.4.tar.xz">plasma-sdk-5.26.4</a></td>
   <td align="right">267kB</td>
   <td><tt>652189da1e36697983537de05be4d8447ddf688b9d8a7a8364d1a8f1ad90a8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-systemmonitor-5.26.4.tar.xz">plasma-systemmonitor-5.26.4</a></td>
   <td align="right">164kB</td>
   <td><tt>c9511d9d820785a382d615ababeb4689136e6defb78e80b951da1915c3b059c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-tests-5.26.4.tar.xz">plasma-tests-5.26.4</a></td>
   <td align="right">1kB</td>
   <td><tt>eb9af0731e18aead2e931901ab45b41a2425be3386fca278df646c622098d340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-thunderbolt-5.26.4.tar.xz">plasma-thunderbolt-5.26.4</a></td>
   <td align="right">70kB</td>
   <td><tt>bbc168deda1ab985414061f8b07b447249b5b6a33e3588bcded98370d9bc57bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-vault-5.26.4.tar.xz">plasma-vault-5.26.4</a></td>
   <td align="right">181kB</td>
   <td><tt>e4435460e5ce6e0b88f0366feb62fd474f5a74efdfbad8976e43bc3a6804ce92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-workspace-5.26.4.1.tar.xz">plasma-workspace-5.26.4.1</a></td>
   <td align="right">16MB</td>
   <td><tt>7fcca23ff8de6f4aa2261f0180be54422f25047002b7ca6c648e7216459b80fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plasma-workspace-wallpapers-5.26.4.tar.xz">plasma-workspace-wallpapers-5.26.4</a></td>
   <td align="right">80MB</td>
   <td><tt>7bfb4eb913dc02a34e92152e5dcef79af8a62828066ee1187fc850cf3a3c9cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/plymouth-kcm-5.26.4.tar.xz">plymouth-kcm-5.26.4</a></td>
   <td align="right">42kB</td>
   <td><tt>aa6a7750db2cefa0aa4af58cae8abea1f1ff7231195be06470471eaef9241b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/polkit-kde-agent-1-5.26.4.tar.xz">polkit-kde-agent-1-5.26.4</a></td>
   <td align="right">48kB</td>
   <td><tt>5a05c610776c869c2c8bc8b800574e85340edeb8c86b0530d59e512b49a207ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/powerdevil-5.26.4.tar.xz">powerdevil-5.26.4</a></td>
   <td align="right">627kB</td>
   <td><tt>a39f83175603eca8e966eb6d7fb33528afe3d6a877d0ffbe5016471c76b755e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/qqc2-breeze-style-5.26.4.tar.xz">qqc2-breeze-style-5.26.4</a></td>
   <td align="right">64kB</td>
   <td><tt>0a830fec358e1535cdbcb14e891c3c4824c6b1757a3d128bcfb5e2f0caad7be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/sddm-kcm-5.26.4.tar.xz">sddm-kcm-5.26.4</a></td>
   <td align="right">80kB</td>
   <td><tt>cba1d6bb9fdf6bb7afc2d4c0ba15946e3f5b2d9cbdd3a7ada96814e760e714eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/systemsettings-5.26.4.tar.xz">systemsettings-5.26.4</a></td>
   <td align="right">200kB</td>
   <td><tt>15d84cc969636e9e9dc3b9c36a5b1c6c881067184077ba9bbdc5a080719e80f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.4/xdg-desktop-portal-kde-5.26.4.tar.xz">xdg-desktop-portal-kde-5.26.4</a></td>
   <td align="right">107kB</td>
   <td><tt>63361d6b157da8df04625ccb57442b6230f5c08d4554c26b3c25d429411c7f9c</tt></td>
</tr>

</table>
