
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/attica-5.44.0.tar.xz">attica-5.44.0</a></td>
   <td align="right">59kB</td>
   <td><tt>9dd69bd1a944aadb434eee13a7e9e5094c629f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/baloo-5.44.0.tar.xz">baloo-5.44.0</a></td>
   <td align="right">204kB</td>
   <td><tt>a7491cf6a7df8a293ca588b05becef7fb1e9d012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/bluez-qt-5.44.0.tar.xz">bluez-qt-5.44.0</a></td>
   <td align="right">73kB</td>
   <td><tt>db19e55177d979b6bb223879ca29752d6571f7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/breeze-icons-5.44.0.tar.xz">breeze-icons-5.44.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a157572c24a6115dad89c13e5fe28811518024a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/extra-cmake-modules-5.44.0.tar.xz">extra-cmake-modules-5.44.0</a></td>
   <td align="right">306kB</td>
   <td><tt>142a9f3ea339ef70c604f41b36eabf24268f5980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/frameworkintegration-5.44.0.tar.xz">frameworkintegration-5.44.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d3794d268e471012d31b9700c1b6496357eb15c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kactivities-5.44.0.tar.xz">kactivities-5.44.0</a></td>
   <td align="right">59kB</td>
   <td><tt>3e6409ef3e323ca31d37c8e27b0f43c57e256e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kactivities-stats-5.44.0.tar.xz">kactivities-stats-5.44.0</a></td>
   <td align="right">59kB</td>
   <td><tt>54809e07675605a69c4c8a0e212e8052c8c5d83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kapidox-5.44.0.tar.xz">kapidox-5.44.0</a></td>
   <td align="right">386kB</td>
   <td><tt>b9e8e83125c996e2287251bb7e4dd7ebad330277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/karchive-5.44.0.tar.xz">karchive-5.44.0</a></td>
   <td align="right">110kB</td>
   <td><tt>bcc26e1a85133458313247633d3fffe1eda33edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kauth-5.44.0.tar.xz">kauth-5.44.0</a></td>
   <td align="right">82kB</td>
   <td><tt>3802c78e79e621fc2afe82e86bf3f8f951dad959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kbookmarks-5.44.0.tar.xz">kbookmarks-5.44.0</a></td>
   <td align="right">115kB</td>
   <td><tt>b3278e3144730b5e287c78071c067d5ab3ad4286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kcmutils-5.44.0.tar.xz">kcmutils-5.44.0</a></td>
   <td align="right">231kB</td>
   <td><tt>d3f9e28bd22cce02821f44333fda4dcfa9c4dff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kcodecs-5.44.0.tar.xz">kcodecs-5.44.0</a></td>
   <td align="right">214kB</td>
   <td><tt>48fff24daec0e5fd17149a115f4bbf1e186f1007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kcompletion-5.44.0.tar.xz">kcompletion-5.44.0</a></td>
   <td align="right">116kB</td>
   <td><tt>4636347ccc49c564f9856a55d557d21b0486021e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kconfig-5.44.0.tar.xz">kconfig-5.44.0</a></td>
   <td align="right">230kB</td>
   <td><tt>eb0b58cc227cb3fc4ca2b34ada2294009a10f068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kconfigwidgets-5.44.0.tar.xz">kconfigwidgets-5.44.0</a></td>
   <td align="right">366kB</td>
   <td><tt>310bc4c8eb4215c8d8073d0dac58fe22b36eaea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kcoreaddons-5.44.0.tar.xz">kcoreaddons-5.44.0</a></td>
   <td align="right">343kB</td>
   <td><tt>ecd46b51e2d7feb28ee4be5b9c032e3a84da34d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kcrash-5.44.0.tar.xz">kcrash-5.44.0</a></td>
   <td align="right">21kB</td>
   <td><tt>5e150b200c6203002532edf23324074d59a096be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdbusaddons-5.44.0.tar.xz">kdbusaddons-5.44.0</a></td>
   <td align="right">36kB</td>
   <td><tt>e49a3954a17d43190f85145efefa14a9fc81ea93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdeclarative-5.44.0.tar.xz">kdeclarative-5.44.0</a></td>
   <td align="right">166kB</td>
   <td><tt>b7e48c3ad44b4bc134916c0b16c0befad97ba839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kded-5.44.0.tar.xz">kded-5.44.0</a></td>
   <td align="right">36kB</td>
   <td><tt>4e1db7fc237b1eb61eb58571466abfcd6f18d24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdesignerplugin-5.44.0.tar.xz">kdesignerplugin-5.44.0</a></td>
   <td align="right">88kB</td>
   <td><tt>3c9fe5a2d8304e0fa148d58156a8fcebc7e1a833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdesu-5.44.0.tar.xz">kdesu-5.44.0</a></td>
   <td align="right">43kB</td>
   <td><tt>73103e859b0bc3ee079d206370320ae09af7dd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdewebkit-5.44.0.tar.xz">kdewebkit-5.44.0</a></td>
   <td align="right">28kB</td>
   <td><tt>5fc7808ed04c82a315a78b4a6a83b6b2c04a4b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdnssd-5.44.0.tar.xz">kdnssd-5.44.0</a></td>
   <td align="right">55kB</td>
   <td><tt>97ead90f3d9a10ef2ba1fef95924efc3853d689f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kdoctools-5.44.0.tar.xz">kdoctools-5.44.0</a></td>
   <td align="right">412kB</td>
   <td><tt>d241583dec1776dd4dfa6b4770d46ba30b323108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kemoticons-5.44.0.tar.xz">kemoticons-5.44.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5e131f8afbddc3b02e2e105282836e151deb492d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kfilemetadata-5.44.0.tar.xz">kfilemetadata-5.44.0</a></td>
   <td align="right">214kB</td>
   <td><tt>27bcaed7877bd31abed1619ae43241c08b958b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kglobalaccel-5.44.0.tar.xz">kglobalaccel-5.44.0</a></td>
   <td align="right">81kB</td>
   <td><tt>7c94835fadfeba9a26bad54c1a79c137d166f257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kguiaddons-5.44.0.tar.xz">kguiaddons-5.44.0</a></td>
   <td align="right">39kB</td>
   <td><tt>c71139a1d2bc3cd32bad0e8924b747ef2cb3d988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kholidays-5.44.0.tar.xz">kholidays-5.44.0</a></td>
   <td align="right">192kB</td>
   <td><tt>d470b69a13415e8019eebdb6411786b045ee7478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/ki18n-5.44.0.tar.xz">ki18n-5.44.0</a></td>
   <td align="right">573kB</td>
   <td><tt>ad6fccd8d53d679a51dd1c74e5dcbc6c940844b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kiconthemes-5.44.0.tar.xz">kiconthemes-5.44.0</a></td>
   <td align="right">200kB</td>
   <td><tt>724238ae04c5912888dd4fb129197845f4c4b56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kidletime-5.44.0.tar.xz">kidletime-5.44.0</a></td>
   <td align="right">25kB</td>
   <td><tt>d8fc014b3d8d581e39f9bf6676038bd89dd456d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kimageformats-5.44.0.tar.xz">kimageformats-5.44.0</a></td>
   <td align="right">200kB</td>
   <td><tt>390d7fb567c8c6556b0a129f100ae52e8a61b564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kinit-5.44.0.tar.xz">kinit-5.44.0</a></td>
   <td align="right">117kB</td>
   <td><tt>2a0c7c5985dbe2e260ebeabfd90b653404ed05b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kio-5.44.0.tar.xz">kio-5.44.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>272c7fce9fbcc895204b8eeb3e75d6261d47d5fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kirigami2-5.44.0.tar.xz">kirigami2-5.44.0</a></td>
   <td align="right">294kB</td>
   <td><tt>17ccaae4a20fe9d624aee3a9807899fa601b4280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kitemmodels-5.44.0.tar.xz">kitemmodels-5.44.0</a></td>
   <td align="right">380kB</td>
   <td><tt>5c1037570f713f40df79e0f42e1fceb7db34ea55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kitemviews-5.44.0.tar.xz">kitemviews-5.44.0</a></td>
   <td align="right">73kB</td>
   <td><tt>19231e6f77804e6e6cdb8b5726b6f270cdee3bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kjobwidgets-5.44.0.tar.xz">kjobwidgets-5.44.0</a></td>
   <td align="right">85kB</td>
   <td><tt>6c4d1d76505ce52fe0ab3feec8daa02c5d5716d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/knewstuff-5.44.0.tar.xz">knewstuff-5.44.0</a></td>
   <td align="right">975kB</td>
   <td><tt>1a4578d137417a03eebab7adfa0e76efc0075c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/knotifications-5.44.0.tar.xz">knotifications-5.44.0</a></td>
   <td align="right">98kB</td>
   <td><tt>a83156a6c7c16500286e89f7b3249b7a957b4f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/knotifyconfig-5.44.0.tar.xz">knotifyconfig-5.44.0</a></td>
   <td align="right">81kB</td>
   <td><tt>10d8c3d7b0f94479374d9b7fb7850d1dbb59407f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kpackage-5.44.0.tar.xz">kpackage-5.44.0</a></td>
   <td align="right">128kB</td>
   <td><tt>fb7988275c01a549728a3503c9d8da3b933457b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kparts-5.44.0.tar.xz">kparts-5.44.0</a></td>
   <td align="right">171kB</td>
   <td><tt>f6c84ca895c42886f9a8da60433f817a8920f74c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kpeople-5.44.0.tar.xz">kpeople-5.44.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0e0b9f95484f59709b337503c4aa8a426ada52ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kplotting-5.44.0.tar.xz">kplotting-5.44.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4a3e03dc34e2c1830199d080436c7dcb6712ded3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kpty-5.44.0.tar.xz">kpty-5.44.0</a></td>
   <td align="right">56kB</td>
   <td><tt>283666f755f029754094a41390c0aff83413d08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/krunner-5.44.0.tar.xz">krunner-5.44.0</a></td>
   <td align="right">58kB</td>
   <td><tt>e849f6648cca9f21be7890693a46302e909eee9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kservice-5.44.0.tar.xz">kservice-5.44.0</a></td>
   <td align="right">244kB</td>
   <td><tt>5d3eb1085080bba7f2dd5d2afcc9ce60bd213e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/ktexteditor-5.44.0.tar.xz">ktexteditor-5.44.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e268200bf2ff018a5c30edd311ab582812444887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/ktextwidgets-5.44.0.tar.xz">ktextwidgets-5.44.0</a></td>
   <td align="right">301kB</td>
   <td><tt>ad179d3a4e8463e12681edad3ceaa269e56cafc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kunitconversion-5.44.0.tar.xz">kunitconversion-5.44.0</a></td>
   <td align="right">753kB</td>
   <td><tt>aaed07931cd961f4003b8f552914e5a372fed2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kwallet-5.44.0.tar.xz">kwallet-5.44.0</a></td>
   <td align="right">299kB</td>
   <td><tt>16cd60732a8842d0082b2d81cb885635ed6e80f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kwayland-5.44.0.tar.xz">kwayland-5.44.0</a></td>
   <td align="right">291kB</td>
   <td><tt>f39aab220c82257514430671d709df275ce0e597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kwidgetsaddons-5.44.0.tar.xz">kwidgetsaddons-5.44.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2164ded42c524e44c8adc5c2108ccea416e62944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kwindowsystem-5.44.0.tar.xz">kwindowsystem-5.44.0</a></td>
   <td align="right">165kB</td>
   <td><tt>d325f156dfd2aeea1cddfb2f72e974ea26058bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kxmlgui-5.44.0.tar.xz">kxmlgui-5.44.0</a></td>
   <td align="right">863kB</td>
   <td><tt>b4a924592ba9eb43677fccfd99c584aeb048dac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/kxmlrpcclient-5.44.0.tar.xz">kxmlrpcclient-5.44.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a9e486c40ec6420315b28005d24c6e49e4d79014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/modemmanager-qt-5.44.0.tar.xz">modemmanager-qt-5.44.0</a></td>
   <td align="right">95kB</td>
   <td><tt>7fd3dafcb06b5b8fa45921537e26cdc09273a02d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/networkmanager-qt-5.44.0.tar.xz">networkmanager-qt-5.44.0</a></td>
   <td align="right">159kB</td>
   <td><tt>640ca9863e94bd0ffcc4a027cc781017bbf29430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/oxygen-icons5-5.44.0.tar.xz">oxygen-icons5-5.44.0</a></td>
   <td align="right">223MB</td>
   <td><tt>66353ae7555acf680b46666e720aac3e282ddc8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/plasma-framework-5.44.0.tar.xz">plasma-framework-5.44.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>8e55aa97e26639c66c96b91254211e0d9753ef54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/prison-5.44.0.tar.xz">prison-5.44.0</a></td>
   <td align="right">38kB</td>
   <td><tt>4812c3d574c8a495c80d3fd4921b0cbf3f7acef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/purpose-5.44.0.tar.xz">purpose-5.44.0</a></td>
   <td align="right">115kB</td>
   <td><tt>27417b6e9b44fbcd2589b6f8165c663cced03a05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/qqc2-desktop-style-5.44.0.tar.xz">qqc2-desktop-style-5.44.0</a></td>
   <td align="right">37kB</td>
   <td><tt>ce4ee4a2731d5993948999b77cc7da3a5707e17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/solid-5.44.0.tar.xz">solid-5.44.0</a></td>
   <td align="right">250kB</td>
   <td><tt>bc607acef63b942580f1f6fb3c83e3e5406a858a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/sonnet-5.44.0.tar.xz">sonnet-5.44.0</a></td>
   <td align="right">278kB</td>
   <td><tt>b5881b29b419143546607d2c7aaeee1960368e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/syntax-highlighting-5.44.0.tar.xz">syntax-highlighting-5.44.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b11c502b0b141c946c08e0a720d57c6142b7277b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.44/threadweaver-5.44.0.tar.xz">threadweaver-5.44.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>fa1815199393fce504008473ac0e70ae7a6f1677</tt></td>
</tr>

</table>
