<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-24.01.80.tar.xz">akonadi-24.01.80</a></td>
   <td align="right">1620kB</td>
   <td><tt>19da79f8dd27dcb1ee0007cac6a606f3d85463c0dd0de42273532070ea33f3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-calendar-24.01.80.tar.xz">akonadi-calendar-24.01.80</a></td>
   <td align="right">475kB</td>
   <td><tt>1462245237092e81d10893ee8fb667d9ac63cd7db820ec0c8ebdaa427659f76b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-calendar-tools-24.01.80.tar.xz">akonadi-calendar-tools-24.01.80</a></td>
   <td align="right">253kB</td>
   <td><tt>ee7a2f0173e602d7b2ae5e0d9309ffad1377a6eb17656bd5a77129c730a45d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadiconsole-24.01.80.tar.xz">akonadiconsole-24.01.80</a></td>
   <td align="right">280kB</td>
   <td><tt>b0163103f22ac5c8d4800cc4c6aa1b1b964838ef657aad4bec6f0be4863c3645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-contacts-24.01.80.tar.xz">akonadi-contacts-24.01.80</a></td>
   <td align="right">415kB</td>
   <td><tt>1e49b3ea193b9e24da7efa30658a91cb169fabfb845bdd0d95816a7b327d7b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-import-wizard-24.01.80.tar.xz">akonadi-import-wizard-24.01.80</a></td>
   <td align="right">504kB</td>
   <td><tt>d69a7b4ea8c8b50093a42b7afe7ced5c39fbb9a4982afd0e672acd9eb09837ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-mime-24.01.80.tar.xz">akonadi-mime-24.01.80</a></td>
   <td align="right">163kB</td>
   <td><tt>eee60e0d2b4d4277febfbadbe5c9fe861672a6b3afce3145e319b9213d9907ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-notes-24.01.80.tar.xz">akonadi-notes-24.01.80</a></td>
   <td align="right">27kB</td>
   <td><tt>34426a620a62c57d3750f4c41e2e5311890d695a37dfa4fb13ad15cbd35f73a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akonadi-search-24.01.80.tar.xz">akonadi-search-24.01.80</a></td>
   <td align="right">107kB</td>
   <td><tt>bddb38ae8bf6db95faa054b7a191b85aedecd7e18dc62d4fc9396b2e52dc3232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/akregator-24.01.80.tar.xz">akregator-24.01.80</a></td>
   <td align="right">2268kB</td>
   <td><tt>429ac9be92101855271d90de0a589969999c11cfebaa04ca3091e418ab3d052a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/alligator-24.01.80.tar.xz">alligator-24.01.80</a></td>
   <td align="right">186kB</td>
   <td><tt>1597e73729ff04cf55779ddca26f70b9d25ee695803549e1c0ac4aaedadfb60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/analitza-24.01.80.tar.xz">analitza-24.01.80</a></td>
   <td align="right">350kB</td>
   <td><tt>6b9b479c1c2fcf262d9864a5cbad07e19e4a71b425ba75e6e6273f05aae50b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/angelfish-24.01.80.tar.xz">angelfish-24.01.80</a></td>
   <td align="right">256kB</td>
   <td><tt>a88a17c8c1f35b08d8a194437b791f8cd894f8905d6a5468e8c15bdd639bf1a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/arianna-24.01.80.tar.xz">arianna-24.01.80</a></td>
   <td align="right">795kB</td>
   <td><tt>19a1336785364bbdaa2f3b0931798219a12a89215d45d47aa1a4e7b7c893037d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ark-24.01.80.tar.xz">ark-24.01.80</a></td>
   <td align="right">2950kB</td>
   <td><tt>0d7481b15c79268a4e5eb61b7ef44f0ba7932bbdfa0a4b6bf664ee4b0e852370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/artikulate-24.01.80.tar.xz">artikulate-24.01.80</a></td>
   <td align="right">1068kB</td>
   <td><tt>7228ac516fb2188aa42ec8351f24ad3c1af503e64b13f620f3942cd165d45f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/audiocd-kio-24.01.80.tar.xz">audiocd-kio-24.01.80</a></td>
   <td align="right">555kB</td>
   <td><tt>f7bdb7eb1e7647f099221ca8b279348e274538ae8759446f9f44e6f2727ce9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/audiotube-24.01.80.tar.xz">audiotube-24.01.80</a></td>
   <td align="right">144kB</td>
   <td><tt>332ad9013a6b7d26ab5e0f2ab3dc47755d44801d69d2aceb0febb5f8ccfd3e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/baloo-widgets-24.01.80.tar.xz">baloo-widgets-24.01.80</a></td>
   <td align="right">270kB</td>
   <td><tt>c48c6f24ae0f6088abf58251f4fbcd4afeca019d8ce4c48b7145e032c053c2fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/blinken-24.01.80.tar.xz">blinken-24.01.80</a></td>
   <td align="right">2661kB</td>
   <td><tt>8006a61c3a9313ff519cbb58121306fb565754c4387befcf776e97bcce639cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/bomber-24.01.80.tar.xz">bomber-24.01.80</a></td>
   <td align="right">819kB</td>
   <td><tt>12943982d3f52251f0cdd889c500ccdd7bd351f517b829759e51720570e449b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/bovo-24.01.80.tar.xz">bovo-24.01.80</a></td>
   <td align="right">210kB</td>
   <td><tt>9e02cb27bc0d20c8a6c5e267c99f7a072b92b3f78dba20ab36dc3bb0880ce798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/calendarsupport-24.01.80.tar.xz">calendarsupport-24.01.80</a></td>
   <td align="right">974kB</td>
   <td><tt>7f6cbec5a4ff5979713698ec63018b730f49296701d0ee1d1835b2f93d849b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/calindori-24.01.80.tar.xz">calindori-24.01.80</a></td>
   <td align="right">376kB</td>
   <td><tt>f5acc46632c66842dd39716fdd040cbd7e427756a877c58034529a912c476f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/cantor-24.01.80.tar.xz">cantor-24.01.80</a></td>
   <td align="right">9072kB</td>
   <td><tt>0fe220bcd09befcbcbb04f867743d9f16e46313d18732e1fe12cdfdb61703cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/cervisia-24.01.80.tar.xz">cervisia-24.01.80</a></td>
   <td align="right">1902kB</td>
   <td><tt>32e402d8319fd08136722f33d93bcf0738380b46355bdcb21fea94b213bb0b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/colord-kde-24.01.80.tar.xz">colord-kde-24.01.80</a></td>
   <td align="right">106kB</td>
   <td><tt>76c46f0352e0be8e6d8627381df90c696c7b110034c42efabfd11456cee5bbf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/dolphin-24.01.80.tar.xz">dolphin-24.01.80</a></td>
   <td align="right">5662kB</td>
   <td><tt>ab3c31fd7cf04b467473d68da5d8b13d2c9d646011e39adf0200df7147c8677e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/dolphin-plugins-24.01.80.tar.xz">dolphin-plugins-24.01.80</a></td>
   <td align="right">283kB</td>
   <td><tt>6e174267215ea72cc072c6f26d8b4f3fa2c58b8f3521c1adc7ebde24393a4b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/dragon-24.01.80.tar.xz">dragon-24.01.80</a></td>
   <td align="right">1631kB</td>
   <td><tt>fac1de089c7c2c43d88f105a82d161daaad85ca127db1faf8549e99c647698cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/elisa-24.01.80.tar.xz">elisa-24.01.80</a></td>
   <td align="right">1785kB</td>
   <td><tt>2b5e9bf25cd47c8021883a041847f9982873ecb2093056ee718102726c20e1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/eventviews-24.01.80.tar.xz">eventviews-24.01.80</a></td>
   <td align="right">462kB</td>
   <td><tt>93744337818ece52a6a19b3e727a2d3edc37a1d2afaddf64de06d4203273676a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/falkon-24.01.80.tar.xz">falkon-24.01.80</a></td>
   <td align="right">2528kB</td>
   <td><tt>796f212194549eabb3eb774b25bf18fc483ed5075c1a899645675f5070c44a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ffmpegthumbs-24.01.80.tar.xz">ffmpegthumbs-24.01.80</a></td>
   <td align="right">32kB</td>
   <td><tt>ef4db6622b44408dfc2ae5c266245726114cf8249a964558f02585464a992ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/filelight-24.01.80.tar.xz">filelight-24.01.80</a></td>
   <td align="right">686kB</td>
   <td><tt>b367b232aa5830b5ced1c4ccc956fab19e5dee9c754c10b7b4833858b5eb74b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ghostwriter-24.01.80.tar.xz">ghostwriter-24.01.80</a></td>
   <td align="right">3540kB</td>
   <td><tt>1c54c6ea32fd78acd4138845c190cbcb6930ea6b2faafdd3a8e7d7d8b6ba13a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/granatier-24.01.80.tar.xz">granatier-24.01.80</a></td>
   <td align="right">2063kB</td>
   <td><tt>952bfd588c20d88438fd5303965e2d69b13e7defc20e4b5527dc5fab45d30fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/grantlee-editor-24.01.80.tar.xz">grantlee-editor-24.01.80</a></td>
   <td align="right">116kB</td>
   <td><tt>72e920627f1cf37f2df43bbf11013ce504d5745dabd4bff84df9b323356dac52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/grantleetheme-24.01.80.tar.xz">grantleetheme-24.01.80</a></td>
   <td align="right">60kB</td>
   <td><tt>ec174e4863a3e5dff3ebe4d29f12c7aabd49b4f707e7a160c952f725c73414ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/gwenview-24.01.80.tar.xz">gwenview-24.01.80</a></td>
   <td align="right">6753kB</td>
   <td><tt>eaa9fe14452d860beb73f74a2930f63e5443615a6757c0f93cdb0243323f226e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/incidenceeditor-24.01.80.tar.xz">incidenceeditor-24.01.80</a></td>
   <td align="right">569kB</td>
   <td><tt>7497eaa42b37271f4dacbd983c0c93c2b5fcb25e56d391842e138c14bfa068d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/isoimagewriter-24.01.80.tar.xz">isoimagewriter-24.01.80</a></td>
   <td align="right">446kB</td>
   <td><tt>3fc75be42e8c612bdf0650169dc23a18fb63c861932389b249a7d49d7cdb6c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/itinerary-24.01.80.tar.xz">itinerary-24.01.80</a></td>
   <td align="right">658kB</td>
   <td><tt>19f87961a32b44fd603dd895e598a3053a5ecdd90403cc63521db44b70ef27fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/juk-24.01.80.tar.xz">juk-24.01.80</a></td>
   <td align="right">2032kB</td>
   <td><tt>22099d3b4e109fe144ee689ccf279e70853631713d9fb287814b6344f1c31394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/k3b-24.01.80.tar.xz">k3b-24.01.80</a></td>
   <td align="right">10710kB</td>
   <td><tt>0f6d42ff70e07e27f20231d16f75cca6e06dc718b9987b9c93d1edc34bce5457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kaccounts-integration-24.01.80.tar.xz">kaccounts-integration-24.01.80</a></td>
   <td align="right">87kB</td>
   <td><tt>454189f107a9c695b31e94d1d24d895864cdad12cccc4484032d9573e3a8ec62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kaccounts-providers-24.01.80.tar.xz">kaccounts-providers-24.01.80</a></td>
   <td align="right">64kB</td>
   <td><tt>768d3feac99b8c0e25c2e82277fa783737b7ad614a74fce55a03537099305ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kaddressbook-24.01.80.tar.xz">kaddressbook-24.01.80</a></td>
   <td align="right">3377kB</td>
   <td><tt>1b74c728b96b53bb5c3832e02a4b836d23e377e3745e1c20b305abb411bdfd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kajongg-24.01.80.tar.xz">kajongg-24.01.80</a></td>
   <td align="right">4482kB</td>
   <td><tt>f5548bae3a16b15e3f4f26b67ca60e44225937751ac140a121ec87431c177e62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kalarm-24.01.80.tar.xz">kalarm-24.01.80</a></td>
   <td align="right">2564kB</td>
   <td><tt>7cf673560b85e6bd074becebfd3dec6bc3fffba1a504bb5923923a09aaa8f0e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kalgebra-24.01.80.tar.xz">kalgebra-24.01.80</a></td>
   <td align="right">1020kB</td>
   <td><tt>4e19445c90469d190debdd10b1bf00b5d42a5688f3e9db29ee0d392c2cc9ccc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kalk-24.01.80.tar.xz">kalk-24.01.80</a></td>
   <td align="right">66kB</td>
   <td><tt>d6f8fb8793a696e14eef47594cb6a93deb7fe22c47b9a7caed07c33e245c9877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kalzium-24.01.80.tar.xz">kalzium-24.01.80</a></td>
   <td align="right">24062kB</td>
   <td><tt>9e19191111bd80f7789ff8ca0729cc0240ad082c36f34fe54af3ae796af4e3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kamera-24.01.80.tar.xz">kamera-24.01.80</a></td>
   <td align="right">127kB</td>
   <td><tt>f242773aebe97dac9dae8f4cb6a0d61411ae280bd65a85c72e7f9b455f760bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kamoso-24.01.80.tar.xz">kamoso-24.01.80</a></td>
   <td align="right">195kB</td>
   <td><tt>694d95c78bd49cfcdd29846bd72843a0b2adae6d97c8bfc5941c686d0edbc9f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kanagram-24.01.80.tar.xz">kanagram-24.01.80</a></td>
   <td align="right">7878kB</td>
   <td><tt>fbf8515fa2dbee7e57d393571bf6fb0d23dea5b31476c1703f501e37dacbffca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kapman-24.01.80.tar.xz">kapman-24.01.80</a></td>
   <td align="right">2140kB</td>
   <td><tt>e18f4ddb8ce8ac8c5e4dc96a32e98c6e4ea99f344d6f680e65d31238342cf96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kapptemplate-24.01.80.tar.xz">kapptemplate-24.01.80</a></td>
   <td align="right">331kB</td>
   <td><tt>3b0c0dc0e89248a8e2ae4bc9a55893837f553de8a6a572833cd0c84e18e0d04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kasts-24.01.80.tar.xz">kasts-24.01.80</a></td>
   <td align="right">563kB</td>
   <td><tt>54cef5bfb2931a2142c1040cf28805054fa085d551581c7adcb3157fd988d6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kate-24.01.80.tar.xz">kate-24.01.80</a></td>
   <td align="right">8060kB</td>
   <td><tt>a57521edc3c229b951dbda474247b90dc730516b10a3e03407c9f0127183f7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/katomic-24.01.80.tar.xz">katomic-24.01.80</a></td>
   <td align="right">1417kB</td>
   <td><tt>41ba869690e988c2d422a8b0d4fbbbf8ec26e6b8a7a8fc1826d7c0d04e170ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kbackup-24.01.80.tar.xz">kbackup-24.01.80</a></td>
   <td align="right">397kB</td>
   <td><tt>7ccf9a1ff724dc7def7d000f65d92bb97fbd4831a8b2554956bc973421fcf920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kblackbox-24.01.80.tar.xz">kblackbox-24.01.80</a></td>
   <td align="right">542kB</td>
   <td><tt>aa11b3e0cdc61fd3a5c12de4769200b339ebad8f4cfc7760e8117f52f366e60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kblocks-24.01.80.tar.xz">kblocks-24.01.80</a></td>
   <td align="right">2058kB</td>
   <td><tt>3d661ef8fbbc3ad08cb873ffac40a76305618806d93a9a794ce925d5d1bab594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kbounce-24.01.80.tar.xz">kbounce-24.01.80</a></td>
   <td align="right">3464kB</td>
   <td><tt>ab99aef3862b761bab03e007cca0131c4873b92d59dd5d0a1e607961ba2e523b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kbreakout-24.01.80.tar.xz">kbreakout-24.01.80</a></td>
   <td align="right">2500kB</td>
   <td><tt>6d962d9d865e39360f709152a40981efec6ff7f553f150ca3d4f475f04754605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kbruch-24.01.80.tar.xz">kbruch-24.01.80</a></td>
   <td align="right">5529kB</td>
   <td><tt>3396fe2b1fae3c29973a1366c526199194babe360ef880a4bf273a9c601f77de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcachegrind-24.01.80.tar.xz">kcachegrind-24.01.80</a></td>
   <td align="right">914kB</td>
   <td><tt>ad3327cbcf9073c5458caee6cfe6c57b1207154a7f027b691ac3c482daf08db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcalc-24.01.80.tar.xz">kcalc-24.01.80</a></td>
   <td align="right">433kB</td>
   <td><tt>dbb9d1f39ae53256461d9661b4e8b685184f398cb45ce4a87b0191ed7724d4bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcalutils-24.01.80.tar.xz">kcalutils-24.01.80</a></td>
   <td align="right">346kB</td>
   <td><tt>204ff54f2ca4ce7143fc1aeefde69ff2b2f115229b326b22b5ddb9f6d62249fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcharselect-24.01.80.tar.xz">kcharselect-24.01.80</a></td>
   <td align="right">376kB</td>
   <td><tt>13de78860f33331edf8e2728745eb28effbd1845334089c961c5ae9ecdede30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kclock-24.01.80.tar.xz">kclock-24.01.80</a></td>
   <td align="right">630kB</td>
   <td><tt>644f8ed3f9947133e01ce9114872dd94e34ee5a84544b2786ebb3319062825b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcolorchooser-24.01.80.tar.xz">kcolorchooser-24.01.80</a></td>
   <td align="right">33kB</td>
   <td><tt>639a15c53e62a1ad8890bdeb104ecf36ee60a97ff947c64eecbb9ac6d8ebb8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kcron-24.01.80.tar.xz">kcron-24.01.80</a></td>
   <td align="right">920kB</td>
   <td><tt>bd25471e1d342b99d0a57ff849158f020084c3175b9429233854ce310c1d2c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdebugsettings-24.01.80.tar.xz">kdebugsettings-24.01.80</a></td>
   <td align="right">106kB</td>
   <td><tt>434c1991e60c231b45025f1b05b38ae53527d7a586219b33aaaa0c84e4471440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdeconnect-kde-24.01.80.tar.xz">kdeconnect-kde-24.01.80</a></td>
   <td align="right">654kB</td>
   <td><tt>11636cfe61ba55eaf4029bdf5f42a63f5e995469561c656a1103209721564539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kde-dev-scripts-24.01.80.tar.xz">kde-dev-scripts-24.01.80</a></td>
   <td align="right">363kB</td>
   <td><tt>a949bd486b4031e2e7839db15049435660762dc5bcbfe4fb3561381f9970924d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kde-dev-utils-24.01.80.tar.xz">kde-dev-utils-24.01.80</a></td>
   <td align="right">72kB</td>
   <td><tt>ef66d451499e633dbdb9d5342cf2accd9f431b88af7889a4c206c3a6762f5580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdeedu-data-24.01.80.tar.xz">kdeedu-data-24.01.80</a></td>
   <td align="right">325kB</td>
   <td><tt>d3ddafb61489c769295a5c7dd2cc78e0625cd97143f3b6ae60bf77e81cc4f7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdegraphics-mobipocket-24.01.80.tar.xz">kdegraphics-mobipocket-24.01.80</a></td>
   <td align="right">12kB</td>
   <td><tt>12521e25590288041e01daf48badb22448bb1bb944cca783e2a3ceab0d64ae16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdegraphics-thumbnailers-24.01.80.tar.xz">kdegraphics-thumbnailers-24.01.80</a></td>
   <td align="right">48kB</td>
   <td><tt>c1ecb2db47b473bb7287007ad9ff17cbee0d0c093cb481dce55791a501379f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kde-inotify-survey-24.01.80.tar.xz">kde-inotify-survey-24.01.80</a></td>
   <td align="right">224kB</td>
   <td><tt>5ba92af7ba479f0cac211ad4035af06b673943d2be8b929d7b80a2a5c60ac131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdenetwork-filesharing-24.01.80.tar.xz">kdenetwork-filesharing-24.01.80</a></td>
   <td align="right">470kB</td>
   <td><tt>f25a0318a11ee457ceecf7fa6a214a34d633b1a114e76e0aeada719653cf7518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdenlive-24.01.80.tar.xz">kdenlive-24.01.80</a></td>
   <td align="right">12476kB</td>
   <td><tt>b3fabef81a72995a29f127fe9c28abe85eb829a8cfad8431c4ac4a73d8fe47ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdepim-addons-24.01.80.tar.xz">kdepim-addons-24.01.80</a></td>
   <td align="right">2578kB</td>
   <td><tt>e1887007263000c2c9de7a269bebd56536900f923c8fc226e8272404b3546b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdepim-runtime-24.01.80.tar.xz">kdepim-runtime-24.01.80</a></td>
   <td align="right">1630kB</td>
   <td><tt>4d1426186e1dd020f060cd0db4c5438479336e728ce959a1b88037c5a1d9fb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdesdk-kio-24.01.80.tar.xz">kdesdk-kio-24.01.80</a></td>
   <td align="right">39kB</td>
   <td><tt>5c1330ded9a47bf80d5b167550e19f2718e900158a479eacb2d25df72ea77d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdesdk-thumbnailers-24.01.80.tar.xz">kdesdk-thumbnailers-24.01.80</a></td>
   <td align="right">26kB</td>
   <td><tt>cdbb2197c6832da59d29ad2b499f97e3e462bd50a2a3b00a2415998c085bd63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdevelop-24.01.80.tar.xz">kdevelop-24.01.80</a></td>
   <td align="right">8544kB</td>
   <td><tt>fc523d8165171e746e1f34a493675f498820a78a6fb056a78a7ad786aa5f2bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdev-php-24.01.80.tar.xz">kdev-php-24.01.80</a></td>
   <td align="right">1064kB</td>
   <td><tt>eb8deb3113fadf0e77a422a870cc50edf9fc8877d49a8afe5e3ddff0ae5ff2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdev-python-24.01.80.tar.xz">kdev-python-24.01.80</a></td>
   <td align="right">1072kB</td>
   <td><tt>41b4c28d1ca3162bca405a5291a0762a2436847dc076de35316b33b2fe6bb97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdf-24.01.80.tar.xz">kdf-24.01.80</a></td>
   <td align="right">482kB</td>
   <td><tt>4e997b3f1170cad04c8010daa9156065e38439fc0d1a1c71a9622e7900884539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdialog-24.01.80.tar.xz">kdialog-24.01.80</a></td>
   <td align="right">140kB</td>
   <td><tt>0ede0570dac89acd0a2c298cf25416942018add72b5f2b98f62d02d671fc5324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kdiamond-24.01.80.tar.xz">kdiamond-24.01.80</a></td>
   <td align="right">4598kB</td>
   <td><tt>1a00812464606963227df20cc84ce4a30c1030c0a57486de6764733633ecd280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/keditbookmarks-24.01.80.tar.xz">keditbookmarks-24.01.80</a></td>
   <td align="right">238kB</td>
   <td><tt>a64c3648189d7a79b069d413081739ec0d9b24df5996ba6a890f4cf910b2d900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/keysmith-24.01.80.tar.xz">keysmith-24.01.80</a></td>
   <td align="right">164kB</td>
   <td><tt>cfc6810a89ec4deb6789fef1126df69e6f25c37ba23092c0ba9629a659b93e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kfind-24.01.80.tar.xz">kfind-24.01.80</a></td>
   <td align="right">314kB</td>
   <td><tt>3109de88d0767bc5fcf99c5de592306c93f7ae753b9ff62a137cb01ca7c3e6fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kfourinline-24.01.80.tar.xz">kfourinline-24.01.80</a></td>
   <td align="right">721kB</td>
   <td><tt>2eda5a54d2822ce4ad62d42efbe5a4f9a54b298637265af3bb873619aa9b2113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kgeography-24.01.80.tar.xz">kgeography-24.01.80</a></td>
   <td align="right">12315kB</td>
   <td><tt>10f5817a30b87ae2eb03578eb066d291a773b1af9306750114ef8434f46e7fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kget-24.01.80.tar.xz">kget-24.01.80</a></td>
   <td align="right">5433kB</td>
   <td><tt>7fc93da740128771ba03daef31c053be12f45952f6bbad1ac4d3c319c7777b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kgoldrunner-24.01.80.tar.xz">kgoldrunner-24.01.80</a></td>
   <td align="right">4257kB</td>
   <td><tt>c12a81571b98e79949f1f26a5df22f8341603db4f2168dc36e1cac1b19e8f503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kgpg-24.01.80.tar.xz">kgpg-24.01.80</a></td>
   <td align="right">2981kB</td>
   <td><tt>9b8d31daf127e6af1ad6ae25876f7665eed12cba8f474da4ba2f53adb0a61f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/khangman-24.01.80.tar.xz">khangman-24.01.80</a></td>
   <td align="right">7267kB</td>
   <td><tt>4a21bc11fc8dff3ca8beec01159dd545aeb4dde07f243a2c49d8f277c28a39e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/khealthcertificate-24.01.80.tar.xz">khealthcertificate-24.01.80</a></td>
   <td align="right">502kB</td>
   <td><tt>d0a60c7048a37ac8c939530c25e61da77755ebe0fb86af486d0c9ec6611c0c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/khelpcenter-24.01.80.tar.xz">khelpcenter-24.01.80</a></td>
   <td align="right">4282kB</td>
   <td><tt>a7115dcf37cbf9af81708601dd4d210a4ab19504637e722a8f86ab2c9b218fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kidentitymanagement-24.01.80.tar.xz">kidentitymanagement-24.01.80</a></td>
   <td align="right">176kB</td>
   <td><tt>024c3c24549bc5b1504030724551d1ce126a163abae88bcb042cc99c8fbeb4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kig-24.01.80.tar.xz">kig-24.01.80</a></td>
   <td align="right">3220kB</td>
   <td><tt>fcbb4a918818d810e041db1bbe8f9ea2a82dc9044a6b8a7b3168e587571c647c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kigo-24.01.80.tar.xz">kigo-24.01.80</a></td>
   <td align="right">5036kB</td>
   <td><tt>f54f2837d8a10a173badb0d0183868f87c5b55f76b33f9dd7339a8e42b0bdc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/killbots-24.01.80.tar.xz">killbots-24.01.80</a></td>
   <td align="right">1177kB</td>
   <td><tt>b0e54621314c857b3752c4e8ce587e87d40ba7d5042844f0aaefe008944a4a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kimagemapeditor-24.01.80.tar.xz">kimagemapeditor-24.01.80</a></td>
   <td align="right">1080kB</td>
   <td><tt>ec1c63589a2eba89e3ed8037cbfe861b31f5864f46ac29b7b2ee5406e213a2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kimap-24.01.80.tar.xz">kimap-24.01.80</a></td>
   <td align="right">127kB</td>
   <td><tt>1b8a980d8834b72d5d6abf31d24b08c53acbe4957199432a8325532c39729984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kio-admin-24.01.80.tar.xz">kio-admin-24.01.80</a></td>
   <td align="right">34kB</td>
   <td><tt>b551a9af77c8ed46ba58060335f9dbfd3626030c512beaf244332a3f5fa9bad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kio-extras-24.01.80.tar.xz">kio-extras-24.01.80</a></td>
   <td align="right">3500kB</td>
   <td><tt>c74b5b0efe9b85666dbe127d2c3e5f4735d67290908ff2dcd38945e2a15373d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kio-extras-kf5-24.01.80.tar.xz">kio-extras-kf5-24.01.80</a></td>
   <td align="right">1430kB</td>
   <td><tt>72915f25e38014b7031afba203bdc02d0515b0f2b075a854b4316ae99f2f83cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kio-gdrive-24.01.80.tar.xz">kio-gdrive-24.01.80</a></td>
   <td align="right">78kB</td>
   <td><tt>d25b07c37d739216b2357707b6f6e79303aee1d15b7875c4f9214472c73d6de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kio-zeroconf-24.01.80.tar.xz">kio-zeroconf-24.01.80</a></td>
   <td align="right">43kB</td>
   <td><tt>4aa718d08fcf8fcea7506da3397057003d16a17708b8113575f14d63a3216bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kipi-plugins-24.01.80.tar.xz">kipi-plugins-24.01.80</a></td>
   <td align="right">1533kB</td>
   <td><tt>5dc9722dea79f6d476df9e202f71655081ee8d479d5885c2fa2bcd6f2ac6531a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kirigami-gallery-24.01.80.tar.xz">kirigami-gallery-24.01.80</a></td>
   <td align="right">344kB</td>
   <td><tt>ac9d77238a840f4f25390b317d2e62851f96136c508db4415e832914144128ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kiriki-24.01.80.tar.xz">kiriki-24.01.80</a></td>
   <td align="right">361kB</td>
   <td><tt>b8d182be7189b30fd1ebe5cb72b507b6bdfbe2f4580b7089148067cb6f635fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kiten-24.01.80.tar.xz">kiten-24.01.80</a></td>
   <td align="right">11062kB</td>
   <td><tt>b381201f882e5124df580c080409346bf438a8a196b54683aea20817e1429e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kitinerary-24.01.80.tar.xz">kitinerary-24.01.80</a></td>
   <td align="right">1905kB</td>
   <td><tt>cdb915b9bc5a63f8ef03a0114b5b1c0193da127c62f9eb0bdba9ab34045fd809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kjournald-24.01.80.tar.xz">kjournald-24.01.80</a></td>
   <td align="right">503kB</td>
   <td><tt>d04526c5a67fcfad9a8e5fa7f34c112694d7ab19aaa25ed511f8df1c23209282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kjumpingcube-24.01.80.tar.xz">kjumpingcube-24.01.80</a></td>
   <td align="right">329kB</td>
   <td><tt>53cc7ce69c522b57889aaf26c0fd0bf94ca143d360ca67a6a064524ce626af84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kldap-24.01.80.tar.xz">kldap-24.01.80</a></td>
   <td align="right">178kB</td>
   <td><tt>6116463f35c79669f6526dcc72347dd2eecfe23810c0e0dcec9bec3ba54d78b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kleopatra-24.01.80.tar.xz">kleopatra-24.01.80</a></td>
   <td align="right">2697kB</td>
   <td><tt>ad81722598cef9510e9b8e0540f410bc55b2c956a13a9b716c5148b8fdb15e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/klettres-24.01.80.tar.xz">klettres-24.01.80</a></td>
   <td align="right">46724kB</td>
   <td><tt>10cbf2b25ef738e9ad41f1cac524dc86818482a607540bc130942d76b19844a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/klickety-24.01.80.tar.xz">klickety-24.01.80</a></td>
   <td align="right">1466kB</td>
   <td><tt>9e27c2b0128f9d2be3830a6cda1467718b296849741b17f9d51c68d05e9316fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/klines-24.01.80.tar.xz">klines-24.01.80</a></td>
   <td align="right">1698kB</td>
   <td><tt>4eca4e616061c2a79c0066a6ae8f489eb8998f7fadc46e51ecae72417efb8745</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmag-24.01.80.tar.xz">kmag-24.01.80</a></td>
   <td align="right">708kB</td>
   <td><tt>fba7703226a062b33ee089415a9bb79dd0d8a904f3aebe690ce627ad4631f66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmahjongg-24.01.80.tar.xz">kmahjongg-24.01.80</a></td>
   <td align="right">4003kB</td>
   <td><tt>b2799d3e3a7b3499232306cf6a66cb64af1bdf056a5aee4fb8f04662bd5ff338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmail-24.01.80.tar.xz">kmail-24.01.80</a></td>
   <td align="right">7510kB</td>
   <td><tt>cc13b950445074589cf88586ad7c7c97d7f1bd6a4f22e679a2a702d5627666a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmail-account-wizard-24.01.80.tar.xz">kmail-account-wizard-24.01.80</a></td>
   <td align="right">167kB</td>
   <td><tt>11653ba18e5189b154cb8567af7d308ef1dcf177f661aa61692bd8f84881ec8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmailtransport-24.01.80.tar.xz">kmailtransport-24.01.80</a></td>
   <td align="right">168kB</td>
   <td><tt>89e48829c269b15b941b4bdb0b5a90a345988fd077bdec888284e3501b2879e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmbox-24.01.80.tar.xz">kmbox-24.01.80</a></td>
   <td align="right">28kB</td>
   <td><tt>7da64517035851600728c9bfa353aa17f164e4ca484cac4fa879e733767ee9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmime-24.01.80.tar.xz">kmime-24.01.80</a></td>
   <td align="right">157kB</td>
   <td><tt>aa38434c4c689d825c3fc7dc12c890b6b37dbb341d2ba4c74b48b89cd3f08e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmines-24.01.80.tar.xz">kmines-24.01.80</a></td>
   <td align="right">987kB</td>
   <td><tt>2ce500199803dc3b41e5143676d086f879fd99f3ad0dbd1abf716caf423f1da7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmix-24.01.80.tar.xz">kmix-24.01.80</a></td>
   <td align="right">1181kB</td>
   <td><tt>b0e00825b7e7e03635484b46250d7247e3168ee4e788f0703c0f07b2256e31a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmousetool-24.01.80.tar.xz">kmousetool-24.01.80</a></td>
   <td align="right">126kB</td>
   <td><tt>f95616834f3cb8acf9bf5469a9df0464b6fb5bdd35daeb48cbac501398bc2b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmouth-24.01.80.tar.xz">kmouth-24.01.80</a></td>
   <td align="right">2041kB</td>
   <td><tt>c64c3a1828ceaa2035841779f73fb9cfa28945c1f096b6be314afdcaeedb545f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kmplot-24.01.80.tar.xz">kmplot-24.01.80</a></td>
   <td align="right">3027kB</td>
   <td><tt>2d20282aa9c6a8896fa6c43afb10161695308bf11339da109057d0bf8f18ac73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/knavalbattle-24.01.80.tar.xz">knavalbattle-24.01.80</a></td>
   <td align="right">1366kB</td>
   <td><tt>507176ce06a68369c4daedfe7d09b3247ec77bcce0c144e3d360da561633988e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/knetwalk-24.01.80.tar.xz">knetwalk-24.01.80</a></td>
   <td align="right">1080kB</td>
   <td><tt>cfac0639b6782c23022f7a1a6cabada1f3cb18600a5a13eba21bb9e8fa4bbde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/knights-24.01.80.tar.xz">knights-24.01.80</a></td>
   <td align="right">3255kB</td>
   <td><tt>07f93456838971b57baf2cdc5d1f15cd7f29c79a5238d64fde84fbefdac691ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/knotes-24.01.80.tar.xz">knotes-24.01.80</a></td>
   <td align="right">367kB</td>
   <td><tt>d2c9313e2a5183aec33194763c61b36509da4b19bc7756ef45faca2098079e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/koko-24.01.80.tar.xz">koko-24.01.80</a></td>
   <td align="right">8323kB</td>
   <td><tt>5cd08ded83efce7e9c8427086dc9796a82abddf30e61ce888e182e254c3d5ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kolf-24.01.80.tar.xz">kolf-24.01.80</a></td>
   <td align="right">1045kB</td>
   <td><tt>3dd11cc69e1f1b9c14f0b414dbddb57acdda3cca619d4404a34ca9a749fd5bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kollision-24.01.80.tar.xz">kollision-24.01.80</a></td>
   <td align="right">300kB</td>
   <td><tt>b3ca00fd2830fe0809d46dd9b1a581a32165643c7d9afdfd2fb10fdebe248d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kolourpaint-24.01.80.tar.xz">kolourpaint-24.01.80</a></td>
   <td align="right">5659kB</td>
   <td><tt>ceaeb7b8da5043cbeed036664aee281b2a4f9a6cb378412a3c682e77578f850f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kompare-24.01.80.tar.xz">kompare-24.01.80</a></td>
   <td align="right">960kB</td>
   <td><tt>bbda46e715bf03e51262e8fdb30118112bfdd10481efd7b99a09cef55d727aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kongress-24.01.80.tar.xz">kongress-24.01.80</a></td>
   <td align="right">576kB</td>
   <td><tt>2d11406f2657ddc01e07b141b2434fcae4132774350b3ca6bdbacd8a1ee6a7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/konqueror-24.01.80.tar.xz">konqueror-24.01.80</a></td>
   <td align="right">9896kB</td>
   <td><tt>7ec8bc044a127afbc25668e2b1438bf6ecfc4d33d2414b44973910a3cca4fd47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/konquest-24.01.80.tar.xz">konquest-24.01.80</a></td>
   <td align="right">854kB</td>
   <td><tt>25895fb740bc49f8ba01feaa214e4db36a0410febc8010c11274c3087c3ce59a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/konsole-24.01.80.tar.xz">konsole-24.01.80</a></td>
   <td align="right">1703kB</td>
   <td><tt>55d166f23e40fe48bdd343655b0c14240260282cecd69d650a085d1713a34402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kontact-24.01.80.tar.xz">kontact-24.01.80</a></td>
   <td align="right">839kB</td>
   <td><tt>82b052b96938bba21e240f70900c27c66004f6bf458780028ffe989defd373c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kontactinterface-24.01.80.tar.xz">kontactinterface-24.01.80</a></td>
   <td align="right">39kB</td>
   <td><tt>b11977377983e7e96ff4c4184b0fbfef29be764704d503bd0a489d394b02425a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kontrast-24.01.80.tar.xz">kontrast-24.01.80</a></td>
   <td align="right">206kB</td>
   <td><tt>182f34175932a0061c34694f37afd91907f39259a206ae41871a0354ba829162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/konversation-24.01.80.tar.xz">konversation-24.01.80</a></td>
   <td align="right">4305kB</td>
   <td><tt>1a199189b1977239cfac5457f947b180f886a53e82ee2d4e0ce68f24317e9bed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kopeninghours-24.01.80.tar.xz">kopeninghours-24.01.80</a></td>
   <td align="right">70kB</td>
   <td><tt>2f7e46beb144405dba9da2a40cca704a536f68cda0a02f67c608bc4158092577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/korganizer-24.01.80.tar.xz">korganizer-24.01.80</a></td>
   <td align="right">2510kB</td>
   <td><tt>2fe058902ef28a532db4e71827ae396641d974849a097809155fb68eacdd2419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kosmindoormap-24.01.80.tar.xz">kosmindoormap-24.01.80</a></td>
   <td align="right">608kB</td>
   <td><tt>07a79e995690eead0a401402968e99b9b11fc5c231de2d6d87c0a1d09e5ee1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kpat-24.01.80.tar.xz">kpat-24.01.80</a></td>
   <td align="right">3669kB</td>
   <td><tt>7a8202884baee04f2338e2a9733185c389feb4eb29ca909a334ea201a43dd1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kpimtextedit-24.01.80.tar.xz">kpimtextedit-24.01.80</a></td>
   <td align="right">163kB</td>
   <td><tt>5ff66e4d1621d68c0da0dc7d5421f23afe1e96314f29dc43481de991acab0aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kpkpass-24.01.80.tar.xz">kpkpass-24.01.80</a></td>
   <td align="right">28kB</td>
   <td><tt>762fceeb9361c3ca1bef5894b2ed37d2921085937a23c178d7af9bfd0fa39a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kpmcore-24.01.80.tar.xz">kpmcore-24.01.80</a></td>
   <td align="right">614kB</td>
   <td><tt>ae626777354808f183d3f794ab030398202ac608fdf1c7ae245c1766b7282ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kpublictransport-24.01.80.tar.xz">kpublictransport-24.01.80</a></td>
   <td align="right">562kB</td>
   <td><tt>0c67408a0c054d0a8d444c56fa6221d4cd6b4302e1d817a27eae730ed3c0fac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kqtquickcharts-24.01.80.tar.xz">kqtquickcharts-24.01.80</a></td>
   <td align="right">30kB</td>
   <td><tt>a9cdbc0145df3fb3e54026907ad04a7a9ab259a397bd9a63269372de0d58f3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/krdc-24.01.80.tar.xz">krdc-24.01.80</a></td>
   <td align="right">1591kB</td>
   <td><tt>2a15631744f1383215d1dffe3fe1855e3454f3861cce2b15f1605f4780f17adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/krecorder-24.01.80.tar.xz">krecorder-24.01.80</a></td>
   <td align="right">157kB</td>
   <td><tt>e17a58c6245dd70699ee5345dec827f38a88524f589e6ef8012262fc4acbc8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kreversi-24.01.80.tar.xz">kreversi-24.01.80</a></td>
   <td align="right">1054kB</td>
   <td><tt>03ccac82a07f9eaf0acc62b664159e2904d9df287a08719ed62f9ab605a29bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/krfb-24.01.80.tar.xz">krfb-24.01.80</a></td>
   <td align="right">1290kB</td>
   <td><tt>ded68235794839b85a8470cad23066adc59f9f8c4823b5566bd199c11a7bfafd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kross-interpreters-24.01.80.tar.xz">kross-interpreters-24.01.80</a></td>
   <td align="right">148kB</td>
   <td><tt>34c9a3c81abe90849ff4f4a8d8ec63b97797fec758f55de23ef30a50848533af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kruler-24.01.80.tar.xz">kruler-24.01.80</a></td>
   <td align="right">283kB</td>
   <td><tt>f588130065a2d08b2cd2e950636dec78045bf3c38f543da20e40f57d44449fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksanecore-24.01.80.tar.xz">ksanecore-24.01.80</a></td>
   <td align="right">50kB</td>
   <td><tt>3ce42b1d7310938ecb0e9245b358621269e56338f162fcf57e981915d33958db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kshisen-24.01.80.tar.xz">kshisen-24.01.80</a></td>
   <td align="right">984kB</td>
   <td><tt>81a8e366436e7eb608bb1cce65b20d9560558a24c29b09179a35f1b03c1af3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksirk-24.01.80.tar.xz">ksirk-24.01.80</a></td>
   <td align="right">6903kB</td>
   <td><tt>23397a8ca341ed38adb4ffa3a76c2dea56f1a0c05a20531cd6ecfd4dc7b49bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksmtp-24.01.80.tar.xz">ksmtp-24.01.80</a></td>
   <td align="right">49kB</td>
   <td><tt>b88571ed808a87786b352815d59c7f00578509b6eec46911aa4331669eee1fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksnakeduel-24.01.80.tar.xz">ksnakeduel-24.01.80</a></td>
   <td align="right">588kB</td>
   <td><tt>f189c2870c9cbf458a717d31fc7ec23f254b5209c16e48809ecc648f12e913c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kspaceduel-24.01.80.tar.xz">kspaceduel-24.01.80</a></td>
   <td align="right">644kB</td>
   <td><tt>afb8d751de76d467c0c2dd2defd683cdccd130cf35887da495259ceee8d16195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksquares-24.01.80.tar.xz">ksquares-24.01.80</a></td>
   <td align="right">309kB</td>
   <td><tt>ba290151a00017be2ceb67cb340aad7dc7f38a6e32530265b06f1ac6ed7e8f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksudoku-24.01.80.tar.xz">ksudoku-24.01.80</a></td>
   <td align="right">1668kB</td>
   <td><tt>a21f67075cbe5cb8e2a3132a172cdbbb01328942a6af430dc6d783a90650e5ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ksystemlog-24.01.80.tar.xz">ksystemlog-24.01.80</a></td>
   <td align="right">1966kB</td>
   <td><tt>e5b68d2583346906b6d34bfd44bd720b86b556980e8206bc6c31479c5072b4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kteatime-24.01.80.tar.xz">kteatime-24.01.80</a></td>
   <td align="right">307kB</td>
   <td><tt>88ffca87ca584894583ada3af0d63bfdf29740526113733164cb4e74ebdc9d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktimer-24.01.80.tar.xz">ktimer-24.01.80</a></td>
   <td align="right">396kB</td>
   <td><tt>e9f4a72f445aa4f8a124b6acece3115074f68bb6be054314c0adbf0c05d761e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktnef-24.01.80.tar.xz">ktnef-24.01.80</a></td>
   <td align="right">304kB</td>
   <td><tt>565d4b0f4ba04c1f233220554842456a36b65ad34c555a907fadee972c51c811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktorrent-24.01.80.tar.xz">ktorrent-24.01.80</a></td>
   <td align="right">2121kB</td>
   <td><tt>aa78d173e3aee70f85aa3ec62f705bd2c03225cf0d3ee6b98a26ac009905f10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktouch-24.01.80.tar.xz">ktouch-24.01.80</a></td>
   <td align="right">4921kB</td>
   <td><tt>7389871630d39d091519d1703db28e96e839775bdf23bbbce439c58e8f2c198e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktrip-24.01.80.tar.xz">ktrip-24.01.80</a></td>
   <td align="right">249kB</td>
   <td><tt>d227c4becfc2e53dbf46e72f45a37dffd03ed05eea54f2a7298eef935d3a3554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/ktuberling-24.01.80.tar.xz">ktuberling-24.01.80</a></td>
   <td align="right">69914kB</td>
   <td><tt>20e9e4cbf179e55e1ee381881e78bb0ac0d9188e4411b22d738a43c30d5593db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kturtle-24.01.80.tar.xz">kturtle-24.01.80</a></td>
   <td align="right">2195kB</td>
   <td><tt>ea215a25e1fddd877b564c5df8f34461dd53bc0ceab4769ca75c5b4cb32a8445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kubrick-24.01.80.tar.xz">kubrick-24.01.80</a></td>
   <td align="right">345kB</td>
   <td><tt>90668692c7839d44e0fab57f4f45857354557c81906ab933077a0def0ab146de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kwalletmanager-24.01.80.tar.xz">kwalletmanager-24.01.80</a></td>
   <td align="right">835kB</td>
   <td><tt>e052a3b450deab481cc7f2b2ba9f97914796aa82d019a93176512747a75670b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kwave-24.01.80.tar.xz">kwave-24.01.80</a></td>
   <td align="right">6817kB</td>
   <td><tt>e9ff5a037d5d45537fd3d1f017565f7721c0547ded0a84aeff565f48d1c108b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kweather-24.01.80.tar.xz">kweather-24.01.80</a></td>
   <td align="right">924kB</td>
   <td><tt>07e0432d0c415b8df64cc4b2fd3a00768a08616b948a048eb5aa2b08304f8230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/kwordquiz-24.01.80.tar.xz">kwordquiz-24.01.80</a></td>
   <td align="right">3977kB</td>
   <td><tt>aacc8426c4f8df958de96af9eae7141c827b6f2431261024ec090b4af29c6137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libgravatar-24.01.80.tar.xz">libgravatar-24.01.80</a></td>
   <td align="right">35kB</td>
   <td><tt>9453be17a9aa0f7658b8bbdf2d99d0ddb16bea08a59086780f5a3b6cb7f25049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkcddb-24.01.80.tar.xz">libkcddb-24.01.80</a></td>
   <td align="right">441kB</td>
   <td><tt>47c9d64db1ae4a886e4088c7b31f4d3b0454459da6ef1bfc832715e2461e1ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkcompactdisc-24.01.80.tar.xz">libkcompactdisc-24.01.80</a></td>
   <td align="right">97kB</td>
   <td><tt>7b6a53609d31284eda58f52dd6c5170b0fe7ba88e768a90327d90e4c3cd53d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkdcraw-24.01.80.tar.xz">libkdcraw-24.01.80</a></td>
   <td align="right">36kB</td>
   <td><tt>e8019585390a59dcb26f0cc35de4193812bde2f8a186a3d07a4812c68079bd8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkdegames-24.01.80.tar.xz">libkdegames-24.01.80</a></td>
   <td align="right">5828kB</td>
   <td><tt>475132fc4e4baaf3f1bc7e4b99a2bade1a5e0e0a6c3a8fa646a5bf5d8d094419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkdepim-24.01.80.tar.xz">libkdepim-24.01.80</a></td>
   <td align="right">278kB</td>
   <td><tt>f0853d119f7aaac36de8f2d0580925adb83b7fe5b29fc13ce8ebc55f016f8886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkeduvocdocument-24.01.80.tar.xz">libkeduvocdocument-24.01.80</a></td>
   <td align="right">224kB</td>
   <td><tt>6cb16bd30dfe59685572e1cfc6f906b34be4d635bb439ad7721b2686e2774836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkexiv2-24.01.80.tar.xz">libkexiv2-24.01.80</a></td>
   <td align="right">59kB</td>
   <td><tt>de4020225184ff1d3de36487ef5e957794c7a3dea90b45dba6f830b4896eb815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkgapi-24.01.80.tar.xz">libkgapi-24.01.80</a></td>
   <td align="right">327kB</td>
   <td><tt>b24fefe51be3bdeee66bd2981925516d1fb56e6629352955170bcd4b8ca473a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkipi-24.01.80.tar.xz">libkipi-24.01.80</a></td>
   <td align="right">86kB</td>
   <td><tt>c63056fa63ac1d96aea4ba808a74a9002b92ac5554f75c2bcac168322ea687ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkleo-24.01.80.tar.xz">libkleo-24.01.80</a></td>
   <td align="right">554kB</td>
   <td><tt>cbbfe2f91b0dee95ca61b4ad79ff39b497f5bb50171f27a97deb7986405423d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkmahjongg-24.01.80.tar.xz">libkmahjongg-24.01.80</a></td>
   <td align="right">1650kB</td>
   <td><tt>e171a670c9c1d59980a9bea0ae7724011bfaa2c6024950e2b7d62afa7cb047a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libkomparediff2-24.01.80.tar.xz">libkomparediff2-24.01.80</a></td>
   <td align="right">183kB</td>
   <td><tt>7ef524b9452cb6b8066327f9ac40f7e7ed5fa78606a2bd5948ce1a58138ea4f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libksane-24.01.80.tar.xz">libksane-24.01.80</a></td>
   <td align="right">149kB</td>
   <td><tt>898a7cb447fb71271cd7920af8673d4dea8da4aed5cc1a68c0d24182b1237f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libksieve-24.01.80.tar.xz">libksieve-24.01.80</a></td>
   <td align="right">565kB</td>
   <td><tt>ae646ed4e4d2dd02a64bd2a769dd843984fde2c0459af296094b0928f52a2be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/libktorrent-24.01.80.tar.xz">libktorrent-24.01.80</a></td>
   <td align="right">589kB</td>
   <td><tt>957663130f6080fa772d5e7766555a34f28014586c260b2065301e2c6f014691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/lokalize-24.01.80.tar.xz">lokalize-24.01.80</a></td>
   <td align="right">2088kB</td>
   <td><tt>907ad3f1b9bc3883c4c6bb8f7f409d86680a9663412ec158625a6acc4e764498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/lskat-24.01.80.tar.xz">lskat-24.01.80</a></td>
   <td align="right">1220kB</td>
   <td><tt>753309acd3df5b79345d80ca2c7e0c1b38dbbeff4e5bf707c99972cccfa082e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/mailcommon-24.01.80.tar.xz">mailcommon-24.01.80</a></td>
   <td align="right">751kB</td>
   <td><tt>edf1cd81de370245a55e2ce180864f3b6b21b96d47ad17427b94fe0b56b3ce31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/mailimporter-24.01.80.tar.xz">mailimporter-24.01.80</a></td>
   <td align="right">579kB</td>
   <td><tt>a29dc2f65d922fb5bb47b00329066b0e4f4ca03c89dc9628f2e973ee3f30cede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/marble-24.01.80.tar.xz">marble-24.01.80</a></td>
   <td align="right">52559kB</td>
   <td><tt>f88959647ebbe77e1a5b6e62f813be4a01d67126f23943bea914cc588e25fda9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/markdownpart-24.01.80.tar.xz">markdownpart-24.01.80</a></td>
   <td align="right">31kB</td>
   <td><tt>e92e3859135f4d4518612f623d25e56c842b5b183b4719207b2f059bbb5745a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/mbox-importer-24.01.80.tar.xz">mbox-importer-24.01.80</a></td>
   <td align="right">29kB</td>
   <td><tt>58762edcea9827cfbf104adc2eafe84bd7220008b79708aa39f486f3c0b49459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/merkuro-24.01.80.tar.xz">merkuro-24.01.80</a></td>
   <td align="right">695kB</td>
   <td><tt>3be12b1b34c4b67443d3aec25efa9b6ac3f2a438444c6254966773ae9acfaf05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/messagelib-24.01.80.tar.xz">messagelib-24.01.80</a></td>
   <td align="right">11009kB</td>
   <td><tt>76b4621c58d3a0268fa3daeea8cf114b0e1863387bcdf603ab0764088e3e875b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/mimetreeparser-24.01.80.tar.xz">mimetreeparser-24.01.80</a></td>
   <td align="right">615kB</td>
   <td><tt>35095d34922f6a4ce22713e1d4da06de3f450420c50f67ebf1a3b1ab1d75f852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/minuet-24.01.80.tar.xz">minuet-24.01.80</a></td>
   <td align="right">27048kB</td>
   <td><tt>af5429d27223022f9ccc78b0ffe1615d1fb572f895ee869ac74422856819dc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/neochat-24.01.80.tar.xz">neochat-24.01.80</a></td>
   <td align="right">838kB</td>
   <td><tt>44232faf25e2eb55036b8975a7b2dfcf29d19d49fc6a3726943bf71d13491fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/okular-24.01.80.tar.xz">okular-24.01.80</a></td>
   <td align="right">8324kB</td>
   <td><tt>0227f453b7b686d07bd92118f04672cfcfac88f2d1831c66b96b83c32900a3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/palapeli-24.01.80.tar.xz">palapeli-24.01.80</a></td>
   <td align="right">2070kB</td>
   <td><tt>300dbbd1d4d9ff1d863188e7732800b1f1f07ba1ecd5ddce34f46b948e844d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/parley-24.01.80.tar.xz">parley-24.01.80</a></td>
   <td align="right">8400kB</td>
   <td><tt>b0ed96e62f916a33f87674892061b0389a5b84fafeaa73b18bb9fe14931fe010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/partitionmanager-24.01.80.tar.xz">partitionmanager-24.01.80</a></td>
   <td align="right">2095kB</td>
   <td><tt>a39a8da8f60dc39923eb33b2220909839926243e4920ee58f609c720f82a55c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/picmi-24.01.80.tar.xz">picmi-24.01.80</a></td>
   <td align="right">1504kB</td>
   <td><tt>c9f7d86e72043f50d535ccdf223feef36d366f4b70e19dfb82b96e7564ce83ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/pimcommon-24.01.80.tar.xz">pimcommon-24.01.80</a></td>
   <td align="right">336kB</td>
   <td><tt>e90be30d30dcac68cee6fb2d527b0a30e988f5d516397fc44428c6ceb9a4e744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/pim-data-exporter-24.01.80.tar.xz">pim-data-exporter-24.01.80</a></td>
   <td align="right">416kB</td>
   <td><tt>8f9b47fde3095d9cc1fd14e0683beb9e2da589d28e1827fc45ea2af6d4856946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/pim-sieve-editor-24.01.80.tar.xz">pim-sieve-editor-24.01.80</a></td>
   <td align="right">455kB</td>
   <td><tt>4bdba6cb9e34ecd962ead91e372e9338975f289e4a2e461d627290759be67eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/plasmatube-24.01.80.tar.xz">plasmatube-24.01.80</a></td>
   <td align="right">126kB</td>
   <td><tt>db48383c3ecccb68aff3748364e5c5f772e7dfd75e6128cd58410ad2218a6173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/poxml-24.01.80.tar.xz">poxml-24.01.80</a></td>
   <td align="right">43kB</td>
   <td><tt>eeffe004ff04f67c0cbc508cb37fa49c61c2dead200e2bf8711af09214024ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/qmlkonsole-24.01.80.tar.xz">qmlkonsole-24.01.80</a></td>
   <td align="right">60kB</td>
   <td><tt>14fdfeb44abfca0c4f8993eb1953b5c9d1a80dca21ef5230956f6336efde18b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/rocs-24.01.80.tar.xz">rocs-24.01.80</a></td>
   <td align="right">1533kB</td>
   <td><tt>283a89d405aadbf4af95efce7386bc473b9fe1bf4b0c57b0229e9ab70a3658eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/signon-kwallet-extension-24.01.80.tar.xz">signon-kwallet-extension-24.01.80</a></td>
   <td align="right">10kB</td>
   <td><tt>22b1ab922a816890993c235d9d6a2602170488d6f9e4517b52d89e591c07a5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/skanlite-24.01.80.tar.xz">skanlite-24.01.80</a></td>
   <td align="right">2393kB</td>
   <td><tt>418eb2dd70400438e538c40180b67a1a1e5016444389bb38adeb0e5e5b4c590d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/skanpage-24.01.80.tar.xz">skanpage-24.01.80</a></td>
   <td align="right">1283kB</td>
   <td><tt>ed3b427f42ed5015746a911efecb4d89c1f33f17c8f5f2a98dc5d0078b9ee58a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/spectacle-24.01.80.tar.xz">spectacle-24.01.80</a></td>
   <td align="right">1363kB</td>
   <td><tt>3f67ab539b15242acbbaa5e154656df5320ba882b3f70cdef9c22ec60c02c3df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/step-24.01.80.tar.xz">step-24.01.80</a></td>
   <td align="right">971kB</td>
   <td><tt>0364c1df23ebf66aa1eeaa1f0b209301269676a57608e876a6114e652fcb78d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/svgpart-24.01.80.tar.xz">svgpart-24.01.80</a></td>
   <td align="right">28kB</td>
   <td><tt>e64322cf1dade3ebd3befd62345e61b8cad762c6365a515927be14316011f300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/sweeper-24.01.80.tar.xz">sweeper-24.01.80</a></td>
   <td align="right">390kB</td>
   <td><tt>e188baa7661a98285acb388187914839b44fa108271c837d45e3dd9adbbf5335</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/telly-skout-24.01.80.tar.xz">telly-skout-24.01.80</a></td>
   <td align="right">94kB</td>
   <td><tt>3e365775e362cc5db897edb44c7625c070d3aa728b95de05a8c5fef58af39507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/tokodon-24.01.80.tar.xz">tokodon-24.01.80</a></td>
   <td align="right">477kB</td>
   <td><tt>3620b472fd9a52f22f7a5a32866660982079692125b8cf96affda9f2f0ff9f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/umbrello-24.01.80.tar.xz">umbrello-24.01.80</a></td>
   <td align="right">5640kB</td>
   <td><tt>f7c2d9bdc2da590c5f64fb69f5404f8c5eb15ca12ad3f20c6b27ea64e0961bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/yakuake-24.01.80.tar.xz">yakuake-24.01.80</a></td>
   <td align="right">428kB</td>
   <td><tt>136eca547cf6ee3e43c17e6373a81b0de6ee71b5ac9f6a4f94f0a1b54262642d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.80/src/zanshin-24.01.80.tar.xz">zanshin-24.01.80</a></td>
   <td align="right">357kB</td>
   <td><tt>333fdb4e6faa09e34528cb88df93ce92caf449afbffded2038f984916b3262be</tt></td>
</tr>

</table>
