<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/bluedevil-5.27.80.tar.xz">bluedevil-5.27.80</a></td>
   <td align="right">358kB</td>
   <td><tt>82435491498e5ce444aa3451dacae10a14af355a573aad3bed8020ce0e1d5f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/breeze-5.27.80.tar.xz">breeze-5.27.80</a></td>
   <td align="right">82MB</td>
   <td><tt>7b6c6909436254077556da45b17136e2e7777709b12bace376de1e56995c80cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/breeze-grub-5.27.80.tar.xz">breeze-grub-5.27.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>54874bfbf753515827a2226dccc079761c511f8e1cb05c6269404c75dc6ad403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/breeze-gtk-5.27.80.tar.xz">breeze-gtk-5.27.80</a></td>
   <td align="right">39kB</td>
   <td><tt>8dff98b42e758f404c7bca21d4c2e1090127a7b8820252fb1c4366e89c553db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/breeze-plymouth-5.27.80.tar.xz">breeze-plymouth-5.27.80</a></td>
   <td align="right">108kB</td>
   <td><tt>b86701fb8da266cf5ea7bd3b64fddde9573f0bf9c8834ec839fd506ef0cb3d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/discover-5.27.80.tar.xz">discover-5.27.80</a></td>
   <td align="right">942kB</td>
   <td><tt>6d8da50ca360d783d6c42a76bd98d54e478d21a533ea6a63e87eaeccd67e48c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/drkonqi-5.27.80.tar.xz">drkonqi-5.27.80</a></td>
   <td align="right">854kB</td>
   <td><tt>0e8b5efb0dff9b3d24252cc62b4ffe5fd879b3bc9d6a42406f360ac9168b206a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/flatpak-kcm-5.27.80.tar.xz">flatpak-kcm-5.27.80</a></td>
   <td align="right">228kB</td>
   <td><tt>954fba335bbc686713775c48686b7b10cb5daf7d79c843bbd5fb1a2ca9404b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kactivities-5.27.80.tar.xz">kactivities-5.27.80</a></td>
   <td align="right">69kB</td>
   <td><tt>ef9f0051aabb8dc94deaa728a1f78678f1ccd11e4a96257b36a0438a3c0a41ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kactivities-stats-5.27.80.tar.xz">kactivities-stats-5.27.80</a></td>
   <td align="right">81kB</td>
   <td><tt>8708277ccdde9bdd976b7178ad240e361c6da378fd18989deaec952b6a53cd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kactivitymanagerd-5.27.80.tar.xz">kactivitymanagerd-5.27.80</a></td>
   <td align="right">107kB</td>
   <td><tt>a933c11759eac6273b8186270c83f0e3a5a8055ebf30d06fbf0d13f551f6fb08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kde-cli-tools-5.27.80.tar.xz">kde-cli-tools-5.27.80</a></td>
   <td align="right">604kB</td>
   <td><tt>46bbfbc49190771ab8519044dd8c59e179c6535cff514650c2520a69a8797b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kdecoration-5.27.80.tar.xz">kdecoration-5.27.80</a></td>
   <td align="right">53kB</td>
   <td><tt>77b435f0353f7af45c7ca13fa477552def4069171cd95a5410de4a1a1783848a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kde-gtk-config-5.27.80.tar.xz">kde-gtk-config-5.27.80</a></td>
   <td align="right">76kB</td>
   <td><tt>39a79c1296ab071dc1d3f1b63fbb604e8729d4cfc2ac16c3e37ed8e2823ac741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kdeplasma-addons-5.27.80.tar.xz">kdeplasma-addons-5.27.80</a></td>
   <td align="right">849kB</td>
   <td><tt>bde5f506933be94490503421e2f28ca0ab5b9ac29115cfb6c021a8fdc8349145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kgamma-5.27.80.tar.xz">kgamma-5.27.80</a></td>
   <td align="right">84kB</td>
   <td><tt>613f3615505c6901a8c4feda08defeb8d399d38466bf789e95366d08fc3559ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kglobalacceld-5.27.80.tar.xz">kglobalacceld-5.27.80</a></td>
   <td align="right">50kB</td>
   <td><tt>06744d79e9a6c0d6abbcc863a5ad35573e95d219adefb8fef9bb25b0eb5ad5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kinfocenter-5.27.80.tar.xz">kinfocenter-5.27.80</a></td>
   <td align="right">804kB</td>
   <td><tt>037f7b5f56a7bf480c3547c309a7c952f73ecbc04ca738b3e06341ba53088500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kmenuedit-5.27.80.tar.xz">kmenuedit-5.27.80</a></td>
   <td align="right">909kB</td>
   <td><tt>e8a087fb0b7b5c85ee6fdf1c70653bba77ac66cccac9570f6295fbf02ffab3c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kpipewire-5.27.80.tar.xz">kpipewire-5.27.80</a></td>
   <td align="right">140kB</td>
   <td><tt>0902393fa54d38324b551b822cfecd19d02f671b5fad2c834113836b6578ba94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kscreen-5.27.80.tar.xz">kscreen-5.27.80</a></td>
   <td align="right">182kB</td>
   <td><tt>cf4c476663d09a3d592c73510329b45a6e9023a017a558c09dfb3b044cbeb644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kscreenlocker-5.27.80.tar.xz">kscreenlocker-5.27.80</a></td>
   <td align="right">159kB</td>
   <td><tt>e60002f53aedd492346d67e30e60853714d6f4abfe3174109613eeab6d36b22a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/ksshaskpass-5.27.80.tar.xz">ksshaskpass-5.27.80</a></td>
   <td align="right">28kB</td>
   <td><tt>c60d4de50a0c6c6f85e5d3718e373f2e30cea8bfc9507e14eadb838069f41754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/ksystemstats-5.27.80.tar.xz">ksystemstats-5.27.80</a></td>
   <td align="right">119kB</td>
   <td><tt>4b71859fff320b4e109ccfee076b623b5959f471c0c8a34c6226a02752a707ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kwallet-pam-5.27.80.tar.xz">kwallet-pam-5.27.80</a></td>
   <td align="right">22kB</td>
   <td><tt>6499716cd556415d1398544a6080304d1d421cd4e8f4c5dd88215f71b0b57047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kwayland-5.27.80.tar.xz">kwayland-5.27.80</a></td>
   <td align="right">130kB</td>
   <td><tt>9c236a4767d5e727f68eaf144d38c3f84e26ea2d61adfbf4b2868ba9b623b846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kwayland-integration-5.27.80.tar.xz">kwayland-integration-5.27.80</a></td>
   <td align="right">25kB</td>
   <td><tt>a8537bc216689c0df1e0b63b1c1b1590a553d9dc8220d8e1ff4aba81c9d70aec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kwin-5.27.80.tar.xz">kwin-5.27.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>dd172ed7ce93fe75d0470de4fcd6525091e207a7354d328e4861023318b54d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/kwrited-5.27.80.tar.xz">kwrited-5.27.80</a></td>
   <td align="right">23kB</td>
   <td><tt>594785d761c3bdb56b13032708624ae26ede6b1b083f58ce7e778a93dc6583dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/layer-shell-qt-5.27.80.tar.xz">layer-shell-qt-5.27.80</a></td>
   <td align="right">19kB</td>
   <td><tt>1e8c65fd7fc7294a08de6124201da8a21225fb11add904281f8eada2f7bc3fef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/libkscreen-5.27.80.tar.xz">libkscreen-5.27.80</a></td>
   <td align="right">113kB</td>
   <td><tt>fcd6a4d5417edce81722a8c3462d9f14957d1c97a5d4b535b0d8d0ffcec2b3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/libksysguard-5.27.80.tar.xz">libksysguard-5.27.80</a></td>
   <td align="right">870kB</td>
   <td><tt>be3be48c13c92ff65a68ad42f792f3f4685a568b3d6c73b2f0550ba28778f15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/milou-5.27.80.tar.xz">milou-5.27.80</a></td>
   <td align="right">47kB</td>
   <td><tt>fab4cd50d0b535879427c377c165a2f4c701a763e82865bb0bbd8c8ad9cfb727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/ocean-sound-theme-5.27.80.tar.xz">ocean-sound-theme-5.27.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>72976b03840173900c902004bec364ed4feb175d9dd6f264798d28b888cb7ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/oxygen-5.27.80.tar.xz">oxygen-5.27.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>12cde7a5ca01f9df24ab39e67838c87d872a144a40c50f044a95e6456e94f021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/oxygen-sounds-5.27.80.tar.xz">oxygen-sounds-5.27.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>558d5db1526c69f023232f4c741197686a9bf4268012cd26aab4d1b42b3100ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma5support-5.27.80.tar.xz">plasma5support-5.27.80</a></td>
   <td align="right">212kB</td>
   <td><tt>0acd7a5043247df2cd04f4e31694afbfb37ea9cf3f84317fa86096cf6f30c116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-browser-integration-5.27.80.tar.xz">plasma-browser-integration-5.27.80</a></td>
   <td align="right">212kB</td>
   <td><tt>f3fb5a7a6f7bcf36725c11ac934f80d8aeaea457fcbf92196314ebe6a57d0898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-desktop-5.27.80.tar.xz">plasma-desktop-5.27.80</a></td>
   <td align="right">13MB</td>
   <td><tt>67c2f5cf0046d0891d361cdc96d25b3783bd6ff961f255ffaa368a3687c86322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-disks-5.27.80.tar.xz">plasma-disks-5.27.80</a></td>
   <td align="right">96kB</td>
   <td><tt>43cd3cad3d9d37c3e8442a3352506351ab2e30ffb13430df7ba59e9a95946f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-firewall-5.27.80.tar.xz">plasma-firewall-5.27.80</a></td>
   <td align="right">357kB</td>
   <td><tt>eb7637624ac22d1a72b5fe5c0d3168e3540bc32f4057fd93b52ab05603a81715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-framework-5.27.80.tar.xz">plasma-framework-5.27.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>48e6d43bf293e33394b71f6c2057056934733d4d62e4039b3e091b793b6f0e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-integration-5.27.80.tar.xz">plasma-integration-5.27.80</a></td>
   <td align="right">89kB</td>
   <td><tt>9313415b8f51b61069f2505bb27490e6caafab1cbc32e7cf36dae66a1fd7467a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-mobile-5.27.80.tar.xz">plasma-mobile-5.27.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>a4f2c0f444a8ea9005e05f704416aab6694bf9477be470bdbdbe786036c5e994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-nano-5.27.80.tar.xz">plasma-nano-5.27.80</a></td>
   <td align="right">74kB</td>
   <td><tt>81c282d1baf0c99ed21dd4427b9765a2357550e0e7bc15dae1c682651f213094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-nm-5.27.80.tar.xz">plasma-nm-5.27.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5e23d4b6f47ea3f0e6feec11d56767c20e37c6eea5cd8b54e62637f372f6c751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-pa-5.27.80.tar.xz">plasma-pa-5.27.80</a></td>
   <td align="right">164kB</td>
   <td><tt>8bed2f9a885aaae6a2c0a9903bc382599c4755c40c6635403c465ff4a7599e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-sdk-5.27.80.tar.xz">plasma-sdk-5.27.80</a></td>
   <td align="right">315kB</td>
   <td><tt>71fdb26ff34fc1c2f10b3fdbbfbf771e9b8c4b993820b586d3f83a16706f439d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-systemmonitor-5.27.80.tar.xz">plasma-systemmonitor-5.27.80</a></td>
   <td align="right">177kB</td>
   <td><tt>52476d0ba128ee3694495c91639b9b0716970915c5b0c868773198a104cf9d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-thunderbolt-5.27.80.tar.xz">plasma-thunderbolt-5.27.80</a></td>
   <td align="right">71kB</td>
   <td><tt>a2213741e8d48fc64f97721574ecbfa0f522011a6c20096a7cfb98e45de24159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-vault-5.27.80.tar.xz">plasma-vault-5.27.80</a></td>
   <td align="right">187kB</td>
   <td><tt>8e25c29051d03b51735453d7942208e9c9f94c5bc79208c0e002e2a9e6b9ac4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-welcome-5.27.80.tar.xz">plasma-welcome-5.27.80</a></td>
   <td align="right">858kB</td>
   <td><tt>a23f96f498b47aaa99ad85935a123b780943f86b2b4dda6b059c979bd0518feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-workspace-5.27.80.tar.xz">plasma-workspace-5.27.80</a></td>
   <td align="right">18MB</td>
   <td><tt>4082d4e61484d0a62c88a0ef04347e3ff1758477fdb313f1d82e4e770d9a5a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plasma-workspace-wallpapers-5.27.80.tar.xz">plasma-workspace-wallpapers-5.27.80</a></td>
   <td align="right">89MB</td>
   <td><tt>4638600a15f71056ba56b04882914f301d30fa042153629f679be1cb199a83fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/plymouth-kcm-5.27.80.tar.xz">plymouth-kcm-5.27.80</a></td>
   <td align="right">44kB</td>
   <td><tt>18d630574d830d4e18d3139192920269e270eb1be12300282231ea0653e64e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/polkit-kde-agent-1-5.27.80.tar.xz">polkit-kde-agent-1-5.27.80</a></td>
   <td align="right">50kB</td>
   <td><tt>e29092abfc15bc026ff0be30609ec017482f9296f4b4ba5b65ded6f7f496f69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/powerdevil-5.27.80.tar.xz">powerdevil-5.27.80</a></td>
   <td align="right">787kB</td>
   <td><tt>efaec5a55bd7c3a65427a8a45439722b5451aea3a372b16cf77e127bf433b1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/print-manager-5.27.80.tar.xz">print-manager-5.27.80</a></td>
   <td align="right">304kB</td>
   <td><tt>00da2680853c2054536f0ea93526177cea65f17d05998e3d5ec38b9f501274e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/qqc2-breeze-style-5.27.80.tar.xz">qqc2-breeze-style-5.27.80</a></td>
   <td align="right">63kB</td>
   <td><tt>9dbd730d7585cb8cbfa3eab0db3fbbdb4e42b4b34cd71b902dd3f4e0dbad0f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/sddm-kcm-5.27.80.tar.xz">sddm-kcm-5.27.80</a></td>
   <td align="right">93kB</td>
   <td><tt>56e2b073e1ad0e8c8c5b6d35cae784fe167add13e7d4d651cc6739a380cd9421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/systemsettings-5.27.80.tar.xz">systemsettings-5.27.80</a></td>
   <td align="right">211kB</td>
   <td><tt>6c5705ee30c59d47c480e25491beb31e8c249078d4ccbb718b6a52d79c9a01ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/wacomtablet-5.27.80.tar.xz">wacomtablet-5.27.80</a></td>
   <td align="right">806kB</td>
   <td><tt>d8c4638ee07933372d61bb77c93919a96392833dac4202bad78f1cdf04e96b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.27.80/xdg-desktop-portal-kde-5.27.80.tar.xz">xdg-desktop-portal-kde-5.27.80</a></td>
   <td align="right">153kB</td>
   <td><tt>4d1351586d6783e65b400aab0dd31f7d14edfcd4804e5b04c4f15259f6495770</tt></td>
</tr>

</table>
