<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-23.07.90.tar.xz">akonadi-23.07.90</a></td>
   <td align="right">1623kB</td>
   <td><tt>50fe471f877e338b9e01f0672963531946e5ca87c2279afe95dea065aace857c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-calendar-23.07.90.tar.xz">akonadi-calendar-23.07.90</a></td>
   <td align="right">461kB</td>
   <td><tt>7484a44afdd6d85baf9467c5dd58481e5c5f6da668f83be15380dc58196c1131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-calendar-tools-23.07.90.tar.xz">akonadi-calendar-tools-23.07.90</a></td>
   <td align="right">248kB</td>
   <td><tt>df1f559d9d771d00c4948a1c54f74b77e34fd8fb94786d5f381a531f039d594f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadiconsole-23.07.90.tar.xz">akonadiconsole-23.07.90</a></td>
   <td align="right">274kB</td>
   <td><tt>233a830750e5b1b20e32eed5b56f56a5eb4e145667f829a8d66d2afa1306621c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-contacts-23.07.90.tar.xz">akonadi-contacts-23.07.90</a></td>
   <td align="right">412kB</td>
   <td><tt>45f552dd2ed06b7e43780e2661da4dbe55255c98d70fe47b8bb8908c63d2f9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-import-wizard-23.07.90.tar.xz">akonadi-import-wizard-23.07.90</a></td>
   <td align="right">503kB</td>
   <td><tt>4118660c4ff55c9909cf2552807768a3060da71f51f9f8273396f6267bede91d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-mime-23.07.90.tar.xz">akonadi-mime-23.07.90</a></td>
   <td align="right">162kB</td>
   <td><tt>fd5f4454e843de2dc9924b08cfdad75a34b7c513f63fe865d0234132651892b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-notes-23.07.90.tar.xz">akonadi-notes-23.07.90</a></td>
   <td align="right">27kB</td>
   <td><tt>a7b2a5c82f4bbf01c2e687dc3dc125c6c7144c493a8e6d26c5b145501ea1c759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akonadi-search-23.07.90.tar.xz">akonadi-search-23.07.90</a></td>
   <td align="right">105kB</td>
   <td><tt>f48c9231f454598c304b2eef98094c35384bc425bebd327e3f88edd7a5c8e6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/akregator-23.07.90.tar.xz">akregator-23.07.90</a></td>
   <td align="right">2266kB</td>
   <td><tt>f8a8f050dabd228f968f371a1ac7809dd0437fb1de1037df9f79c23146b4593b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/alligator-23.07.90.tar.xz">alligator-23.07.90</a></td>
   <td align="right">185kB</td>
   <td><tt>c9c8875cbec330e0ba934afe76f60ba1c60f22b099901ab7a9c192ed8cfd6a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/analitza-23.07.90.tar.xz">analitza-23.07.90</a></td>
   <td align="right">344kB</td>
   <td><tt>642bf01b5e4ac0d3265365a91db36e781dbb002bb385ce5d51380f1875ea44e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/angelfish-23.07.90.tar.xz">angelfish-23.07.90</a></td>
   <td align="right">239kB</td>
   <td><tt>e668922e251c96944c180ed800e847d70e12d94b8226cc5e44d8e8e548bcf984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/arianna-23.07.90.tar.xz">arianna-23.07.90</a></td>
   <td align="right">790kB</td>
   <td><tt>3657f4b69628849b389a61c48acfa4359dd813c8e1d0b7d419415c5b092300dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ark-23.07.90.tar.xz">ark-23.07.90</a></td>
   <td align="right">2945kB</td>
   <td><tt>89a661a6c72c5b6f91de4317c22e2eee6f79b72f4110eb84aa3bdacf0ec7954f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/artikulate-23.07.90.tar.xz">artikulate-23.07.90</a></td>
   <td align="right">1067kB</td>
   <td><tt>b83e77cee6626fe4b0dbf16f42b2c3f307a827834fcdf2eb2e2ab35beff4716b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/audiocd-kio-23.07.90.tar.xz">audiocd-kio-23.07.90</a></td>
   <td align="right">550kB</td>
   <td><tt>313c9ea47ee9237f74aed7a4770afe7ebc988f99127743f9c5ed0f1c3c7a6474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/audiotube-23.07.90.tar.xz">audiotube-23.07.90</a></td>
   <td align="right">141kB</td>
   <td><tt>9c3986585673ac0b71af252a333c6af4fc309aadbe442fe513dc8be8d81b8261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/baloo-widgets-23.07.90.tar.xz">baloo-widgets-23.07.90</a></td>
   <td align="right">270kB</td>
   <td><tt>7122dff65f719faf0d15eadd3f61588db05b31241282f418e3d5a224aca4e676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/blinken-23.07.90.tar.xz">blinken-23.07.90</a></td>
   <td align="right">2660kB</td>
   <td><tt>09848b1e4788949891f984f55cdc0de0e0e0e1bed50b1050f1095f615ce4ad57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/bomber-23.07.90.tar.xz">bomber-23.07.90</a></td>
   <td align="right">819kB</td>
   <td><tt>07cfab5b6eda57d6f06a6bc7c03537308cf10244fd33841fb08dad2d843bb835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/bovo-23.07.90.tar.xz">bovo-23.07.90</a></td>
   <td align="right">210kB</td>
   <td><tt>5946dfe3b32a803f9e95c4129c96628d6382f89f5981c673658ab1288835dde6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/calendarsupport-23.07.90.tar.xz">calendarsupport-23.07.90</a></td>
   <td align="right">964kB</td>
   <td><tt>4d55a2b42ad5eb1816ffc577aa34004fef5423aed12b7e1d8122f04ff33128ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/calindori-23.07.90.tar.xz">calindori-23.07.90</a></td>
   <td align="right">372kB</td>
   <td><tt>039439f80fa30e077dc38eb92a2671462de344c9a1c5732f1c75e6688d27819d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/cantor-23.07.90.tar.xz">cantor-23.07.90</a></td>
   <td align="right">9062kB</td>
   <td><tt>67d4542cdd1b3f2d8ba21f85183ce315df3814f699d38d75aabd31966852b269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/cervisia-23.07.90.tar.xz">cervisia-23.07.90</a></td>
   <td align="right">1900kB</td>
   <td><tt>6dba760f33d1bc90b62cf4b2d87232e1f104aefad2e05df966f457ed970c1cf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/colord-kde-23.07.90.tar.xz">colord-kde-23.07.90</a></td>
   <td align="right">106kB</td>
   <td><tt>7c4033ccfa7df290e43e1dfecaeb53eb414b8390560922011ccd9723aff1a076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/dolphin-23.07.90.tar.xz">dolphin-23.07.90</a></td>
   <td align="right">5624kB</td>
   <td><tt>63d0f7e4d1011b30556d063f5b3816d3df95d14f8a3909e84349d8445d2883b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/dolphin-plugins-23.07.90.tar.xz">dolphin-plugins-23.07.90</a></td>
   <td align="right">267kB</td>
   <td><tt>2c2841a72c2dfdabb8121c0ae04c8ef12989355997ece64d9ccdd820df3cad19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/dragon-23.07.90.tar.xz">dragon-23.07.90</a></td>
   <td align="right">1630kB</td>
   <td><tt>490e50f407f6687037f9ba899bdc19eb302445b4106cbf0b83ada6c942a1318d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/elisa-23.07.90.tar.xz">elisa-23.07.90</a></td>
   <td align="right">1770kB</td>
   <td><tt>2e2ea34d3494403c22dac6ce7e3424102f004b8ee355c4c497b00e78204ad69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/eventviews-23.07.90.tar.xz">eventviews-23.07.90</a></td>
   <td align="right">448kB</td>
   <td><tt>0a476aad67c0d566ccfa9413c0691ee795e4e84ba0568761edafbc53022087b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/falkon-23.07.90.tar.xz">falkon-23.07.90</a></td>
   <td align="right">2510kB</td>
   <td><tt>a13b33f54a8f4ecce45a749f0cfe17566f998bd4eb092dc251c1093ae15fcd47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ffmpegthumbs-23.07.90.tar.xz">ffmpegthumbs-23.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>5e6f0cd7a98e88fde963c5fea3a2f279ffa878d1ebb8240a8cd8fc12b1f8ff4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/filelight-23.07.90.tar.xz">filelight-23.07.90</a></td>
   <td align="right">682kB</td>
   <td><tt>0eae6196c1396c766e770f6b694c6e9798ddb8b3eeb3f351209dfbfc8c976d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ghostwriter-23.07.90.tar.xz">ghostwriter-23.07.90</a></td>
   <td align="right">3536kB</td>
   <td><tt>b8c151fe821e6eb72cc9e180cdc3cb5327592876731bcce578d3e04320da10f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/granatier-23.07.90.tar.xz">granatier-23.07.90</a></td>
   <td align="right">2063kB</td>
   <td><tt>4c402b792d806c0f74a0f1b95132f9800d99384070d709ae63d215b358b48724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/grantlee-editor-23.07.90.tar.xz">grantlee-editor-23.07.90</a></td>
   <td align="right">114kB</td>
   <td><tt>061ee73af45a835a60d2fd3d1b74d2d5200cbfcb2577eba2b548db461f757a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/grantleetheme-23.07.90.tar.xz">grantleetheme-23.07.90</a></td>
   <td align="right">61kB</td>
   <td><tt>1ad5133b27dc4bebe6a4154962099af4a53435fe35bff61e248d188ab49b99b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/gwenview-23.07.90.tar.xz">gwenview-23.07.90</a></td>
   <td align="right">6738kB</td>
   <td><tt>8d744fe72f3ca101c49c92890180c8826a9634c9ab49f0698b54c5475c8d2cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/incidenceeditor-23.07.90.tar.xz">incidenceeditor-23.07.90</a></td>
   <td align="right">554kB</td>
   <td><tt>adf68cae6b807270204a1dfd2e7776129b321c25bb6eccf9dfd37ea6cebbf006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/itinerary-23.07.90.tar.xz">itinerary-23.07.90</a></td>
   <td align="right">618kB</td>
   <td><tt>ed1ebd22ed8b65ff33611c6bc20ae1acbcda0d085f1ce9cc2337f9a4241864f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/juk-23.07.90.tar.xz">juk-23.07.90</a></td>
   <td align="right">2031kB</td>
   <td><tt>804e787ba9991ba4135b0a3f8605620c51d80526d4032fb44a403ca3f0044e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/k3b-23.07.90.tar.xz">k3b-23.07.90</a></td>
   <td align="right">10708kB</td>
   <td><tt>f5f92ea8ff32659ffc3401c9f7f0a31b5dce285c53da56e1222041991f10e5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kaccounts-integration-23.07.90.tar.xz">kaccounts-integration-23.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>48b41d9c98026e8a051bb391b1ff708ca7746072d323d6bac46ed5ce4603f9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kaccounts-providers-23.07.90.tar.xz">kaccounts-providers-23.07.90</a></td>
   <td align="right">64kB</td>
   <td><tt>f529042a2c00a277973f66bd5f1e95d66c7036487110f2f964602370ec1bea02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kaddressbook-23.07.90.tar.xz">kaddressbook-23.07.90</a></td>
   <td align="right">3375kB</td>
   <td><tt>6604799904b0e06f3c331253f1ec2f54936ee3caf13ddc3375925932c5663cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kajongg-23.07.90.tar.xz">kajongg-23.07.90</a></td>
   <td align="right">4470kB</td>
   <td><tt>915964842f29b897e0af1a56d8ebed789b408bcff2eed8906c5a6ed2dfa09221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kalarm-23.07.90.tar.xz">kalarm-23.07.90</a></td>
   <td align="right">2534kB</td>
   <td><tt>c13a3f8e25765faf539e4ac877b29f50d9e21b25bac81cab92793acd856a6826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kalgebra-23.07.90.tar.xz">kalgebra-23.07.90</a></td>
   <td align="right">1012kB</td>
   <td><tt>69975a7263bf274aecbeae5b77ca9cdec6187fa4d4a9a4e357cb5fe0b461c42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kalk-23.07.90.tar.xz">kalk-23.07.90</a></td>
   <td align="right">82kB</td>
   <td><tt>3b38c2b41d170e703f926872e21b8a84423537eddea031f07fd4f1ac6981ae88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kalzium-23.07.90.tar.xz">kalzium-23.07.90</a></td>
   <td align="right">24064kB</td>
   <td><tt>0ebc959071310dcb1360229f2a58f354ddb7a852a010dac40ed1af6344c77508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kamera-23.07.90.tar.xz">kamera-23.07.90</a></td>
   <td align="right">127kB</td>
   <td><tt>0c03ba99b5f2e650936a65fe18d55e324aacc73a04a71d25197b1ba42dc0b44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kamoso-23.07.90.tar.xz">kamoso-23.07.90</a></td>
   <td align="right">226kB</td>
   <td><tt>c96f452b88964e4f091ca69d068854cbb219077a5c72248c71f9770873a4fd86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kanagram-23.07.90.tar.xz">kanagram-23.07.90</a></td>
   <td align="right">7877kB</td>
   <td><tt>373ccde0c6ed936812070bc384d4c28ff59d5c012c6e77cd292384c5b3ab88f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kapman-23.07.90.tar.xz">kapman-23.07.90</a></td>
   <td align="right">2423kB</td>
   <td><tt>b6e9f6e5782737e169c4d628068382c2b1fef3b7f8d32014885c1cc4010803ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kapptemplate-23.07.90.tar.xz">kapptemplate-23.07.90</a></td>
   <td align="right">331kB</td>
   <td><tt>4d4740c3d79baf1d0d1e9e3a1edb2bcbb965a22ad741244d13b7a519757b4b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kasts-23.07.90.tar.xz">kasts-23.07.90</a></td>
   <td align="right">550kB</td>
   <td><tt>b926d01ae2dab3c3635eff91137792fe1b25b492e6a1863ecafbf651ceec955d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kate-23.07.90.tar.xz">kate-23.07.90</a></td>
   <td align="right">7843kB</td>
   <td><tt>08886f7749f0696be4d8662b3151d43f371ce8bf8400a4f362a6c89c92eb5955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/katomic-23.07.90.tar.xz">katomic-23.07.90</a></td>
   <td align="right">1416kB</td>
   <td><tt>f7762a7668e15d73d8243ba98dd462c2b8c386a3501655ac8635873babb455e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kbackup-23.07.90.tar.xz">kbackup-23.07.90</a></td>
   <td align="right">388kB</td>
   <td><tt>c1c3907ea6e59a51d49e4a3ca70c91248780f0574d4225ae3081183db00d893f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kblackbox-23.07.90.tar.xz">kblackbox-23.07.90</a></td>
   <td align="right">537kB</td>
   <td><tt>b7b5e1e57e54410ae7cbf931e6c0f897eca50efd0b481fdece6567737043f213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kblocks-23.07.90.tar.xz">kblocks-23.07.90</a></td>
   <td align="right">2059kB</td>
   <td><tt>b952edd01c9b38e07f43e259c8fa4eee8561eea5fcda0b28b6b84483f72291a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kbounce-23.07.90.tar.xz">kbounce-23.07.90</a></td>
   <td align="right">3461kB</td>
   <td><tt>3cbc18254b364c438b97e206e81d94ab28936e913735090a87fa37328e5aee1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kbreakout-23.07.90.tar.xz">kbreakout-23.07.90</a></td>
   <td align="right">2500kB</td>
   <td><tt>cba8fb35c059b4c6fe7627fb606afe7acffbd322d1633164d6fbe6cb2a6ea594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kbruch-23.07.90.tar.xz">kbruch-23.07.90</a></td>
   <td align="right">5523kB</td>
   <td><tt>6f2388dd3d05e06c4811bb9cbb980cbeed24c4e2f7c9260a73a4708c0b8117fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcachegrind-23.07.90.tar.xz">kcachegrind-23.07.90</a></td>
   <td align="right">900kB</td>
   <td><tt>83bccbe185cdd75490014216908196b27dd1e8ca9dca9b6e474766704fbc772e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcalc-23.07.90.tar.xz">kcalc-23.07.90</a></td>
   <td align="right">427kB</td>
   <td><tt>45b056e09f7cf3e55b6f314dcaf5040852ccb0e148a3918f7bcb46fa26235d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcalutils-23.07.90.tar.xz">kcalutils-23.07.90</a></td>
   <td align="right">343kB</td>
   <td><tt>3d983f22dc1bab6c1b990db8951f70595fa511a6af55349c911f9aebd4558b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcharselect-23.07.90.tar.xz">kcharselect-23.07.90</a></td>
   <td align="right">374kB</td>
   <td><tt>1d1bc27a4508d1248ce0aea26477c02ea80c1c8053a676a847ef880c93dd5f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kclock-23.07.90.tar.xz">kclock-23.07.90</a></td>
   <td align="right">624kB</td>
   <td><tt>30426fc31b189dea70c275e8be4001a08d63ab4364d693cff63b18b6762a4702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcolorchooser-23.07.90.tar.xz">kcolorchooser-23.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>bbc9b23f8a64606cee379c9ce6856bd4e69283e9d952834f6ccfe1255e4b66bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kcron-23.07.90.tar.xz">kcron-23.07.90</a></td>
   <td align="right">919kB</td>
   <td><tt>e2968d19b4468a338108bede4c278413d9903447da912e1247f3de4fbeb53009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdebugsettings-23.07.90.tar.xz">kdebugsettings-23.07.90</a></td>
   <td align="right">105kB</td>
   <td><tt>078b63db8f66317848ca42fc870570dfe4b4662e0cdf61729b38d70f347d618e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdeconnect-kde-23.07.90.tar.xz">kdeconnect-kde-23.07.90</a></td>
   <td align="right">639kB</td>
   <td><tt>6b1b84abd4d94eef45708646c6cec71ae775524d1e79b67ad7b69178aa107d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kde-dev-scripts-23.07.90.tar.xz">kde-dev-scripts-23.07.90</a></td>
   <td align="right">365kB</td>
   <td><tt>ef72dd943d4a2a661d5570dc192b3d340ddba87dc79afa5cf40a78d4c2c319b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kde-dev-utils-23.07.90.tar.xz">kde-dev-utils-23.07.90</a></td>
   <td align="right">72kB</td>
   <td><tt>fc403cf10db7d1c0620b682317b12dcffd12f8ff4bd2d306ecf3565256e6312d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdeedu-data-23.07.90.tar.xz">kdeedu-data-23.07.90</a></td>
   <td align="right">325kB</td>
   <td><tt>9dbbcd3a937f9cd41936a59c70f8bb526e0730cc61965ab0fbf7aab91683f3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdegraphics-mobipocket-23.07.90.tar.xz">kdegraphics-mobipocket-23.07.90</a></td>
   <td align="right">12kB</td>
   <td><tt>47a559aa4071a2b52a205c96aee8bc008d42f554180b30288484e8fcc7ce4b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdegraphics-thumbnailers-23.07.90.tar.xz">kdegraphics-thumbnailers-23.07.90</a></td>
   <td align="right">48kB</td>
   <td><tt>e56df4c77c0e3f6156174eb7b1416218602a589a5029879e16a4dd53c50e7ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kde-inotify-survey-23.07.90.tar.xz">kde-inotify-survey-23.07.90</a></td>
   <td align="right">224kB</td>
   <td><tt>99f235f1bce5287f4a913d09f5708d9fea28e648ee4b7bb8704eaaa45e226f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdenetwork-filesharing-23.07.90.tar.xz">kdenetwork-filesharing-23.07.90</a></td>
   <td align="right">468kB</td>
   <td><tt>296ce8ba90bedb5b1556fc14634d4296a0573f954e5c8439ad837696435cb6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdenlive-23.07.90.tar.xz">kdenlive-23.07.90</a></td>
   <td align="right">12394kB</td>
   <td><tt>54af460380a7b1bab64a45cef04ad233e7b74113f70da91ff8598d4d592fe70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdepim-addons-23.07.90.tar.xz">kdepim-addons-23.07.90</a></td>
   <td align="right">2580kB</td>
   <td><tt>c4649a4e33335e4303b64ac003420a0b726af7f6fc5cb7d7ecfb6d8d8301cf47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdepim-runtime-23.07.90.tar.xz">kdepim-runtime-23.07.90</a></td>
   <td align="right">1819kB</td>
   <td><tt>2f3ecad195ffed7eabe6804080f41458bb7afa33f09f50fd7c32433a5c03aa9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdesdk-kio-23.07.90.tar.xz">kdesdk-kio-23.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>35ed0e0ae1f2b6044ceb7f140179b476a4c1ebfa65ef3b0b8af94270c80a5a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdesdk-thumbnailers-23.07.90.tar.xz">kdesdk-thumbnailers-23.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>e5ce0c1f2f614d1a90427368988aee988985df3c860230896e3d76540df93f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdevelop-23.07.90.tar.xz">kdevelop-23.07.90</a></td>
   <td align="right">8500kB</td>
   <td><tt>87a88ca57f7f8f153f180476a9533fc4785164d9a50233c7d3e61f85ac9ac72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdev-php-23.07.90.tar.xz">kdev-php-23.07.90</a></td>
   <td align="right">1062kB</td>
   <td><tt>d46c4f45867eeda46b60db615a26841641c9a4bd2c00e4d2dd8b9021b9c0a27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdev-python-23.07.90.tar.xz">kdev-python-23.07.90</a></td>
   <td align="right">1071kB</td>
   <td><tt>529c07d9ee318b089eaeea58902a1dddcb3a7b4447e3655003804ee3c0993dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdf-23.07.90.tar.xz">kdf-23.07.90</a></td>
   <td align="right">480kB</td>
   <td><tt>3c4b918271baa984550218f771b02e7159efbae0245449b1158e7f1bdeb0f394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdialog-23.07.90.tar.xz">kdialog-23.07.90</a></td>
   <td align="right">139kB</td>
   <td><tt>1f15130d8497b2ef45d2a676212518dcbb7c65cb2079aac997f28ac3f03cbb23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kdiamond-23.07.90.tar.xz">kdiamond-23.07.90</a></td>
   <td align="right">4598kB</td>
   <td><tt>60d56cb6053d49633e7f1b022e95b5e35c8f33a984fae255f7af7fb5699d8b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/keditbookmarks-23.07.90.tar.xz">keditbookmarks-23.07.90</a></td>
   <td align="right">233kB</td>
   <td><tt>9d0ba0e1771f820b2c2a293c8dd2ad9d8fcec0175d6f94b060f5ebaef75ede54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/keysmith-23.07.90.tar.xz">keysmith-23.07.90</a></td>
   <td align="right">159kB</td>
   <td><tt>12d867ef05d477488845815cf24531b285b882d20e1436e6fd6fbce1ea66a8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kfind-23.07.90.tar.xz">kfind-23.07.90</a></td>
   <td align="right">335kB</td>
   <td><tt>9be1b75f2c656f787a93e8d6cfd40313ed3a6b069f9f90c095bc17865f824049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kfourinline-23.07.90.tar.xz">kfourinline-23.07.90</a></td>
   <td align="right">721kB</td>
   <td><tt>2188ac90d7b26ab5efdb095588b10b789de27fd10469682546826804b6a324e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kgeography-23.07.90.tar.xz">kgeography-23.07.90</a></td>
   <td align="right">12257kB</td>
   <td><tt>1439511c9897f05ba881fbc5f232fa7d9673bdefa993b6ac472ae725617afdb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kget-23.07.90.tar.xz">kget-23.07.90</a></td>
   <td align="right">5433kB</td>
   <td><tt>ee0a0163bcef82e54611e67b70b85287f016dc6dcd04d88a39233e1a282c1992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kgoldrunner-23.07.90.tar.xz">kgoldrunner-23.07.90</a></td>
   <td align="right">4790kB</td>
   <td><tt>0e0a3f35550add7e0e260b72e765c1c20248de0d0a7f7a3fc8b170bcd1f3af86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kgpg-23.07.90.tar.xz">kgpg-23.07.90</a></td>
   <td align="right">2974kB</td>
   <td><tt>7dbee75a36d22402c8a9a889f2a640aff12ce18f5d1355f88ca7f4fadd1e3c6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/khangman-23.07.90.tar.xz">khangman-23.07.90</a></td>
   <td align="right">7266kB</td>
   <td><tt>21a8ea05351753d3a9f1949629e27d2edf20584a14e5a870b9fc96106ceb5807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/khelpcenter-23.07.90.tar.xz">khelpcenter-23.07.90</a></td>
   <td align="right">4266kB</td>
   <td><tt>3f94ca4360b5a55f30aa27c1668a4ec90f91f795254685b19e249639d29a5ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kidentitymanagement-23.07.90.tar.xz">kidentitymanagement-23.07.90</a></td>
   <td align="right">160kB</td>
   <td><tt>d7c0ee9edf7a1ec313d98c7bc4b49fb8272bc3924a92ea2f702c96ad753c017c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kig-23.07.90.tar.xz">kig-23.07.90</a></td>
   <td align="right">3220kB</td>
   <td><tt>c59edc35dc96afda783ff98128b9e7030f8aa95081a2acb15f1825670d814388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kigo-23.07.90.tar.xz">kigo-23.07.90</a></td>
   <td align="right">5142kB</td>
   <td><tt>96b3bbb244f91aca3ff09e7f1bd8401afd33bf9b95959cef5f3c717862edb81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/killbots-23.07.90.tar.xz">killbots-23.07.90</a></td>
   <td align="right">1174kB</td>
   <td><tt>63c75180b1140e4826729e5a452db474a0f5f1160d4609fe09622586a0fdf9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kimagemapeditor-23.07.90.tar.xz">kimagemapeditor-23.07.90</a></td>
   <td align="right">1078kB</td>
   <td><tt>6cefeb2b3148e409782faa92d5461f487a99aa01e9855b3993614d04110a1ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kimap-23.07.90.tar.xz">kimap-23.07.90</a></td>
   <td align="right">127kB</td>
   <td><tt>bd7a12ec60d216dd10a671263d8a34e9f4a9b0375115830551b239852703b373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kio-admin-23.07.90.tar.xz">kio-admin-23.07.90</a></td>
   <td align="right">34kB</td>
   <td><tt>00c6ab02d27757d3fce7dbc7b97e9dc59f33348ada7ea41d0e4d07353fadec1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kio-extras-23.07.90.tar.xz">kio-extras-23.07.90</a></td>
   <td align="right">1395kB</td>
   <td><tt>6a946a5dea4f2c51fe29a6fd18a005c95b5fcd2fdd63eb46f07cdd24ec7d8779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kio-gdrive-23.07.90.tar.xz">kio-gdrive-23.07.90</a></td>
   <td align="right">77kB</td>
   <td><tt>02628448ee937cfeb70686ea22354640c50caae007f18bf90c0734b948ecfc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kio-zeroconf-23.07.90.tar.xz">kio-zeroconf-23.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>9b191e0e930c54c2dac6936bf59241ca0c97cfcc16af2a57e3311770739b2ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kipi-plugins-23.07.90.tar.xz">kipi-plugins-23.07.90</a></td>
   <td align="right">1527kB</td>
   <td><tt>6260fa6f6f5cc11de67f81c720ea4a3124e76d79fb7f8fc5feb3796a3b683e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kirigami-gallery-23.07.90.tar.xz">kirigami-gallery-23.07.90</a></td>
   <td align="right">342kB</td>
   <td><tt>b02fd33f302d4e14ed0523a284cad1a4560ee8dee6b7c0d8f7a2ce16dc717249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kiriki-23.07.90.tar.xz">kiriki-23.07.90</a></td>
   <td align="right">361kB</td>
   <td><tt>a552f864d49ef75b233c3ce42f7b7f50514d4a63717efffe67804929554ddfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kiten-23.07.90.tar.xz">kiten-23.07.90</a></td>
   <td align="right">11067kB</td>
   <td><tt>bb6fa76b2138fbc3a47707037435961014c6b051838dad009dcb54b1554a1c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kitinerary-23.07.90.tar.xz">kitinerary-23.07.90</a></td>
   <td align="right">1878kB</td>
   <td><tt>73d3f1c48257af8f8769b61000024f15b5074b9ca28f3cf8aead964e75a0494c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kjournald-23.07.90.tar.xz">kjournald-23.07.90</a></td>
   <td align="right">501kB</td>
   <td><tt>1440b8a29a6ac9289b78737fea3e86fcd8b6243b68d71c9a7b517be4fc1d2578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kjumpingcube-23.07.90.tar.xz">kjumpingcube-23.07.90</a></td>
   <td align="right">329kB</td>
   <td><tt>49a4662475588565065e5ba8a18b0c8191f3c26d00c21967fc97b80327785b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kldap-23.07.90.tar.xz">kldap-23.07.90</a></td>
   <td align="right">178kB</td>
   <td><tt>980d6c8f8664783732b1b8c904751772019ba0a4862d9bbb666c923d7e3ed8bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kleopatra-23.07.90.tar.xz">kleopatra-23.07.90</a></td>
   <td align="right">2615kB</td>
   <td><tt>cf66d652c834b86c9de71440c8bb6452cb18e1d60b84420430b436c1150eac78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/klettres-23.07.90.tar.xz">klettres-23.07.90</a></td>
   <td align="right">46716kB</td>
   <td><tt>b9b9302a7a58e17ab895299d083724e45f4edb09c11e484aaa1f9fd1d7740554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/klickety-23.07.90.tar.xz">klickety-23.07.90</a></td>
   <td align="right">1465kB</td>
   <td><tt>2ef6c7dc0333746a3b8daaf2457d4cb648fab58a3e82ab461c17355053f209f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/klines-23.07.90.tar.xz">klines-23.07.90</a></td>
   <td align="right">1697kB</td>
   <td><tt>bfee350ca851f38dfcac97769660ccd9a382a5ecad8f758dbef6b83bdb304d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmag-23.07.90.tar.xz">kmag-23.07.90</a></td>
   <td align="right">707kB</td>
   <td><tt>30d34f798139655ad4c0fd1c6ce2a97501094de30bcf24d6d47d84bf4b34796b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmahjongg-23.07.90.tar.xz">kmahjongg-23.07.90</a></td>
   <td align="right">4000kB</td>
   <td><tt>7dce5382b997410017f866d0f490b90114670302f4dcd05fe9bef7eec9005c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmail-23.07.90.tar.xz">kmail-23.07.90</a></td>
   <td align="right">7471kB</td>
   <td><tt>c81505da6b3866e8be183378ad309a4ea7625cb6bdaf4c601bfb5a8e3d329b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmail-account-wizard-23.07.90.tar.xz">kmail-account-wizard-23.07.90</a></td>
   <td align="right">180kB</td>
   <td><tt>a287dbf68a646eca6e7768065779934fe4b6e80231a6202b45e295daba2d1509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmailtransport-23.07.90.tar.xz">kmailtransport-23.07.90</a></td>
   <td align="right">170kB</td>
   <td><tt>e39db303c23259a6cdbd3b888d06be44a823cb5fd1da7932658541a0d5db93f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmbox-23.07.90.tar.xz">kmbox-23.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>07657f698f5383e2b2e59170a2dd096a33d3fa0c3c6b0990ba404d63dd2407b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmime-23.07.90.tar.xz">kmime-23.07.90</a></td>
   <td align="right">158kB</td>
   <td><tt>83a9f8886974c153aae2be6dd86d6c17d134a538bd07ae3fffa4a1422666293a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmines-23.07.90.tar.xz">kmines-23.07.90</a></td>
   <td align="right">985kB</td>
   <td><tt>44e8bc5486733465c09b356e0c30abc9a52b449cc70c9bd575aba637ea90532e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmix-23.07.90.tar.xz">kmix-23.07.90</a></td>
   <td align="right">1180kB</td>
   <td><tt>61a478b7d991b32ab6f6793522dd41f5127739f97d21710d2b03b33618b9b1d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmousetool-23.07.90.tar.xz">kmousetool-23.07.90</a></td>
   <td align="right">126kB</td>
   <td><tt>2492098d3b35e371306dfbf8f5bb86a5e9a981f9637b1335d258a69453ec3c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmouth-23.07.90.tar.xz">kmouth-23.07.90</a></td>
   <td align="right">2038kB</td>
   <td><tt>0910ba55abdd1b7949de7ee0bd51e6487aadee8cef6d4df4863a2b62cf7a0345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kmplot-23.07.90.tar.xz">kmplot-23.07.90</a></td>
   <td align="right">3026kB</td>
   <td><tt>25adfd3fbe1f8fa24a242f6da19ab17bf6c56990ade760128595a99cb31f5da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/knavalbattle-23.07.90.tar.xz">knavalbattle-23.07.90</a></td>
   <td align="right">1367kB</td>
   <td><tt>2e7acf728bc25fa83b28e4f0678552becdd10e40d449e537c8c5d51cf9fe1e43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/knetwalk-23.07.90.tar.xz">knetwalk-23.07.90</a></td>
   <td align="right">1079kB</td>
   <td><tt>bd83ff28d2d570749d219e2fee31d4f582c8df7e086b0ffc4deea926b3b4e0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/knights-23.07.90.tar.xz">knights-23.07.90</a></td>
   <td align="right">3251kB</td>
   <td><tt>5d7807c2c1508c205b25f5ccbd1ae724dc2bd4550f8ea34770b54ded22643ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/knotes-23.07.90.tar.xz">knotes-23.07.90</a></td>
   <td align="right">368kB</td>
   <td><tt>dc4607e678067e8cb76809729cf3f27e21c9138d46a5743e5e80f5b7c3ab517a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/koko-23.07.90.tar.xz">koko-23.07.90</a></td>
   <td align="right">134kB</td>
   <td><tt>dc41a97568715f3cef50b4fd3c737c29325e2ebdfa216b81f0590923f856fcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kolf-23.07.90.tar.xz">kolf-23.07.90</a></td>
   <td align="right">1043kB</td>
   <td><tt>c05f0478867e1523a8301de81ed301ae03f704a9f3d8bd9bd2ed851b91735511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kollision-23.07.90.tar.xz">kollision-23.07.90</a></td>
   <td align="right">300kB</td>
   <td><tt>e278b1e6960fb3da11c3008a9ca113dd8ee40d2b7d84e260f6f955631cb1e144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kolourpaint-23.07.90.tar.xz">kolourpaint-23.07.90</a></td>
   <td align="right">5650kB</td>
   <td><tt>62c63639402bb5bb7237b5c8edf5b169437208ff71ccba22336f3b20fb06534b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kompare-23.07.90.tar.xz">kompare-23.07.90</a></td>
   <td align="right">960kB</td>
   <td><tt>d3b437e608862c0f85025b329ca697c79878f3e56b543436fbb89d020d8e9a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kongress-23.07.90.tar.xz">kongress-23.07.90</a></td>
   <td align="right">575kB</td>
   <td><tt>fad15366026a0e8938bfae7657c9e166a8da23fc21b6f6e3471211c46d62f0f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/konqueror-23.07.90.tar.xz">konqueror-23.07.90</a></td>
   <td align="right">9830kB</td>
   <td><tt>89296885b39ee01fdbf854c3e83e31af630071436619e4b05dd36b7567992903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/konquest-23.07.90.tar.xz">konquest-23.07.90</a></td>
   <td align="right">854kB</td>
   <td><tt>85fb9e2c688943242404eb88accb4e2338d74e7e80d64907b7147a0b3ae7ed93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/konsole-23.07.90.tar.xz">konsole-23.07.90</a></td>
   <td align="right">1784kB</td>
   <td><tt>eca493b98c99d645dfad616b0fcf914a886589981c37116f8eece8246933bf5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kontact-23.07.90.tar.xz">kontact-23.07.90</a></td>
   <td align="right">854kB</td>
   <td><tt>e77881390b09a4767d38a057eed75a08183af4d3305cafc1d28082677eaf4959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kontactinterface-23.07.90.tar.xz">kontactinterface-23.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>47636d7437ed712d2d70e3b50da650863be9f6975343c78ae062574474fd5fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kontrast-23.07.90.tar.xz">kontrast-23.07.90</a></td>
   <td align="right">203kB</td>
   <td><tt>181fdc6fab4bde5a8e6473a7bd09277a8a34bb34be354f1e31ad6e7bb6d4c1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/konversation-23.07.90.tar.xz">konversation-23.07.90</a></td>
   <td align="right">4372kB</td>
   <td><tt>ea03d475e69516df6ad9b4cc131a7cf3c9eeaa13231e4721136739a3b2a3d83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kopeninghours-23.07.90.tar.xz">kopeninghours-23.07.90</a></td>
   <td align="right">70kB</td>
   <td><tt>c69d9db8ba510148a8a89c80166a4816cca495cf0a2500deb5507d593334ca0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kopete-23.07.90.tar.xz">kopete-23.07.90</a></td>
   <td align="right">9907kB</td>
   <td><tt>29e9bb0b5073845eb1925db75dd1cec9fa838b76674c450d8a506c1c1bfc91c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/korganizer-23.07.90.tar.xz">korganizer-23.07.90</a></td>
   <td align="right">2476kB</td>
   <td><tt>b019fe05a0331ff38a9f4c6f906a8f015bfee6a035d22434ad4e2ede2c2f0ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kosmindoormap-23.07.90.tar.xz">kosmindoormap-23.07.90</a></td>
   <td align="right">367kB</td>
   <td><tt>a30110c6ef222e98f540fc62d7f7a1b64589e85ac89694ca1f4bbc289e3f9616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kpat-23.07.90.tar.xz">kpat-23.07.90</a></td>
   <td align="right">3664kB</td>
   <td><tt>b7c80578f821adacb414da5b31c0da8064b8d1966152e4bc8e944a52b53cbd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kpimtextedit-23.07.90.tar.xz">kpimtextedit-23.07.90</a></td>
   <td align="right">295kB</td>
   <td><tt>1ce22d7de1cf3f88a86711328461b9e7280573050c7a0ee461fa7711ac856909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kpkpass-23.07.90.tar.xz">kpkpass-23.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>c84a5c5537af0251dfb21f223b3cb21ce5141c00dc73d222e7d43f831931319c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kpmcore-23.07.90.tar.xz">kpmcore-23.07.90</a></td>
   <td align="right">608kB</td>
   <td><tt>fc94e6c2f300accf97de8a32693517d78916f3fa5d9a5b160c520ff1845e5708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kpublictransport-23.07.90.tar.xz">kpublictransport-23.07.90</a></td>
   <td align="right">554kB</td>
   <td><tt>832198be41956ea098c9c495a944fbee02ac1f14790c7f89ca43f53dd9492e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kqtquickcharts-23.07.90.tar.xz">kqtquickcharts-23.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ef2936b6ed238e70f52590f68a1ab33d4012baade66397d6ba1f06910222ca7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/krdc-23.07.90.tar.xz">krdc-23.07.90</a></td>
   <td align="right">1590kB</td>
   <td><tt>fc51e8e0d26cd7c86215f30191521d5f3c18383c5a1b481075db0d59b75e623b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/krecorder-23.07.90.tar.xz">krecorder-23.07.90</a></td>
   <td align="right">157kB</td>
   <td><tt>c84cbde3bff11575d621da0ed4c83fe16118bad9ec11fc3e2b10ea51f77c0dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kreversi-23.07.90.tar.xz">kreversi-23.07.90</a></td>
   <td align="right">1052kB</td>
   <td><tt>2f65a44921c65c8ae36965a23ab87c59813cfd5d3671c61b9afe14f76694cccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/krfb-23.07.90.tar.xz">krfb-23.07.90</a></td>
   <td align="right">1288kB</td>
   <td><tt>0be3cc57f4368a785438d8e54714adf38dad225e8991d7a82e85932ddbb7ab7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kross-interpreters-23.07.90.tar.xz">kross-interpreters-23.07.90</a></td>
   <td align="right">148kB</td>
   <td><tt>b3f96a44754e1ccc0579cfa4830afe33087f462f56d6ac0ed6c82415516c541f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kruler-23.07.90.tar.xz">kruler-23.07.90</a></td>
   <td align="right">280kB</td>
   <td><tt>155cc5d15b59c86de0ef075379250643a38b2729bfe8347a100b7c95f4008ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksanecore-23.07.90.tar.xz">ksanecore-23.07.90</a></td>
   <td align="right">48kB</td>
   <td><tt>18a40019b097ad36c220ea05ab416825313307e3886d0d404e0b63621dc782a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kshisen-23.07.90.tar.xz">kshisen-23.07.90</a></td>
   <td align="right">984kB</td>
   <td><tt>56caccc4e540c2d5fdd2fa93e473fa4552d7523caed281255b18189fbea25d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksirk-23.07.90.tar.xz">ksirk-23.07.90</a></td>
   <td align="right">6883kB</td>
   <td><tt>14ad197ac28d1c366f0fa19d862b78030d4eedf1a5041db7a6674f1c90829795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksmtp-23.07.90.tar.xz">ksmtp-23.07.90</a></td>
   <td align="right">49kB</td>
   <td><tt>f09f11d9e31c0e8826e6ebe3e628712046742291f4e1827e7ee8d1e9e17c85cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksnakeduel-23.07.90.tar.xz">ksnakeduel-23.07.90</a></td>
   <td align="right">588kB</td>
   <td><tt>342633a525a3843f16e1ea22c73a167c330d67d39ba4d3eaa9ba1eeb9680e75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kspaceduel-23.07.90.tar.xz">kspaceduel-23.07.90</a></td>
   <td align="right">644kB</td>
   <td><tt>dc3e3099a3b6e3d59ddc65199b887395dbb23805ca06b1de73a42ca633590506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksquares-23.07.90.tar.xz">ksquares-23.07.90</a></td>
   <td align="right">305kB</td>
   <td><tt>c1b6fd97a6fc8d88803caadba3d082827df47402ead350bae5bf4f98079c1324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksudoku-23.07.90.tar.xz">ksudoku-23.07.90</a></td>
   <td align="right">1662kB</td>
   <td><tt>44e517002c9aadfdab566cabae881d44d9a11daee2568b4d4160869822f17e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ksystemlog-23.07.90.tar.xz">ksystemlog-23.07.90</a></td>
   <td align="right">1957kB</td>
   <td><tt>12c3ec4d77cf67eda823d091c3cf9acd96ae6b536ad5162bcfaacce4dfce244e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kteatime-23.07.90.tar.xz">kteatime-23.07.90</a></td>
   <td align="right">305kB</td>
   <td><tt>6d0c67520ac45920e1f02660f7302cc3e21f870690f6b9996f99ffcd8b991312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktimer-23.07.90.tar.xz">ktimer-23.07.90</a></td>
   <td align="right">395kB</td>
   <td><tt>28bb09c6d6562b5fe9d9c34a89fe01e0fed13fee591e5de436cd6c30f47de494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktnef-23.07.90.tar.xz">ktnef-23.07.90</a></td>
   <td align="right">302kB</td>
   <td><tt>83c46c0b322c857c097ce02cd3095150596f8503b5d734c66219bcce16a5815a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktorrent-23.07.90.tar.xz">ktorrent-23.07.90</a></td>
   <td align="right">2103kB</td>
   <td><tt>00bbfd1e06e38e6f9c53d42203cb5eab481d51155eeed8924a7f26f94f0e7705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktouch-23.07.90.tar.xz">ktouch-23.07.90</a></td>
   <td align="right">4920kB</td>
   <td><tt>56cf7bbaa9e2071d44f99b250f56a49dd987b8cfd9437803c0df5ccae4b14580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktrip-23.07.90.tar.xz">ktrip-23.07.90</a></td>
   <td align="right">247kB</td>
   <td><tt>835cf351d83f8bae4f4c1b9adc6fcf23c01310e90fe355894928a57d433e4901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/ktuberling-23.07.90.tar.xz">ktuberling-23.07.90</a></td>
   <td align="right">69747kB</td>
   <td><tt>e3684ac06f9a4b225d9a9b04d37dd0e99462a9ab7ed8cb0d51afe0a4999b8163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kturtle-23.07.90.tar.xz">kturtle-23.07.90</a></td>
   <td align="right">2190kB</td>
   <td><tt>ccb5a4bda793d11229f8bb17aa24a4d08505cfaf2e88fb32f07ec0fe2a4adeed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kubrick-23.07.90.tar.xz">kubrick-23.07.90</a></td>
   <td align="right">340kB</td>
   <td><tt>109eefa9624f685c1b807699afc060501c49cdc37c157f9e78b983033a06b21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kwalletmanager-23.07.90.tar.xz">kwalletmanager-23.07.90</a></td>
   <td align="right">831kB</td>
   <td><tt>c14885d594d36e6df8728ed08545d091b436df7377792074d13f93b9bbe6f594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kwave-23.07.90.tar.xz">kwave-23.07.90</a></td>
   <td align="right">6801kB</td>
   <td><tt>434ddf770f93a74b58e7e50fa00eefe84ab35df012855e85cbce5bbacbb0d3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kweather-23.07.90.tar.xz">kweather-23.07.90</a></td>
   <td align="right">922kB</td>
   <td><tt>1d9f1127bc796665ea70fe93c294aeff1393d466a40a33487a36a976fb564134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/kwordquiz-23.07.90.tar.xz">kwordquiz-23.07.90</a></td>
   <td align="right">3985kB</td>
   <td><tt>8e65b195d2cf2e6038cb871df169943284beb13c6abb53e47562eb0c40022ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libgravatar-23.07.90.tar.xz">libgravatar-23.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>c98b5b205b1fdbb71fa1f890c17c957c51b10ea8578a7f7201291b570b5bf94e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkcddb-23.07.90.tar.xz">libkcddb-23.07.90</a></td>
   <td align="right">440kB</td>
   <td><tt>4c27e0b26c13561c3291a6878af9d16d2abdc7ed55ce34eafd15cc9c99221e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkcompactdisc-23.07.90.tar.xz">libkcompactdisc-23.07.90</a></td>
   <td align="right">97kB</td>
   <td><tt>3b447c7cfe87392bed037804c71c886cf368fadd0c065643f539bbe5eea5f1df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkdcraw-23.07.90.tar.xz">libkdcraw-23.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>bb4af6936742745c42c341ffbaaf83e5f52b3f5dfc35af9f42b3cdee73e495a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkdegames-23.07.90.tar.xz">libkdegames-23.07.90</a></td>
   <td align="right">5840kB</td>
   <td><tt>78c5a3b3c74a34e6fdf8fe43755565206db176c2d4dffe045b2790c33db29c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkdepim-23.07.90.tar.xz">libkdepim-23.07.90</a></td>
   <td align="right">278kB</td>
   <td><tt>7f5fce22771eda55759ce720b5b0245d174bc6862ce86a006331ae1faff27b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkeduvocdocument-23.07.90.tar.xz">libkeduvocdocument-23.07.90</a></td>
   <td align="right">223kB</td>
   <td><tt>ad0a5bf2f0dc37c69069f759c6f169daaef4517c450e2e0c840cf5ac5333121c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkexiv2-23.07.90.tar.xz">libkexiv2-23.07.90</a></td>
   <td align="right">59kB</td>
   <td><tt>fcc6e25521517de7cfc29bc804cf215814fe2ca6e5801b9493f55ebbaf0ca56f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkgapi-23.07.90.tar.xz">libkgapi-23.07.90</a></td>
   <td align="right">327kB</td>
   <td><tt>27581ecefbe0782b6abaaf856fb1cf9347b24b5623f0f2919d096345c04c2bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkipi-23.07.90.tar.xz">libkipi-23.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>b6b1ca6b00c876ea9acce43417a1b4fed4d417187a54eacc543894d42404d922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkleo-23.07.90.tar.xz">libkleo-23.07.90</a></td>
   <td align="right">535kB</td>
   <td><tt>0bd085442f628c7d44cb40ab4afbb195957e605c4146cc275d45c273bf3839a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkmahjongg-23.07.90.tar.xz">libkmahjongg-23.07.90</a></td>
   <td align="right">1648kB</td>
   <td><tt>d734f3256187c3f8d34ba2de95892cd62a3b23719bcfe4e6291a75d32e3ef98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libkomparediff2-23.07.90.tar.xz">libkomparediff2-23.07.90</a></td>
   <td align="right">183kB</td>
   <td><tt>d1e8c60f4ef31c341035cddc88987704cf1e000faaae50af989b6b4522487006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libksane-23.07.90.tar.xz">libksane-23.07.90</a></td>
   <td align="right">151kB</td>
   <td><tt>3baed758dce9addf26b9235d0b6dd6d07621ba88102d6f34f23ab8935fa12ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libksieve-23.07.90.tar.xz">libksieve-23.07.90</a></td>
   <td align="right">542kB</td>
   <td><tt>61ba05f13b4a9d6c6708f9b41a577e0455c4ca7ef6aaeb405580014dc7f841da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/libktorrent-23.07.90.tar.xz">libktorrent-23.07.90</a></td>
   <td align="right">589kB</td>
   <td><tt>e7dd2e460882f3f5a592b8ccd8166708ba25b945d0ac8ec2d87a10849edcd5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/lokalize-23.07.90.tar.xz">lokalize-23.07.90</a></td>
   <td align="right">2090kB</td>
   <td><tt>da7267349bb33456252b93c74f5377bad2f73c57cddcfafcdd43f4c6ee85c91b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/lskat-23.07.90.tar.xz">lskat-23.07.90</a></td>
   <td align="right">1220kB</td>
   <td><tt>0b5f1c8907ada784424075040de3feb5aaa9a967a1bc93c7dddf6469b06fb1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/mailcommon-23.07.90.tar.xz">mailcommon-23.07.90</a></td>
   <td align="right">740kB</td>
   <td><tt>3a1f59a6e10b2228d485c800e2868f634ec255ba52d76945106a1b139819e7da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/mailimporter-23.07.90.tar.xz">mailimporter-23.07.90</a></td>
   <td align="right">577kB</td>
   <td><tt>ea58d147023a16b177bfdafcd20ffff515dbe116c36020873de7675523fd368b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/marble-23.07.90.tar.xz">marble-23.07.90</a></td>
   <td align="right">52524kB</td>
   <td><tt>252835aad964a1e2734aca48fa6194d9165a9210d432b92c548f44cb31033965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/markdownpart-23.07.90.tar.xz">markdownpart-23.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>7d3d03ee32171f3410f839365eac77c148097facb9d4b77021a9f769229c54fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/mbox-importer-23.07.90.tar.xz">mbox-importer-23.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>01c4fed70453c0314d1c8a9937ec1a3f18b8f7a237ded37164ce8201a48020f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/merkuro-23.07.90.tar.xz">merkuro-23.07.90</a></td>
   <td align="right">948kB</td>
   <td><tt>bfb5d24a16a9a1edf3f719753af8d068cc6a2c68b1d0d2168088531d8cc6dc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/messagelib-23.07.90.tar.xz">messagelib-23.07.90</a></td>
   <td align="right">11075kB</td>
   <td><tt>25bae70bc76b1ffca1b51dc022d278c00930cd0ad7a7c38d7d3e6ba5487ef5c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/minuet-23.07.90.tar.xz">minuet-23.07.90</a></td>
   <td align="right">27031kB</td>
   <td><tt>5e0dc9daf662a11043b56b83dce8044529130a504070a2329d44c570cb219890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/neochat-23.07.90.tar.xz">neochat-23.07.90</a></td>
   <td align="right">758kB</td>
   <td><tt>eb5ccff9b71ef0fa15e608d282b18f60baa3e099f28d9d9f1356daa64a641678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/okular-23.07.90.tar.xz">okular-23.07.90</a></td>
   <td align="right">8313kB</td>
   <td><tt>e1ae66c6438d38be166111a265df3e9d8d366a4c01e99a9d29471a9b4fcdec84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/palapeli-23.07.90.tar.xz">palapeli-23.07.90</a></td>
   <td align="right">2062kB</td>
   <td><tt>cc1b097da399c00d86f6a45d6323f48b27467162ba81e62de08a67e0063b8cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/parley-23.07.90.tar.xz">parley-23.07.90</a></td>
   <td align="right">8396kB</td>
   <td><tt>2746b589d82edb7f4706fde98585cda9fdee1324585d869fb7c0bd4eb33f96b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/partitionmanager-23.07.90.tar.xz">partitionmanager-23.07.90</a></td>
   <td align="right">2097kB</td>
   <td><tt>9184b7c08076902fbe2909ae89990a49f0f3fc6d1b7d3e39462248376187c9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/picmi-23.07.90.tar.xz">picmi-23.07.90</a></td>
   <td align="right">1504kB</td>
   <td><tt>faf643abd6a3e4a3458e4f22991060a8cc46c8ff067c49d67a1befb321fb05db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/pimcommon-23.07.90.tar.xz">pimcommon-23.07.90</a></td>
   <td align="right">340kB</td>
   <td><tt>df1553ac700736f430fd24aa6dbdc5980ef79ce1d3e198898f75fbbbf40ee960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/pim-data-exporter-23.07.90.tar.xz">pim-data-exporter-23.07.90</a></td>
   <td align="right">417kB</td>
   <td><tt>8a8b9d60d1db49039ccdce4a7e1064b78fcff100f09ba84ef4212455c27a7a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/pim-sieve-editor-23.07.90.tar.xz">pim-sieve-editor-23.07.90</a></td>
   <td align="right">455kB</td>
   <td><tt>7348aa2efae970cdf47ff16caa6d6eb8019a7aefec79e8ec2612ca4e57823916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/plasmatube-23.07.90.tar.xz">plasmatube-23.07.90</a></td>
   <td align="right">81kB</td>
   <td><tt>cf689573eddb4b92e89b93e4fb285e0b39f8210f7825d3fbbd8996f95c16fbc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/poxml-23.07.90.tar.xz">poxml-23.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>9229bbc9b723c61ca2a6e550705ff7ed6bea8b4141b3285d5bbde5552152cf3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/print-manager-23.07.90.tar.xz">print-manager-23.07.90</a></td>
   <td align="right">282kB</td>
   <td><tt>45f889a13b8993fec5ec98d7ff21d301ae2973841c291d29b091727f33b49543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/qmlkonsole-23.07.90.tar.xz">qmlkonsole-23.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>3db04e6363125817159d7faaac71dba45cc9ccc42e3293920e37d36771000a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/rocs-23.07.90.tar.xz">rocs-23.07.90</a></td>
   <td align="right">1533kB</td>
   <td><tt>1247fc417f4a751e741f4635043b47f4050924f1c148c7642f57974d168c6ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/signon-kwallet-extension-23.07.90.tar.xz">signon-kwallet-extension-23.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>534f39c7ebb0adb79ac0ccb8309ab7de8828bd78bff48c2fd66cd015e7e50d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/skanlite-23.07.90.tar.xz">skanlite-23.07.90</a></td>
   <td align="right">2392kB</td>
   <td><tt>b6206dbe122ed974e534641f076a89ada9a3cfd7dacc5a8f54afc785514f5df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/skanpage-23.07.90.tar.xz">skanpage-23.07.90</a></td>
   <td align="right">1281kB</td>
   <td><tt>67195b06b67633a4e28a81333f548a007198782e0f72e2666c1253eb121ad8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/spectacle-23.07.90.tar.xz">spectacle-23.07.90</a></td>
   <td align="right">1319kB</td>
   <td><tt>34d569053fc85b3272f66236d58a659530911458f3c544d2cb47939e95129aa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/step-23.07.90.tar.xz">step-23.07.90</a></td>
   <td align="right">971kB</td>
   <td><tt>ec3eee9235db693f585db479d53e295c62492a453584aa3d22d25e6f8ff0f9cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/svgpart-23.07.90.tar.xz">svgpart-23.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>dd2abf3eacdf673c5dcdec2cb4c7aea6d376fe0e2a46a3870a7928549d2359ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/sweeper-23.07.90.tar.xz">sweeper-23.07.90</a></td>
   <td align="right">389kB</td>
   <td><tt>7d23601cf9cd9538803fe2bc785a745ad0fb2040dbe9d4d65a7f4505837f6491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/telly-skout-23.07.90.tar.xz">telly-skout-23.07.90</a></td>
   <td align="right">93kB</td>
   <td><tt>5c77c8b3960f65c1d8531f22a71907bb40403c10cb13a33af149ba9f588e690f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/tokodon-23.07.90.tar.xz">tokodon-23.07.90</a></td>
   <td align="right">306kB</td>
   <td><tt>2da49cc14ab302f27b5f97abca55b1a7866db90f459a73d542692b51d7a776f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/umbrello-23.07.90.tar.xz">umbrello-23.07.90</a></td>
   <td align="right">5638kB</td>
   <td><tt>f79292ea856e9315e5cb83ee0f773096611776d493c500b491fd6cd67dd69485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/yakuake-23.07.90.tar.xz">yakuake-23.07.90</a></td>
   <td align="right">418kB</td>
   <td><tt>fa8b744537efd91e18fe1f1c91c4495dbd7576e807cb74f88a20b800dd91e987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/23.07.90/src/zanshin-23.07.90.tar.xz">zanshin-23.07.90</a></td>
   <td align="right">352kB</td>
   <td><tt>bb28e8dc97522827f512b3b9061944866f99fda13c0be023e0aa4a80d6738d20</tt></td>
</tr>

</table>
