
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/attica-5.114.0.tar.xz">attica-5.114.0</a></td>
   <td align="right">67kB</td>
   <td><tt>009d50d87911596758c9c5e9969c036bd4a51fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/baloo-5.114.0.tar.xz">baloo-5.114.0</a></td>
   <td align="right">303kB</td>
   <td><tt>98154322eb362044b82dc39758b56e973558524f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/bluez-qt-5.114.0.tar.xz">bluez-qt-5.114.0</a></td>
   <td align="right">112kB</td>
   <td><tt>5591d49955d30bff574f4424bea1876e5bd60aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/breeze-icons-5.114.0.tar.xz">breeze-icons-5.114.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6ae58d6bb37bf6b8ef03ff8b48fa2dbc7385891b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/extra-cmake-modules-5.114.0.tar.xz">extra-cmake-modules-5.114.0</a></td>
   <td align="right">324kB</td>
   <td><tt>9dbcccd5d80f157622197f89d98e13dd0eb665a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/frameworkintegration-5.114.0.tar.xz">frameworkintegration-5.114.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5f5e72cab566c24368fabcdd934cc91f3fd6f764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kactivities-5.114.0.tar.xz">kactivities-5.114.0</a></td>
   <td align="right">71kB</td>
   <td><tt>6c86ca6c6c8813565b5d5d55e844daca0f8b6ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kactivities-stats-5.114.0.tar.xz">kactivities-stats-5.114.0</a></td>
   <td align="right">82kB</td>
   <td><tt>5d8c4467a0ff9a8aa846945d9baeca97c0e75475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kapidox-5.114.0.tar.xz">kapidox-5.114.0</a></td>
   <td align="right">194kB</td>
   <td><tt>b97b9eb9af62426827354ad4f0a0e09c8235ca14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/karchive-5.114.0.tar.xz">karchive-5.114.0</a></td>
   <td align="right">1001kB</td>
   <td><tt>656b7712bb8a9f4e0ffe2c8f50ab2c6644212b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kauth-5.114.0.tar.xz">kauth-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>046e5ff6025677135dfe1089d8745c7db317c3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kbookmarks-5.114.0.tar.xz">kbookmarks-5.114.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1fd1721c450095f82f7a96f3e850c3597c69835f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcalendarcore-5.114.0.tar.xz">kcalendarcore-5.114.0</a></td>
   <td align="right">261kB</td>
   <td><tt>bf77059814c96a87350a6f071778b54cb4ce5518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcmutils-5.114.0.tar.xz">kcmutils-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2532b4310020aa39fc69e34f330c5f8ddd07254b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcodecs-5.114.0.tar.xz">kcodecs-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>65e5a1e15af0b46b96fca7a3779a55a19a66c7ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcompletion-5.114.0.tar.xz">kcompletion-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4d7a071aedabf3f91f683ca292059fd6a1d11577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kconfig-5.114.0.tar.xz">kconfig-5.114.0</a></td>
   <td align="right">288kB</td>
   <td><tt>f3866235117e1059980917f5006c19fccd1cc819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kconfigwidgets-5.114.0.tar.xz">kconfigwidgets-5.114.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7712928cdfe7e2e7b853d7e88b5e4020041cefd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcontacts-5.114.0.tar.xz">kcontacts-5.114.0</a></td>
   <td align="right">209kB</td>
   <td><tt>159a0259ac7229611f674e70b7b073a2392fca0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcoreaddons-5.114.0.tar.xz">kcoreaddons-5.114.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>510986f84f24b84895073805ce1fbfeffc433180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kcrash-5.114.0.tar.xz">kcrash-5.114.0</a></td>
   <td align="right">27kB</td>
   <td><tt>867a726f15cd2cf1cb6bc30ed59014a29873170a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdav-5.114.0.tar.xz">kdav-5.114.0</a></td>
   <td align="right">64kB</td>
   <td><tt>eeed1f523fab0b6768293687d4ed1e71c090221f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdbusaddons-5.114.0.tar.xz">kdbusaddons-5.114.0</a></td>
   <td align="right">47kB</td>
   <td><tt>16968571d77b2e70c9aa54a3648ef597fcb903e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdeclarative-5.114.0.tar.xz">kdeclarative-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bec113b6570d233f3567325136ee7b5729154a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kded-5.114.0.tar.xz">kded-5.114.0</a></td>
   <td align="right">40kB</td>
   <td><tt>81f875cab97f5db456729621f372142c27dd6553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdesu-5.114.0.tar.xz">kdesu-5.114.0</a></td>
   <td align="right">55kB</td>
   <td><tt>52f3acca032890d3559a1a9b3f88fc9aecb64216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdnssd-5.114.0.tar.xz">kdnssd-5.114.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>144c04efeb04fd880a96dfa0feebcf756712ce04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kdoctools-5.114.0.tar.xz">kdoctools-5.114.0</a></td>
   <td align="right">454kB</td>
   <td><tt>c899a2824562c8a5acf89296d2c2e49cf6444f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kemoticons-5.114.0.tar.xz">kemoticons-5.114.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>026f97c6bdc731c8febb047945a47aaa824bc38d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kfilemetadata-5.114.0.tar.xz">kfilemetadata-5.114.0</a></td>
   <td align="right">514kB</td>
   <td><tt>98b3b0b10c21defde758daf72add16a4992b6ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kglobalaccel-5.114.0.tar.xz">kglobalaccel-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1ed1108adcfb2af0b45c95d8d681f16e5d822cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kguiaddons-5.114.0.tar.xz">kguiaddons-5.114.0</a></td>
   <td align="right">76kB</td>
   <td><tt>2eccac8c3a3708d7d229cebc5e39b6dc77793801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kholidays-5.114.0.tar.xz">kholidays-5.114.0</a></td>
   <td align="right">249kB</td>
   <td><tt>918ebbdf7030216d2a44f32989792fd548d3b8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/ki18n-5.114.0.tar.xz">ki18n-5.114.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1756a8e7faa8327466d8f11e89fa4d6a8738be7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kiconthemes-5.114.0.tar.xz">kiconthemes-5.114.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f6e9179b58998d8c4e66097637bff72e134aaefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kidletime-5.114.0.tar.xz">kidletime-5.114.0</a></td>
   <td align="right">30kB</td>
   <td><tt>4936f12ad5335f01785b8b923deef5f26a72a43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kimageformats-5.114.0.tar.xz">kimageformats-5.114.0</a></td>
   <td align="right">15MB</td>
   <td><tt>1cc6fd804ae1059725e53206b945ac49bb91948b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kinit-5.114.0.tar.xz">kinit-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>304d70a97bc8ae54f9a3dd4f80b4055d24fcf4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kio-5.114.0.tar.xz">kio-5.114.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f4a2a3456a5183087391e5f1bedfe1d9b0805df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kirigami2-5.114.0.tar.xz">kirigami2-5.114.0</a></td>
   <td align="right">373kB</td>
   <td><tt>0eba8dc7ecaba3d3742ec3d5416f123fccda2264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kitemmodels-5.114.0.tar.xz">kitemmodels-5.114.0</a></td>
   <td align="right">397kB</td>
   <td><tt>c79a9c7ede17356ea339f5a4a95ae7d03d04094e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kitemviews-5.114.0.tar.xz">kitemviews-5.114.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f229022da1b7e85c552c63336b7872fb267d531f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kjobwidgets-5.114.0.tar.xz">kjobwidgets-5.114.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>916222ad322670c2aaf569104b8fd6faf8d4b2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/knewstuff-5.114.0.tar.xz">knewstuff-5.114.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>6918204089bacd1fed239437cdc63d007508c840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/knotifications-5.114.0.tar.xz">knotifications-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>434cef21ac3a60dab08d2bf9edd490a38dd80b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/knotifyconfig-5.114.0.tar.xz">knotifyconfig-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>195c67f20e355621b4b09c0ac4c2cc9db0cf48e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kpackage-5.114.0.tar.xz">kpackage-5.114.0</a></td>
   <td align="right">184kB</td>
   <td><tt>a278d67748d9710384f97302c21303d421654ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kparts-5.114.0.tar.xz">kparts-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cb1a15b5de6de7995e596209a940cf02b1937b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kpeople-5.114.0.tar.xz">kpeople-5.114.0</a></td>
   <td align="right">61kB</td>
   <td><tt>ab43d5411ff409b46cdce15729e5b48166efd378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kplotting-5.114.0.tar.xz">kplotting-5.114.0</a></td>
   <td align="right">32kB</td>
   <td><tt>a9e66e208472f5d92dc057ac7064ef1e7f85f7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kpty-5.114.0.tar.xz">kpty-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>85a6f14c6bcc8d7bbb8e5b863543c43eb98c45eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kquickcharts-5.114.0.tar.xz">kquickcharts-5.114.0</a></td>
   <td align="right">110kB</td>
   <td><tt>2fbc9bfc74cebc54bd4860129d8973f1ed3cdbb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/krunner-5.114.0.tar.xz">krunner-5.114.0</a></td>
   <td align="right">86kB</td>
   <td><tt>a335c8c5070dcfb77e04951f145206e7b0a635e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kservice-5.114.0.tar.xz">kservice-5.114.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>97ddec1bc22cdd83d5190f1db0284135f7ea483b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/ktexteditor-5.114.0.tar.xz">ktexteditor-5.114.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ac83db007e170d3555fc934e0cf25073d2df934c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/ktextwidgets-5.114.0.tar.xz">ktextwidgets-5.114.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9f664b890ad950071ad6c8e9f80132f58e0311fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kunitconversion-5.114.0.tar.xz">kunitconversion-5.114.0</a></td>
   <td align="right">909kB</td>
   <td><tt>a3a74173d02142a556a37711def7e4207736ffd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kwallet-5.114.0.tar.xz">kwallet-5.114.0</a></td>
   <td align="right">343kB</td>
   <td><tt>6a697e3f5bbc3a85c70ac148d72fc69f284704ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kwayland-5.114.0.tar.xz">kwayland-5.114.0</a></td>
   <td align="right">329kB</td>
   <td><tt>3287ceb224c901881a02e5ba5ed65ec40b93982b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kwidgetsaddons-5.114.0.tar.xz">kwidgetsaddons-5.114.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3dd714c47fb28e4bfe4f209b209b04bad874c607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kwindowsystem-5.114.0.tar.xz">kwindowsystem-5.114.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>892885a9fb7f91c5d9358f341ba9c49710ed89a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/kxmlgui-5.114.0.tar.xz">kxmlgui-5.114.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>eec0c89797e28219c684f6815276a0f097f1f24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/modemmanager-qt-5.114.0.tar.xz">modemmanager-qt-5.114.0</a></td>
   <td align="right">118kB</td>
   <td><tt>51e69bffec4710200b831374a24d5fe84a167067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/networkmanager-qt-5.114.0.tar.xz">networkmanager-qt-5.114.0</a></td>
   <td align="right">194kB</td>
   <td><tt>de268b2fae6b53d86b81c29b8f26c0a33d201890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/oxygen-icons-5.114.0.tar.xz">oxygen-icons-5.114.0</a></td>
   <td align="right">227MB</td>
   <td><tt>86a6fef3452e7a3f40b52d030ce7c955a62c6ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/plasma-framework-5.114.0.tar.xz">plasma-framework-5.114.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>45da0061fcdfb39a0ceaf1003ae5b0b0427ff287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/prison-5.114.0.tar.xz">prison-5.114.0</a></td>
   <td align="right">53kB</td>
   <td><tt>1fb1fe4795aab10661d920af57ae8e8e5e1f6f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/purpose-5.114.0.tar.xz">purpose-5.114.0</a></td>
   <td align="right">175kB</td>
   <td><tt>39bb5e59c86a9ba7d5299a45a28ad16ab5204cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/qqc2-desktop-style-5.114.0.tar.xz">qqc2-desktop-style-5.114.0</a></td>
   <td align="right">67kB</td>
   <td><tt>acb386b2c58f917e4eb4dfe6a01224de26bfa513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/solid-5.114.0.tar.xz">solid-5.114.0</a></td>
   <td align="right">299kB</td>
   <td><tt>4aa25b67c357e9cb77c9864e060c21c3a6df96bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/sonnet-5.114.0.tar.xz">sonnet-5.114.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8bd8b3ae13e3b3c67e16034e48a4a48423d475db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/syndication-5.114.0.tar.xz">syndication-5.114.0</a></td>
   <td align="right">498kB</td>
   <td><tt>33be666fb11ad19e99b86b84f037b9995cd8e751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/syntax-highlighting-5.114.0.tar.xz">syntax-highlighting-5.114.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>64ce715c60c7c4d56e61619f1ec7269eb65587a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.114/threadweaver-5.114.0.tar.xz">threadweaver-5.114.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>44c9f8640d2af6ef7d4eee8cedcfaebfb28e8fc2</tt></td>
</tr>

</table>
