
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/attica-5.112.0.tar.xz">attica-5.112.0</a></td>
   <td align="right">67kB</td>
   <td><tt>a23aa001c9d050186f7f6a6d97d643107cd6b101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/baloo-5.112.0.tar.xz">baloo-5.112.0</a></td>
   <td align="right">305kB</td>
   <td><tt>b2b50f1f88669f59129a2694903d397e822af346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/bluez-qt-5.112.0.tar.xz">bluez-qt-5.112.0</a></td>
   <td align="right">112kB</td>
   <td><tt>28e5ef341dd803d67060d2c818b7255136d27eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/breeze-icons-5.112.0.tar.xz">breeze-icons-5.112.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e4b00721e0fc657aaf11a01fef46f4bb5921170a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/extra-cmake-modules-5.112.0.tar.xz">extra-cmake-modules-5.112.0</a></td>
   <td align="right">324kB</td>
   <td><tt>024014c7202c91f12261d39ae0e3e14416117446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/frameworkintegration-5.112.0.tar.xz">frameworkintegration-5.112.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f15d2ec6aaafc1ec2c2f1f958a2234169ab208da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kactivities-5.112.0.tar.xz">kactivities-5.112.0</a></td>
   <td align="right">71kB</td>
   <td><tt>979992943b10f89729d2bc13ba32d402cb5df49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kactivities-stats-5.112.0.tar.xz">kactivities-stats-5.112.0</a></td>
   <td align="right">82kB</td>
   <td><tt>15cfe1815a9c01fa00479829cc3a20b287581d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kapidox-5.112.0.tar.xz">kapidox-5.112.0</a></td>
   <td align="right">194kB</td>
   <td><tt>d7bfcdce0c232244931aad10c29e846de7cfbfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/karchive-5.112.0.tar.xz">karchive-5.112.0</a></td>
   <td align="right">999kB</td>
   <td><tt>61fb603073fa5a928cd6a91cb32e58b905055c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kauth-5.112.0.tar.xz">kauth-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2f5ef40e4cd16778845c7189777eecc77ac60d1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kbookmarks-5.112.0.tar.xz">kbookmarks-5.112.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4f25542790277c0c733c7d4e7f074463cf311966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcalendarcore-5.112.0.tar.xz">kcalendarcore-5.112.0</a></td>
   <td align="right">261kB</td>
   <td><tt>dad91c44a6b58855af1276e6ead9d62f2570f8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcmutils-5.112.0.tar.xz">kcmutils-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7aece4195fa59a716c246b9975a497021d5cf388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcodecs-5.112.0.tar.xz">kcodecs-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>adae99d6dd3d05dbd83409d9a21acd9e8bcf45f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcompletion-5.112.0.tar.xz">kcompletion-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1bc88f597f7d2cec4e1246c01e4c0b9583ff7bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kconfig-5.112.0.tar.xz">kconfig-5.112.0</a></td>
   <td align="right">288kB</td>
   <td><tt>e93baa339b1af5385355b7f63bd33035bec8f862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kconfigwidgets-5.112.0.tar.xz">kconfigwidgets-5.112.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0570d11af694a882f47181e45ae76e956172ade3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcontacts-5.112.0.tar.xz">kcontacts-5.112.0</a></td>
   <td align="right">208kB</td>
   <td><tt>12594d37c544bdf062a1fa340d680fcdf45ff734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcoreaddons-5.112.0.tar.xz">kcoreaddons-5.112.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b00d825ac0d6223eb47c264290a4418f12159051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kcrash-5.112.0.tar.xz">kcrash-5.112.0</a></td>
   <td align="right">27kB</td>
   <td><tt>8a90b5a760af8a6624327f78af896ace44dcfade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdav-5.112.0.tar.xz">kdav-5.112.0</a></td>
   <td align="right">64kB</td>
   <td><tt>1e150886e1fbb6a39d57e5c5b04d352fe1dbf725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdbusaddons-5.112.0.tar.xz">kdbusaddons-5.112.0</a></td>
   <td align="right">47kB</td>
   <td><tt>6cbeb57318cdcbea1fef1995455cd226c7d6a6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdeclarative-5.112.0.tar.xz">kdeclarative-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>71f8e3d81e30490c8093740b2b2d9987abe577ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kded-5.112.0.tar.xz">kded-5.112.0</a></td>
   <td align="right">40kB</td>
   <td><tt>c070f4a8bfb29d0174c285b5f4dc04077c592e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdesu-5.112.0.tar.xz">kdesu-5.112.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a3abd29face53c34ba4f3a2e4dd1be8733338d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdnssd-5.112.0.tar.xz">kdnssd-5.112.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>80b3d8cc68ab42cba252992a2cfb91b2e74915e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kdoctools-5.112.0.tar.xz">kdoctools-5.112.0</a></td>
   <td align="right">454kB</td>
   <td><tt>fdff4190d83bb3a3de10064f50724a3405fb901b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kemoticons-5.112.0.tar.xz">kemoticons-5.112.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2b724be4b2c13ecd2c0a21604ab9d7d91a6a5a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kfilemetadata-5.112.0.tar.xz">kfilemetadata-5.112.0</a></td>
   <td align="right">461kB</td>
   <td><tt>6fef50b0cb1a42ca19ae30449444121fd4abcfe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kglobalaccel-5.112.0.tar.xz">kglobalaccel-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>606e0dfc2785125c58a801f88596ef3be45d0c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kguiaddons-5.112.0.tar.xz">kguiaddons-5.112.0</a></td>
   <td align="right">76kB</td>
   <td><tt>083d4e353eba9adf121cef99968ddd40ea15cb27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kholidays-5.112.0.tar.xz">kholidays-5.112.0</a></td>
   <td align="right">249kB</td>
   <td><tt>1a5d9ab0d883a820fd721ed9551f58bc16be10e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/ki18n-5.112.0.tar.xz">ki18n-5.112.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cfd69149df956ac2ddc2e95fa2eecac847d471af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kiconthemes-5.112.0.tar.xz">kiconthemes-5.112.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>88b9bd9862fa44d00a4dcb35e0c88eb7dd7479bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kidletime-5.112.0.tar.xz">kidletime-5.112.0</a></td>
   <td align="right">30kB</td>
   <td><tt>70c9372500269bfc3c1530ba532c534d82e03022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kimageformats-5.112.0.tar.xz">kimageformats-5.112.0</a></td>
   <td align="right">14MB</td>
   <td><tt>17a55c317ca83f1b304a56943b25e4bfdee9953f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kinit-5.112.0.tar.xz">kinit-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fd482438c1995ddfb550af32a7453c5317c4974c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kio-5.112.0.tar.xz">kio-5.112.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>d1eb889e83a878823c186a1d69bd7c15bbb3034b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kirigami2-5.112.0.tar.xz">kirigami2-5.112.0</a></td>
   <td align="right">374kB</td>
   <td><tt>597b5dd60d9ef4b63c292d1d74c2596a64739eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kitemmodels-5.112.0.tar.xz">kitemmodels-5.112.0</a></td>
   <td align="right">397kB</td>
   <td><tt>905dc1d13adf63e65b2674d20cffa08bc988de09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kitemviews-5.112.0.tar.xz">kitemviews-5.112.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>671911bb259f9000bda9c89978a2562259baa9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kjobwidgets-5.112.0.tar.xz">kjobwidgets-5.112.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2d3e4bc9ff677b0904fe823a8b2ffd45c4b7ae02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/knewstuff-5.112.0.tar.xz">knewstuff-5.112.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>582a7d7fe9665f05932d5335ed5dcc86b2da28d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/knotifications-5.112.0.tar.xz">knotifications-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7695fc40641e850fe3222a62874ddc4928f695a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/knotifyconfig-5.112.0.tar.xz">knotifyconfig-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>56d769647547362a7a4d1019368b8edceb5f653c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kpackage-5.112.0.tar.xz">kpackage-5.112.0</a></td>
   <td align="right">183kB</td>
   <td><tt>fc42a0d81a02992845eaeb7aad560a220a74553c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kparts-5.112.0.tar.xz">kparts-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>46af1a0cebedb128b0d933f49a0ed757fc739bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kpeople-5.112.0.tar.xz">kpeople-5.112.0</a></td>
   <td align="right">61kB</td>
   <td><tt>8781c83a587f8506df3f898da23361002ddff92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kplotting-5.112.0.tar.xz">kplotting-5.112.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d01a01e1676fc7731cffc2d438e73a3ff92b25ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kpty-5.112.0.tar.xz">kpty-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>747718dd38f92c7c4dde91302bbe7487e12fdd89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kquickcharts-5.112.0.tar.xz">kquickcharts-5.112.0</a></td>
   <td align="right">110kB</td>
   <td><tt>cbf80f18275754319487d1b43147f4e12a706384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/krunner-5.112.0.tar.xz">krunner-5.112.0</a></td>
   <td align="right">86kB</td>
   <td><tt>519d47419d37bd22d1ed6e99ef1646e1410d5aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kservice-5.112.0.tar.xz">kservice-5.112.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>eea3db149a73b05f365d6f7a7c54f290ced1776e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/ktexteditor-5.112.0.tar.xz">ktexteditor-5.112.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5c3fd0a3e5801f9c93639ae0793154ba6f1bc3d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/ktextwidgets-5.112.0.tar.xz">ktextwidgets-5.112.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c8c15d70b79b4c8f36ec25ab01211659549d7133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kunitconversion-5.112.0.tar.xz">kunitconversion-5.112.0</a></td>
   <td align="right">909kB</td>
   <td><tt>a83331566ded336089561134d793f1e93f728768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kwallet-5.112.0.tar.xz">kwallet-5.112.0</a></td>
   <td align="right">341kB</td>
   <td><tt>27e063865538de6a656a8870f5da5123a98f7ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kwayland-5.112.0.tar.xz">kwayland-5.112.0</a></td>
   <td align="right">329kB</td>
   <td><tt>4eda4471fa3be3a6b19b8aeb93a38d5fde4cb793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kwidgetsaddons-5.112.0.tar.xz">kwidgetsaddons-5.112.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b8c1a34dc4df6cbff432184cb3eff65035a1875f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kwindowsystem-5.112.0.tar.xz">kwindowsystem-5.112.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>df4813a4806033e4feabb4c6e60406d4886819c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/kxmlgui-5.112.0.tar.xz">kxmlgui-5.112.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>33721cce990fd3eec4b26ac549c1a3dae0452b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/modemmanager-qt-5.112.0.tar.xz">modemmanager-qt-5.112.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c6d05d0006cef1c8a6cbe73d3ce6e65dbe8d4281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/networkmanager-qt-5.112.0.tar.xz">networkmanager-qt-5.112.0</a></td>
   <td align="right">194kB</td>
   <td><tt>228bd37fb5222c68894b631b4e62907602572283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/oxygen-icons5-5.112.0.tar.xz">oxygen-icons5-5.112.0</a></td>
   <td align="right">227MB</td>
   <td><tt>2778a129ea91b76f652f774df5361e9bb12234dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/plasma-framework-5.112.0.tar.xz">plasma-framework-5.112.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>8a2ee9feff93281cf9e8c8a209428725f70533b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/prison-5.112.0.tar.xz">prison-5.112.0</a></td>
   <td align="right">53kB</td>
   <td><tt>f530e0cbacb81312cbe985978ecd6166273ae8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/purpose-5.112.0.tar.xz">purpose-5.112.0</a></td>
   <td align="right">176kB</td>
   <td><tt>7d0a6de66e0847b0220484f998979aa4bccaaa66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/qqc2-desktop-style-5.112.0.tar.xz">qqc2-desktop-style-5.112.0</a></td>
   <td align="right">67kB</td>
   <td><tt>db3ef191c682c22b4e9fe04e7d6461fedf313908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/solid-5.112.0.tar.xz">solid-5.112.0</a></td>
   <td align="right">299kB</td>
   <td><tt>baa43ffe0b438f30466af4581ab537167a57b385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/sonnet-5.112.0.tar.xz">sonnet-5.112.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>61c8f70022634f4ccd185b02b4e883c271c8feb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/syndication-5.112.0.tar.xz">syndication-5.112.0</a></td>
   <td align="right">498kB</td>
   <td><tt>05e035fe297b0484243c758814eceb405410e661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/syntax-highlighting-5.112.0.tar.xz">syntax-highlighting-5.112.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>5bd9688546d53600a6c73863dbfbd68b86fc8ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.112/threadweaver-5.112.0.tar.xz">threadweaver-5.112.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d251dfc9bfeb54be7d8af76d113a9a4a47a2c30e</tt></td>
</tr>

</table>
