<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/bluedevil-5.22.90.tar.xz">bluedevil-5.22.90</a></td>
   <td align="right">164kB</td>
   <td><tt>d5c9178ce0dcad35d4370605e5d1468912e456490f4d8d795ee2f5d0c089ba62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/breeze-5.22.90.tar.xz">breeze-5.22.90</a></td>
   <td align="right">70MB</td>
   <td><tt>16cc7922cb8889e82a9895abb46b8a692e0e225eced114bd6d1b576be4189489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/breeze-grub-5.22.90.tar.xz">breeze-grub-5.22.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9f114a27ed9c6ac665674b4b1032e8d59e076fbef02ab5d6ca6cbd0ac4f575fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/breeze-gtk-5.22.90.tar.xz">breeze-gtk-5.22.90</a></td>
   <td align="right">46kB</td>
   <td><tt>e02d661b9e321f01a01070a1a804a432a3e3186ebd8131ce1133148df043e7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/breeze-plymouth-5.22.90.tar.xz">breeze-plymouth-5.22.90</a></td>
   <td align="right">107kB</td>
   <td><tt>30b4dfc63ee4a76c3d15b11c9c1f2e7128d5ebbb1f59912214f18a923c3b2a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/discover-5.22.90.tar.xz">discover-5.22.90</a></td>
   <td align="right">7.8MB</td>
   <td><tt>b5215b0566718e42aae4f05d95eb908e0410551934509c298a679f55d70bb4d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/drkonqi-5.22.90.tar.xz">drkonqi-5.22.90</a></td>
   <td align="right">773kB</td>
   <td><tt>ad41ee103633302fdf7e77dc81e70d4ee31b21b2e0b3cec38d9d8125b7986a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kactivitymanagerd-5.22.90.tar.xz">kactivitymanagerd-5.22.90</a></td>
   <td align="right">101kB</td>
   <td><tt>8775dc4f48692f37ab2b36af038c208adb78009c588b53ba816aef620889642b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kde-cli-tools-5.22.90.tar.xz">kde-cli-tools-5.22.90</a></td>
   <td align="right">616kB</td>
   <td><tt>2e275f5cac408d6272b51db1a85a61e0677136a253700ce21bade9f08d1beb89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kdecoration-5.22.90.tar.xz">kdecoration-5.22.90</a></td>
   <td align="right">46kB</td>
   <td><tt>43334a98149aa7b7a04759f6d6915ce40f5d7288d553e15db7f1fb2ef1f61dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kde-gtk-config-5.22.90.tar.xz">kde-gtk-config-5.22.90</a></td>
   <td align="right">69kB</td>
   <td><tt>774e9698fa261c1b57186713c0a61b3b2ea7b1acaa122c491e2777fdadb6a828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kdeplasma-addons-5.22.90.tar.xz">kdeplasma-addons-5.22.90</a></td>
   <td align="right">605kB</td>
   <td><tt>3e16397efd90443057b5fa72d8bcd558004ca957db9ce80b1a937b79b2b9c1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kgamma5-5.22.90.tar.xz">kgamma5-5.22.90</a></td>
   <td align="right">81kB</td>
   <td><tt>b68ac07f354b8e7b350a29d05d31987186ce7d635b89290d3c5a77948d858666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/khotkeys-5.22.90.tar.xz">khotkeys-5.22.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d678983a66e0b8f3ba02eadaa50fbbe6476d748118bb9f9b6cd0b9e74ed26497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kinfocenter-5.22.90.tar.xz">kinfocenter-5.22.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8431acad7ef37c702e0c1feb8c39a049b7e2f9d07517ce8280d9d5015c70d925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kmenuedit-5.22.90.tar.xz">kmenuedit-5.22.90</a></td>
   <td align="right">879kB</td>
   <td><tt>caa2e807b5a4b9276c9fc30995fbd381579935cd3c22c0555ee849be6fa8c78b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kscreen-5.22.90.tar.xz">kscreen-5.22.90</a></td>
   <td align="right">128kB</td>
   <td><tt>1356ebc9f12420392fd8fd2f51b506432d733512b890d41749a255ee19cde179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kscreenlocker-5.22.90.tar.xz">kscreenlocker-5.22.90</a></td>
   <td align="right">114kB</td>
   <td><tt>ae65ea3adc74709534ca26f0dda20bf61559e1b57c631c3bf13b742a910c1881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/ksshaskpass-5.22.90.tar.xz">ksshaskpass-5.22.90</a></td>
   <td align="right">23kB</td>
   <td><tt>47f5540b91be6446cbf78c6ecb0ce0352d79adf7b1096a7b95d8e90ed67bd641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/ksystemstats-5.22.90.tar.xz">ksystemstats-5.22.90</a></td>
   <td align="right">87kB</td>
   <td><tt>7bed7974c911bd43e5947038cac45ec7bd967b6c1d47729a91770adfa8f1226e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kwallet-pam-5.22.90.tar.xz">kwallet-pam-5.22.90</a></td>
   <td align="right">19kB</td>
   <td><tt>b6e656ff09458d819ab67e46d9fd143fe801edfe1d7b7366d5e28c2593ca1952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kwayland-integration-5.22.90.tar.xz">kwayland-integration-5.22.90</a></td>
   <td align="right">23kB</td>
   <td><tt>92056d953d2cafe2de245cadcae1a72b1d14bde8faae16bd9efee72870493736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kwayland-server-5.22.90.tar.xz">kwayland-server-5.22.90</a></td>
   <td align="right">212kB</td>
   <td><tt>25198b576d85211fd59c2310ed1a9c4fd34be181e03b4e77194fdf500788797b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kwin-5.22.90.tar.xz">kwin-5.22.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>4fb53a817dd71c2d46ce2ee49481f5afef6cfb56f49683025aa17a54d71c22b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/kwrited-5.22.90.tar.xz">kwrited-5.22.90</a></td>
   <td align="right">20kB</td>
   <td><tt>fdef6b558b42ea01122cf83583201861c09d6b14dc3054493206f497184d17f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/layer-shell-qt-5.22.90.tar.xz">layer-shell-qt-5.22.90</a></td>
   <td align="right">17kB</td>
   <td><tt>c558707d14c90c72b764c30f963403fedc7ab7dde04a80dbbf3930c68f42b950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/libkscreen-5.22.90.tar.xz">libkscreen-5.22.90</a></td>
   <td align="right">95kB</td>
   <td><tt>e5e099a42e8ac7999c93d07809cc737870276a2f78953af3dea9687d7e356fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/libksysguard-5.22.90.tar.xz">libksysguard-5.22.90</a></td>
   <td align="right">750kB</td>
   <td><tt>e8ead6f95f1a0cf743220b2c49a3c4227810614e25fe94826c7ea659c296bf88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/milou-5.22.90.tar.xz">milou-5.22.90</a></td>
   <td align="right">46kB</td>
   <td><tt>366664a9a17fe3219d0ab069a9208c0fff7b1eb99928ede740415f3e33f73f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/oxygen-5.22.90.tar.xz">oxygen-5.22.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b3159b032dd9edecb9ea5a07a5754f0585dd9e51f91cbec4b6d5a7a14cd8cfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-browser-integration-5.22.90.tar.xz">plasma-browser-integration-5.22.90</a></td>
   <td align="right">214kB</td>
   <td><tt>745a911835db3eb49af0c8d7f7955ef2fbd0ff6152019b6c4f4eb824d6a4611d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-desktop-5.22.90.tar.xz">plasma-desktop-5.22.90</a></td>
   <td align="right">15MB</td>
   <td><tt>1d08090ce9c7ef6fbd13807b6abaa690baca8ae7a48d3b0296eb0623bcf8e69f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-disks-5.22.90.tar.xz">plasma-disks-5.22.90</a></td>
   <td align="right">84kB</td>
   <td><tt>c4d9f54391c798db043a8fd2a1f441a777ad8f154c2711f73a59adb8f0829a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-firewall-5.22.90.tar.xz">plasma-firewall-5.22.90</a></td>
   <td align="right">334kB</td>
   <td><tt>65b8c397578ed340d93905fbaf7cd1555d6ddb86815968d7dfd52d8324f901a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-integration-5.22.90.tar.xz">plasma-integration-5.22.90</a></td>
   <td align="right">81kB</td>
   <td><tt>9831d72e94b50c489ab38a48d1d889d39ff0a3c955856e935315e23a4650ece4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-nano-5.22.90.tar.xz">plasma-nano-5.22.90</a></td>
   <td align="right">64kB</td>
   <td><tt>5f8b3c4cef1975019b0f75bf6a0aa473a7ba72446c96812332517e6d3c245f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-nm-5.22.90.tar.xz">plasma-nm-5.22.90</a></td>
   <td align="right">896kB</td>
   <td><tt>089c1f887b1594032f603389e1ca49b5607a94d2f37a6d6cdee243ef506d4e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-pa-5.22.90.tar.xz">plasma-pa-5.22.90</a></td>
   <td align="right">126kB</td>
   <td><tt>f21c9d11969fc0a8aed46fb8ce983d0081527a785080f9b8f2a8df9b8335935b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-phone-components-5.22.90.tar.xz">plasma-phone-components-5.22.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3a58dc10ebaf7e9fc21cc64f48d40259313c0e460291e3a5d04ccc1d807dc0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-sdk-5.22.90.tar.xz">plasma-sdk-5.22.90</a></td>
   <td align="right">268kB</td>
   <td><tt>6537192e24cda554000df3cc7a609eada659f0f394f5c973d29f2e7d31607975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-systemmonitor-5.22.90.tar.xz">plasma-systemmonitor-5.22.90</a></td>
   <td align="right">139kB</td>
   <td><tt>c5012b70e9a07bda84e24f797752e71b05c290d70f4f00c54e9542694e5c78a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-tests-5.22.90.tar.xz">plasma-tests-5.22.90</a></td>
   <td align="right">1kB</td>
   <td><tt>0794c2a69f3e35e7e7ed2fc31380fde1752961643dfb37209e06db16c620c25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-thunderbolt-5.22.90.tar.xz">plasma-thunderbolt-5.22.90</a></td>
   <td align="right">63kB</td>
   <td><tt>84f8769c5ce661a9e4f56034cd67066b27c0b3ae335663316471b52858ba1083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-vault-5.22.90.tar.xz">plasma-vault-5.22.90</a></td>
   <td align="right">171kB</td>
   <td><tt>42ec489551099821aede244738d51ba1d8118d4bcc15783b5267757496516cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-workspace-5.22.90.tar.xz">plasma-workspace-5.22.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>f968282e72723bb8b72427dd06d8aded6e702e57626eb0fafb1ed90d68dabfb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plasma-workspace-wallpapers-5.22.90.tar.xz">plasma-workspace-wallpapers-5.22.90</a></td>
   <td align="right">54MB</td>
   <td><tt>a320555316751f4bc88d9e2dfb2cb74b84dc87d72a7feaee3518f1d2de5298da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/plymouth-kcm-5.22.90.tar.xz">plymouth-kcm-5.22.90</a></td>
   <td align="right">38kB</td>
   <td><tt>9aa1a6b301d9f1a289a942e9d5e479e2216a38a14d0077dff442a0f920c57b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/polkit-kde-agent-1-5.22.90.tar.xz">polkit-kde-agent-1-5.22.90</a></td>
   <td align="right">46kB</td>
   <td><tt>e24e6b4057f19c121954a90e210a3afdd2a41548793a5eda58a700247756aa7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/powerdevil-5.22.90.tar.xz">powerdevil-5.22.90</a></td>
   <td align="right">611kB</td>
   <td><tt>9d6cc16e77e6405f58e85d941f0f249ee8bfb691654b510f86840046a642b23a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/qqc2-breeze-style-5.22.90.tar.xz">qqc2-breeze-style-5.22.90</a></td>
   <td align="right">65kB</td>
   <td><tt>ca951660bc346c7a75352479cb6c50a9ed390ad4617b016dc2506e959b2ba0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/sddm-kcm-5.22.90.tar.xz">sddm-kcm-5.22.90</a></td>
   <td align="right">75kB</td>
   <td><tt>07c1ba70ffb0584f3614a26991ee05609256e341fbd423a54f337224a039b1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/systemsettings-5.22.90.tar.xz">systemsettings-5.22.90</a></td>
   <td align="right">198kB</td>
   <td><tt>d35e1b77c4c2761f029343ffd9bd5eff1c1ca3e5e044dd0eaa4bb88c7a32c917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.22.90/xdg-desktop-portal-kde-5.22.90.tar.xz">xdg-desktop-portal-kde-5.22.90</a></td>
   <td align="right">87kB</td>
   <td><tt>c1bae515e8eb366c73b4bd86ea3420759d417d2845d2aad0b6c6ef6b14a7aaf7</tt></td>
</tr>

</table>
