<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/bluedevil-5.10.0.tar.xz">bluedevil-5.10.0</a></td>
   <td align="right">141kB</td>
   <td><tt>741f86216e4785d20bdf2b78c09d1604a7edc1acf54dcc067efb8a6398c28033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/breeze-5.10.0.tar.xz">breeze-5.10.0</a></td>
   <td align="right">16MB</td>
   <td><tt>b69a1eb033f00814616077c0256ba49777f6b9ec30d0d2410a22e7e987d574e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/breeze-grub-5.10.0.tar.xz">breeze-grub-5.10.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>61820e194a819655d73c9a03a747c325cda12295edd917948057ace05c12f1db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/breeze-gtk-5.10.0.tar.xz">breeze-gtk-5.10.0</a></td>
   <td align="right">206kB</td>
   <td><tt>563c4c3376ba33445ba6662e72e12b608457320e02a4d98732edc2de5770bab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/breeze-plymouth-5.10.0.tar.xz">breeze-plymouth-5.10.0</a></td>
   <td align="right">102kB</td>
   <td><tt>cff39e592841b241b4bff750b90ceed00de64c3adb52467d1903844639136b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/discover-5.10.0.tar.xz">discover-5.10.0</a></td>
   <td align="right">9.2MB</td>
   <td><tt>a0cdd75fc81d71e602a942f096eedb27712ab9b765574447e5b969526caf16b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kactivitymanagerd-5.10.0.tar.xz">kactivitymanagerd-5.10.0</a></td>
   <td align="right">82kB</td>
   <td><tt>45e2e41dd39b9ae32e857cd27f77aae12df83ec790bb59608c6ab15608eeef37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kde-cli-tools-5.10.0.tar.xz">kde-cli-tools-5.10.0</a></td>
   <td align="right">490kB</td>
   <td><tt>51e7bec9bb9657ce8f0546dea696ec2f2e409e385eed39804f2de8cdca549610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kdecoration-5.10.0.tar.xz">kdecoration-5.10.0</a></td>
   <td align="right">34kB</td>
   <td><tt>6d30fe0c94c5b32b3be096aa271cda043911a7c7533d5e705e9eb62054e8f6a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kde-gtk-config-5.10.0.tar.xz">kde-gtk-config-5.10.0</a></td>
   <td align="right">148kB</td>
   <td><tt>11ed59387027a26d1150e94d8500c1fea892d4c7daf990ae69dead7d76ff0561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kdeplasma-addons-5.10.0.tar.xz">kdeplasma-addons-5.10.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1fae46d69f0e5e19099a948e202c0aacacac3f7140e7393dd38592b17efeb99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kgamma5-5.10.0.tar.xz">kgamma5-5.10.0</a></td>
   <td align="right">59kB</td>
   <td><tt>09d816087a4830fceeef9fc23ea3208e6206ca45120165fef99dd43e7f60b53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/khotkeys-5.10.0.tar.xz">khotkeys-5.10.0</a></td>
   <td align="right">682kB</td>
   <td><tt>d77dda6844d83695b97d40dfe3124d6ddc7c0a129711629b49bfc8f6e217b570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kinfocenter-5.10.0.tar.xz">kinfocenter-5.10.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>73d9ed2009982c95cf06c6f9154d3d7ad581e7102f25f50110da2207ac18518a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kmenuedit-5.10.0.tar.xz">kmenuedit-5.10.0</a></td>
   <td align="right">635kB</td>
   <td><tt>5685a354a03580f9e8d039668812ac871e65397e7c99203c1dafac3c02ef890d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kscreen-5.10.0.tar.xz">kscreen-5.10.0</a></td>
   <td align="right">112kB</td>
   <td><tt>702036f04df7c0609857982922d70a2a9bcb849e3a6ccfd1cae0d917a017a14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kscreenlocker-5.10.0.tar.xz">kscreenlocker-5.10.0</a></td>
   <td align="right">107kB</td>
   <td><tt>ee625488caa933fb9c174b80b10b425f51ad23eca3aac7d7de20ac1da7d62ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/ksshaskpass-5.10.0.tar.xz">ksshaskpass-5.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>86146e584d5adeeb90b7e9aa8279f05fd6df1c19266f0b1004b9d988aae41cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/ksysguard-5.10.0.tar.xz">ksysguard-5.10.0</a></td>
   <td align="right">475kB</td>
   <td><tt>fa131fcd4dbf302d707e5bd4a5f9970024ee8aa843f9e3708026931445f0244a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kwallet-pam-5.10.0.tar.xz">kwallet-pam-5.10.0</a></td>
   <td align="right">17kB</td>
   <td><tt>8606d4a080f544c0f88781adf4c7583fd9529a6fd45465d7177ee82c07a0a999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kwayland-integration-5.10.0.tar.xz">kwayland-integration-5.10.0</a></td>
   <td align="right">18kB</td>
   <td><tt>3a2224b3186bc7eddf1950aad9dde0d311c55b491691de4ead1c62cf28b5eb98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kwin-5.10.0.tar.xz">kwin-5.10.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>05a82a742ebf5116df49e37fd34a38f7611149114fca7f55a59144fe2979e1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/kwrited-5.10.0.tar.xz">kwrited-5.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>a1cdcf911084703b979028b7c2b9955c07b73690e7a93d4ec433077239578d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/libkscreen-5.10.0.tar.xz">libkscreen-5.10.0</a></td>
   <td align="right">91kB</td>
   <td><tt>90c3b17ce762a5779962bdf27a9f05455c1c87a50b1a82ff2b57848c7f035dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/libksysguard-5.10.0.tar.xz">libksysguard-5.10.0</a></td>
   <td align="right">551kB</td>
   <td><tt>20ee4349d7934a4c455108f2c9015d8807d946a88b500850629057babfb97cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/milou-5.10.0.tar.xz">milou-5.10.0</a></td>
   <td align="right">54kB</td>
   <td><tt>541cd8c9a901942139efa9d004b195bb4dc3001d0aacbaa9ba2322819942fc7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/oxygen-5.10.0.tar.xz">oxygen-5.10.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>371cb1cd6b83dffd5f8480d78ea9f12b3855537b3c56535575b1fd719c24cc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-desktop-5.10.0.tar.xz">plasma-desktop-5.10.0</a></td>
   <td align="right">5.8MB</td>
   <td><tt>350b91ee403f1c58581d43c9ef1c5dcfb1639ba27340ee62f94463041d33a908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-integration-5.10.0.tar.xz">plasma-integration-5.10.0</a></td>
   <td align="right">50kB</td>
   <td><tt>96847c0e7756552dd0e2ace6e3ea28d7a2d3c7d2e23e6140434c17fd3e8eb435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-nm-5.10.0.tar.xz">plasma-nm-5.10.0</a></td>
   <td align="right">674kB</td>
   <td><tt>1c9c55066ac35e5d7b60fd601816418bfd68673072ac9918ee8f6c8018ffe649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-pa-5.10.0.tar.xz">plasma-pa-5.10.0</a></td>
   <td align="right">77kB</td>
   <td><tt>79284976b9bc69761986d71c2f115d22c469416666af8c6c59b88a5de0b821cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-sdk-5.10.0.tar.xz">plasma-sdk-5.10.0</a></td>
   <td align="right">240kB</td>
   <td><tt>ec5d0cb615afa9c0a0d087734c34f27aeb93ca8ab9bba5db7947bd47384cc18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-tests-5.10.0.tar.xz">plasma-tests-5.10.0</a></td>
   <td align="right">1kB</td>
   <td><tt>2e1edc095957cab1e64cbd9156a977106056648fcb1f861dd45f515248ce137c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-workspace-5.10.0.tar.xz">plasma-workspace-5.10.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a9bc9e08012028bbd913da9f15afd3c78597a5b5cc9b912fe16090e7bdb95b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plasma-workspace-wallpapers-5.10.0.tar.xz">plasma-workspace-wallpapers-5.10.0</a></td>
   <td align="right">43MB</td>
   <td><tt>f909024b7d1213d105f833586266b098d2c1fc3af95d69738509a6de2c5a0657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/plymouth-kcm-5.10.0.tar.xz">plymouth-kcm-5.10.0</a></td>
   <td align="right">30kB</td>
   <td><tt>68bc524ef57816c0f711ef3cfc75674f819031e1d007624e3dd7d827b2f8152e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/polkit-kde-agent-1-5.10.0.tar.xz">polkit-kde-agent-1-5.10.0</a></td>
   <td align="right">40kB</td>
   <td><tt>73ccdc3df6ab4df631c2cd0dcd03bd2663a063e1844f553be6f8e1cf9752401c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/powerdevil-5.10.0.tar.xz">powerdevil-5.10.0</a></td>
   <td align="right">352kB</td>
   <td><tt>848dc795aa4fb11bd7c7c3656d813944fca929076cfa9eaa30aca5797cee03a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/sddm-kcm-5.10.0.tar.xz">sddm-kcm-5.10.0</a></td>
   <td align="right">56kB</td>
   <td><tt>9f8156e7bd93894768efff5a487dbc53d40077ef55c9dbf892b14d07d1c90c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/systemsettings-5.10.0.tar.xz">systemsettings-5.10.0</a></td>
   <td align="right">152kB</td>
   <td><tt>e48fec56022807133d29d6d5e2eff65d5fd1929616313c5eb6ffd3e81b4e27a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/user-manager-5.10.0.tar.xz">user-manager-5.10.0</a></td>
   <td align="right">531kB</td>
   <td><tt>c9ead23c39ebae70e0eab6a91a1ff97c0768e1f8ef98ac353616cad4f9584194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.0/xdg-desktop-portal-kde-5.10.0.tar.xz">xdg-desktop-portal-kde-5.10.0</a></td>
   <td align="right">27kB</td>
   <td><tt>25ad494b81e49f0fd205b78aa7d0b2460b2697d232d0f728e3f311cad4d8a2a8</tt></td>
</tr>

</table>
