/**
 * SPDX-FileCopyrightText: (c) 2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

 hr.blue-line {
  width: 4rem;
  height: 5px;
  background: #3daee9;
  margin: auto;
  border: none;
  outline: none;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

main {
  font-size: 16px;
  
  section {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
}

.header-plasma {
  background-image: url(/reusable-assets/home-blur.jpg);
  background-size: cover;
}
.header-plasma * {
  color: white !important;
}
.mw-1k {
  max-width: 1000px !important;
}

.container-application {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-laptop {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#section-green {
  background-color: rgba(39,174,96,0.1);
}

.section-blue {
  background: rgba(61,174,233,.1);
}

.card {
  padding: 0;
}

.screen-shadow {
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px) {
  .text-right-lg {
    text-align: right;
  }
}
.kde-img {
  max-width: 850px;
  margin: 20px 0;
}

#plasma-homepage {
  background: rgba(61,174,233,.1);
}
@media (min-width: 1100px) {
  main p {
    font-size: 18px;
  }
  .laptop-with-overlay {
    max-width: 750px;
  }
  .plasma-info  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #plasma .container {
    display: flex;
    align-items: center;
  }
}
.app {
  align-items: center;
  
  .button {
    margin-left: 10px;
  }
  .app-description {
    display: flex;
    align-items: center;
    text-align: center;
    order: 0;
  
    div {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
  }

  @media (min-width: 992px) {
    &:nth-child(odd) .app-description {
      order: 12;
    }
  }
}

#plasma h1, #plasma .h1 {
  margin-top: 0.3em;
}
.swiper-slide img, .screenshot img {
  height: 50vw;
  min-height: 300px;
  max-height: 500px;
}
  
.swiper-slide h3 {
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-slide {
  flex-shrink: initial;
}
#plasma .learn-more:not(.button) {
  margin-left: 10px;
}
.button {
  margin-left: 0;
}
.hardware-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "steam-deck      pinebook      slimbook      focus"
    "steam-deck-desc pinebook-desc slimbook-desc focus-desc";
  column-gap: 40px;
}
@media (max-width: 1024px) {
  .hardware-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "steam-deck pinebook"
    "steam-deck-desc pinebook-desc"
    "slimbook focus"
    "slimbook-desc focus-desc";
  }
}
@media (max-width: 767px) {
  .hardware-grid {
    display: flex;
    flex-direction: column;
  }
}
.steam-deck {
  grid-area: steam-deck;
  padding: 0 5px;
}
.steam-deck-desc {
  grid-area: steam-deck-desc;
}
.pinebook {
  grid-area: pinebook;
}
.pinebook-desc {
  grid-area: pinebook-desc;
}
.slimbook-img {
  grid-area: slimbook;
  padding: 0 21px;
}
.slimbook-desc {
  grid-area: slimbook-desc;
}
.focus {
  grid-area: focus;
  padding: 0 17px;
}
.focus-desc {
  grid-area: focus-desc;
}
.focus, .steam-deck, .slimbook-img, .pinebook {
  align-self: end;
  margin-top: 20px;
}
.focus img, .steam-deck img, .slimbook-img img, .pinebook img {
  max-width: 100%;
  height: auto;
}
.focus-desc, .steam-deck-desc, .slimbook-desc, .pinebook-desc {
  text-align: center;
  align-self: start;
}
#kde-connect {
  background: rgba(246, 116, 0, 0.05);
}
.community-grid {
  display: grid;
  grid-template-columns: auto 10% auto;
  grid-template-rows: auto 70px auto auto auto auto;
  grid-gap: 1.5rem;
}
@media (max-width: 800px) {
  .community-grid {
    display: flex;
    flex-direction: column;
  }
}
.community-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.community-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.community-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.community-4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.community-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}
.community-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.community-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.community-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}
.community-grid .card {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.1);
  --bs-card-border-width: 0;
}
.community-grid .card-body {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}
.community-img {
  background-size: cover;
  height: 100%;
  min-height: 300px;
}
@media (min-width: 1000px) {
  .section-community h2 {
    max-width: 60%;
  }
}
main::after {
  height: 40px;
  margin: 0;
  background-color: rgba(61,174,233,.1);
}

.text-lighter {
  color: #636a71;
  @media (prefers-color-scheme: dark) {
    color: #9ca8b3;
  }
}

// fundraising
.fundraising {
	background-color: rgba(var(--bs-body-bg-rgb), 0.8);
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 998;
	padding: 0.1rem;
	backdrop-filter: blur(30px) saturate(90%);
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}

.fundraising h2 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 3rem;
	margin-top: 0.3rem;
	margin-bottom: 0;
	@media (max-width: 900px) {
		font-size: 2rem;
	}
	a {
		color: unset;
	}
	.blue {
		color: #1D99F3
	}
}
