{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1>
        {{ .Title }}
      </h1>
      <p>{{ .Description }}</p>
    </div>
  </div>

  <div class="position-relative">
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex" id="features-hero">
      <div class="position-relative w-100" style="padding-top: 10rem">
          <!-- <img src="/for/resources/konqilearn.png" style="bottom: 10px; left: 50%;" class="img-fluid position-absolute" alt="" /> -->
        <div class="text-center my-5 mx-auto" style="max-width: 600px; bottom: 10px;" >
          {{ if fileExists (printf "/static/for/resources/kids_headline_title_%s.svg" .Language.Lang) }}
            <img src="{{ printf "/for/resources/kids_headline_title_%s.svg" .Language.Lang }}" alt="{{ .Title }}" class="img-fluid" />
          {{ else }}
            <h1 class="playful" aria-label="{{ .Title }}">
            {{ $title := .Title }}
            {{- range (union (slice 0) (seq (sub (strings.RuneCount .Title ) 1))) -}}
              <span aria-hidden="true">{{substr $title . 1}}</span>
            {{- end -}}
            </h1>
          {{ end }}
        </div>
      </div>
    </div>
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    </defs>
    </svg>
    <svg width="0" height="0">
  <defs>
  <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
  <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
  </clipPath>
  </defs>
  </svg>
  </div>
  {{ .Content }}
  <div class="py-5 section-blue"> 
    <div class="container">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-md-left text-center">
          <h2 class="h1">KTuberling</h2>
          <p class="h5 mx-auto" style="max-width: 700px">{{ .Params.kturberling }}</p>
          <p><a class="btn btn-outline-light" href="https://apps.kde.org{{ .Site.LanguagePrefix }}/ktuberling" hreflang="{{ .Language.Lang }}">{{ .Params.download }}</a></p>
        </div>
        <div class="text-md-center">
          <img src="/for/resources/kturberling.png" class="img-fluid" />
        </div>
      </div>
    </div> 
  </div> 
  <div class="py-5 container">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div class="text-md-left text-center order-md-2">
        <h2 class="h1">KLettres</h2>
        <p class="h5 mx-auto" style="max-width: 700px">{{ .Params.klettres }}</p>
        <p><a class="btn btn-outline-light" href="https://apps.kde.org{{ .Site.LanguagePrefix }}/klettres" hreflang="{{ .Language.Lang }}">{{ .Params.download }}</a></p>
      </div>
      <div class="text-center order-md-1">
        <img src="https://cdn.kde.org/screenshots/klettres/klettres.png" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="py-5 section-blue"> 
    <div class="container">
      <div class="text-center">
        <h2 class="h1">KolourPaint</h2>
        <p class="h5 mx-auto" style="max-width: 700px">{{ .Params.kolourpaint }}</p>
        <p><a class="btn btn-outline-light" href="https://apps.kde.org{{ .Site.LanguagePrefix }}/kolourpaint" hreflang="{{ .Language.Lang }}">{{ .Params.download }}</a></p>
      </div>
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-md-center d-none d-md-block">
          <img src="/for/resources/konqipaint.png" class="img-fluid" />
        </div>
        <div class="text-md-center">
          <img src="/for/resources/kolourpaint.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <h2 class="h1">{{ .Params.gamestitle }}</h2>
      <p class="h5 mx-auto" style="max-width: 700px">{{ .Params.games }}</p>
      <p><a class="btn btn-outline-light" href="https://apps.kde.org{{ .Site.LanguagePrefix }}/games" hreflang="{{ .Language.Lang }}">{{ .Params.download }}</a></p>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div class="text-md-center d-none d-md-block">
        <img src="/for/resources/konqigame.png" class="img-fluid" />
      </div>
      <div class="text-md-center order-md-0">
        <img src="https://cdn.kde.org/screenshots/kapman/kapman.png" class="img-fluid" />
      </div>
    </div>
  </div> 
</main>
{{ end }}
