{{ define "main" }}
<main>
  <section id="top" class="mt-0">
    <div class="container py-4">
      <h1 class="text-white text-center ">{{ .Title }}</h1>
      <p style="max-width: 700px" class="h2 mx-auto text-center ">
        {{ .Description }}
      </p>

      <div class="row my-5">
        <div class="col-md-6 col-12">
          <div class="donnorbox mx-auto h-100">
              <h2 class="px-4">{{ .Params.recurring }}</h2>
            <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="400px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          </div>
        </div>

        <div class="col-md-6 col-12 mt-5 mt-md-0">
          <div class="donnorbox mx-auto h-100 d-flex flex-column">
            <h2 class="px-4">{{ .Params.one_time }}</h2>
            <form style="border: none; box-shadow: none;" class="row p-4 pt-0 pb-2" action="https://www.paypal.com/cgi-bin/webscr" method="post" onsubmit='return amount.value >= 2 || window.confirm({{ i18n "donation-too-small" }});'>
              {{ partialCached "donation_fields.html" . }}
              <input type="hidden" name="custom" value="//kde.org/community/donations/index.php/donation_button">
              <div class="col-auto" style="flex-grow: 2">
                <input type="text" class="form-control d-inline" name="amount" value="30" style="vertical-align:middle;text-align:right;" size="4">
              </div>
              <div class="col-auto align-self-center ps-0">
                €
              </div>
              <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="{{ .Params.donate }}"/>
              </div>
            </form>
            <p class="pb-2 small px-4">{{ .Params.powered_by_paypal }}</p>

            <h2 class="px-4">{{ .Params.other_way }}</h2>
            <p class="px-4">
              {{ .Params.other_way_text | markdownify }}
              <br />
              <a class="learn-more mt-3" href="/community/donations/others">{{ i18n "learn-more" }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container text-center py-5">
    <div class="container text-center">
    <h2 class="h1 mb-4">{{ .Params.learn }}</h2>
    <p style="max-width: 830px" class="mx-auto">
      {{ .Params.activity }}
    <p>
    <div class="row">
      {{ range .Params.reports }}
      <div class="col-12 col-md-4 mt-4">
          <a href="{{ .link }}" class="card shadow d-flex flex-column" style="background-image: url('{{ .image }}') !important; height: 300px; background-size: cover !important;background-repeat: no-repeat !important; background-position: center !important">
              <h2 class="mt-auto mb-0 p-2" style="color: white; background-color: #000000bb;">{{ .name }}</h2>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="text-center learn-more mt-4"><a href="https://kde.org">{{ i18n "whatiskde-button" }}</a></div>
  </section>

  <section class="section-community section-blue py-5">
    <div class="container text-center">
      <h2 class="h1">{{ .Params.supporting_corp.title }}</h2>
      <p style="max-width: 830px" class="mx-auto">{{ .Params.supporting_corp.text }}</p>
      <a href="https://ev.kde.org/getinvolved/supporting-members" class="learn-more">{{ i18n "learn-more" }}</a>

      <div id="kPatrons" class="kPatrons" style="background-color: inherit">
        <div class="d-flex flex-wrap justify-content-center align-items-center">
          {{ partial "patrons" }}
          <span><img src="https://ev.kde.org/images/supportingmembers/kdab.png" alt='KDAB' class="mt-0 mt-md-5" style="width: auto; max-height: 120px" loading="lazy"></span>
          <span><img src="https://ev.kde.org/images/supportingmembers/basyskom.png" alt='Basyskom' loading="lazy"></span>
          <span><img src="https://ev.kde.org/images/supportingmembers/enioka.svg" alt='Enioka' loading="lazy"></span>
        </div>
      </div>
    </div>
  </section>

  <section class="section-community container py-5">
    <div class="text-center">
      <h2 class="text-center mx-auto">{{ .Params.kdeev }}</h2>
      <p class="mx-auto" style="max-width: 800px">{{ .Params.kde }}</p>
    </div>
    <div class="text-center">
      <h2 class="text-center mx-auto">{{ .Params.hwsv }}</h2>
      <p>{{ .Params.hwsv_donation | markdownify }}</p>
    </div>
  </section>
</main>
{{ end }}
