<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/akonadi-15.12.3.tar.xz">akonadi-15.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>084f591ba00aed19607989521245e19a4be1064d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/akonadi-calendar-15.12.3.tar.xz">akonadi-calendar-15.12.3</a></td>
   <td align="right">112kB</td>
   <td><tt>c5162be208be326ca0423575b889a96ca6ab1938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/akonadi-search-15.12.3.tar.xz">akonadi-search-15.12.3</a></td>
   <td align="right">68kB</td>
   <td><tt>8de09b69e4d1fa96f4c752a010fbb36383dd75f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/analitza-15.12.3.tar.xz">analitza-15.12.3</a></td>
   <td align="right">227kB</td>
   <td><tt>e67744f571ea27aaffe1fb793879b923730e8313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ark-15.12.3.tar.xz">ark-15.12.3</a></td>
   <td align="right">247kB</td>
   <td><tt>b12612999d1c3bfdc433412f88a94703e5061271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/artikulate-15.12.3.tar.xz">artikulate-15.12.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>12b57c4a00ac7e53015ed99fdda9499329841923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/audiocd-kio-15.12.3.tar.xz">audiocd-kio-15.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>6176a9b1edbfa0d1bbf9c51d913bec59f345c314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/baloo-widgets-15.12.3.tar.xz">baloo-widgets-15.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>6672027d0f2b62729c53496669ae6278d8042b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/blinken-15.12.3.tar.xz">blinken-15.12.3</a></td>
   <td align="right">554kB</td>
   <td><tt>c009d4e8abef813ce3899a50f9f67c4d4e2f6448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/bomber-15.12.3.tar.xz">bomber-15.12.3</a></td>
   <td align="right">384kB</td>
   <td><tt>27b971d9bdfb4e521c9f52c6e49b47b2260c8a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/bovo-15.12.3.tar.xz">bovo-15.12.3</a></td>
   <td align="right">103kB</td>
   <td><tt>febe5e8810bcbc61672b5753ac16b41aba45530f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/cantor-15.12.3.tar.xz">cantor-15.12.3</a></td>
   <td align="right">342kB</td>
   <td><tt>21be072ca5079a3bf78f6ca513fc9c9ff12e5863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/cervisia-15.12.3.tar.xz">cervisia-15.12.3</a></td>
   <td align="right">365kB</td>
   <td><tt>0968d20156d3b994013573a5446e138c43e9cb9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/dolphin-15.12.3.tar.xz">dolphin-15.12.3</a></td>
   <td align="right">643kB</td>
   <td><tt>2fa3d09d37b11bc310efce94241669dd5b6e7bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/dolphin-plugins-15.12.3.tar.xz">dolphin-plugins-15.12.3</a></td>
   <td align="right">59kB</td>
   <td><tt>56c35634077c010c59d8ad4c4873ae7333769b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/dragon-15.12.3.tar.xz">dragon-15.12.3</a></td>
   <td align="right">394kB</td>
   <td><tt>48d8985f3908ba599ff7b349b4aa81a9fd8746ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ffmpegthumbs-15.12.3.tar.xz">ffmpegthumbs-15.12.3</a></td>
   <td align="right">19kB</td>
   <td><tt>443d27d46836142922f380450febcdac675444fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/filelight-15.12.3.tar.xz">filelight-15.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>4ce26ad5a7d16284045110ec14b8bd02adcdec5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/gpgmepp-15.12.3.tar.xz">gpgmepp-15.12.3</a></td>
   <td align="right">66kB</td>
   <td><tt>16a5754957be7fa098c38d34a5b7ffc0664e7b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/granatier-15.12.3.tar.xz">granatier-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f5336949e12c8e7e4d4e54e42d9e2aeb0ba3fd4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/gwenview-15.12.3.tar.xz">gwenview-15.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>863f29f77c1652c7a98e3f6c93ef880230db11ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/jovie-15.12.3.tar.xz">jovie-15.12.3</a></td>
   <td align="right">384kB</td>
   <td><tt>f96736cc409e8f910bbb5c4edfab649ef6b15455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/juk-15.12.3.tar.xz">juk-15.12.3</a></td>
   <td align="right">435kB</td>
   <td><tt>5884cec176d61e039a4f2478d07b5eb6951d1004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kaccessible-15.12.3.tar.xz">kaccessible-15.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>36835f1e519aeaf7e14a100cff9f2de168770d3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kaccounts-integration-15.12.3.tar.xz">kaccounts-integration-15.12.3</a></td>
   <td align="right">44kB</td>
   <td><tt>15678945e1a91c0c553e8a5a7901387854edf830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kaccounts-providers-15.12.3.tar.xz">kaccounts-providers-15.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>ae2f75c55387f6e2d9ac7f57ecc860d598e13d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kajongg-15.12.3.tar.xz">kajongg-15.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cac558b08d505473367b74f6c20283395ea9be69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kalarmcal-15.12.3.tar.xz">kalarmcal-15.12.3</a></td>
   <td align="right">85kB</td>
   <td><tt>187b7273a3232ee036ed48b612e4e95b6b99111b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kalgebra-15.12.3.tar.xz">kalgebra-15.12.3</a></td>
   <td align="right">250kB</td>
   <td><tt>28f9cc2c16f23ac65747a4cdf056fdaf841132e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kalzium-15.12.3.tar.xz">kalzium-15.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>6acad892cc5e4f2cedcd9f8e5951c6c55d6693d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kamera-15.12.3.tar.xz">kamera-15.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>fc078102eb1a81b92559fbea2fb49a31d187cba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kanagram-15.12.3.tar.xz">kanagram-15.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>382ea78568d5645a69b61192e8706d00c34343e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kapman-15.12.3.tar.xz">kapman-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2eb3835eb628844117e53dff4cc3b06e281d0655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kapptemplate-15.12.3.tar.xz">kapptemplate-15.12.3</a></td>
   <td align="right">672kB</td>
   <td><tt>046141d54158d840b31d71fdf7c846303d7f16ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kate-15.12.3.tar.xz">kate-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>38a5758c07d25cbab188b92eb0708cc99d6979ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/katomic-15.12.3.tar.xz">katomic-15.12.3</a></td>
   <td align="right">647kB</td>
   <td><tt>27d8cf274aacd220df857a937516a7d0cc857ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kblackbox-15.12.3.tar.xz">kblackbox-15.12.3</a></td>
   <td align="right">255kB</td>
   <td><tt>ed7e737c78e41281c088a4b0b89fd3226c31f8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kblocks-15.12.3.tar.xz">kblocks-15.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e9e6ccdf77f3ea932e9e1005b84039b01f9047aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kblog-15.12.3.tar.xz">kblog-15.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>f64e712f35757570ca57a9ab6017afc21743d4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kbounce-15.12.3.tar.xz">kbounce-15.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>421522f18bf05e2125a90c9153fcb1484e195e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kbreakout-15.12.3.tar.xz">kbreakout-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f64eb8cd8fc35b3a83e53325c339ce7882f70969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kbruch-15.12.3.tar.xz">kbruch-15.12.3</a></td>
   <td align="right">884kB</td>
   <td><tt>0b1c7401fa3f82e1ed759a91d9a2164414fc61a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcachegrind-15.12.3.tar.xz">kcachegrind-15.12.3</a></td>
   <td align="right">232kB</td>
   <td><tt>3220766438af31b11792abb2b873f00a1993e757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcalc-15.12.3.tar.xz">kcalc-15.12.3</a></td>
   <td align="right">81kB</td>
   <td><tt>3a702934281d8cece1efd877b344f14f51e9ce36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcalcore-15.12.3.tar.xz">kcalcore-15.12.3</a></td>
   <td align="right">285kB</td>
   <td><tt>2b3c680d7623a63c85069a5b5fbaf36dc7fb2d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcalutils-15.12.3.tar.xz">kcalutils-15.12.3</a></td>
   <td align="right">68kB</td>
   <td><tt>9c04c22c561cf2cd9f9373fb9e61b584a76ee0b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcharselect-15.12.3.tar.xz">kcharselect-15.12.3</a></td>
   <td align="right">70kB</td>
   <td><tt>37a71b1fe9e1156f812245cf7be0b74b75779ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcolorchooser-15.12.3.tar.xz">kcolorchooser-15.12.3</a></td>
   <td align="right">4kB</td>
   <td><tt>190708d463030158f0dd39bb91362052ee74fd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcontacts-15.12.3.tar.xz">kcontacts-15.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>0d07fb851ef45616dd1825e931b65375f94c6c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kcron-15.12.3.tar.xz">kcron-15.12.3</a></td>
   <td align="right">136kB</td>
   <td><tt>9161ed38861de5040a1d933c5dd20bfabfa5ab1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-baseapps-15.12.3.tar.xz">kde-baseapps-15.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a330dcc351291b4aa544988251ac002579a22f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdebugsettings-15.12.3.tar.xz">kdebugsettings-15.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>1a0d3b1b79d1f6257871f85d2723efeb3b754aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-dev-scripts-15.12.3.tar.xz">kde-dev-scripts-15.12.3</a></td>
   <td align="right">301kB</td>
   <td><tt>737c98cd1d3ce46f38f9eb94cb42e954c3594569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-dev-utils-15.12.3.tar.xz">kde-dev-utils-15.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>9da2a9418797767ff677d5d5b986d149c2fd7cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdeedu-data-15.12.3.tar.xz">kdeedu-data-15.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>2f0ed1c4cf9ea2b35e780e60d0914cb5da67c28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdegraphics-mobipocket-15.12.3.tar.xz">kdegraphics-mobipocket-15.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>49b84e868acb13177c0404884a1df3c63404a015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdegraphics-strigi-analyzer-15.12.3.tar.xz">kdegraphics-strigi-analyzer-15.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>1608016828524e04ded2095814b6c349c23c5c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdegraphics-thumbnailers-15.12.3.tar.xz">kdegraphics-thumbnailers-15.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>9c2853a526b934614488835ebb743c4512a0aba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdelibs-4.14.18.tar.xz">kdelibs-4.14.18</a></td>
   <td align="right">11MB</td>
   <td><tt>9b15cbd86a8ac1993d8beaf4c9487eaa8291398d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdenetwork-filesharing-15.12.3.tar.xz">kdenetwork-filesharing-15.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>e8b5126f5e6affe25a6c59d2e8cb6de79d88f9e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdenetwork-strigi-analyzers-15.12.3.tar.xz">kdenetwork-strigi-analyzers-15.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>7ac08ea9300834ed8f858a169b8f11348158caa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdenlive-15.12.3.tar.xz">kdenlive-15.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>87f7927cb5172ca79d4172d958c3d4bf5d9ef164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdepim-15.12.3.tar.xz">kdepim-15.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>baa4feff57dc33a8edcdcb64dc0d5409a5c564b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdepimlibs-15.12.3.tar.xz">kdepimlibs-15.12.3</a></td>
   <td align="right">992kB</td>
   <td><tt>ef6bd9bbf2e40faca0bc86bbbf8faf0cb76b6069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdepim-runtime-15.12.3.tar.xz">kdepim-runtime-15.12.3</a></td>
   <td align="right">685kB</td>
   <td><tt>f1d0672c452878eb9600bdc618596224e665fe11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-runtime-15.12.3.tar.xz">kde-runtime-15.12.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>12226932cecd8c8945d00e92b4b6154dc058dd47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdesdk-kioslaves-15.12.3.tar.xz">kdesdk-kioslaves-15.12.3</a></td>
   <td align="right">352kB</td>
   <td><tt>f702dfa18fb56220c0ac0fcb2439f5cde3c5dc4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdesdk-strigi-analyzers-15.12.3.tar.xz">kdesdk-strigi-analyzers-15.12.3</a></td>
   <td align="right">17kB</td>
   <td><tt>a1e174939718195b86a4d97aad49737b0e1a50bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdesdk-thumbnailers-15.12.3.tar.xz">kdesdk-thumbnailers-15.12.3</a></td>
   <td align="right">11kB</td>
   <td><tt>9d824977da8f4fdf4b635eebd98b7e36417f86cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdewebdev-15.12.3.tar.xz">kdewebdev-15.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>86b7019f9886ec8df29c54b4cd51db8a6c7cd287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdf-15.12.3.tar.xz">kdf-15.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>5bb24d82dc7871d428cab2f8f0ddab57d5120d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kdiamond-15.12.3.tar.xz">kdiamond-15.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>de285b7ceea683d82ef7589476cfce1a0bbfd312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kfloppy-15.12.3.tar.xz">kfloppy-15.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>bd66001ba2f59b6bb71d569243d88fcae2629e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kfourinline-15.12.3.tar.xz">kfourinline-15.12.3</a></td>
   <td align="right">274kB</td>
   <td><tt>af6a672c8c98ea444a9fd80f881d65a1f0d02b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kgeography-15.12.3.tar.xz">kgeography-15.12.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>566520e4a5038c93ed211d425e6429f39ac88f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kget-15.12.3.tar.xz">kget-15.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>bace6e2a6765985d49548c46670a565d6d9008b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kgoldrunner-15.12.3.tar.xz">kgoldrunner-15.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3366eaa3c416f4f9157580a8a4c999467e7e5cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kgpg-15.12.3.tar.xz">kgpg-15.12.3</a></td>
   <td align="right">791kB</td>
   <td><tt>d7982d9e0ff5ab57feb12fa3b70b2e7f996ca465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/khangman-15.12.3.tar.xz">khangman-15.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b2f7ccd80aca94943df2d1f215cb73a01142a6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kholidays-15.12.3.tar.xz">kholidays-15.12.3</a></td>
   <td align="right">170kB</td>
   <td><tt>1efd7b3e6b545a587bb109ecf3b7fe6709aa1640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kidentitymanagement-15.12.3.tar.xz">kidentitymanagement-15.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>209833844c129c1c6fbb86fe41567be78bb4593b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kig-15.12.3.tar.xz">kig-15.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0310f6ee36e2098b748678c9a815d4e63123737f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kigo-15.12.3.tar.xz">kigo-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a0267c7e5d20e405b54eecc1677ab03cb4de7de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/killbots-15.12.3.tar.xz">killbots-15.12.3</a></td>
   <td align="right">941kB</td>
   <td><tt>1d2175a2dec08391ac98a3d2012f5bacb749ee62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kimap-15.12.3.tar.xz">kimap-15.12.3</a></td>
   <td align="right">87kB</td>
   <td><tt>bc7e90b3447e89266e081b12c22dd18f5dc18d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kio-extras-15.12.3.tar.xz">kio-extras-15.12.3</a></td>
   <td align="right">260kB</td>
   <td><tt>3fe1e11f7ea3b4acec85b8ceddbe6b09aeef98d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kiriki-15.12.3.tar.xz">kiriki-15.12.3</a></td>
   <td align="right">117kB</td>
   <td><tt>7bd88ccba6da2a277c008a167a2f91a1ea8ebf4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kiten-15.12.3.tar.xz">kiten-15.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>92597c7f9689406c51e1b0deaf14f1112cceb31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kjumpingcube-15.12.3.tar.xz">kjumpingcube-15.12.3</a></td>
   <td align="right">161kB</td>
   <td><tt>a4be5ed42b783b8a157c85671bcd7932d66b39c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kldap-15.12.3.tar.xz">kldap-15.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>27394576cd026ce82427637162c46916943d52c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/klettres-15.12.3.tar.xz">klettres-15.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b9ed7a397f2f68f496223e1e93035de4476f8af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/klickety-15.12.3.tar.xz">klickety-15.12.3</a></td>
   <td align="right">769kB</td>
   <td><tt>ede1cf01ca2f6d18080fd48c265146e785fc354c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/klines-15.12.3.tar.xz">klines-15.12.3</a></td>
   <td align="right">928kB</td>
   <td><tt>2e5dc78c12b85801f617f189724dfdd903c19e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmag-15.12.3.tar.xz">kmag-15.12.3</a></td>
   <td align="right">84kB</td>
   <td><tt>b0c5aac5d8d9f3220f720edaef36010b7844d421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmahjongg-15.12.3.tar.xz">kmahjongg-15.12.3</a></td>
   <td align="right">984kB</td>
   <td><tt>fed54420a1d7f5bfa8b93f913670c7979b8b386b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmailtransport-15.12.3.tar.xz">kmailtransport-15.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>0cd137c578962537306c5de7e58b86e65438ceec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmbox-15.12.3.tar.xz">kmbox-15.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>dcdb48d9a551136460e147bd04e6e0464612ba92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmime-15.12.3.tar.xz">kmime-15.12.3</a></td>
   <td align="right">119kB</td>
   <td><tt>6c0fc8b317085f7e1a10387cd443dd5c123e4da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmines-15.12.3.tar.xz">kmines-15.12.3</a></td>
   <td align="right">609kB</td>
   <td><tt>fa10564b2306b3d076cdf0ae7c89d8976948cccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmix-15.12.3.tar.xz">kmix-15.12.3</a></td>
   <td align="right">380kB</td>
   <td><tt>62f13265f9b5410276f196be5381a37ff0717f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmousetool-15.12.3.tar.xz">kmousetool-15.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>b2e066a584c88ff807278a3dee183caedddee0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmouth-15.12.3.tar.xz">kmouth-15.12.3</a></td>
   <td align="right">270kB</td>
   <td><tt>aefd6c66641790b42b234ff6d70838fd6f9eb154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kmplot-15.12.3.tar.xz">kmplot-15.12.3</a></td>
   <td align="right">647kB</td>
   <td><tt>31144ee66225ddf0e4edfb5e123da8237412aed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/knavalbattle-15.12.3.tar.xz">knavalbattle-15.12.3</a></td>
   <td align="right">889kB</td>
   <td><tt>ecf1dcb868d274596e923043fe9fba7b7a6e678a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/knetwalk-15.12.3.tar.xz">knetwalk-15.12.3</a></td>
   <td align="right">765kB</td>
   <td><tt>4eceb124fee2334662575e4e092ab6841c656bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kolf-15.12.3.tar.xz">kolf-15.12.3</a></td>
   <td align="right">750kB</td>
   <td><tt>9c0c9b789f28003977524dbf793b462cc1a48625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kollision-15.12.3.tar.xz">kollision-15.12.3</a></td>
   <td align="right">204kB</td>
   <td><tt>16a36f987d53ee65c27b71424023c502d4ed6c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kolourpaint-15.12.3.tar.xz">kolourpaint-15.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e51ac54be15007b12f9b2bf6e8761ce76f6bfdf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kompare-15.12.3.tar.xz">kompare-15.12.3</a></td>
   <td align="right">336kB</td>
   <td><tt>57bb9d1e4a3ee99b5d880f8c51118a7150b81af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/konquest-15.12.3.tar.xz">konquest-15.12.3</a></td>
   <td align="right">396kB</td>
   <td><tt>6369b4638b07315c0aaad40ead5b337fe682d5f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/konsole-15.12.3.tar.xz">konsole-15.12.3</a></td>
   <td align="right">448kB</td>
   <td><tt>9826e21c20febbda5e3dbeecf47f2b350162595f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kontactinterface-15.12.3.tar.xz">kontactinterface-15.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>c0049fa5e9d81bf9b1b6a8508e3b870d3b49b1fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kopete-15.12.3.tar.xz">kopete-15.12.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e574524251318e5d9acaa33eb1d89ee7be827557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kpat-15.12.3.tar.xz">kpat-15.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6215c6119b814e8c71d71f7bdfd6acb1dc79856c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kpimtextedit-15.12.3.tar.xz">kpimtextedit-15.12.3</a></td>
   <td align="right">75kB</td>
   <td><tt>373419d574734885d7812ce114b1e3dc702dcc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kppp-15.12.3.tar.xz">kppp-15.12.3</a></td>
   <td align="right">683kB</td>
   <td><tt>b386bfa6dd26c9c1e440a52e25f521951e192b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kqtquickcharts-15.12.3.tar.xz">kqtquickcharts-15.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>7f506420084ee4c1c4e1356f25c5d09dfad2d4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/krdc-15.12.3.tar.xz">krdc-15.12.3</a></td>
   <td align="right">389kB</td>
   <td><tt>a907dfe8dbfe1eacf42d9212c59fa95cc928fd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kremotecontrol-15.12.3.tar.xz">kremotecontrol-15.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>356000f167a90f460aba1d82f3f11586a1e35829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kreversi-15.12.3.tar.xz">kreversi-15.12.3</a></td>
   <td align="right">464kB</td>
   <td><tt>1fe0c4dd24e559bcdbc562275e1c096970edc190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/krfb-15.12.3.tar.xz">krfb-15.12.3</a></td>
   <td align="right">317kB</td>
   <td><tt>4f6f36b4d9ea310966a5db3528d28fd70058490b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kross-interpreters-15.12.3.tar.xz">kross-interpreters-15.12.3</a></td>
   <td align="right">129kB</td>
   <td><tt>511fd18d65b42905a86283125fd40822df762d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kruler-15.12.3.tar.xz">kruler-15.12.3</a></td>
   <td align="right">120kB</td>
   <td><tt>960259543532b865f4b141f2522142cea32bd007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksaneplugin-15.12.3.tar.xz">ksaneplugin-15.12.3</a></td>
   <td align="right">12kB</td>
   <td><tt>1d1e3e96123df0c29797ed3672a5cc174e9fe34d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kscd-15.12.3.tar.xz">kscd-15.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>e138d23bf8325d9582569e56c742475db98b001a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kshisen-15.12.3.tar.xz">kshisen-15.12.3</a></td>
   <td align="right">135kB</td>
   <td><tt>3bc7e62fa55c45139db0b6738d8edcace92cf7d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksirk-15.12.3.tar.xz">ksirk-15.12.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f1cb95e266ea077223f7a09680e6188c01ec227d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksnakeduel-15.12.3.tar.xz">ksnakeduel-15.12.3</a></td>
   <td align="right">290kB</td>
   <td><tt>e8a7101707b45e00c06960664b2ce6ce8393340c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kspaceduel-15.12.3.tar.xz">kspaceduel-15.12.3</a></td>
   <td align="right">247kB</td>
   <td><tt>9a8b0a0710ef73f31595c36bbb939681c3c3a289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksquares-15.12.3.tar.xz">ksquares-15.12.3</a></td>
   <td align="right">78kB</td>
   <td><tt>4ae7fa0af12d1745fb6800f94e7c6c38c63a6bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kstars-15.12.3.tar.xz">kstars-15.12.3</a></td>
   <td align="right">16MB</td>
   <td><tt>6538ce3c69612a1eb1a49552beeb5aef85136124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksudoku-15.12.3.tar.xz">ksudoku-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8dea6cf6f4d2af5e64ef3c30409952f5a2452c62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ksystemlog-15.12.3.tar.xz">ksystemlog-15.12.3</a></td>
   <td align="right">386kB</td>
   <td><tt>990dec653a88244730092a2dbf4a939bb9cefd58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kteatime-15.12.3.tar.xz">kteatime-15.12.3</a></td>
   <td align="right">102kB</td>
   <td><tt>3cb965afcc77bd0c54a38e65e1640931900531f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktimer-15.12.3.tar.xz">ktimer-15.12.3</a></td>
   <td align="right">157kB</td>
   <td><tt>000bf029f7ab96d9e0cc78e59eb82c354131382f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktnef-15.12.3.tar.xz">ktnef-15.12.3</a></td>
   <td align="right">227kB</td>
   <td><tt>b1d806c7afb7df5f968b3d910752e5e69eb66ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktouch-15.12.3.tar.xz">ktouch-15.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6c65a6f68aea5c69af3fdef55a9bba644fb5e872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-accounts-kcm-15.12.3.tar.xz">ktp-accounts-kcm-15.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>c8b23a12014092924e76f939db48dc3b7669045e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-approver-15.12.3.tar.xz">ktp-approver-15.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>62d614bf8db042f66674e2646d79da57600b5f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-auth-handler-15.12.3.tar.xz">ktp-auth-handler-15.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>3e49b5b260cc0db90af7e4d6e883eaa1d08a7fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-common-internals-15.12.3.tar.xz">ktp-common-internals-15.12.3</a></td>
   <td align="right">308kB</td>
   <td><tt>dadba69e471d24c068e7f46b56fab9129be2bca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-contact-list-15.12.3.tar.xz">ktp-contact-list-15.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>5892735d0bb3896e624400b8696ac363b1e2e573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-contact-runner-15.12.3.tar.xz">ktp-contact-runner-15.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>45a6cedd56664b7baa40530ab9b1d21e5d172214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-desktop-applets-15.12.3.tar.xz">ktp-desktop-applets-15.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>9421fa63f16b32b921eba3cb94421b0f50dd8793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-filetransfer-handler-15.12.3.tar.xz">ktp-filetransfer-handler-15.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>a8fa0d248172b505fa8bd9f822cffefcffb9bc65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-kded-module-15.12.3.tar.xz">ktp-kded-module-15.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>b80ace9aa53cd396c0a24d13e828fe752eb4607e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-send-file-15.12.3.tar.xz">ktp-send-file-15.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>ddd4ec8d30eb76c7215c38b6739470358b76ab7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktp-text-ui-15.12.3.tar.xz">ktp-text-ui-15.12.3</a></td>
   <td align="right">287kB</td>
   <td><tt>1393d973adcc705c84075d90d7a611917a6e3a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/ktuberling-15.12.3.tar.xz">ktuberling-15.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>be7899118bd6f0eddaf5260a4226dffb8ae4917f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kturtle-15.12.3.tar.xz">kturtle-15.12.3</a></td>
   <td align="right">189kB</td>
   <td><tt>575fda536a9bd18120e645e84abc95773c376a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kubrick-15.12.3.tar.xz">kubrick-15.12.3</a></td>
   <td align="right">104kB</td>
   <td><tt>f6fa131a06b13903f367c472a29b126839138751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kuser-15.12.3.tar.xz">kuser-15.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>778a364d16fdc1cffea101fb1f8cbb9eb053327d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kwalletmanager-15.12.3.tar.xz">kwalletmanager-15.12.3</a></td>
   <td align="right">446kB</td>
   <td><tt>5417b7d2550eaed185cbc35e0769b2ae1ccdb586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kwordquiz-15.12.3.tar.xz">kwordquiz-15.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>14d7045e8879333346986b7feee8f4b7132f0910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkcddb-15.12.3.tar.xz">libkcddb-15.12.3</a></td>
   <td align="right">154kB</td>
   <td><tt>927943604928b933c6664487434183e882261d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkcompactdisc-15.12.3.tar.xz">libkcompactdisc-15.12.3</a></td>
   <td align="right">74kB</td>
   <td><tt>809121df718db809e5bdb934f2935e374d8de3e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkdcraw-15.12.3.tar.xz">libkdcraw-15.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>e1922c18d6a2649ee148e93c314959fa39965179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkdeedu-15.12.3.tar.xz">libkdeedu-15.12.3</a></td>
   <td align="right">128kB</td>
   <td><tt>1011e5211c474c1cb53673c056ecb5c017a4c168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkdegames-15.12.3.tar.xz">libkdegames-15.12.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>be0aa1be03d8b336584b7734c3e8e23871151775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkeduvocdocument-15.12.3.tar.xz">libkeduvocdocument-15.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>8475b042957f8641d9aeb9b1c2976239cdb95cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkexiv2-15.12.3.tar.xz">libkexiv2-15.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>ffc22f59781e4fe0e926dc600af18e80c1e1292b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkface-15.12.3.tar.xz">libkface-15.12.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d18111894488ecc164e043ca14f6052656007b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkgeomap-15.12.3.tar.xz">libkgeomap-15.12.3</a></td>
   <td align="right">122kB</td>
   <td><tt>10a13662234c309c385fd53c0edfb1c22a1a7abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkipi-15.12.3.tar.xz">libkipi-15.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>f8d623e0d4e12ceffa16cb1a8534cf05c25d8588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkmahjongg-15.12.3.tar.xz">libkmahjongg-15.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b98b9986a17ae5f6ee99f2542d9fbf61a8413a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libkomparediff2-15.12.3.tar.xz">libkomparediff2-15.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>5fda1c845095d90572ca3aa2c72b8b2767b180f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/libksane-15.12.3.tar.xz">libksane-15.12.3</a></td>
   <td align="right">79kB</td>
   <td><tt>110c3d09908ccbdf0117c4c59457c4d73d77f3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/lokalize-15.12.3.tar.xz">lokalize-15.12.3</a></td>
   <td align="right">932kB</td>
   <td><tt>c4b3d8c28f7ec6114b1725d0557911f07186e082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/lskat-15.12.3.tar.xz">lskat-15.12.3</a></td>
   <td align="right">907kB</td>
   <td><tt>fa19d9654950e3fa415c447f1e416bc9b1d5d611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/marble-15.12.3.tar.xz">marble-15.12.3</a></td>
   <td align="right">22MB</td>
   <td><tt>4a9124472ad67f62d0e3a652f782a5cbee81a0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/mplayerthumbs-15.12.3.tar.xz">mplayerthumbs-15.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>1de7f297740fa97bd7928877f156e298206abe7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/okteta-15.12.3.tar.xz">okteta-15.12.3</a></td>
   <td align="right">493kB</td>
   <td><tt>60c5d137189ad5534e87025170016ba4277c81f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/okular-15.12.3.tar.xz">okular-15.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>588ea643e83402be3f137475e3b546aae1f8b93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/palapeli-15.12.3.tar.xz">palapeli-15.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>07a11204860402cd2e8a68a0726edefe835e6fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/parley-15.12.3.tar.xz">parley-15.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7bc42b1dda9f54beb2a4273a981d1ed42be944b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/picmi-15.12.3.tar.xz">picmi-15.12.3</a></td>
   <td align="right">717kB</td>
   <td><tt>133e8824423c80a79086e1f975c8ebdf1c9fcb35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/poxml-15.12.3.tar.xz">poxml-15.12.3</a></td>
   <td align="right">31kB</td>
   <td><tt>4207dbf6015ef8f4062a9b16dbb5263ae8e714c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/print-manager-15.12.3.tar.xz">print-manager-15.12.3</a></td>
   <td align="right">91kB</td>
   <td><tt>d5424adb39ea00914242d3cb9d8d67a52eba9e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/rocs-15.12.3.tar.xz">rocs-15.12.3</a></td>
   <td align="right">520kB</td>
   <td><tt>4f964e2c35204adc8dce0cb6cff2905ca883bd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/signon-kwallet-extension-15.12.3.tar.xz">signon-kwallet-extension-15.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>5ebe8bcaf5454dc34dc73be828c2b7d4a912dc95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/spectacle-15.12.3.tar.xz">spectacle-15.12.3</a></td>
   <td align="right">960kB</td>
   <td><tt>252fff31c6d4e41035b3120894613e8c99997f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/step-15.12.3.tar.xz">step-15.12.3</a></td>
   <td align="right">379kB</td>
   <td><tt>d5784f0462fc205c63ea792963308266cd8ae85f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/svgpart-15.12.3.tar.xz">svgpart-15.12.3</a></td>
   <td align="right">8kB</td>
   <td><tt>6c62ca809bec5ce1cab7427828fee86aa0a201e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/sweeper-15.12.3.tar.xz">sweeper-15.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>daa71115ab081ee395ecf47daeb69affcc2de35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/syndication-15.12.3.tar.xz">syndication-15.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>14df957ca6f8274f2414c90ae01f7bcfd809986d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/umbrello-15.12.3.tar.xz">umbrello-15.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>efa10a64c6fa791291acd7046720c2ef03b19231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/zeroconf-ioslave-15.12.3.tar.xz">zeroconf-ioslave-15.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>fa7879464ff53223140ccdfa8e2f2f83861b7f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ar-15.12.3.tar.xz">kde-l10n-ar-15.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a3dfb120fd90af4ae8db9b3d6ee6a0057a893376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-bg-15.12.3.tar.xz">kde-l10n-bg-15.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6ca576890a4ac7f62a1a0a58bca4259bdd213d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-bs-15.12.3.tar.xz">kde-l10n-bs-15.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4ed6c404f2404c5aca4fc188fafd2b849ba5c352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ca-15.12.3.tar.xz">kde-l10n-ca-15.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>05f6ec38d880a00f8ffdf0457493ecbdee094cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ca@valencia-15.12.3.tar.xz">kde-l10n-ca@valencia-15.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>41763e11fdadbb08c5362f9cfb8ccf0c79094974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-cs-15.12.3.tar.xz">kde-l10n-cs-15.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>2568dda8ba2b0f63bd1fb80c927ee4f2102fbd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-da-15.12.3.tar.xz">kde-l10n-da-15.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>8844f6026d73acb225e3eeff6d1daf8de23ec2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-de-15.12.3.tar.xz">kde-l10n-de-15.12.3</a></td>
   <td align="right">34MB</td>
   <td><tt>eb6c3ef919d785ab2fb137b98f815a125552d5c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-el-15.12.3.tar.xz">kde-l10n-el-15.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>c4c73e3bffef252ed6ddc7bd93d05b99aca97f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-en_GB-15.12.3.tar.xz">kde-l10n-en_GB-15.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2f268bf0743f7ffdffd8c1426853a7a0c9418941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-eo-15.12.3.tar.xz">kde-l10n-eo-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>68a14d249e54d8a2490ebafb32e3430a1a7a4d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-es-15.12.3.tar.xz">kde-l10n-es-15.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>6734c361603fb021fe1c1c85f84f7a912bfb3cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-et-15.12.3.tar.xz">kde-l10n-et-15.12.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>9dac61a32cfc062aedd3501a0fb3efe87969d199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-eu-15.12.3.tar.xz">kde-l10n-eu-15.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f009161804afa2373d69dcbc9abcb6d8ae0c4776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-fa-15.12.3.tar.xz">kde-l10n-fa-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>98af0ed65d83aef3088b5866a5b2f6aa58efbb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-fi-15.12.3.tar.xz">kde-l10n-fi-15.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e1a5c5b235b1c3e2ddc0631dd1da78b102ed6653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-fr-15.12.3.tar.xz">kde-l10n-fr-15.12.3</a></td>
   <td align="right">45MB</td>
   <td><tt>04b3019af611536e60055c66dadb68e03ba8fd18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ga-15.12.3.tar.xz">kde-l10n-ga-15.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b75b9e0af7f2def14325cfc5989a0ccfe5d37d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-gl-15.12.3.tar.xz">kde-l10n-gl-15.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>16b6b38c511822ff86256637dc120954c1e4bc98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-he-15.12.3.tar.xz">kde-l10n-he-15.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ee390922730abf8eb020f739dc85e2361fb8bfbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-hi-15.12.3.tar.xz">kde-l10n-hi-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>402cc1e218b4a66e2d67c0b31add09a47db70c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-hr-15.12.3.tar.xz">kde-l10n-hr-15.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>01efeda7d8d6393c64902b31719934abfa7c1479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-hu-15.12.3.tar.xz">kde-l10n-hu-15.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7419fab66a2c21b714d3e08e15a38088d3e3397d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ia-15.12.3.tar.xz">kde-l10n-ia-15.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0fff3adc3090ecde0e75a19e8322574b8bfae9a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-id-15.12.3.tar.xz">kde-l10n-id-15.12.3</a></td>
   <td align="right">545kB</td>
   <td><tt>ee725acac10f2589b95ff1433576867e5be1f244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-is-15.12.3.tar.xz">kde-l10n-is-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>def37c5076efdcd296f1237b567c9b1356239622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-it-15.12.3.tar.xz">kde-l10n-it-15.12.3</a></td>
   <td align="right">8.3MB</td>
   <td><tt>80438f79b5c2234ac695e4c58ceae161790f241a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ja-15.12.3.tar.xz">kde-l10n-ja-15.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ad9d48d225eacddf20f192ba6a4341ab1377b8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-kk-15.12.3.tar.xz">kde-l10n-kk-15.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>71f81784a6258257b6a374592e9c0552631ba4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-km-15.12.3.tar.xz">kde-l10n-km-15.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>16c9e8b683c39c945b72f76dee9989a197d3d130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ko-15.12.3.tar.xz">kde-l10n-ko-15.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fd6f5015a0e978fb618e506aa59cf67b655d7c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-lt-15.12.3.tar.xz">kde-l10n-lt-15.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>cc431f21aba7d410234416aa39b2fa96c8b2d595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-lv-15.12.3.tar.xz">kde-l10n-lv-15.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2b9ecebc7c2d22c91983419d9c71aaeed97c5dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-mr-15.12.3.tar.xz">kde-l10n-mr-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f84893dd767bbd883c7f0be35da0b7d3cd67da1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-nb-15.12.3.tar.xz">kde-l10n-nb-15.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2f4812e653cdd716d761bbeeaf573c798b7a7e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-nds-15.12.3.tar.xz">kde-l10n-nds-15.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>aaf5d2e6c896724bd7615e5bf8de4bd814e5bca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-nl-15.12.3.tar.xz">kde-l10n-nl-15.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>3cb17ef870731d7ccd011062fd2f34912ba681c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-nn-15.12.3.tar.xz">kde-l10n-nn-15.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e007b4922558840bfd1e16d4a8430452f58816cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-pa-15.12.3.tar.xz">kde-l10n-pa-15.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>abb247c95ecf278ab624f551498829b29cf427fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-pl-15.12.3.tar.xz">kde-l10n-pl-15.12.3</a></td>
   <td align="right">18MB</td>
   <td><tt>de890e76a43c5f66bb892ee1c9677beabd734f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-pt-15.12.3.tar.xz">kde-l10n-pt-15.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f5079b1d7a346673be9c5306716f9102d87adbd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-pt_BR-15.12.3.tar.xz">kde-l10n-pt_BR-15.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>f210971565b5b4a1bbd86211679c45f01c09d833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ro-15.12.3.tar.xz">kde-l10n-ro-15.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>99d0e9ec8cf282c3cce7289431ae2b62c2ffb38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ru-15.12.3.tar.xz">kde-l10n-ru-15.12.3</a></td>
   <td align="right">22MB</td>
   <td><tt>2ce91fc9e115224c1bc010876015cd266fe647c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-sk-15.12.3.tar.xz">kde-l10n-sk-15.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c24ec7d052a0a40d7d017bae6ca79d5bf2e0ef97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-sl-15.12.3.tar.xz">kde-l10n-sl-15.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>93eb4ba90f63765c3675fcedfbbb8542289b787d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-sr-15.12.3.tar.xz">kde-l10n-sr-15.12.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>ba4fa4fd2446edd5cc818eff0d1544cfd895727b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-sv-15.12.3.tar.xz">kde-l10n-sv-15.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>0481c6cb84aa0b3ed98bfbd3c92146c5274153c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-tr-15.12.3.tar.xz">kde-l10n-tr-15.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>671ffa564a72a30ec85283c62436feba7503224f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-ug-15.12.3.tar.xz">kde-l10n-ug-15.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b46576f4ad769f8057c7c7d1ce23057103bd4b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-uk-15.12.3.tar.xz">kde-l10n-uk-15.12.3</a></td>
   <td align="right">25MB</td>
   <td><tt>4d2e53dd8863f40b8ae4684c9ae1a133afcd9588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-wa-15.12.3.tar.xz">kde-l10n-wa-15.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c14864288d2d73ad6c3b36865a4ca3d322e8a939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-zh_CN-15.12.3.tar.xz">kde-l10n-zh_CN-15.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4049bf506473038509540078a5775104c08c1cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.12.3/src/kde-l10n/kde-l10n-zh_TW-15.12.3.tar.xz">kde-l10n-zh_TW-15.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4aeffcc72ba2d7e9d44df91f4eb86fb50effc82c</tt></td>
</tr>

</table>
