<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-18.03.90.tar.xz">akonadi-18.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>84abc1c2d1ca8dfe4c57e53f4d511c532769248d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-calendar-18.03.90.tar.xz">akonadi-calendar-18.03.90</a></td>
   <td align="right">326kB</td>
   <td><tt>d835861d3b34a062941fa6ce01a353a2745a0794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-calendar-tools-18.03.90.tar.xz">akonadi-calendar-tools-18.03.90</a></td>
   <td align="right">215kB</td>
   <td><tt>fc325fc469202883a4893a0382d52f5028f760dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadiconsole-18.03.90.tar.xz">akonadiconsole-18.03.90</a></td>
   <td align="right">181kB</td>
   <td><tt>10a57950cf1f6de8de68d4cf383f08631592edb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-contacts-18.03.90.tar.xz">akonadi-contacts-18.03.90</a></td>
   <td align="right">381kB</td>
   <td><tt>b976eabe34a3a69a776b4dfe93aba8f69662a38d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-import-wizard-18.03.90.tar.xz">akonadi-import-wizard-18.03.90</a></td>
   <td align="right">425kB</td>
   <td><tt>ff006b6da6733939b98aa8e2fc2f7f10578403ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-mime-18.03.90.tar.xz">akonadi-mime-18.03.90</a></td>
   <td align="right">133kB</td>
   <td><tt>0254da79c02d90a1a4c4fbe7e8c2d915790c9b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-notes-18.03.90.tar.xz">akonadi-notes-18.03.90</a></td>
   <td align="right">23kB</td>
   <td><tt>9bf89da577d290205c8263c21b41719e498f2530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akonadi-search-18.03.90.tar.xz">akonadi-search-18.03.90</a></td>
   <td align="right">79kB</td>
   <td><tt>cd71279be3cc5a47038ddfdd5796fb09849331c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/akregator-18.03.90.tar.xz">akregator-18.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>386534f90dbf0ba6a62ef0f76dd02cc909f6533c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/analitza-18.03.90.tar.xz">analitza-18.03.90</a></td>
   <td align="right">323kB</td>
   <td><tt>7901ac92aacc03b7b2df3eaf387bc23cd191e8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ark-18.03.90.tar.xz">ark-18.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ac7a8b8a2c36338802566e68ee59e176255a2e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/artikulate-18.03.90.tar.xz">artikulate-18.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>72dfff8ad67d74aea25d63ec3fb584c3a6a2951e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/audiocd-kio-18.03.90.tar.xz">audiocd-kio-18.03.90</a></td>
   <td align="right">242kB</td>
   <td><tt>6841f8354b0b78793b210d2de10a467e555dedb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/baloo-widgets-18.03.90.tar.xz">baloo-widgets-18.03.90</a></td>
   <td align="right">239kB</td>
   <td><tt>cd63b887e08ee354096ace8c53c74edaf772d304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/blinken-18.03.90.tar.xz">blinken-18.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>97e85a07c1791e780ce73d8f95b94c8e1b181fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/bomber-18.03.90.tar.xz">bomber-18.03.90</a></td>
   <td align="right">736kB</td>
   <td><tt>a1a3601fc768319c6c93659fc22008a77fcc79c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/bovo-18.03.90.tar.xz">bovo-18.03.90</a></td>
   <td align="right">182kB</td>
   <td><tt>7f298442ee967677ee5457679a80027cd920268a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/calendarsupport-18.03.90.tar.xz">calendarsupport-18.03.90</a></td>
   <td align="right">629kB</td>
   <td><tt>a8ad7a140194977918affc6244cddcfc2ef78a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/cantor-18.03.90.tar.xz">cantor-18.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9d4275a7ccf8c55297bcee1f28a5013578a691bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/cervisia-18.03.90.tar.xz">cervisia-18.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8589e1fb6881db2f83c12d686d769308df997a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/dolphin-18.03.90.tar.xz">dolphin-18.03.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>63c8cc66f2aee5bf3fc7f3d6247940870685dcc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/dolphin-plugins-18.03.90.tar.xz">dolphin-plugins-18.03.90</a></td>
   <td align="right">185kB</td>
   <td><tt>46cafa3f9e8c8899c4eefbe65646f3c97339a005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/dragon-18.03.90.tar.xz">dragon-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>365be600eae0fb6ef4c9b72133a8a9b8591679f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/eventviews-18.03.90.tar.xz">eventviews-18.03.90</a></td>
   <td align="right">430kB</td>
   <td><tt>aa7a9ff04d9334d00da12621f2a82756381fbdd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ffmpegthumbs-18.03.90.tar.xz">ffmpegthumbs-18.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>b0c1e9bb498840569c63a7788072d6f458bec828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/filelight-18.03.90.tar.xz">filelight-18.03.90</a></td>
   <td align="right">642kB</td>
   <td><tt>af10d97bd0a8d7667be81b460f04cf0cf79617eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/granatier-18.03.90.tar.xz">granatier-18.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6d2368af70d1156d2995a96292e73c4a07c60af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/grantlee-editor-18.03.90.tar.xz">grantlee-editor-18.03.90</a></td>
   <td align="right">108kB</td>
   <td><tt>d0bc26e5ccb4a40b46ccd911b41d4f0b2ba1ffa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/grantleetheme-18.03.90.tar.xz">grantleetheme-18.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>12615ccb2b99f6e6afe503930c345b20e6a6df05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/gwenview-18.03.90.tar.xz">gwenview-18.03.90</a></td>
   <td align="right">5.7MB</td>
   <td><tt>5ab37e65298eb93c8f5c9a46e79dd19177b44abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/incidenceeditor-18.03.90.tar.xz">incidenceeditor-18.03.90</a></td>
   <td align="right">514kB</td>
   <td><tt>cae0f4f56cadb7f124a1b06bb0b56f029dabff5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/juk-18.03.90.tar.xz">juk-18.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5d917df39a3140a8de9ecdd28a99bb77e1b35aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/k3b-18.03.90.tar.xz">k3b-18.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>9d699669e9b2253cad839dc0d3602e87ad22db05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kaccounts-integration-18.03.90.tar.xz">kaccounts-integration-18.03.90</a></td>
   <td align="right">69kB</td>
   <td><tt>a1c13d803808b0726e918e26f1dcaaf1613ab5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kaccounts-providers-18.03.90.tar.xz">kaccounts-providers-18.03.90</a></td>
   <td align="right">31kB</td>
   <td><tt>226d91e10e6622a8167621c01ae3c643128d1a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kaddressbook-18.03.90.tar.xz">kaddressbook-18.03.90</a></td>
   <td align="right">534kB</td>
   <td><tt>0ffce1508d04419beb714dfc801501f45a0f94f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kajongg-18.03.90.tar.xz">kajongg-18.03.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>adb249519e9d4dce69491b6a364377a0e3977323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kalarm-18.03.90.tar.xz">kalarm-18.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4c8bb2d1c765a3ade976ac8b2a4a30c1d482aaa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kalarmcal-18.03.90.tar.xz">kalarmcal-18.03.90</a></td>
   <td align="right">533kB</td>
   <td><tt>1d6946b81f4d33e9f3dff424c8de2cececf43da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kalgebra-18.03.90.tar.xz">kalgebra-18.03.90</a></td>
   <td align="right">690kB</td>
   <td><tt>442418231bb2f8d884db1257d436e26a4910402d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kalzium-18.03.90.tar.xz">kalzium-18.03.90</a></td>
   <td align="right">23MB</td>
   <td><tt>91c0f70d3deb2f221fbff884d035b1f4595c5c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kamera-18.03.90.tar.xz">kamera-18.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>0cdac80baeb20a548a5a376424bccc4bd51e37be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kamoso-18.03.90.tar.xz">kamoso-18.03.90</a></td>
   <td align="right">181kB</td>
   <td><tt>b1e69feea7a2fcf365f16dfe821186962ed34b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kanagram-18.03.90.tar.xz">kanagram-18.03.90</a></td>
   <td align="right">7.1MB</td>
   <td><tt>7ff6e3548dbda269a5e6479e962c74b581811f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kapman-18.03.90.tar.xz">kapman-18.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8438aa3e00982037082351c85c086345e440122c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kapptemplate-18.03.90.tar.xz">kapptemplate-18.03.90</a></td>
   <td align="right">344kB</td>
   <td><tt>9c001332f98814b643188910817ec61cf3838bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kate-18.03.90.tar.xz">kate-18.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>6aed2cc513925e3f132d09d7316437ef8ab5df8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/katomic-18.03.90.tar.xz">katomic-18.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>759457634ca852439f11d9ea268961e543a363f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kbackup-18.03.90.tar.xz">kbackup-18.03.90</a></td>
   <td align="right">328kB</td>
   <td><tt>a87ad25ffb6873c849ef425c4dca54920f30280d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kblackbox-18.03.90.tar.xz">kblackbox-18.03.90</a></td>
   <td align="right">393kB</td>
   <td><tt>f53e4aa1444b5a15944b5b8195fa3dd4efc91efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kblocks-18.03.90.tar.xz">kblocks-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0a12910a1bde19627cf1a04a9b461414342091f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kblog-18.03.90.tar.xz">kblog-18.03.90</a></td>
   <td align="right">70kB</td>
   <td><tt>1aa91618fda1f53c724d4b7419bf87cfee28fc65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kbounce-18.03.90.tar.xz">kbounce-18.03.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cab4bb7d5251cc022a7bba582ca5ef4192863b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kbreakout-18.03.90.tar.xz">kbreakout-18.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>42f3f9817765c6f767235ce9e874d7f7512912b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kbruch-18.03.90.tar.xz">kbruch-18.03.90</a></td>
   <td align="right">5.3MB</td>
   <td><tt>7fe8f1700c951bf40dc0449d04fbca4781fd6d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcachegrind-18.03.90.tar.xz">kcachegrind-18.03.90</a></td>
   <td align="right">793kB</td>
   <td><tt>f58a11898f693d9bbf8514cad0cdfd8c15563df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcalc-18.03.90.tar.xz">kcalc-18.03.90</a></td>
   <td align="right">351kB</td>
   <td><tt>6749b890c52d7da72418e7d7df77f274f16fb6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcalcore-18.03.90.tar.xz">kcalcore-18.03.90</a></td>
   <td align="right">246kB</td>
   <td><tt>083c5052fc8a359aabd7d6a35d40b771ad8d1379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcalutils-18.03.90.tar.xz">kcalutils-18.03.90</a></td>
   <td align="right">317kB</td>
   <td><tt>8eb51c1a02ff5dd2ae0261078fcc195d6337c5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcharselect-18.03.90.tar.xz">kcharselect-18.03.90</a></td>
   <td align="right">343kB</td>
   <td><tt>d5dde385b8e37ce0e6e2793544d316cc01e87daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcolorchooser-18.03.90.tar.xz">kcolorchooser-18.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>bd8e6febbbbdb858cc9d650e88db7f58a46f4932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcontacts-18.03.90.tar.xz">kcontacts-18.03.90</a></td>
   <td align="right">202kB</td>
   <td><tt>ba921b8bddd6b111fe77fab4d9d5f13ee9f7a17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kcron-18.03.90.tar.xz">kcron-18.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>678fd0af66df111a2df9e918900f49201bbbae49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdav-18.03.90.tar.xz">kdav-18.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>c117e4b324397bf9cc65f2b49cc1708bbbfe00f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdebugsettings-18.03.90.tar.xz">kdebugsettings-18.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>9e1d47447b952f786177e6730fe71180241c6faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kde-dev-scripts-18.03.90.tar.xz">kde-dev-scripts-18.03.90</a></td>
   <td align="right">368kB</td>
   <td><tt>43262d4d032806e65f3b49ae58f43eeda5c8cb45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kde-dev-utils-18.03.90.tar.xz">kde-dev-utils-18.03.90</a></td>
   <td align="right">59kB</td>
   <td><tt>fa86d384a83cf5e2ebbab071a3982df32f3cb9cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdeedu-data-18.03.90.tar.xz">kdeedu-data-18.03.90</a></td>
   <td align="right">320kB</td>
   <td><tt>9bc96a2e18b91fe4ae5b3d204ecef3b233c6fcfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdegraphics-mobipocket-18.03.90.tar.xz">kdegraphics-mobipocket-18.03.90</a></td>
   <td align="right">13kB</td>
   <td><tt>1bca19d2b2021cc6006d264e4de8943ee3a18e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdegraphics-thumbnailers-18.03.90.tar.xz">kdegraphics-thumbnailers-18.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>ca9e067ab56af892bfea0bbb35688e204ad23dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdenetwork-filesharing-18.03.90.tar.xz">kdenetwork-filesharing-18.03.90</a></td>
   <td align="right">315kB</td>
   <td><tt>5cdeb8a5bd20f5fd52e128133009d7b9c659291c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdenlive-18.03.90.tar.xz">kdenlive-18.03.90</a></td>
   <td align="right">8.9MB</td>
   <td><tt>7633bda226a703ce986ac30d919e992bcebbbf6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdepim-addons-18.03.90.tar.xz">kdepim-addons-18.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cab11c7306ce5edec85df3330bac3b5d5b138005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdepim-apps-libs-18.03.90.tar.xz">kdepim-apps-libs-18.03.90</a></td>
   <td align="right">71kB</td>
   <td><tt>d55d22b17ba976638c0bd7236153ccf576347d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdepim-runtime-18.03.90.tar.xz">kdepim-runtime-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>32265c61f44ca4d7dd945238f3b88ec001dde6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdesdk-kioslaves-18.03.90.tar.xz">kdesdk-kioslaves-18.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>a62dc4a178c361ca303ecc79a18a686a45d10fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdesdk-thumbnailers-18.03.90.tar.xz">kdesdk-thumbnailers-18.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>ef89c22e9f39b6d736cb7f16174d00466fc7372f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdf-18.03.90.tar.xz">kdf-18.03.90</a></td>
   <td align="right">518kB</td>
   <td><tt>3d2b398f6ddd89e57112da4d6026c9353bc6ee3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdialog-18.03.90.tar.xz">kdialog-18.03.90</a></td>
   <td align="right">93kB</td>
   <td><tt>a301e9711c08c26a650bdfe42f333656c279b775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kdiamond-18.03.90.tar.xz">kdiamond-18.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>05818782f65ff603c064fae20261f2b9712aa25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/keditbookmarks-18.03.90.tar.xz">keditbookmarks-18.03.90</a></td>
   <td align="right">178kB</td>
   <td><tt>52feba2d0dcd4b23f66a2fb99a2af8d92b793f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kfind-18.03.90.tar.xz">kfind-18.03.90</a></td>
   <td align="right">203kB</td>
   <td><tt>a8ce4d9b94aaf01847f017ee9221648a160c7820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kfloppy-18.03.90.tar.xz">kfloppy-18.03.90</a></td>
   <td align="right">194kB</td>
   <td><tt>63deddaaa8239e0fd7791e0988e196475b8b1430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kfourinline-18.03.90.tar.xz">kfourinline-18.03.90</a></td>
   <td align="right">559kB</td>
   <td><tt>f253eeb770357bc7ae5484db62985e5b329d1726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kgeography-18.03.90.tar.xz">kgeography-18.03.90</a></td>
   <td align="right">10MB</td>
   <td><tt>7a989086bcce67adce3d2526fffab349ebbdd9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kget-18.03.90.tar.xz">kget-18.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>29d78a58c4aba0346e569b6465dd7f85958c7683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kgoldrunner-18.03.90.tar.xz">kgoldrunner-18.03.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>61a6f21f89cc44707d3ae1cfa30bd8793bf05628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kgpg-18.03.90.tar.xz">kgpg-18.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>0f822196390f4a72d30f270cfc5953558432f6e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/khangman-18.03.90.tar.xz">khangman-18.03.90</a></td>
   <td align="right">6.1MB</td>
   <td><tt>6b05ca4003a480ccba796d274fc42a03a3f86fe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/khelpcenter-18.03.90.tar.xz">khelpcenter-18.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c768980c88541edf39af4a71036418530c4755b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kidentitymanagement-18.03.90.tar.xz">kidentitymanagement-18.03.90</a></td>
   <td align="right">144kB</td>
   <td><tt>208e32382d1c8a4cd23722e1cc3fbb6604f85009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kig-18.03.90.tar.xz">kig-18.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f4519066da58aad1d65c2ba7b17bc4278264786e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kigo-18.03.90.tar.xz">kigo-18.03.90</a></td>
   <td align="right">4.9MB</td>
   <td><tt>e864b00a176f70f4f89212828b8a1040bf9bed2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/killbots-18.03.90.tar.xz">killbots-18.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>63490a1cb053f1f16b87f51ce2ed9fa585677274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kimagemapeditor-18.03.90.tar.xz">kimagemapeditor-18.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f8ae6753e57d6720a172a0ca38ecd1143f2971a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kimap-18.03.90.tar.xz">kimap-18.03.90</a></td>
   <td align="right">115kB</td>
   <td><tt>6c4fb725085f93672515b5af75fce5ed5d721c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kio-extras-18.03.90.tar.xz">kio-extras-18.03.90</a></td>
   <td align="right">536kB</td>
   <td><tt>ccddddc0c421a39d3db62a6603b04c3ce1268f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kiriki-18.03.90.tar.xz">kiriki-18.03.90</a></td>
   <td align="right">318kB</td>
   <td><tt>093fdf372b651c59e3e3b3178870cab21f975327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kiten-18.03.90.tar.xz">kiten-18.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>714fac000ddf7fec71221ca195cb95fb45c97ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kjumpingcube-18.03.90.tar.xz">kjumpingcube-18.03.90</a></td>
   <td align="right">286kB</td>
   <td><tt>5bb5e373fb57caaffb042496e1b351c217310dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kldap-18.03.90.tar.xz">kldap-18.03.90</a></td>
   <td align="right">150kB</td>
   <td><tt>314eaf0c6fa10304788d8c523cbd80498b6d33b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kleopatra-18.03.90.tar.xz">kleopatra-18.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>199a36ed9e5f38cdf3fb9bb9d8f1210f9b36ac07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/klettres-18.03.90.tar.xz">klettres-18.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>e6c939da38e9f5e1a9c25fc49e296a1b6dda9042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/klickety-18.03.90.tar.xz">klickety-18.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a4f040ba12bda3a87e65ca72703de9f400f99390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/klines-18.03.90.tar.xz">klines-18.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b338f5b9331909b758adc795b2472e7ec8567665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmag-18.03.90.tar.xz">kmag-18.03.90</a></td>
   <td align="right">574kB</td>
   <td><tt>866cb1f88d12e176be96dec7186778e6fcb35f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmahjongg-18.03.90.tar.xz">kmahjongg-18.03.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>f573c1954dd97cb94a0d4d8b9ee4d2e869346851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmail-18.03.90.tar.xz">kmail-18.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>06d0aca5f80ea17251599ab5ddcdd1da87e75715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmail-account-wizard-18.03.90.tar.xz">kmail-account-wizard-18.03.90</a></td>
   <td align="right">150kB</td>
   <td><tt>eedb7ed4348796c79eadb64693f192832daf19dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmailtransport-18.03.90.tar.xz">kmailtransport-18.03.90</a></td>
   <td align="right">160kB</td>
   <td><tt>f81b6ec38d669d7546991c0b8e644fd0004b461f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmbox-18.03.90.tar.xz">kmbox-18.03.90</a></td>
   <td align="right">23kB</td>
   <td><tt>988e29e8e923f30b90c8973b1565ae4e31f68974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmime-18.03.90.tar.xz">kmime-18.03.90</a></td>
   <td align="right">142kB</td>
   <td><tt>b8c0dd71a679e31dfb10a8e213d48f0cdd0542dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmines-18.03.90.tar.xz">kmines-18.03.90</a></td>
   <td align="right">861kB</td>
   <td><tt>3de2f4f5a53af966e0b44a7ab5eb1ed40d474ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmix-18.03.90.tar.xz">kmix-18.03.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>3a2e140c4b6be6c50194bf4ba37211cd20d90c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmousetool-18.03.90.tar.xz">kmousetool-18.03.90</a></td>
   <td align="right">109kB</td>
   <td><tt>7edc8f9878fda8aba21163f20f19eba302870d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmouth-18.03.90.tar.xz">kmouth-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3a2d4df1cb801947588ac9ccc63abbeade87c095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kmplot-18.03.90.tar.xz">kmplot-18.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6f3e24901d69a4f325b44af46cbdea428aac29ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/knavalbattle-18.03.90.tar.xz">knavalbattle-18.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e2c5e35ed33adc9b5e2cfe47c1602466ba2fb1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/knetwalk-18.03.90.tar.xz">knetwalk-18.03.90</a></td>
   <td align="right">958kB</td>
   <td><tt>102ababb425950ce3ba01bd1c2f84d9529953601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/knotes-18.03.90.tar.xz">knotes-18.03.90</a></td>
   <td align="right">325kB</td>
   <td><tt>5fa4504e44ad4406de1b9598b3cdfc491e384195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kolf-18.03.90.tar.xz">kolf-18.03.90</a></td>
   <td align="right">903kB</td>
   <td><tt>b8b21247e2fb6a72d8cf349232cee8bef95396e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kollision-18.03.90.tar.xz">kollision-18.03.90</a></td>
   <td align="right">265kB</td>
   <td><tt>7682ef72fabe1e71a52790be26a3efe6c12cabf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kolourpaint-18.03.90.tar.xz">kolourpaint-18.03.90</a></td>
   <td align="right">5.2MB</td>
   <td><tt>ea20ec749d64e7303e64eb58e3d69b081d6f5f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kompare-18.03.90.tar.xz">kompare-18.03.90</a></td>
   <td align="right">694kB</td>
   <td><tt>a0ccd01265a3dbf28757d8bb10c6f7f2f04da742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/konqueror-18.03.90.tar.xz">konqueror-18.03.90</a></td>
   <td align="right">7.3MB</td>
   <td><tt>f1d4fffc04d95ffc7465b410d5d2af7ccb64eade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/konquest-18.03.90.tar.xz">konquest-18.03.90</a></td>
   <td align="right">642kB</td>
   <td><tt>dead0fbb266b3cad08c421e357f48fb541755b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/konsole-18.03.90.tar.xz">konsole-18.03.90</a></td>
   <td align="right">1014kB</td>
   <td><tt>996e494c0b8b75eee94f8a2c5423e6fcd8523b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kontact-18.03.90.tar.xz">kontact-18.03.90</a></td>
   <td align="right">841kB</td>
   <td><tt>d4bcdb595d26189e430e82b05dae2e20681a5741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kontactinterface-18.03.90.tar.xz">kontactinterface-18.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>b69cabce12592a00cc8016a79c13d7fc5346a85e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kopete-18.03.90.tar.xz">kopete-18.03.90</a></td>
   <td align="right">9.2MB</td>
   <td><tt>4f522b2b158b55c00942bb855a031503c5c52292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/korganizer-18.03.90.tar.xz">korganizer-18.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d8c5dda53af39c574b4074e6cc618323d30d30ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kpat-18.03.90.tar.xz">kpat-18.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>382a71f0f839547ab727a794126cd294c00b3379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kpimtextedit-18.03.90.tar.xz">kpimtextedit-18.03.90</a></td>
   <td align="right">139kB</td>
   <td><tt>0d4a05e2d16f0c0f7e51f0895978517b7cb3ac65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kqtquickcharts-18.03.90.tar.xz">kqtquickcharts-18.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>e8e9ab2ed2d77032e07d57d1bc1c137d656b33bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/krdc-18.03.90.tar.xz">krdc-18.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2f32e9dcc2f2b2550868cb3e17c248e1a357396d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kreversi-18.03.90.tar.xz">kreversi-18.03.90</a></td>
   <td align="right">891kB</td>
   <td><tt>01ab3504098932bf20b6b80409b34d7b336bef8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/krfb-18.03.90.tar.xz">krfb-18.03.90</a></td>
   <td align="right">971kB</td>
   <td><tt>e7f405e19f0d5cd16d200715c29bd9818403c2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kross-interpreters-18.03.90.tar.xz">kross-interpreters-18.03.90</a></td>
   <td align="right">141kB</td>
   <td><tt>2a3158154ff99f4d65a444294aa294961de39dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kruler-18.03.90.tar.xz">kruler-18.03.90</a></td>
   <td align="right">288kB</td>
   <td><tt>dbf77e81c4c6e62ad7064639b2e7e014e704a131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kshisen-18.03.90.tar.xz">kshisen-18.03.90</a></td>
   <td align="right">694kB</td>
   <td><tt>fc5daf35a4269ff8db4a46fc4e9b3baced715c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksirk-18.03.90.tar.xz">ksirk-18.03.90</a></td>
   <td align="right">6.6MB</td>
   <td><tt>969e8a6d106061c22d02bbed6d89656e3e0f119c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksmtp-18.03.90.tar.xz">ksmtp-18.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>0bf642185ed0bb2614725d736d214f12d44d68ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksnakeduel-18.03.90.tar.xz">ksnakeduel-18.03.90</a></td>
   <td align="right">591kB</td>
   <td><tt>61eb61bf8b462c2e714bb66f8a7e17aba8b75c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kspaceduel-18.03.90.tar.xz">kspaceduel-18.03.90</a></td>
   <td align="right">595kB</td>
   <td><tt>9fe9f0d48a5a40057f9f248d256618f741b468db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksquares-18.03.90.tar.xz">ksquares-18.03.90</a></td>
   <td align="right">210kB</td>
   <td><tt>2c4fd255cbc817b33feac2fec9f8dc6249b1613e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksudoku-18.03.90.tar.xz">ksudoku-18.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a3f7114125186723f75202f479343625fc51a903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ksystemlog-18.03.90.tar.xz">ksystemlog-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c3294ec41122018206fcc483787dd289ac230266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kteatime-18.03.90.tar.xz">kteatime-18.03.90</a></td>
   <td align="right">290kB</td>
   <td><tt>9dab0819f546a9cbbacd43c8e1a9ae82819494d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktimer-18.03.90.tar.xz">ktimer-18.03.90</a></td>
   <td align="right">443kB</td>
   <td><tt>1ef1531ace4df8096efcf17b86a505f4ac2572f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktnef-18.03.90.tar.xz">ktnef-18.03.90</a></td>
   <td align="right">292kB</td>
   <td><tt>c1340e31c22346787bccdb4b9dacec07959f464c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktouch-18.03.90.tar.xz">ktouch-18.03.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>4b0c9a58865116f7cfc02b933a58e9b2b71eb980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-accounts-kcm-18.03.90.tar.xz">ktp-accounts-kcm-18.03.90</a></td>
   <td align="right">256kB</td>
   <td><tt>d74889b9195be2aa8033b012926a88a280bb341b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-approver-18.03.90.tar.xz">ktp-approver-18.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>a73054fae5652154f5d4304f29ebbed99a53f1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-auth-handler-18.03.90.tar.xz">ktp-auth-handler-18.03.90</a></td>
   <td align="right">45kB</td>
   <td><tt>91494218670a3ccda0d8f094456dc1ab49f67129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-call-ui-18.03.90.tar.xz">ktp-call-ui-18.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>20d9595862744d7d6b45d5f23ff1518e86efae37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-common-internals-18.03.90.tar.xz">ktp-common-internals-18.03.90</a></td>
   <td align="right">431kB</td>
   <td><tt>5a3ae9ecca0391f38afb176e00a1b19a505f8fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-contact-list-18.03.90.tar.xz">ktp-contact-list-18.03.90</a></td>
   <td align="right">141kB</td>
   <td><tt>9f247695b30bf931947879773e0acdd1ed4b7738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-contact-runner-18.03.90.tar.xz">ktp-contact-runner-18.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>49e5bb20a4f76d55dd1beb90c98cdedde2876693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-desktop-applets-18.03.90.tar.xz">ktp-desktop-applets-18.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>a58ff0550264bfb2c741028484d61b0cf91f0fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-filetransfer-handler-18.03.90.tar.xz">ktp-filetransfer-handler-18.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>6e1810b0cd953360b75979df73a7ca488d8fad94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-kded-module-18.03.90.tar.xz">ktp-kded-module-18.03.90</a></td>
   <td align="right">89kB</td>
   <td><tt>e761ad341d86b68f793150ad66b19a093565707c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-send-file-18.03.90.tar.xz">ktp-send-file-18.03.90</a></td>
   <td align="right">28kB</td>
   <td><tt>caef4995ef693626db110b4aea42c52428c36125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktp-text-ui-18.03.90.tar.xz">ktp-text-ui-18.03.90</a></td>
   <td align="right">457kB</td>
   <td><tt>8a2dc063ed014f214952b6b9a9b7f76272212b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/ktuberling-18.03.90.tar.xz">ktuberling-18.03.90</a></td>
   <td align="right">31MB</td>
   <td><tt>6e14f25ffda964157c0c19dde65508ad2afafc8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kturtle-18.03.90.tar.xz">kturtle-18.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e9517d83330a7a62f2989a9c0e5446c001402b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kubrick-18.03.90.tar.xz">kubrick-18.03.90</a></td>
   <td align="right">299kB</td>
   <td><tt>6d2f0ea50afc56694f4888173b7b4ddd6c17594d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kwalletmanager-18.03.90.tar.xz">kwalletmanager-18.03.90</a></td>
   <td align="right">760kB</td>
   <td><tt>ecabdcb6aefd06444a945bd9425f7cee9acbfd28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kwave-18.03.90.tar.xz">kwave-18.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>10ebe29c521cb9e7699fb47d60c5a7551058fc24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/kwordquiz-18.03.90.tar.xz">kwordquiz-18.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8d0ae5132cc5f1797d3a2253638d5752454d34ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libgravatar-18.03.90.tar.xz">libgravatar-18.03.90</a></td>
   <td align="right">29kB</td>
   <td><tt>2690a4946f0dca6b15beea72bbea3c493ca334c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkcddb-18.03.90.tar.xz">libkcddb-18.03.90</a></td>
   <td align="right">414kB</td>
   <td><tt>87436dfd42c3a5351f9620bc8544f3bd4c82e5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkcompactdisc-18.03.90.tar.xz">libkcompactdisc-18.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>86d42819dc26e36f650f433f186eb610d182aabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkdcraw-18.03.90.tar.xz">libkdcraw-18.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>10cd1d86c872363a316cc199ba77f50f2ca37ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkdegames-18.03.90.tar.xz">libkdegames-18.03.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>c66b996970aa5aea9409b9a46ba4d903499233b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkdepim-18.03.90.tar.xz">libkdepim-18.03.90</a></td>
   <td align="right">331kB</td>
   <td><tt>fd4c8ef8824fb288b64c76d8d0325ee40b551d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkeduvocdocument-18.03.90.tar.xz">libkeduvocdocument-18.03.90</a></td>
   <td align="right">204kB</td>
   <td><tt>70b59ab2fe22d4c29fdc4140c079ac7e44df22bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkexiv2-18.03.90.tar.xz">libkexiv2-18.03.90</a></td>
   <td align="right">62kB</td>
   <td><tt>342760186bb520338929eb9473344f2dd9260c4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkgapi-18.03.90.tar.xz">libkgapi-18.03.90</a></td>
   <td align="right">172kB</td>
   <td><tt>3beca6ea91bb55f87a4826417396a6bea1acf293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkgeomap-18.03.90.tar.xz">libkgeomap-18.03.90</a></td>
   <td align="right">146kB</td>
   <td><tt>fa33c4f17f99ae671941da6644d9ef498789f890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkipi-18.03.90.tar.xz">libkipi-18.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>abfb328c166f282113f9cb5cb0150c21350c5725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkleo-18.03.90.tar.xz">libkleo-18.03.90</a></td>
   <td align="right">310kB</td>
   <td><tt>02ae45329232190284dcf954e33e07797cbbe166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkmahjongg-18.03.90.tar.xz">libkmahjongg-18.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e86839bba03de2f8a31f729e4032aee7ff69171b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libkomparediff2-18.03.90.tar.xz">libkomparediff2-18.03.90</a></td>
   <td align="right">172kB</td>
   <td><tt>cc98e5ff413e53902533d028008789291265ffe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libksane-18.03.90.tar.xz">libksane-18.03.90</a></td>
   <td align="right">134kB</td>
   <td><tt>5225dbd5457e38a7a418890d5170fbf88abea5a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/libksieve-18.03.90.tar.xz">libksieve-18.03.90</a></td>
   <td align="right">536kB</td>
   <td><tt>89c1827541878bb3a5cb0139f6eeab28bf525359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/lokalize-18.03.90.tar.xz">lokalize-18.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>392266b01d9a6382d4f8d553f7a58060f8aee224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/lskat-18.03.90.tar.xz">lskat-18.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a284132404b7ee3fc589ca7d56c9387b9796d840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/mailcommon-18.03.90.tar.xz">mailcommon-18.03.90</a></td>
   <td align="right">675kB</td>
   <td><tt>3139fe33f0e1327b149af4ceccaa10cb9f0ebdd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/mailimporter-18.03.90.tar.xz">mailimporter-18.03.90</a></td>
   <td align="right">528kB</td>
   <td><tt>dce870fb52476fdc57a91c8ad1d52430dd111b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/marble-18.03.90.tar.xz">marble-18.03.90</a></td>
   <td align="right">49MB</td>
   <td><tt>66fcfecdd4c04542d00765a5554eefa77114197d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/mbox-importer-18.03.90.tar.xz">mbox-importer-18.03.90</a></td>
   <td align="right">32kB</td>
   <td><tt>2cecf8424e1e5a97b8e4e8a89eb30db353219a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/messagelib-18.03.90.tar.xz">messagelib-18.03.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d6b2bbe6842bc4023c3205dd5e69a8157e94eedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/minuet-18.03.90.tar.xz">minuet-18.03.90</a></td>
   <td align="right">26MB</td>
   <td><tt>8ae92784e26f0b3a66d915e87f0006b692a250da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/okular-18.03.90.tar.xz">okular-18.03.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>72cc9fa96b5d183edd188df4822fe05506a7754d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/palapeli-18.03.90.tar.xz">palapeli-18.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d17b6f4c46f1b15342a0b879eadad95f6337af84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/parley-18.03.90.tar.xz">parley-18.03.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>a98fdc5df089f1ae8ce4d88c93461aa3e2b4eb21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/picmi-18.03.90.tar.xz">picmi-18.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3827d1fbd5b7130c0e6aed9104fd779cd75672a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/pimcommon-18.03.90.tar.xz">pimcommon-18.03.90</a></td>
   <td align="right">287kB</td>
   <td><tt>15d26b8995f20138d3553d10e00b2a68053ed7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/pim-data-exporter-18.03.90.tar.xz">pim-data-exporter-18.03.90</a></td>
   <td align="right">262kB</td>
   <td><tt>df8ce13b27d984de0a861e510033f8d7477dbb83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/pim-sieve-editor-18.03.90.tar.xz">pim-sieve-editor-18.03.90</a></td>
   <td align="right">435kB</td>
   <td><tt>03d2eddda3ed34f8b99a6fb6a90880fab4033829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/poxml-18.03.90.tar.xz">poxml-18.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>392a85d4347d6f22b55ce441387f842afdf4efbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/print-manager-18.03.90.tar.xz">print-manager-18.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>e1f37bf8b67d29762eb830697d155c68e925da8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/rocs-18.03.90.tar.xz">rocs-18.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c8e671ccfd764a24f73ee20e48d9870dce1bbf1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/signon-kwallet-extension-18.03.90.tar.xz">signon-kwallet-extension-18.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>7b8bc79ef3ef18105f63daeb270723009608e60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/spectacle-18.03.90.tar.xz">spectacle-18.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d65f10f8c6f1e5aff828c737b3e4c762de202d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/step-18.03.90.tar.xz">step-18.03.90</a></td>
   <td align="right">842kB</td>
   <td><tt>e75510e768213ceb4b8d5a3dafa173f481e6ade5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/svgpart-18.03.90.tar.xz">svgpart-18.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>3dc844bfa41f4a8f7edc495deaf5dadfba84cb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/sweeper-18.03.90.tar.xz">sweeper-18.03.90</a></td>
   <td align="right">359kB</td>
   <td><tt>f7f3ef29c53cbb024e1b4e118cb3d7be6c259ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/syndication-18.03.90.tar.xz">syndication-18.03.90</a></td>
   <td align="right">156kB</td>
   <td><tt>8bb76b6b898b188eec51b97eb4426a0cc26c676a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/umbrello-18.03.90.tar.xz">umbrello-18.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>aed0ee26724effcdd06deecc9b3f4eeb0e945efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.90/src/zeroconf-ioslave-18.03.90.tar.xz">zeroconf-ioslave-18.03.90</a></td>
   <td align="right">37kB</td>
   <td><tt>b5e36f7e20dc3f074624e6f093d632451404374e</tt></td>
</tr>

</table>
