<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-18.03.80.tar.xz">akonadi-18.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>240fb0435000183e46597e086f0d8e886968693c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-calendar-18.03.80.tar.xz">akonadi-calendar-18.03.80</a></td>
   <td align="right">327kB</td>
   <td><tt>629963361fbbc1934ec0f56287909e6ce5a76913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-calendar-tools-18.03.80.tar.xz">akonadi-calendar-tools-18.03.80</a></td>
   <td align="right">215kB</td>
   <td><tt>a0941da5287b7c4e695ebeb650c334c98348a974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadiconsole-18.03.80.tar.xz">akonadiconsole-18.03.80</a></td>
   <td align="right">181kB</td>
   <td><tt>b6e79c1e2b128bd77429a733c3d749a0c9ac2de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-contacts-18.03.80.tar.xz">akonadi-contacts-18.03.80</a></td>
   <td align="right">381kB</td>
   <td><tt>ac7ae59880315e6c7eac50ab79d707d8ea92b1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-import-wizard-18.03.80.tar.xz">akonadi-import-wizard-18.03.80</a></td>
   <td align="right">425kB</td>
   <td><tt>cd6ebbe0ee4a77ed5d48a782560263796833274f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-mime-18.03.80.tar.xz">akonadi-mime-18.03.80</a></td>
   <td align="right">133kB</td>
   <td><tt>d4c3fae596b556eefafc013068ec4c1170af4333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-notes-18.03.80.tar.xz">akonadi-notes-18.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>0b72f6a9cb0d56ac16fe62b6e02b907f919f0a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akonadi-search-18.03.80.tar.xz">akonadi-search-18.03.80</a></td>
   <td align="right">79kB</td>
   <td><tt>3b05cf222e176bf0534bf7404f9904307e442eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/akregator-18.03.80.tar.xz">akregator-18.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e6749ca2a37233c1ca42185b30a2814566a798f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/analitza-18.03.80.tar.xz">analitza-18.03.80</a></td>
   <td align="right">323kB</td>
   <td><tt>46a061e23299c2722c3cfd2dcef8cf4cc9320df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ark-18.03.80.tar.xz">ark-18.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6e4f843583bc9cf8bac1327cf229d22972746282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/artikulate-18.03.80.tar.xz">artikulate-18.03.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>9b1982fd4d8aff99847d80e6a764ebda307f9aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/audiocd-kio-18.03.80.tar.xz">audiocd-kio-18.03.80</a></td>
   <td align="right">242kB</td>
   <td><tt>3c9e1c8cddc638846a47e8be69803560ac8a3433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/baloo-widgets-18.03.80.tar.xz">baloo-widgets-18.03.80</a></td>
   <td align="right">295kB</td>
   <td><tt>ed7ca014fc413042bff78802cd14c30bd70a0ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/blinken-18.03.80.tar.xz">blinken-18.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5000b6cd6f574c3db710bfdd4afcaf0cc643314c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/bomber-18.03.80.tar.xz">bomber-18.03.80</a></td>
   <td align="right">736kB</td>
   <td><tt>0a4be0e79eb16d30c53d3f44448459dbc5f21cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/bovo-18.03.80.tar.xz">bovo-18.03.80</a></td>
   <td align="right">182kB</td>
   <td><tt>b4542247797b30a8df677dc1fc557af7169341c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/calendarsupport-18.03.80.tar.xz">calendarsupport-18.03.80</a></td>
   <td align="right">629kB</td>
   <td><tt>869c5ee5603422dbf15508b2dc3d1ac8d5c504d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/cantor-18.03.80.tar.xz">cantor-18.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>27336f293b88fe36b7d650e6cc8b9e696099c1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/cervisia-18.03.80.tar.xz">cervisia-18.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aefaa3b35b9f13a0341184ab578d805b2a9e037b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/dolphin-18.03.80.tar.xz">dolphin-18.03.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7ec3aaa5603d6eb0dcebde7effe93cefd0736a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/dolphin-plugins-18.03.80.tar.xz">dolphin-plugins-18.03.80</a></td>
   <td align="right">185kB</td>
   <td><tt>e9e8b8e177c40c33fea6ac3d8faa1aedad7ded18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/dragon-18.03.80.tar.xz">dragon-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>328c9837ff395e75dd7e2b62289196bb4f393f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/eventviews-18.03.80.tar.xz">eventviews-18.03.80</a></td>
   <td align="right">430kB</td>
   <td><tt>aec9bd5bb631f112e7b1032acc0d9c6f37a5bfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ffmpegthumbs-18.03.80.tar.xz">ffmpegthumbs-18.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>65a435a8180b97fedaed66353ad0d1121a00e669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/filelight-18.03.80.tar.xz">filelight-18.03.80</a></td>
   <td align="right">639kB</td>
   <td><tt>839d370c8085df4b0fecd233ae2838cf777e8627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/granatier-18.03.80.tar.xz">granatier-18.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>af2f0ab2b35360db57842200d995212563e4d4e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/grantlee-editor-18.03.80.tar.xz">grantlee-editor-18.03.80</a></td>
   <td align="right">107kB</td>
   <td><tt>fd14d1f55536f1174d169fd45eed315aa9db5f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/grantleetheme-18.03.80.tar.xz">grantleetheme-18.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>aee10f5db34512a78c8d35e9b8fc49a78e3197f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/gwenview-18.03.80.tar.xz">gwenview-18.03.80</a></td>
   <td align="right">5.7MB</td>
   <td><tt>342abd193c42b3d1d8f94d45f97b6b444a3079a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/incidenceeditor-18.03.80.tar.xz">incidenceeditor-18.03.80</a></td>
   <td align="right">514kB</td>
   <td><tt>a977cd501d812fe5e36a7da5718b9011cf86ac09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/juk-18.03.80.tar.xz">juk-18.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3abf317661a37172b62ab414eb4a83569b10e751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/k3b-18.03.80.tar.xz">k3b-18.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>8a0f6f5d15789f65ddfe0d460fd955e810742b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kaccounts-integration-18.03.80.tar.xz">kaccounts-integration-18.03.80</a></td>
   <td align="right">69kB</td>
   <td><tt>f26f1e6ee5900bea009abfe96732f935664f04d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kaccounts-providers-18.03.80.tar.xz">kaccounts-providers-18.03.80</a></td>
   <td align="right">31kB</td>
   <td><tt>92e21de31b159a0ed8db8bd449f80695d8367b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kaddressbook-18.03.80.tar.xz">kaddressbook-18.03.80</a></td>
   <td align="right">534kB</td>
   <td><tt>a6a46c119ea21750c1a450d9e3fda45237eb8d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kajongg-18.03.80.tar.xz">kajongg-18.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>71586831b479e438be26d7512e5b8ca8c20010a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kalarm-18.03.80.tar.xz">kalarm-18.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bfe3f3620df74b34837d3fbc7a918e7cb2551eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kalarmcal-18.03.80.tar.xz">kalarmcal-18.03.80</a></td>
   <td align="right">533kB</td>
   <td><tt>2369c016ccf9e272ed5f72ba6dbac315ca665b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kalgebra-18.03.80.tar.xz">kalgebra-18.03.80</a></td>
   <td align="right">690kB</td>
   <td><tt>a361f4fa662d38290d979d41c46c34ac6d6bdbd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kalzium-18.03.80.tar.xz">kalzium-18.03.80</a></td>
   <td align="right">23MB</td>
   <td><tt>8042afc90b523f65db3907f2b384e07ccf848276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kamera-18.03.80.tar.xz">kamera-18.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>b24df565c5ce9f58c37a5ec8ca80e941deddf41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kamoso-18.03.80.tar.xz">kamoso-18.03.80</a></td>
   <td align="right">181kB</td>
   <td><tt>a31dea520758cf795f8d1df85d64220975de9482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kanagram-18.03.80.tar.xz">kanagram-18.03.80</a></td>
   <td align="right">7.1MB</td>
   <td><tt>1c9cb833826e7b98417267e3d3a246e173e5a058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kapman-18.03.80.tar.xz">kapman-18.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e82dfd75a4bdf720f66967aa9751a42eb6cb8dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kapptemplate-18.03.80.tar.xz">kapptemplate-18.03.80</a></td>
   <td align="right">344kB</td>
   <td><tt>3c72644f2f5f166e5474040169634b9bf0625c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kate-18.03.80.tar.xz">kate-18.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>10a80b495688c603ba8c43c2b33f280e9a7054f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/katomic-18.03.80.tar.xz">katomic-18.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2afb8789dc720ff44eae928b5e622689cbc86d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kbackup-18.03.80.tar.xz">kbackup-18.03.80</a></td>
   <td align="right">328kB</td>
   <td><tt>91f791681c3d229dbc3259375f626b76e5b71c8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kblackbox-18.03.80.tar.xz">kblackbox-18.03.80</a></td>
   <td align="right">393kB</td>
   <td><tt>9381381d3f6f5d5cb314da2d8de1ee3ee0c390bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kblocks-18.03.80.tar.xz">kblocks-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f54bf4162024768ea4a1781583a467aa3588fb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kblog-18.03.80.tar.xz">kblog-18.03.80</a></td>
   <td align="right">70kB</td>
   <td><tt>697d6473dea39f847f1fe001531838842e1ea826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kbounce-18.03.80.tar.xz">kbounce-18.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>17bf94ce383fd03a0c544120974c3644879024ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kbreakout-18.03.80.tar.xz">kbreakout-18.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>246ebffc916a35a85f1b2081a622f6b1a1d850ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kbruch-18.03.80.tar.xz">kbruch-18.03.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>b4633b25822b1ac10752921e1b37a17007ff115c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcachegrind-18.03.80.tar.xz">kcachegrind-18.03.80</a></td>
   <td align="right">793kB</td>
   <td><tt>a550a9d6952ee073a4a8df4a3e2123d45f66c0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcalc-18.03.80.tar.xz">kcalc-18.03.80</a></td>
   <td align="right">351kB</td>
   <td><tt>a789c27c767a814068ba2b657d73b744fe44fa81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcalcore-18.03.80.tar.xz">kcalcore-18.03.80</a></td>
   <td align="right">246kB</td>
   <td><tt>88e6cd50f7b4172675402e618dab8b01325fc102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcalutils-18.03.80.tar.xz">kcalutils-18.03.80</a></td>
   <td align="right">317kB</td>
   <td><tt>21b6ecb80bec9bd4a02b0d5ac64abf99becfe1a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcharselect-18.03.80.tar.xz">kcharselect-18.03.80</a></td>
   <td align="right">342kB</td>
   <td><tt>190d0494ea5d304e34fdcf1743a19c96dd63cdc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcolorchooser-18.03.80.tar.xz">kcolorchooser-18.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>b77b691566092aea9d66043b83f3c674e7bfaa7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcontacts-18.03.80.tar.xz">kcontacts-18.03.80</a></td>
   <td align="right">202kB</td>
   <td><tt>f2450ad2e0cf145c9dded1e80744778eaf6cf407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kcron-18.03.80.tar.xz">kcron-18.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>885401aef3523387fd32a6931c216c1fb74283bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdav-18.03.80.tar.xz">kdav-18.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>c97795323d68905783d380311e40d7d1ad798495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdebugsettings-18.03.80.tar.xz">kdebugsettings-18.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>57ea3a572b864354072236de036548839ccf8442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kde-dev-scripts-18.03.80.tar.xz">kde-dev-scripts-18.03.80</a></td>
   <td align="right">368kB</td>
   <td><tt>ca1285797c0474d88949e3fd07757b79bac3e3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kde-dev-utils-18.03.80.tar.xz">kde-dev-utils-18.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>606bc863c2af8bde66e24c2a062a30068aefaf0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdeedu-data-18.03.80.tar.xz">kdeedu-data-18.03.80</a></td>
   <td align="right">320kB</td>
   <td><tt>a1e2f368ad167c0ee85e97e4deeaf595661b6b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdegraphics-mobipocket-18.03.80.tar.xz">kdegraphics-mobipocket-18.03.80</a></td>
   <td align="right">13kB</td>
   <td><tt>6558462d5481ed55f2bcb76d56b2b2e86396afcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdegraphics-thumbnailers-18.03.80.tar.xz">kdegraphics-thumbnailers-18.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>d18fd6307c1c6a64254f238dfa703c1298ed04a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdenetwork-filesharing-18.03.80.tar.xz">kdenetwork-filesharing-18.03.80</a></td>
   <td align="right">316kB</td>
   <td><tt>d87bc7a5894aaba77595aa1c6dc9727b4929573d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdenlive-18.03.80.tar.xz">kdenlive-18.03.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>dbf513c6b38d790ba1c45fe883af3378879f2520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdepim-addons-18.03.80.tar.xz">kdepim-addons-18.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>de1be3fdb8fc5b76798d8b7f4b62f0bf5b56e04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdepim-apps-libs-18.03.80.tar.xz">kdepim-apps-libs-18.03.80</a></td>
   <td align="right">71kB</td>
   <td><tt>9a9b368b439d09f369823f52f001b62b36930eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdepim-runtime-18.03.80.tar.xz">kdepim-runtime-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4ac45a88ce302542663d61ad1c08c5dc0be890f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdesdk-kioslaves-18.03.80.tar.xz">kdesdk-kioslaves-18.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>3bf19cc2318b1644b03715b683b56f5055742599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdesdk-thumbnailers-18.03.80.tar.xz">kdesdk-thumbnailers-18.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>1b2a7bb43c4ed39ecf597e263f0121a04436996d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdf-18.03.80.tar.xz">kdf-18.03.80</a></td>
   <td align="right">518kB</td>
   <td><tt>dee0ca08d2d48bfab91d0875f9e070e98176b130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdialog-18.03.80.tar.xz">kdialog-18.03.80</a></td>
   <td align="right">93kB</td>
   <td><tt>4210133fab460cb9795f1fa5065014e71119fae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kdiamond-18.03.80.tar.xz">kdiamond-18.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>17af6e367991b406c10cd1a4b14d08801c793f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/keditbookmarks-18.03.80.tar.xz">keditbookmarks-18.03.80</a></td>
   <td align="right">178kB</td>
   <td><tt>d8c0fb8142491ac59cc5b71be8386b522e25b003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kfind-18.03.80.tar.xz">kfind-18.03.80</a></td>
   <td align="right">203kB</td>
   <td><tt>e5067dd38654411462cf9e7da441f32bba6541c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kfloppy-18.03.80.tar.xz">kfloppy-18.03.80</a></td>
   <td align="right">194kB</td>
   <td><tt>3ef1e68714588dd05f1c8b1ee1763faecaab937a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kfourinline-18.03.80.tar.xz">kfourinline-18.03.80</a></td>
   <td align="right">559kB</td>
   <td><tt>f1af7598486d0141257f04e41872fe483a6f0a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kgeography-18.03.80.tar.xz">kgeography-18.03.80</a></td>
   <td align="right">10MB</td>
   <td><tt>dc74f096e8d68a60d230adff040f58fb47222138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kget-18.03.80.tar.xz">kget-18.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>e303aa3bf83a5172b19a3c76ffe69781ac69aeb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kgoldrunner-18.03.80.tar.xz">kgoldrunner-18.03.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>bc34d0198becb6c012660d00ae521877701f036e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kgpg-18.03.80.tar.xz">kgpg-18.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>aa1a2eb5dde0b4f0682ce910dadce5c15b01405c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/khangman-18.03.80.tar.xz">khangman-18.03.80</a></td>
   <td align="right">6.1MB</td>
   <td><tt>bcfb2353bb3fcdf8c3c2c22728bf57394fe75f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/khelpcenter-18.03.80.tar.xz">khelpcenter-18.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>8f81a9bfa904cace61490601982787f9b28c285f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kidentitymanagement-18.03.80.tar.xz">kidentitymanagement-18.03.80</a></td>
   <td align="right">144kB</td>
   <td><tt>e886cf230337b81504f453fa419e320497162166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kig-18.03.80.tar.xz">kig-18.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>0f8a9238d414ddfa4ed2a1db7dfcb413ea0a9871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kigo-18.03.80.tar.xz">kigo-18.03.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>acb64e59698c1551852c488142fc66cb8d2febdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/killbots-18.03.80.tar.xz">killbots-18.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>30ec7025172b6c95a22de690e60e85890175ece6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kimagemapeditor-18.03.80.tar.xz">kimagemapeditor-18.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e0444a9d01a352d68bf53bfd25dc8c24450009d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kimap-18.03.80.tar.xz">kimap-18.03.80</a></td>
   <td align="right">116kB</td>
   <td><tt>5b571eb13da0e4f679e674735b9377af6d2ddf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kio-extras-18.03.80.tar.xz">kio-extras-18.03.80</a></td>
   <td align="right">536kB</td>
   <td><tt>6efa008e187c659a718c9171ebef09505fb07b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kiriki-18.03.80.tar.xz">kiriki-18.03.80</a></td>
   <td align="right">318kB</td>
   <td><tt>5eced8270695b88c6b35af48ab736b3b78b4c17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kiten-18.03.80.tar.xz">kiten-18.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>6f80bffc884852f1ab5d33e78f636f3f104b1607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kjumpingcube-18.03.80.tar.xz">kjumpingcube-18.03.80</a></td>
   <td align="right">286kB</td>
   <td><tt>3aaed15fcd229834297391225cc7d507639c6e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kldap-18.03.80.tar.xz">kldap-18.03.80</a></td>
   <td align="right">150kB</td>
   <td><tt>33e1471e229f5738922a4f863d87aef3aa0293e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kleopatra-18.03.80.tar.xz">kleopatra-18.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6ee217401269aefdf2afea9dd00830e38afa9a05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/klettres-18.03.80.tar.xz">klettres-18.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>241a4ea2bcc9ebf497a2f783576614a93c9411d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/klickety-18.03.80.tar.xz">klickety-18.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cfd585a159c7c60249bf872b8096daa6bef63c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/klines-18.03.80.tar.xz">klines-18.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>362c3009d929eb0f9a010651534ef4e89aa98c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmag-18.03.80.tar.xz">kmag-18.03.80</a></td>
   <td align="right">574kB</td>
   <td><tt>5844d429e27274dd2a2ff54500590b5d52d14e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmahjongg-18.03.80.tar.xz">kmahjongg-18.03.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5e916606240ca1cd9adc2166526929e715907b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmail-18.03.80.tar.xz">kmail-18.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9241e9220b93cce6b879e8b09f377aae0f173901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmail-account-wizard-18.03.80.tar.xz">kmail-account-wizard-18.03.80</a></td>
   <td align="right">149kB</td>
   <td><tt>9f11427f40d6802f0320bb391ecda30aa012d064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmailtransport-18.03.80.tar.xz">kmailtransport-18.03.80</a></td>
   <td align="right">160kB</td>
   <td><tt>b7a0b0e798e3d30f79e0eb3a8d11edf8e7586c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmbox-18.03.80.tar.xz">kmbox-18.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>bda57a2a57c90d4665fd70583b45f79f794a4a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmime-18.03.80.tar.xz">kmime-18.03.80</a></td>
   <td align="right">143kB</td>
   <td><tt>8a1b2975f8be82e9bd6cc06f3ed9c2688e814898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmines-18.03.80.tar.xz">kmines-18.03.80</a></td>
   <td align="right">861kB</td>
   <td><tt>722ae2062a40dac58f69f388aa7474aa635bfd82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmix-18.03.80.tar.xz">kmix-18.03.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0aad964536cc771321d71ef2409466cdfe067be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmousetool-18.03.80.tar.xz">kmousetool-18.03.80</a></td>
   <td align="right">109kB</td>
   <td><tt>f3d0f945cccc20bda0a6804a393036b7aac98e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmouth-18.03.80.tar.xz">kmouth-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>44668263781bd456077e0f6461701cdb3dd3c71e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kmplot-18.03.80.tar.xz">kmplot-18.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>095d61e47f03698349cdf1cc800009b2eaf20486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/knavalbattle-18.03.80.tar.xz">knavalbattle-18.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b6be94f33fdb604c5867c2e5467e5db87f2d8466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/knetwalk-18.03.80.tar.xz">knetwalk-18.03.80</a></td>
   <td align="right">958kB</td>
   <td><tt>ebcf2bb4ba60ab16b587213a8cc5b76afbb584b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/knotes-18.03.80.tar.xz">knotes-18.03.80</a></td>
   <td align="right">325kB</td>
   <td><tt>b9f5fe3f825853014853381cc48d7ddc121aeaaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kolf-18.03.80.tar.xz">kolf-18.03.80</a></td>
   <td align="right">904kB</td>
   <td><tt>10749439cc75c50cdf1557552cac396ee7f24b9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kollision-18.03.80.tar.xz">kollision-18.03.80</a></td>
   <td align="right">265kB</td>
   <td><tt>c4dfbd6c9787d2e8c58ab0938543c7147a880dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kolourpaint-18.03.80.tar.xz">kolourpaint-18.03.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>9d71c7e971e5503dce318cd4956544032aff7c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kompare-18.03.80.tar.xz">kompare-18.03.80</a></td>
   <td align="right">694kB</td>
   <td><tt>cce9adb2fe35403ebae4f9c5050d81deb7328dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/konqueror-18.03.80.tar.xz">konqueror-18.03.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>6b7983c2f920e97409d40025e4d74e7cb8e1e3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/konquest-18.03.80.tar.xz">konquest-18.03.80</a></td>
   <td align="right">642kB</td>
   <td><tt>c45e94ba8a527eec19742716cbb4909efb6635a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/konsole-18.03.80.tar.xz">konsole-18.03.80</a></td>
   <td align="right">1014kB</td>
   <td><tt>25246ac7e059fe84973af2a621ecab636af586d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kontact-18.03.80.tar.xz">kontact-18.03.80</a></td>
   <td align="right">841kB</td>
   <td><tt>c72d16763ca843caca75ce43e97928cae99a4ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kontactinterface-18.03.80.tar.xz">kontactinterface-18.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>ec32c974f85279997f40b83f8a22665954943579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kopete-18.03.80.tar.xz">kopete-18.03.80</a></td>
   <td align="right">9.2MB</td>
   <td><tt>3f9a7f1247c28c7c9f48d0fadff00343117fd7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/korganizer-18.03.80.tar.xz">korganizer-18.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cb2dd4ad13f430f2014ae7c4592646a86cd57772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kpat-18.03.80.tar.xz">kpat-18.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>cee14b1d58bbbaa4596d371a7047b283e1fd528e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kpimtextedit-18.03.80.tar.xz">kpimtextedit-18.03.80</a></td>
   <td align="right">139kB</td>
   <td><tt>6c98462d934ca5a71665b68515c14b9e5274c730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kqtquickcharts-18.03.80.tar.xz">kqtquickcharts-18.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>c54789386ebac4e146622e6c53d53d8f26690c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/krdc-18.03.80.tar.xz">krdc-18.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c6651d73cc5754c6ec9383e90d677af4408b7097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kreversi-18.03.80.tar.xz">kreversi-18.03.80</a></td>
   <td align="right">891kB</td>
   <td><tt>58a85e8a2dc6a8f4e9a5bfb994ada4c7d0893e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/krfb-18.03.80.tar.xz">krfb-18.03.80</a></td>
   <td align="right">971kB</td>
   <td><tt>1acc8fdd2251a517df75b2fe301480ec3e287a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kross-interpreters-18.03.80.tar.xz">kross-interpreters-18.03.80</a></td>
   <td align="right">141kB</td>
   <td><tt>de4173b0e9437c6ffeed7fffca3ae1c977f8c5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kruler-18.03.80.tar.xz">kruler-18.03.80</a></td>
   <td align="right">288kB</td>
   <td><tt>22e20fe4c2f4013975a71fe75ca533fe43530e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kshisen-18.03.80.tar.xz">kshisen-18.03.80</a></td>
   <td align="right">694kB</td>
   <td><tt>3bf27e176eef5832e01c41191357820629f562e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksirk-18.03.80.tar.xz">ksirk-18.03.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>51eeba1dd6414185857906bb424494d12892ef4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksmtp-18.03.80.tar.xz">ksmtp-18.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>e247c5c0309e38abd16f71cce16703ccc839eebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksnakeduel-18.03.80.tar.xz">ksnakeduel-18.03.80</a></td>
   <td align="right">591kB</td>
   <td><tt>78a3ed3583c9b37e8797311b6fc6e1910b9a77dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kspaceduel-18.03.80.tar.xz">kspaceduel-18.03.80</a></td>
   <td align="right">595kB</td>
   <td><tt>a9a255562fc224d32b40354bef4bde7f3321e893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksquares-18.03.80.tar.xz">ksquares-18.03.80</a></td>
   <td align="right">210kB</td>
   <td><tt>11bb5382c700c85245d10bd4b4140e945172a125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksudoku-18.03.80.tar.xz">ksudoku-18.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>41b29d725c8b9d5a0478251a56c7b8f9314c3109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ksystemlog-18.03.80.tar.xz">ksystemlog-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>580a4f1c16c3d352589bc3bc301cdb094efaa424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kteatime-18.03.80.tar.xz">kteatime-18.03.80</a></td>
   <td align="right">290kB</td>
   <td><tt>2b4bf80a650da39f12d11e1087b4ba550d15d1c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktimer-18.03.80.tar.xz">ktimer-18.03.80</a></td>
   <td align="right">443kB</td>
   <td><tt>c17ab290e231f5f5162b3cd8e8afb18ca06e35ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktnef-18.03.80.tar.xz">ktnef-18.03.80</a></td>
   <td align="right">292kB</td>
   <td><tt>0722f0bb63bcd9d5b4e513982a4137490a931533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktouch-18.03.80.tar.xz">ktouch-18.03.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>af604e2d2f00c9c331eece5bbc8430c197996718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-accounts-kcm-18.03.80.tar.xz">ktp-accounts-kcm-18.03.80</a></td>
   <td align="right">256kB</td>
   <td><tt>7c3aca8a3cb957d57571a6f378abf3d81f43883f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-approver-18.03.80.tar.xz">ktp-approver-18.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4832e390f4d3a365e2bb9575ba8c6ff7087219b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-auth-handler-18.03.80.tar.xz">ktp-auth-handler-18.03.80</a></td>
   <td align="right">45kB</td>
   <td><tt>bc12bead95572fc5ed1e08f9dd14cec778a24eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-call-ui-18.03.80.tar.xz">ktp-call-ui-18.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>71b666c7d61821fa75ba5e060c1870a4cbd7ba58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-common-internals-18.03.80.tar.xz">ktp-common-internals-18.03.80</a></td>
   <td align="right">431kB</td>
   <td><tt>f83880d018d6b9a7a3dccf714916373b49d36790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-contact-list-18.03.80.tar.xz">ktp-contact-list-18.03.80</a></td>
   <td align="right">141kB</td>
   <td><tt>14249e722db14107463a2eae8e3341179c7bbc69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-contact-runner-18.03.80.tar.xz">ktp-contact-runner-18.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>f951ed99a2820464843cb78253347e133b6ae831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-desktop-applets-18.03.80.tar.xz">ktp-desktop-applets-18.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>7609482f696eeb75d06170637bd8aa2e3f46df95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-filetransfer-handler-18.03.80.tar.xz">ktp-filetransfer-handler-18.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>2842252aaa6f391eaad400741d09b02e7540f137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-kded-module-18.03.80.tar.xz">ktp-kded-module-18.03.80</a></td>
   <td align="right">89kB</td>
   <td><tt>deeefe7d83b709b50dfbfd0284389684cec6dbef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-send-file-18.03.80.tar.xz">ktp-send-file-18.03.80</a></td>
   <td align="right">28kB</td>
   <td><tt>2a51d16f5001c7f025b05724564711d13a3a4e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktp-text-ui-18.03.80.tar.xz">ktp-text-ui-18.03.80</a></td>
   <td align="right">457kB</td>
   <td><tt>399832d14a6768340117ab8bea98f5166b4b2a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/ktuberling-18.03.80.tar.xz">ktuberling-18.03.80</a></td>
   <td align="right">31MB</td>
   <td><tt>6bb57949ab8990541df74ecfc90ee964dbd1bef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kturtle-18.03.80.tar.xz">kturtle-18.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bc8b4e3e1f2aa7f68ecc53a5874d4fef899e3364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kubrick-18.03.80.tar.xz">kubrick-18.03.80</a></td>
   <td align="right">299kB</td>
   <td><tt>3c60b9855a2b88c7476ee66b1bd03c4e1a80ec5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kwalletmanager-18.03.80.tar.xz">kwalletmanager-18.03.80</a></td>
   <td align="right">760kB</td>
   <td><tt>42e6c4837398c17fa0a9aafe3397df5a49e1c1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kwave-18.03.80.tar.xz">kwave-18.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7009ce407608e7f77619aa1fecfdc4f0c6614673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/kwordquiz-18.03.80.tar.xz">kwordquiz-18.03.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>1cdb29da3933cc2ebb44872b27391982a4aea921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libgravatar-18.03.80.tar.xz">libgravatar-18.03.80</a></td>
   <td align="right">29kB</td>
   <td><tt>ee4e1928021e6a3708ead9df60b8dd1b582a393c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkcddb-18.03.80.tar.xz">libkcddb-18.03.80</a></td>
   <td align="right">414kB</td>
   <td><tt>866c0b2bd99b1d37fd4c542b8fec64c1a0de19b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkcompactdisc-18.03.80.tar.xz">libkcompactdisc-18.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>03dea1be37d25ac517f2743ab6ee6a751d90a64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkdcraw-18.03.80.tar.xz">libkdcraw-18.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>1dfc51c028f554d03eeee8536b371cf1ef665048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkdegames-18.03.80.tar.xz">libkdegames-18.03.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>326e442ad564c1a93510f6034e6ebbd4334ed4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkdepim-18.03.80.tar.xz">libkdepim-18.03.80</a></td>
   <td align="right">331kB</td>
   <td><tt>ea2940ee9add11c5baf6f08425380a7858abc5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkeduvocdocument-18.03.80.tar.xz">libkeduvocdocument-18.03.80</a></td>
   <td align="right">204kB</td>
   <td><tt>fa66576437dcbc1a9fee1e047f7287b6eb1ba51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkexiv2-18.03.80.tar.xz">libkexiv2-18.03.80</a></td>
   <td align="right">62kB</td>
   <td><tt>52c88ee8cf13a25fc0eff27ce294424baa57c97a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkgapi-18.03.80.tar.xz">libkgapi-18.03.80</a></td>
   <td align="right">172kB</td>
   <td><tt>1d18d5595194400992b1b50f2cf4601439d8bd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkgeomap-18.03.80.tar.xz">libkgeomap-18.03.80</a></td>
   <td align="right">146kB</td>
   <td><tt>5e700711e18c8500a9bc5f4dad5d5a0b59fa55f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkipi-18.03.80.tar.xz">libkipi-18.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>a2e48e4fd5d393c38897845d876aa55bf949d58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkleo-18.03.80.tar.xz">libkleo-18.03.80</a></td>
   <td align="right">310kB</td>
   <td><tt>d093520aa695918981f358b6398561e207a95148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkmahjongg-18.03.80.tar.xz">libkmahjongg-18.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>aa4909107850e1018ed6b2760f15afbd74dddd8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libkomparediff2-18.03.80.tar.xz">libkomparediff2-18.03.80</a></td>
   <td align="right">172kB</td>
   <td><tt>54aaa640c048aee62bfdcb7071c4acb3a7b956bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libksane-18.03.80.tar.xz">libksane-18.03.80</a></td>
   <td align="right">133kB</td>
   <td><tt>b81fa54a61c10726d8327ac3f7a1822bb17960ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/libksieve-18.03.80.tar.xz">libksieve-18.03.80</a></td>
   <td align="right">536kB</td>
   <td><tt>2dae1aca9c4d83ceed7dc45c9ac7a5563adf4f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/lokalize-18.03.80.tar.xz">lokalize-18.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>dbe0849b44f6978fa208d3e1687df741be32c18d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/lskat-18.03.80.tar.xz">lskat-18.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7bea0f147bffa0ec91a396d930f959317b7e5bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/mailcommon-18.03.80.tar.xz">mailcommon-18.03.80</a></td>
   <td align="right">675kB</td>
   <td><tt>a4632bbcba2e74487ef08f7c1692f35b1569c36a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/mailimporter-18.03.80.tar.xz">mailimporter-18.03.80</a></td>
   <td align="right">528kB</td>
   <td><tt>2b7744deae6f99ddc357d1de415fc71558f94016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/marble-18.03.80.tar.xz">marble-18.03.80</a></td>
   <td align="right">49MB</td>
   <td><tt>66eb0ac92d36ff45657602ec140b6af35f6df391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/mbox-importer-18.03.80.tar.xz">mbox-importer-18.03.80</a></td>
   <td align="right">32kB</td>
   <td><tt>efda41aff503b3385eb6642bda72e0893b84c1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/messagelib-18.03.80.tar.xz">messagelib-18.03.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>b108caa1b6bff31ab8b38fe36238b6723b4445cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/minuet-18.03.80.tar.xz">minuet-18.03.80</a></td>
   <td align="right">26MB</td>
   <td><tt>89f22fe2368700ba32a90ae0bd1c905ae43028d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/okular-18.03.80.tar.xz">okular-18.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>496b1d1cbd41d256e2bf369fc52f49d2bf0c90bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/palapeli-18.03.80.tar.xz">palapeli-18.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e0c8d585a7a7011be0ae24643d7d1261c4f7626e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/parley-18.03.80.tar.xz">parley-18.03.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>eb86b55de0661d77a17c7850e7b0a88fc86bef72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/picmi-18.03.80.tar.xz">picmi-18.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7386e5e9a262272c1d6183a13162c520ad5f5d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/pimcommon-18.03.80.tar.xz">pimcommon-18.03.80</a></td>
   <td align="right">287kB</td>
   <td><tt>9022a5255e0cd471cfab698d7ea8166f9e937687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/pim-data-exporter-18.03.80.tar.xz">pim-data-exporter-18.03.80</a></td>
   <td align="right">262kB</td>
   <td><tt>71b9b2cb131ccc822e4578c051760ca2316461a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/pim-sieve-editor-18.03.80.tar.xz">pim-sieve-editor-18.03.80</a></td>
   <td align="right">435kB</td>
   <td><tt>c5eada4c8e057da85bf7a13f446267a47122dcb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/poxml-18.03.80.tar.xz">poxml-18.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>e33540d554e1d23c6a660677ef6436e50b9833ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/print-manager-18.03.80.tar.xz">print-manager-18.03.80</a></td>
   <td align="right">232kB</td>
   <td><tt>7f31f419c34ef19fd00ea3636e0eb1fe68aa025b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/rocs-18.03.80.tar.xz">rocs-18.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5e7fb08f5600d55de1caf2354db2b2e07e3e5680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/signon-kwallet-extension-18.03.80.tar.xz">signon-kwallet-extension-18.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>197e9a480412a0b5428db8d4b83529601277e192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/spectacle-18.03.80.tar.xz">spectacle-18.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>309083348c4551141b541b5b10c69b1ceff78803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/step-18.03.80.tar.xz">step-18.03.80</a></td>
   <td align="right">842kB</td>
   <td><tt>30787f9ecdf6173d8faa3a2a988a468dcefd87de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/svgpart-18.03.80.tar.xz">svgpart-18.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>54eaaf91062a0052ad9ffba98bd255d72ef3dc75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/sweeper-18.03.80.tar.xz">sweeper-18.03.80</a></td>
   <td align="right">359kB</td>
   <td><tt>07f3b9e5c4fa86bc06f7fc94d09774d29c65fbe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/syndication-18.03.80.tar.xz">syndication-18.03.80</a></td>
   <td align="right">156kB</td>
   <td><tt>f892450a2cb2734fd3052e69d82306ec4ea4ced9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/umbrello-18.03.80.tar.xz">umbrello-18.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7cb00861a38c61d0e9edcd1800651c95d470be55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.03.80/src/zeroconf-ioslave-18.03.80.tar.xz">zeroconf-ioslave-18.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>01c20526ec39636f4199766729d568c3b3466707</tt></td>
</tr>

</table>
