<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-18.08.1.tar.xz">akonadi-18.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3c9f3ffde6dc8c40274b64b85d3f1daff3eef6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-calendar-18.08.1.tar.xz">akonadi-calendar-18.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>df199da7f9baca3a3b1bf1454c53d16e183a3122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-calendar-tools-18.08.1.tar.xz">akonadi-calendar-tools-18.08.1</a></td>
   <td align="right">220kB</td>
   <td><tt>6b0c7a1cea73f4145c375d7c5dab7158053a0959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadiconsole-18.08.1.tar.xz">akonadiconsole-18.08.1</a></td>
   <td align="right">189kB</td>
   <td><tt>526cae46edbfb2f1f11474578b7b293d6510b76c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-contacts-18.08.1.tar.xz">akonadi-contacts-18.08.1</a></td>
   <td align="right">381kB</td>
   <td><tt>3a8969b10f75cfe6639417c73f53261c72625152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-import-wizard-18.08.1.tar.xz">akonadi-import-wizard-18.08.1</a></td>
   <td align="right">429kB</td>
   <td><tt>bf0654f8cdc51f888abb7801d90a8b465e75a5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-mime-18.08.1.tar.xz">akonadi-mime-18.08.1</a></td>
   <td align="right">133kB</td>
   <td><tt>60d41065b211a240b9414d2c535cfffd329cb65b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-notes-18.08.1.tar.xz">akonadi-notes-18.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>8aea317fc5cd1313e8ce09b2228955f509d36972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akonadi-search-18.08.1.tar.xz">akonadi-search-18.08.1</a></td>
   <td align="right">80kB</td>
   <td><tt>59ee86e5610f64e664daef014636c1f8b8143ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/akregator-18.08.1.tar.xz">akregator-18.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0254c2b6e651912fe0dba09fc290aea93e97b1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/analitza-18.08.1.tar.xz">analitza-18.08.1</a></td>
   <td align="right">323kB</td>
   <td><tt>e5bb86a3943377e664fb0a6790ea6325653f20ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ark-18.08.1.tar.xz">ark-18.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c059db67f676cdf4da4a1013eec44cb67554221c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/artikulate-18.08.1.tar.xz">artikulate-18.08.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>ce2e68b2c940865175c2a6f6063dc92b519e5559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/audiocd-kio-18.08.1.tar.xz">audiocd-kio-18.08.1</a></td>
   <td align="right">243kB</td>
   <td><tt>2fc5b3ad359a8e8beb31ad888c52b01ffcab4df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/baloo-widgets-18.08.1.tar.xz">baloo-widgets-18.08.1</a></td>
   <td align="right">239kB</td>
   <td><tt>08228614f31df3a33f7f3ac7a72b08e4196b2549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/blinken-18.08.1.tar.xz">blinken-18.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e58e491733a969332f5aca279989612829b5a9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/bomber-18.08.1.tar.xz">bomber-18.08.1</a></td>
   <td align="right">800kB</td>
   <td><tt>67eb11b30dde5f713d16e5e830c16e71cd735628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/bovo-18.08.1.tar.xz">bovo-18.08.1</a></td>
   <td align="right">194kB</td>
   <td><tt>9653b747299984ff74b0e9a3ec2710c59a0f173c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/calendarsupport-18.08.1.tar.xz">calendarsupport-18.08.1</a></td>
   <td align="right">632kB</td>
   <td><tt>68d1cbafb88eee3b33b8bc46e862dcbeae8d8294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/cantor-18.08.1.tar.xz">cantor-18.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>038ebe3b552779d69a2a244df58b9b4f28180fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/cervisia-18.08.1.tar.xz">cervisia-18.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b09b8093e6de6ff1bb74b72a935d646d8f1b027f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/dolphin-18.08.1.tar.xz">dolphin-18.08.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>704300f7d6e5a86446a6be018dfb39dabba1ab1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/dolphin-plugins-18.08.1.tar.xz">dolphin-plugins-18.08.1</a></td>
   <td align="right">188kB</td>
   <td><tt>4bf79197cf9ed7d74fb2e6b6abe0501cdc96879e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/dragon-18.08.1.tar.xz">dragon-18.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>08d54d32c1383ae571f9c873a08db78dc41d0d14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/eventviews-18.08.1.tar.xz">eventviews-18.08.1</a></td>
   <td align="right">431kB</td>
   <td><tt>af9a1c2b80ca0555ca06ed0bd2d33f5ace78ff5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ffmpegthumbs-18.08.1.tar.xz">ffmpegthumbs-18.08.1</a></td>
   <td align="right">21kB</td>
   <td><tt>cbf1968231b9d08ba9df2b533d5a7c51f2acf8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/filelight-18.08.1.tar.xz">filelight-18.08.1</a></td>
   <td align="right">643kB</td>
   <td><tt>d203345ff2220a8154afd8a375b7c3952c7ece39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/granatier-18.08.1.tar.xz">granatier-18.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c3fba03eb7ea2cfdca17088392afdd6625cdac65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/grantlee-editor-18.08.1.tar.xz">grantlee-editor-18.08.1</a></td>
   <td align="right">108kB</td>
   <td><tt>ad3d163872390a9c24a27cde088cb49394c31021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/grantleetheme-18.08.1.tar.xz">grantleetheme-18.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>165400ba7522b7e8420bd237a3eff9334a00bcd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/gwenview-18.08.1.tar.xz">gwenview-18.08.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>5ac2c373ac8173efe2cd277ce3791e6ea8512a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/incidenceeditor-18.08.1.tar.xz">incidenceeditor-18.08.1</a></td>
   <td align="right">510kB</td>
   <td><tt>37b3d5b8e086c38403ec4fa7b559f78ed5f34dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/juk-18.08.1.tar.xz">juk-18.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f4b045640024a1714fef3775818b47cd8c57729e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/k3b-18.08.1.tar.xz">k3b-18.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>60c20d007cadcdb2ec2274e7f4e1cfc3c6bb0d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kaccounts-integration-18.08.1.tar.xz">kaccounts-integration-18.08.1</a></td>
   <td align="right">69kB</td>
   <td><tt>99339574d96869e469ab2e7cf4e7df1fee804693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kaccounts-providers-18.08.1.tar.xz">kaccounts-providers-18.08.1</a></td>
   <td align="right">31kB</td>
   <td><tt>a51fef5e582d99e44cc89fdd3376c4f1ee0b2767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kaddressbook-18.08.1.tar.xz">kaddressbook-18.08.1</a></td>
   <td align="right">525kB</td>
   <td><tt>a3827599590ee68d05379b5133d446824c85762a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kajongg-18.08.1.tar.xz">kajongg-18.08.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b965913c3fd1cb2c729c1b410de7b7e4e144450f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kalarm-18.08.1.tar.xz">kalarm-18.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8f6503bb6e6aee280f6fa7ade621cd530c255756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kalarmcal-18.08.1.tar.xz">kalarmcal-18.08.1</a></td>
   <td align="right">560kB</td>
   <td><tt>ee1cd2a37d5c16ff9c4781292d3c70cd1764bb81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kalgebra-18.08.1.tar.xz">kalgebra-18.08.1</a></td>
   <td align="right">690kB</td>
   <td><tt>924369f742f64709f2043c4fa0e4294a2623d1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kalzium-18.08.1.tar.xz">kalzium-18.08.1</a></td>
   <td align="right">23MB</td>
   <td><tt>754d3ea514dafdb06e4218621b64bd7d2098d0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kamera-18.08.1.tar.xz">kamera-18.08.1</a></td>
   <td align="right">95kB</td>
   <td><tt>0da88c55c869909ad4f5a9734195647e81ecdda2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kamoso-18.08.1.tar.xz">kamoso-18.08.1</a></td>
   <td align="right">178kB</td>
   <td><tt>159575d805c9b081ca8e7322c34c5fe5c20f90e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kanagram-18.08.1.tar.xz">kanagram-18.08.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>5b0d1e9e8e996d9f2b50f4ce7b653ffeefb074d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kapman-18.08.1.tar.xz">kapman-18.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>822abfba9ff68b9fdc3c8d3ddb6e8e22313e5375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kapptemplate-18.08.1.tar.xz">kapptemplate-18.08.1</a></td>
   <td align="right">310kB</td>
   <td><tt>011419e7af9a5b9205ed9a1b8cef192e15882271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kate-18.08.1.tar.xz">kate-18.08.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>ae8fc9a67acc26ce9718a6718238fb532779043e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/katomic-18.08.1.tar.xz">katomic-18.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c97d74b42ad97396e3af29c7720a57e21473f8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kbackup-18.08.1.tar.xz">kbackup-18.08.1</a></td>
   <td align="right">342kB</td>
   <td><tt>cdc022f77c1bc072d5a6e7f49d759c50c0cdf98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kblackbox-18.08.1.tar.xz">kblackbox-18.08.1</a></td>
   <td align="right">434kB</td>
   <td><tt>40bc81f6a6155ddca94e5f3f55da11c59a56e5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kblocks-18.08.1.tar.xz">kblocks-18.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f98f0cfced7507968d9d611eead8f7ac024b0578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kblog-18.08.1.tar.xz">kblog-18.08.1</a></td>
   <td align="right">71kB</td>
   <td><tt>32c3773672b286bd36a5083dc614104c902c7458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kbounce-18.08.1.tar.xz">kbounce-18.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>ca29706785adc4f03635cac134c8a01233586114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kbreakout-18.08.1.tar.xz">kbreakout-18.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4b17db147687d4f799903f540276f32232976f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kbruch-18.08.1.tar.xz">kbruch-18.08.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a5bbfbdb500a9d6c68dfa1a3d55633df7f5071b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcachegrind-18.08.1.tar.xz">kcachegrind-18.08.1</a></td>
   <td align="right">790kB</td>
   <td><tt>23c40a583cfa12e532b70f3517cec5c3916be9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcalc-18.08.1.tar.xz">kcalc-18.08.1</a></td>
   <td align="right">353kB</td>
   <td><tt>d7a2d726a75303504e15e36fd586dda0450ebabd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcalcore-18.08.1.tar.xz">kcalcore-18.08.1</a></td>
   <td align="right">246kB</td>
   <td><tt>cb2ab3b151a3a229fb13b2550ba4cdb16137080e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcalutils-18.08.1.tar.xz">kcalutils-18.08.1</a></td>
   <td align="right">317kB</td>
   <td><tt>7c3ece2a64d76ef4a453f912646e86215fe25048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcharselect-18.08.1.tar.xz">kcharselect-18.08.1</a></td>
   <td align="right">346kB</td>
   <td><tt>428b128020b43fb79c7a1ad920ddfb256a4fec82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcolorchooser-18.08.1.tar.xz">kcolorchooser-18.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>4288c661c58e84c59b09b9fde3e996d21eb394b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcontacts-18.08.1.tar.xz">kcontacts-18.08.1</a></td>
   <td align="right">202kB</td>
   <td><tt>6d2e096e64c97989f212cd3cb5477b60868a9d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kcron-18.08.1.tar.xz">kcron-18.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fd72dc6897ed3ccd6a69f3869f88c5d1928cb027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdav-18.08.1.tar.xz">kdav-18.08.1</a></td>
   <td align="right">48kB</td>
   <td><tt>a7dff42222128874b769ba6abce4a5f2665541bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdebugsettings-18.08.1.tar.xz">kdebugsettings-18.08.1</a></td>
   <td align="right">51kB</td>
   <td><tt>3ab1dd7c919512b9c7c132090cd2744986708e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kde-dev-scripts-18.08.1.tar.xz">kde-dev-scripts-18.08.1</a></td>
   <td align="right">368kB</td>
   <td><tt>5526be13a932618b11c2980977d4128e5ddda8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kde-dev-utils-18.08.1.tar.xz">kde-dev-utils-18.08.1</a></td>
   <td align="right">60kB</td>
   <td><tt>61f6a698e68db83d247ba0198e5245edb7c71faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdeedu-data-18.08.1.tar.xz">kdeedu-data-18.08.1</a></td>
   <td align="right">320kB</td>
   <td><tt>7c94435666b25094bf08595501780cf3fc4cf37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdegraphics-mobipocket-18.08.1.tar.xz">kdegraphics-mobipocket-18.08.1</a></td>
   <td align="right">13kB</td>
   <td><tt>a238c74ea6665dd17a066bfa514efb01f8c56c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdegraphics-thumbnailers-18.08.1.tar.xz">kdegraphics-thumbnailers-18.08.1</a></td>
   <td align="right">40kB</td>
   <td><tt>dca3f05a238bdf9b51effcc393493e725bd97470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdenetwork-filesharing-18.08.1.tar.xz">kdenetwork-filesharing-18.08.1</a></td>
   <td align="right">305kB</td>
   <td><tt>88e5e42cb98a83318bc502235579663433929b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdenlive-18.08.1.tar.xz">kdenlive-18.08.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c42ab66f956b95374c0c24b73df01eb72dd96adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdepim-addons-18.08.1.tar.xz">kdepim-addons-18.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b5dd77bf956428453e536cba698c8891d2a40262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdepim-apps-libs-18.08.1.tar.xz">kdepim-apps-libs-18.08.1</a></td>
   <td align="right">71kB</td>
   <td><tt>8abcc474312e6519e3176fd8f4eae02251050c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdepim-runtime-18.08.1.tar.xz">kdepim-runtime-18.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e776464d7a7fccb9216052b301d060bde5777254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdesdk-kioslaves-18.08.1.tar.xz">kdesdk-kioslaves-18.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>1334dc74756bdd4f26d3bb69f3482594faf96dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdesdk-thumbnailers-18.08.1.tar.xz">kdesdk-thumbnailers-18.08.1</a></td>
   <td align="right">17kB</td>
   <td><tt>c5ea4c4e263dc0d15e27dc1ef25478dc01f721f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdf-18.08.1.tar.xz">kdf-18.08.1</a></td>
   <td align="right">543kB</td>
   <td><tt>354a6e6e21fbb43297c7f832c93deaacdf32f38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdialog-18.08.1.tar.xz">kdialog-18.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>bd01204e6b0b783718be7a2296d2de5d312bc65c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kdiamond-18.08.1.tar.xz">kdiamond-18.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>890e989b255a87d96d06176d06bc21db16b57e0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/keditbookmarks-18.08.1.tar.xz">keditbookmarks-18.08.1</a></td>
   <td align="right">179kB</td>
   <td><tt>f7a277046bd405cea71bb1268ae6eed26d9e9685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kfind-18.08.1.tar.xz">kfind-18.08.1</a></td>
   <td align="right">205kB</td>
   <td><tt>e19e8e3e63a9c3883af09449cd103239b370d3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kfloppy-18.08.1.tar.xz">kfloppy-18.08.1</a></td>
   <td align="right">195kB</td>
   <td><tt>8964a8be4dbb3b8c6f14fc0a8f9f3bb99fafc0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kfourinline-18.08.1.tar.xz">kfourinline-18.08.1</a></td>
   <td align="right">620kB</td>
   <td><tt>eae3c55980826df53ed94230a37d99c75da85058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kgeography-18.08.1.tar.xz">kgeography-18.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>2ab357d33bc5c4dbf8bb68529e487f787d9580b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kget-18.08.1.tar.xz">kget-18.08.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>9e141cdac14e9b41fc3c1821fa635b4335f3eedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kgoldrunner-18.08.1.tar.xz">kgoldrunner-18.08.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e9481be948478ffeb9745fb0a1ff327d20765257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kgpg-18.08.1.tar.xz">kgpg-18.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>34d2e895ef464535f04e09f8daa613134bd75a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/khangman-18.08.1.tar.xz">khangman-18.08.1</a></td>
   <td align="right">6.9MB</td>
   <td><tt>a07068ca3cea448e4d47312c1cdb3f349c1ce460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/khelpcenter-18.08.1.tar.xz">khelpcenter-18.08.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>524ed55dbcf6dfde0b7100ec91e910edd959ab0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kidentitymanagement-18.08.1.tar.xz">kidentitymanagement-18.08.1</a></td>
   <td align="right">144kB</td>
   <td><tt>db13ed084bebfad1325c752bc1db39953bebcf34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kig-18.08.1.tar.xz">kig-18.08.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a8190d5642d61729d925b72b899421e04d03db0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kigo-18.08.1.tar.xz">kigo-18.08.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0491a5aa03bf02af74784a30020e9543000098ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/killbots-18.08.1.tar.xz">killbots-18.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>083014f9dca70406d156a7e956b5c10cb4c13a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kimagemapeditor-18.08.1.tar.xz">kimagemapeditor-18.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>89ac830a4b660d5cf16a5bb76735baff2ef6536c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kimap-18.08.1.tar.xz">kimap-18.08.1</a></td>
   <td align="right">117kB</td>
   <td><tt>9de4106cc1c89bbc2038468028155ee0de579baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kio-extras-18.08.1.tar.xz">kio-extras-18.08.1</a></td>
   <td align="right">539kB</td>
   <td><tt>1a179fa657d7f9661f0729da7d52938a66195457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kiriki-18.08.1.tar.xz">kiriki-18.08.1</a></td>
   <td align="right">363kB</td>
   <td><tt>b4d3bdd2b8c024a0fbc2cc8d7dc4fd1ae8794bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kiten-18.08.1.tar.xz">kiten-18.08.1</a></td>
   <td align="right">11MB</td>
   <td><tt>23b61edb11a9c9b6060e4dc156f4875427e1bc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kitinerary-18.08.1.tar.xz">kitinerary-18.08.1</a></td>
   <td align="right">608kB</td>
   <td><tt>e87daa11b186232332a6bd91cf5efcb45c714ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kjumpingcube-18.08.1.tar.xz">kjumpingcube-18.08.1</a></td>
   <td align="right">280kB</td>
   <td><tt>b2af4af9d7c60e936a74b6f49cd0ce53e2b15984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kldap-18.08.1.tar.xz">kldap-18.08.1</a></td>
   <td align="right">152kB</td>
   <td><tt>0c0e3a82d4e21cc81754797f023cee08ec89daa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kleopatra-18.08.1.tar.xz">kleopatra-18.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>24f6d9e6daccd7f339bb4b61f7d3a09b0d83e48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/klettres-18.08.1.tar.xz">klettres-18.08.1</a></td>
   <td align="right">20MB</td>
   <td><tt>6cc3f502d8bc1f808d72a9edfdc0a724c9ed5026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/klickety-18.08.1.tar.xz">klickety-18.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>486e30c5386489a630d989cf157d0aa7c1c591fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/klines-18.08.1.tar.xz">klines-18.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>40f8c6bbb77b014f2d0bb32b989da7be8b01f276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmag-18.08.1.tar.xz">kmag-18.08.1</a></td>
   <td align="right">613kB</td>
   <td><tt>9f5942c357d22155103d1323b7f20f95c0aa9801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmahjongg-18.08.1.tar.xz">kmahjongg-18.08.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>964449b23c42f836f5120b09e72c1a2dcae7f5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmail-18.08.1.tar.xz">kmail-18.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9d099e29ccbff79bf4d9395fde94013d5594db90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmail-account-wizard-18.08.1.tar.xz">kmail-account-wizard-18.08.1</a></td>
   <td align="right">152kB</td>
   <td><tt>97aca03ed1a0d37a3ab36f181e68235fb6407101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmailtransport-18.08.1.tar.xz">kmailtransport-18.08.1</a></td>
   <td align="right">162kB</td>
   <td><tt>a15a2883e42a7f9f1eacdce0061dad74c9da27c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmbox-18.08.1.tar.xz">kmbox-18.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>7b9ded8881ce24e65aa77606895a39f8ed45b3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmime-18.08.1.tar.xz">kmime-18.08.1</a></td>
   <td align="right">143kB</td>
   <td><tt>060184987dce374edffe9af39b77b967a8adb4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmines-18.08.1.tar.xz">kmines-18.08.1</a></td>
   <td align="right">880kB</td>
   <td><tt>0232efb6e01eeed77bf94c87d1025ae731c2052f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmix-18.08.1.tar.xz">kmix-18.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>492fc857700e5c8cad78795ca6bb587631d97e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmousetool-18.08.1.tar.xz">kmousetool-18.08.1</a></td>
   <td align="right">110kB</td>
   <td><tt>f567af0c63838f008327ed4a03959794ac83308b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmouth-18.08.1.tar.xz">kmouth-18.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2a76eb90ded8960247f6dc95b6a10bc3450dbf68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kmplot-18.08.1.tar.xz">kmplot-18.08.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>011fc3269d4bbf1614bc32552d729291f82a684b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/knavalbattle-18.08.1.tar.xz">knavalbattle-18.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>facc4ac97785fe79c70c1afa79c26790e634a164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/knetwalk-18.08.1.tar.xz">knetwalk-18.08.1</a></td>
   <td align="right">1012kB</td>
   <td><tt>cfd4b90f6ced3d3db9185603ac82e121971669f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/knotes-18.08.1.tar.xz">knotes-18.08.1</a></td>
   <td align="right">330kB</td>
   <td><tt>62bfeeee0e89f9090aa474f63b1bdcb12cdcb805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kolf-18.08.1.tar.xz">kolf-18.08.1</a></td>
   <td align="right">901kB</td>
   <td><tt>1194c24ba754fa6e1ad1c36b3fadd573cddf24de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kollision-18.08.1.tar.xz">kollision-18.08.1</a></td>
   <td align="right">274kB</td>
   <td><tt>013a1d5ca1d55c3fabe33eb9d1f98eae384cd511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kolourpaint-18.08.1.tar.xz">kolourpaint-18.08.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>866ab76a4786b4b07c2726d8915228f090938922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kompare-18.08.1.tar.xz">kompare-18.08.1</a></td>
   <td align="right">783kB</td>
   <td><tt>e18b741b128042abbc2ea36f1099e9e792e110e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/konqueror-18.08.1.tar.xz">konqueror-18.08.1</a></td>
   <td align="right">7.3MB</td>
   <td><tt>0ef4029c7bb2ee09a9bf82a9ce0d9dd81779c23b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/konquest-18.08.1.tar.xz">konquest-18.08.1</a></td>
   <td align="right">643kB</td>
   <td><tt>54b1d6abfa815e9ffb677028164a50f1d99f7516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/konsole-18.08.1.tar.xz">konsole-18.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8b871f998fd6b09092c0c1c2380482472d6f7d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kontact-18.08.1.tar.xz">kontact-18.08.1</a></td>
   <td align="right">844kB</td>
   <td><tt>43661bd93c88a74a86a5acf637400aa861ade03c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kontactinterface-18.08.1.tar.xz">kontactinterface-18.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>1d4d56f693dd1c85688e1962dd77c02abdf4be15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kopete-18.08.1.tar.xz">kopete-18.08.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>535ec55deca74011e1dde9f50d64b7a2221c149e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/korganizer-18.08.1.tar.xz">korganizer-18.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3f0b84bf02981602e992caefb6db8f1c20053ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kpat-18.08.1.tar.xz">kpat-18.08.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d3476481e7c85025a552162dd49837a79ff54d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kpimtextedit-18.08.1.tar.xz">kpimtextedit-18.08.1</a></td>
   <td align="right">139kB</td>
   <td><tt>a6ac0dae2210173c43383189da09be17ff248eda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kpkpass-18.08.1.tar.xz">kpkpass-18.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>6b4b0e07baf4f0c150de90c524dd4ce7b3e9344d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kqtquickcharts-18.08.1.tar.xz">kqtquickcharts-18.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>b8d3752ca7e8473c90623e8c95748d7963de08e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/krdc-18.08.1.tar.xz">krdc-18.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>fd2865a0902a9547c2ba33e9a0b7d2738b31acc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kreversi-18.08.1.tar.xz">kreversi-18.08.1</a></td>
   <td align="right">921kB</td>
   <td><tt>4cf29340b80035956ec7d8f3a224e579204778c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/krfb-18.08.1.tar.xz">krfb-18.08.1</a></td>
   <td align="right">971kB</td>
   <td><tt>e6db827d33889795c971cf165b5cf987200bbfa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kross-interpreters-18.08.1.tar.xz">kross-interpreters-18.08.1</a></td>
   <td align="right">141kB</td>
   <td><tt>442bd48a583c5bf68931690d5cbbe75f0822903d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kruler-18.08.1.tar.xz">kruler-18.08.1</a></td>
   <td align="right">289kB</td>
   <td><tt>e9998abe94a8ec834bb4ea07b42de8b59886b1dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kshisen-18.08.1.tar.xz">kshisen-18.08.1</a></td>
   <td align="right">801kB</td>
   <td><tt>f2bfd4ec3e4b08ff8df3240bba996a1d350758e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksirk-18.08.1.tar.xz">ksirk-18.08.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>f8919d3a4489b7ac72b6f09c9cb5540e66aa11f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksmtp-18.08.1.tar.xz">ksmtp-18.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>66d1f6a0cb47654f07dde114267d98ac9e0564c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksnakeduel-18.08.1.tar.xz">ksnakeduel-18.08.1</a></td>
   <td align="right">591kB</td>
   <td><tt>59fdf80e1ff89b45271135f20e89900a9b89e04c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kspaceduel-18.08.1.tar.xz">kspaceduel-18.08.1</a></td>
   <td align="right">596kB</td>
   <td><tt>916745a9ca43e3d4c86e43997eb38a6707779bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksquares-18.08.1.tar.xz">ksquares-18.08.1</a></td>
   <td align="right">252kB</td>
   <td><tt>d8e22eb3e25deb46a21f5f4dc5d52591cf3e80a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksudoku-18.08.1.tar.xz">ksudoku-18.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>30f005d5cb941676741adfb3904935ec42e2880c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ksystemlog-18.08.1.tar.xz">ksystemlog-18.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c75a5a2897bc2226f8b1665c4b28858bb6ec7499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kteatime-18.08.1.tar.xz">kteatime-18.08.1</a></td>
   <td align="right">291kB</td>
   <td><tt>61fab5c91fff2eaa54e1cb3a0e1665f99f8df554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktimer-18.08.1.tar.xz">ktimer-18.08.1</a></td>
   <td align="right">497kB</td>
   <td><tt>a8c8d5412dbee0c228ec998f8975aadc5db5121a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktnef-18.08.1.tar.xz">ktnef-18.08.1</a></td>
   <td align="right">293kB</td>
   <td><tt>5fb8c4078a12a0b0ecdd85d79ac947c1a06e3ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktouch-18.08.1.tar.xz">ktouch-18.08.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>029bd207569731c99d3ac1ee254db5729eba25d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-accounts-kcm-18.08.1.tar.xz">ktp-accounts-kcm-18.08.1</a></td>
   <td align="right">258kB</td>
   <td><tt>6e1db7dfe7a2b7bcd67692b32451bf3e7a2b3dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-approver-18.08.1.tar.xz">ktp-approver-18.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>b4396df0d99315ef8ba258efd48f1e9b6c455a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-auth-handler-18.08.1.tar.xz">ktp-auth-handler-18.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>756c29830bb517f75233f99f8bbc2292ba9714bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-call-ui-18.08.1.tar.xz">ktp-call-ui-18.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>2f39e054fe662f153e5d6ceef8928806a625ec1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-common-internals-18.08.1.tar.xz">ktp-common-internals-18.08.1</a></td>
   <td align="right">433kB</td>
   <td><tt>d374bec1f5eb69de05deeb5ff5bfdc28081d34f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-contact-list-18.08.1.tar.xz">ktp-contact-list-18.08.1</a></td>
   <td align="right">143kB</td>
   <td><tt>069f8955436e9b79f1c95597f05b73a84c09851a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-contact-runner-18.08.1.tar.xz">ktp-contact-runner-18.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>4aacc08dbf0e54fd7dac5a8125a837c1cba710ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-desktop-applets-18.08.1.tar.xz">ktp-desktop-applets-18.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>e548e31750fba3e533a59beb78751dfbad76d66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-filetransfer-handler-18.08.1.tar.xz">ktp-filetransfer-handler-18.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>798066a22f54e6da5eb8d151d4ffb4f3c1540a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-kded-module-18.08.1.tar.xz">ktp-kded-module-18.08.1</a></td>
   <td align="right">92kB</td>
   <td><tt>bf83b9c5e74bd2da1ae77a9485eade9ba73df122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-send-file-18.08.1.tar.xz">ktp-send-file-18.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>37c5e2759ac2b82a3d4c424cd6155332fd4524d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktp-text-ui-18.08.1.tar.xz">ktp-text-ui-18.08.1</a></td>
   <td align="right">459kB</td>
   <td><tt>cbf63e1c33108ce1d0ec54b9c4ea4f0a5daf7ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/ktuberling-18.08.1.tar.xz">ktuberling-18.08.1</a></td>
   <td align="right">31MB</td>
   <td><tt>dfe4c03d8d2ef064135de7b7ae600ab0178141d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kturtle-18.08.1.tar.xz">kturtle-18.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>45168869465caff941b8389900016f292d96e3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kubrick-18.08.1.tar.xz">kubrick-18.08.1</a></td>
   <td align="right">301kB</td>
   <td><tt>8ef73f7f384f1086bef6a03e1f099ee3cbf56b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kwalletmanager-18.08.1.tar.xz">kwalletmanager-18.08.1</a></td>
   <td align="right">768kB</td>
   <td><tt>d595d443c158bf37e6e4c1f7a793e43586a72d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kwave-18.08.1.tar.xz">kwave-18.08.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>64f4213192cf7451174e1ed61ea6ddf8d64c7fdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/kwordquiz-18.08.1.tar.xz">kwordquiz-18.08.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>b35c8d25ea9146f903f3778d9adfde4d3a43d228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libgravatar-18.08.1.tar.xz">libgravatar-18.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>846a0a209562849497ae2b71dc56364bc630ebe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkcddb-18.08.1.tar.xz">libkcddb-18.08.1</a></td>
   <td align="right">417kB</td>
   <td><tt>46e4fafefa20b319814b2054e28818adcfdb9077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkcompactdisc-18.08.1.tar.xz">libkcompactdisc-18.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>aa3b91b0d348918a592c3d06c20612c221ef4320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkdcraw-18.08.1.tar.xz">libkdcraw-18.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>63bf81ca63e5c009c066a6d35142011f832cd963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkdegames-18.08.1.tar.xz">libkdegames-18.08.1</a></td>
   <td align="right">5.6MB</td>
   <td><tt>e7108454716117e9cd4e0349cb34c185437106a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkdepim-18.08.1.tar.xz">libkdepim-18.08.1</a></td>
   <td align="right">328kB</td>
   <td><tt>f9242ef62c8f49aed0938be7b6f0605393c31652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkeduvocdocument-18.08.1.tar.xz">libkeduvocdocument-18.08.1</a></td>
   <td align="right">201kB</td>
   <td><tt>6ff7c10732a85c761f6c652c5cef54054f1e0a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkexiv2-18.08.1.tar.xz">libkexiv2-18.08.1</a></td>
   <td align="right">62kB</td>
   <td><tt>23211860294c2c31ec3fb737560bddf2df1a101c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkgapi-18.08.1.tar.xz">libkgapi-18.08.1</a></td>
   <td align="right">210kB</td>
   <td><tt>a41da15eee302f569f79e5eb3ac925ae8a4c79a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkgeomap-18.08.1.tar.xz">libkgeomap-18.08.1</a></td>
   <td align="right">147kB</td>
   <td><tt>739fe88cc66b2804211df324307754ab806668a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkipi-18.08.1.tar.xz">libkipi-18.08.1</a></td>
   <td align="right">101kB</td>
   <td><tt>16f08037c62c7a6a55c65e17a01adfd329b30f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkleo-18.08.1.tar.xz">libkleo-18.08.1</a></td>
   <td align="right">328kB</td>
   <td><tt>5a908b6858f1a0585c24521119d048994712f085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkmahjongg-18.08.1.tar.xz">libkmahjongg-18.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>77f20160cd9049360dd4cb4642c810ee05601932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libkomparediff2-18.08.1.tar.xz">libkomparediff2-18.08.1</a></td>
   <td align="right">169kB</td>
   <td><tt>442f8a7feaef960bc0d280aeec6ebcbcc441b5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libksane-18.08.1.tar.xz">libksane-18.08.1</a></td>
   <td align="right">134kB</td>
   <td><tt>61db1e14d84531bc380f88e68d843348c8b51a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/libksieve-18.08.1.tar.xz">libksieve-18.08.1</a></td>
   <td align="right">537kB</td>
   <td><tt>f249ff7c707e20b45fe7ed182eeea32995c17b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/lokalize-18.08.1.tar.xz">lokalize-18.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d94299b0841ac855a0b187f56f9472b3891673d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/lskat-18.08.1.tar.xz">lskat-18.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d6b3dfe59ef22d9daf0b0a3cc39fdf623d27839a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/mailcommon-18.08.1.tar.xz">mailcommon-18.08.1</a></td>
   <td align="right">675kB</td>
   <td><tt>efb2ec04958321697183bfcdece7e1ad3fb576a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/mailimporter-18.08.1.tar.xz">mailimporter-18.08.1</a></td>
   <td align="right">528kB</td>
   <td><tt>e8fbd6aeb9742c87c80528200e053adb16a5ae1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/marble-18.08.1.tar.xz">marble-18.08.1</a></td>
   <td align="right">49MB</td>
   <td><tt>574a530576bd4e358166d6bd0519c7e25ca18856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/mbox-importer-18.08.1.tar.xz">mbox-importer-18.08.1</a></td>
   <td align="right">32kB</td>
   <td><tt>42e4547fd137b897309dba188c6eb8a767a4b050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/messagelib-18.08.1.tar.xz">messagelib-18.08.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>ea5b5dad89e6a4558cb95bfdc847aed1481e4a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/minuet-18.08.1.tar.xz">minuet-18.08.1</a></td>
   <td align="right">26MB</td>
   <td><tt>812a01cb60644635c3b453b81a01a1dcf299e594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/okular-18.08.1.tar.xz">okular-18.08.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>22069fafc42b2439a4d2d32aeeff2567a96ad580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/palapeli-18.08.1.tar.xz">palapeli-18.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>92fd74ecf1c2e79d241d900c141750944d055ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/parley-18.08.1.tar.xz">parley-18.08.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>b0300422e517837221b3486574f2b4b41ed959e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/picmi-18.08.1.tar.xz">picmi-18.08.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>375ae13248a2fdbab70c75ed27f1a0eb958b4946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/pimcommon-18.08.1.tar.xz">pimcommon-18.08.1</a></td>
   <td align="right">286kB</td>
   <td><tt>e5c73f53f065ea79cbdc669ca90cd211898736f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/pim-data-exporter-18.08.1.tar.xz">pim-data-exporter-18.08.1</a></td>
   <td align="right">262kB</td>
   <td><tt>13abf3c6b7ba56586099fb4f4c73f38c88f2f660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/pim-sieve-editor-18.08.1.tar.xz">pim-sieve-editor-18.08.1</a></td>
   <td align="right">437kB</td>
   <td><tt>01e24979fcdbee5b41e90a7af22e7afe98597785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/poxml-18.08.1.tar.xz">poxml-18.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b4c631080c2de499381554cb4e49e69a8103c703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/print-manager-18.08.1.tar.xz">print-manager-18.08.1</a></td>
   <td align="right">233kB</td>
   <td><tt>8522cd77bd48f9a5e7e7a7cbe0850240e6d87530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/rocs-18.08.1.tar.xz">rocs-18.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7ab13a53bc768726815f7873b8fe0af66403286c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/signon-kwallet-extension-18.08.1.tar.xz">signon-kwallet-extension-18.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>4bcc51c064c41449862a226dcfb07bcd9478759c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/spectacle-18.08.1.tar.xz">spectacle-18.08.1</a></td>
   <td align="right">1023kB</td>
   <td><tt>c1cd87d4d3b3e1c5d20cf271f9254595f9750711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/step-18.08.1.tar.xz">step-18.08.1</a></td>
   <td align="right">840kB</td>
   <td><tt>705f1d42407c13a2b84b5694d196d5764b0f2ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/svgpart-18.08.1.tar.xz">svgpart-18.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>3f510b3146ea26061a60d66e2d224c436bf7edd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/sweeper-18.08.1.tar.xz">sweeper-18.08.1</a></td>
   <td align="right">359kB</td>
   <td><tt>51cf628ffbabd1aa5aedd9b85a4b421660da80cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/syndication-18.08.1.tar.xz">syndication-18.08.1</a></td>
   <td align="right">155kB</td>
   <td><tt>5307f4fcaf6c50759ee0f6343238c6fdae1de610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/umbrello-18.08.1.tar.xz">umbrello-18.08.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>24ca33a60f8f412046a2b0b512f0a6f68c000683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.1/src/zeroconf-ioslave-18.08.1.tar.xz">zeroconf-ioslave-18.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>1d71b46da72b6fc66fc08a2be3547084d55581c5</tt></td>
</tr>

</table>
