<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-18.04.2.tar.xz">akonadi-18.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5d837dab7c7894546a1ae606cdcaa43a46ebe96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-calendar-18.04.2.tar.xz">akonadi-calendar-18.04.2</a></td>
   <td align="right">328kB</td>
   <td><tt>ba2efcd5ab2b8e5ca7226d8f16484edbc087a126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-calendar-tools-18.04.2.tar.xz">akonadi-calendar-tools-18.04.2</a></td>
   <td align="right">216kB</td>
   <td><tt>e06325e2d09d307a6f9f9be01f257d7ad1bfa5fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadiconsole-18.04.2.tar.xz">akonadiconsole-18.04.2</a></td>
   <td align="right">181kB</td>
   <td><tt>b5133ac836ff6bc030d93a06c3a89c767ee57226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-contacts-18.04.2.tar.xz">akonadi-contacts-18.04.2</a></td>
   <td align="right">383kB</td>
   <td><tt>d41b95f2f0438dc24c4f97a058d35fa76eed41b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-import-wizard-18.04.2.tar.xz">akonadi-import-wizard-18.04.2</a></td>
   <td align="right">426kB</td>
   <td><tt>61edc39debc20f45b68f98380954aaf8d38999d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-mime-18.04.2.tar.xz">akonadi-mime-18.04.2</a></td>
   <td align="right">134kB</td>
   <td><tt>2598db61246522259495692f4a99129bd7bcae36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-notes-18.04.2.tar.xz">akonadi-notes-18.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>622336652704299b4b31d83385643b25cc30c171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akonadi-search-18.04.2.tar.xz">akonadi-search-18.04.2</a></td>
   <td align="right">80kB</td>
   <td><tt>e77e61f8284c4951a1312e7f07bb7acbf918ed8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/akregator-18.04.2.tar.xz">akregator-18.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>895587d59303f1ebf217b01aef932072d3214a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/analitza-18.04.2.tar.xz">analitza-18.04.2</a></td>
   <td align="right">323kB</td>
   <td><tt>27d5ac5495ad2b0bff8a2d11cc520598afc1191a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ark-18.04.2.tar.xz">ark-18.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fbcfb491c5f3d94f7fa2f8cecef225d93382e502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/artikulate-18.04.2.tar.xz">artikulate-18.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>50f60d88a95a59def1645236581e7f1e29e358e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/audiocd-kio-18.04.2.tar.xz">audiocd-kio-18.04.2</a></td>
   <td align="right">243kB</td>
   <td><tt>1dcddbc89b16fb81c573e9c6358d449c3319c86d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/baloo-widgets-18.04.2.tar.xz">baloo-widgets-18.04.2</a></td>
   <td align="right">239kB</td>
   <td><tt>ae9de7a9556a8e8c3941b828100b3749fd0dfc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/blinken-18.04.2.tar.xz">blinken-18.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>739b53c0e2a615b4447a773b077091af4d7e11e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/bomber-18.04.2.tar.xz">bomber-18.04.2</a></td>
   <td align="right">737kB</td>
   <td><tt>bcf089f1bc04fe0db064e45fc2757a67caa163f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/bovo-18.04.2.tar.xz">bovo-18.04.2</a></td>
   <td align="right">182kB</td>
   <td><tt>f512f9bf53dd6f311bc6f549cc74bd4274ebfdf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/calendarsupport-18.04.2.tar.xz">calendarsupport-18.04.2</a></td>
   <td align="right">631kB</td>
   <td><tt>7d9764d7524e4bf90731a2da7d698aaf95746e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/cantor-18.04.2.tar.xz">cantor-18.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>74f28bb7e7654dccda84b6083a776cb8678af439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/cervisia-18.04.2.tar.xz">cervisia-18.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9c0962b18b930ebc8dee99ec8600219cc657493f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/dolphin-18.04.2.tar.xz">dolphin-18.04.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>74ddd5c601b41f8fef582e9efcdba956130d747a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/dolphin-plugins-18.04.2.tar.xz">dolphin-plugins-18.04.2</a></td>
   <td align="right">185kB</td>
   <td><tt>ca5fee5ff28f655e8d68d51e712b35a81da28a44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/dragon-18.04.2.tar.xz">dragon-18.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>de297dae705bf4cbe67ca60bf3762054c0ff0853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/eventviews-18.04.2.tar.xz">eventviews-18.04.2</a></td>
   <td align="right">431kB</td>
   <td><tt>54b25f6a31a598dae2c7be15ea6be54604d3db38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ffmpegthumbs-18.04.2.tar.xz">ffmpegthumbs-18.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>95c0b610a11848705cfb72c6d13bcfa756b45b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/filelight-18.04.2.tar.xz">filelight-18.04.2</a></td>
   <td align="right">643kB</td>
   <td><tt>22f97c748dfe43c06fe662fd5921e62a76b4325b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/granatier-18.04.2.tar.xz">granatier-18.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3961c574cb61db11a69ea08c9bcd50cf0b31813f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/grantlee-editor-18.04.2.tar.xz">grantlee-editor-18.04.2</a></td>
   <td align="right">108kB</td>
   <td><tt>ea48746b50bb2f1995f94d7ee5216cc02b121d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/grantleetheme-18.04.2.tar.xz">grantleetheme-18.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>7e6fc9bdfa3580ab1b6138ddf29dcd96104ae911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/gwenview-18.04.2.tar.xz">gwenview-18.04.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>8dfc4b09d313b88370cbf3cd80936e7e104f0a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/incidenceeditor-18.04.2.tar.xz">incidenceeditor-18.04.2</a></td>
   <td align="right">514kB</td>
   <td><tt>53c3f3895b1c4fcbe1ebf27857794d04dd9176a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/juk-18.04.2.tar.xz">juk-18.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2be1896a584e7642c15e817529c25b75073e64bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/k3b-18.04.2.tar.xz">k3b-18.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>172b25508af1ab8a30f0de7e3703944a1c5c0b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kaccounts-integration-18.04.2.tar.xz">kaccounts-integration-18.04.2</a></td>
   <td align="right">69kB</td>
   <td><tt>e48986d0c8461b29fe37843f13580e75ea880943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kaccounts-providers-18.04.2.tar.xz">kaccounts-providers-18.04.2</a></td>
   <td align="right">31kB</td>
   <td><tt>760f723c161230970d988f5e028321c295a2928c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kaddressbook-18.04.2.tar.xz">kaddressbook-18.04.2</a></td>
   <td align="right">535kB</td>
   <td><tt>4f84c8003737e3b3385ac7cc354862b0cc299efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kajongg-18.04.2.tar.xz">kajongg-18.04.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>79f91e702503172edaa844964d227cb4fdce4c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kalarm-18.04.2.tar.xz">kalarm-18.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>602dde21a6f7f7ba600455795a2be0f68f26f0a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kalarmcal-18.04.2.tar.xz">kalarmcal-18.04.2</a></td>
   <td align="right">535kB</td>
   <td><tt>aa189195240a05d011ff0cb9fb6ecb6c749507a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kalgebra-18.04.2.tar.xz">kalgebra-18.04.2</a></td>
   <td align="right">692kB</td>
   <td><tt>4618b16c62507ad7ee1bc84c21de6adb34926368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kalzium-18.04.2.tar.xz">kalzium-18.04.2</a></td>
   <td align="right">23MB</td>
   <td><tt>6b2ba150c343cb12c0aefc0a465f2b3ca5629b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kamera-18.04.2.tar.xz">kamera-18.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>2e5daa8ee7e9a7e4c7ac5109b3b2e568aea145b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kamoso-18.04.2.tar.xz">kamoso-18.04.2</a></td>
   <td align="right">180kB</td>
   <td><tt>120338c0ef57926fa1c264f7e49c79d21f2efd70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kanagram-18.04.2.tar.xz">kanagram-18.04.2</a></td>
   <td align="right">7.1MB</td>
   <td><tt>968c1bc3b367b28e4650ebc0be4dd6aac7cfa71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kapman-18.04.2.tar.xz">kapman-18.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2cf8ce6b05abb0603e73be4cb6f9bb785d3042a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kapptemplate-18.04.2.tar.xz">kapptemplate-18.04.2</a></td>
   <td align="right">344kB</td>
   <td><tt>7fb77dafb2467d8c8be66f26c670dafdc8ef92e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kate-18.04.2.tar.xz">kate-18.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>85049ecca508ec53f560e8a698b2eedccf27abb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/katomic-18.04.2.tar.xz">katomic-18.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2d18ceecf8ff8f4587f8b4cf0fabfca79709755d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kbackup-18.04.2.tar.xz">kbackup-18.04.2</a></td>
   <td align="right">333kB</td>
   <td><tt>73df18e13c83844a869a27ecdb8a08f98ab839b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kblackbox-18.04.2.tar.xz">kblackbox-18.04.2</a></td>
   <td align="right">395kB</td>
   <td><tt>e6d5cf7b663c4fd91c4ac69f24818a70497b3e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kblocks-18.04.2.tar.xz">kblocks-18.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>030fbcbe9ad5ad87bccad2416571c2e738dfde9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kblog-18.04.2.tar.xz">kblog-18.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>729255468dacf41e229726b14939a65e9e5d3c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kbounce-18.04.2.tar.xz">kbounce-18.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0ce212287ad608b28e30c60860c1d3a3e1863437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kbreakout-18.04.2.tar.xz">kbreakout-18.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>0d889f002962fd117b54564ae428b9ddd41e543b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kbruch-18.04.2.tar.xz">kbruch-18.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>8bebcec6766ddba57a25cabd78ae2b1dddfc24e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcachegrind-18.04.2.tar.xz">kcachegrind-18.04.2</a></td>
   <td align="right">793kB</td>
   <td><tt>315fbd5eca05ee2dc11c7305a291fce36de71a2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcalc-18.04.2.tar.xz">kcalc-18.04.2</a></td>
   <td align="right">353kB</td>
   <td><tt>0e38c9f9a86f6f801ec482e43ba2332f8b013910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcalcore-18.04.2.tar.xz">kcalcore-18.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>da0185acb6becd600bbf55be4b239b575fa38752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcalutils-18.04.2.tar.xz">kcalutils-18.04.2</a></td>
   <td align="right">318kB</td>
   <td><tt>077d6ffdb1a44dcf5b3b2e776beac96c827aba93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcharselect-18.04.2.tar.xz">kcharselect-18.04.2</a></td>
   <td align="right">343kB</td>
   <td><tt>139e62aa7fbcacbafa1983b8004cab13c8e64ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcolorchooser-18.04.2.tar.xz">kcolorchooser-18.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>6c1bf105671ca5a2138f3762a4bf75f527848599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcontacts-18.04.2.tar.xz">kcontacts-18.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>0c135699e611ac6a66e2096eb5411ce94e634324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kcron-18.04.2.tar.xz">kcron-18.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e7173c4a8450ee94c6767856e326b5b788803dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdav-18.04.2.tar.xz">kdav-18.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>cbfb7aa770d0790f07b51f70f4dcae9f8f08ce19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdebugsettings-18.04.2.tar.xz">kdebugsettings-18.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>269a3a8d6df4682970618db2fb8b057c57df4e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kde-dev-scripts-18.04.2.tar.xz">kde-dev-scripts-18.04.2</a></td>
   <td align="right">368kB</td>
   <td><tt>7b92603d96ea348f8bb0f96a2c537db596b1bbf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kde-dev-utils-18.04.2.tar.xz">kde-dev-utils-18.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>74e4cd7eabdef4d1b9c8951bbbabbe0b7e9834ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdeedu-data-18.04.2.tar.xz">kdeedu-data-18.04.2</a></td>
   <td align="right">320kB</td>
   <td><tt>8ef4e1e71dff911d60d254beeed0b80918782554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdegraphics-mobipocket-18.04.2.tar.xz">kdegraphics-mobipocket-18.04.2</a></td>
   <td align="right">13kB</td>
   <td><tt>8129f490dc8416044a819c183956c49e61efc4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdegraphics-thumbnailers-18.04.2.tar.xz">kdegraphics-thumbnailers-18.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>4322d5d9f6f019710a34569bb74ca0b93353d688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdenetwork-filesharing-18.04.2.tar.xz">kdenetwork-filesharing-18.04.2</a></td>
   <td align="right">316kB</td>
   <td><tt>057ad60eeb9e2768d2eb57deaf2c5d70b80570b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdenlive-18.04.2.tar.xz">kdenlive-18.04.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>2782c490eae89510d37664d0562d4ae6941c53b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdepim-addons-18.04.2.tar.xz">kdepim-addons-18.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>76844c975b2fe3a575730ef72bbd2e8acd0e3135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdepim-apps-libs-18.04.2.tar.xz">kdepim-apps-libs-18.04.2</a></td>
   <td align="right">71kB</td>
   <td><tt>f4f17f01060f91a1224b6633f03708d232cf8781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdepim-runtime-18.04.2.tar.xz">kdepim-runtime-18.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>312f6ecd187b36c957bab9c53e08fafa7616757d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdesdk-kioslaves-18.04.2.tar.xz">kdesdk-kioslaves-18.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>c5d22a021df466b1b87d39d15d8a534acc8c5249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdesdk-thumbnailers-18.04.2.tar.xz">kdesdk-thumbnailers-18.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>325327c9efd2a4e5c08d42cbb577a2730cbd87f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdf-18.04.2.tar.xz">kdf-18.04.2</a></td>
   <td align="right">519kB</td>
   <td><tt>8ffef3e6c151a1acba89f8ab9c85fcebb993bb93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdialog-18.04.2.tar.xz">kdialog-18.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>a7e0ba9455bf601c992261207c244693294a0b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kdiamond-18.04.2.tar.xz">kdiamond-18.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ebd33be499e8fdb6bf60ceb1bfe1713c8bf284b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/keditbookmarks-18.04.2.tar.xz">keditbookmarks-18.04.2</a></td>
   <td align="right">179kB</td>
   <td><tt>ad0a6a8b184312687f271bc62ea4e48ec7374316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kfind-18.04.2.tar.xz">kfind-18.04.2</a></td>
   <td align="right">205kB</td>
   <td><tt>a20001bc82fdabffaaea38c0c73d6f25844b7978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kfloppy-18.04.2.tar.xz">kfloppy-18.04.2</a></td>
   <td align="right">195kB</td>
   <td><tt>e0dbcb998ec292a5bb317854e59ca61d8f612463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kfourinline-18.04.2.tar.xz">kfourinline-18.04.2</a></td>
   <td align="right">560kB</td>
   <td><tt>34f601b193dff54062f3369c3727d97380ee1399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kgeography-18.04.2.tar.xz">kgeography-18.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>e1e1969cbd7e94e62da3b8b6881ba1735e2befc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kget-18.04.2.tar.xz">kget-18.04.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>31ded9c3b96ba18005a7f45bf6e67f3f2e47354d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kgoldrunner-18.04.2.tar.xz">kgoldrunner-18.04.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>31c0b5074331db182c25fd913674eb81515a9876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kgpg-18.04.2.tar.xz">kgpg-18.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1dfc034410ba7abf6ced90627f094e576607c55e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/khangman-18.04.2.tar.xz">khangman-18.04.2</a></td>
   <td align="right">6.1MB</td>
   <td><tt>0c73c1b820042d8c9607f2731b8c87ff7aa2b4e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/khelpcenter-18.04.2.tar.xz">khelpcenter-18.04.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>04053172808f4813c8c40e71e4a3db59b4514d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kidentitymanagement-18.04.2.tar.xz">kidentitymanagement-18.04.2</a></td>
   <td align="right">144kB</td>
   <td><tt>e95900e5c27f56993c36605cdcfeff290a19cb5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kig-18.04.2.tar.xz">kig-18.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>633e949434c8b8ed5c57ec487cc272ac3df21826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kigo-18.04.2.tar.xz">kigo-18.04.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>d403892a47057c93a1b8a619c6a7784e710b2ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/killbots-18.04.2.tar.xz">killbots-18.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a834f82975169d11c9bb4427d56af7c062049004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kimagemapeditor-18.04.2.tar.xz">kimagemapeditor-18.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>210c3c7ffd65f480ad9131fc57595e454f70602e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kimap-18.04.2.tar.xz">kimap-18.04.2</a></td>
   <td align="right">116kB</td>
   <td><tt>fd48c9e2a5d4927463856173453a88bfd1ca93fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kio-extras-18.04.2.tar.xz">kio-extras-18.04.2</a></td>
   <td align="right">537kB</td>
   <td><tt>17f50c98e507fb1e30c580b2ba846d8b4f1ccaf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kiriki-18.04.2.tar.xz">kiriki-18.04.2</a></td>
   <td align="right">319kB</td>
   <td><tt>3b0c55141b18fb2f3e9b7dbc281f1799dda3c25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kiten-18.04.2.tar.xz">kiten-18.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>291be8da9735b2fc8438d7e1531b354522997866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kjumpingcube-18.04.2.tar.xz">kjumpingcube-18.04.2</a></td>
   <td align="right">287kB</td>
   <td><tt>738ef7dfd359a7b29fae4295b91e90dfbc86169f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kldap-18.04.2.tar.xz">kldap-18.04.2</a></td>
   <td align="right">150kB</td>
   <td><tt>0c4d577c7eeb26fd404f47b830c97ecccf60ff8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kleopatra-18.04.2.tar.xz">kleopatra-18.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8b0e2d5e0c6528c9928dd0cfa9d0f1faf61e0b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/klettres-18.04.2.tar.xz">klettres-18.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>b17475031cf73b9af09aa9ef4249b8d3b1465588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/klickety-18.04.2.tar.xz">klickety-18.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b133038cb16d108e9c658de262b59ffc581510f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/klines-18.04.2.tar.xz">klines-18.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>77dad614d0f5644cccbb4b3f196b8894e27ca68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmag-18.04.2.tar.xz">kmag-18.04.2</a></td>
   <td align="right">575kB</td>
   <td><tt>70a93fad3e2c57b0e62658047c486d43fde1ed45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmahjongg-18.04.2.tar.xz">kmahjongg-18.04.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>9101a52c2467b501e08d04300c04e0b45093fab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmail-18.04.2.tar.xz">kmail-18.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>3ae589978bf652deb005ce389fae3fc0c0942d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmail-account-wizard-18.04.2.tar.xz">kmail-account-wizard-18.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>f1cd127a79e5288bbe1cde911417042d7910b232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmailtransport-18.04.2.tar.xz">kmailtransport-18.04.2</a></td>
   <td align="right">161kB</td>
   <td><tt>b0afca32310314adcd48d2a59ef3fedc513e1455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmbox-18.04.2.tar.xz">kmbox-18.04.2</a></td>
   <td align="right">23kB</td>
   <td><tt>2eec8880aa7849edf23bb013be821eaa96b8d9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmime-18.04.2.tar.xz">kmime-18.04.2</a></td>
   <td align="right">142kB</td>
   <td><tt>4ddd0b2e6f2b8e44aaee75503f73e7ba317de00f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmines-18.04.2.tar.xz">kmines-18.04.2</a></td>
   <td align="right">861kB</td>
   <td><tt>3a6fe71d78b9f0bbd03c3a55b373ed7901e2cb12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmix-18.04.2.tar.xz">kmix-18.04.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>682f5ee743517eba418e9ce95d799983761c763e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmousetool-18.04.2.tar.xz">kmousetool-18.04.2</a></td>
   <td align="right">110kB</td>
   <td><tt>d2d8b79708ee156a7512662d31ac3bfe07901246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmouth-18.04.2.tar.xz">kmouth-18.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1da8992b48ac6e6c364432a2a7aee4a5d8ccd9d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kmplot-18.04.2.tar.xz">kmplot-18.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>9ecdb87ea6027ac6bafcf7d0e8226054d636dddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/knavalbattle-18.04.2.tar.xz">knavalbattle-18.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7fe882804be8929179a539b8a52960c27c6f02ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/knetwalk-18.04.2.tar.xz">knetwalk-18.04.2</a></td>
   <td align="right">958kB</td>
   <td><tt>04a207bd81f7dd1705e106e480d5d779b1943522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/knotes-18.04.2.tar.xz">knotes-18.04.2</a></td>
   <td align="right">328kB</td>
   <td><tt>805ef4fa0f5d8746dbe0a7556940bfe98d7b378c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kolf-18.04.2.tar.xz">kolf-18.04.2</a></td>
   <td align="right">903kB</td>
   <td><tt>63230af4174d618c845f2a4ef59bb69532081def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kollision-18.04.2.tar.xz">kollision-18.04.2</a></td>
   <td align="right">266kB</td>
   <td><tt>50ea0f56c7fd044c47b7581262a1090fb575f87b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kolourpaint-18.04.2.tar.xz">kolourpaint-18.04.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>614f68b4ffa57cebb29f39feff2615c5be7e77fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kompare-18.04.2.tar.xz">kompare-18.04.2</a></td>
   <td align="right">695kB</td>
   <td><tt>4737d6431ae1883dcc4ef40968e9ea7a4a6df2fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/konqueror-18.04.2.tar.xz">konqueror-18.04.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>44f4274201423ec10879eedb110557894d544bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/konquest-18.04.2.tar.xz">konquest-18.04.2</a></td>
   <td align="right">643kB</td>
   <td><tt>7a69207c23925ab76380379fe8c5f034104808f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/konsole-18.04.2.tar.xz">konsole-18.04.2</a></td>
   <td align="right">1019kB</td>
   <td><tt>6cec626f7a209b42d846292ef631621bf5449ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kontact-18.04.2.tar.xz">kontact-18.04.2</a></td>
   <td align="right">842kB</td>
   <td><tt>a08dd52d31103af2ec20003c6ded310ccc87a776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kontactinterface-18.04.2.tar.xz">kontactinterface-18.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>7a9406777b2a397beb59d29ad508ad85a717370c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kopete-18.04.2.tar.xz">kopete-18.04.2</a></td>
   <td align="right">9.1MB</td>
   <td><tt>1822b72f366787396dd46e5f2453e350de6874e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/korganizer-18.04.2.tar.xz">korganizer-18.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f94b9dc4893f421d47442416aa63fde4543a4114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kpat-18.04.2.tar.xz">kpat-18.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>71fbc81451977ef09a3cad9fe5bfc8390ef019a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kpimtextedit-18.04.2.tar.xz">kpimtextedit-18.04.2</a></td>
   <td align="right">139kB</td>
   <td><tt>2876c7aff335f1eb77f3b954c3d0749914245d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kqtquickcharts-18.04.2.tar.xz">kqtquickcharts-18.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>849a33a62d10e539633c22f10842bc9b2bd4196e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/krdc-18.04.2.tar.xz">krdc-18.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>479ee4c7e7a02414f56af8985d5802112ffea197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kreversi-18.04.2.tar.xz">kreversi-18.04.2</a></td>
   <td align="right">892kB</td>
   <td><tt>6064a16bbc84665aa637f89a4df33853d9fed11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/krfb-18.04.2.tar.xz">krfb-18.04.2</a></td>
   <td align="right">972kB</td>
   <td><tt>d946436d0c2cf3d9e97af298d856c5ed1c3709fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kross-interpreters-18.04.2.tar.xz">kross-interpreters-18.04.2</a></td>
   <td align="right">141kB</td>
   <td><tt>cbd7dfbe377b2a6392a025662ddbf40cb8cd56ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kruler-18.04.2.tar.xz">kruler-18.04.2</a></td>
   <td align="right">289kB</td>
   <td><tt>2869c770b80de926e211aa1556df196bfb166098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kshisen-18.04.2.tar.xz">kshisen-18.04.2</a></td>
   <td align="right">694kB</td>
   <td><tt>7c711392991f933666fa60e990e7131bba4ec006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksirk-18.04.2.tar.xz">ksirk-18.04.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>3b84b5c8f96da2bf090d7a0c1edcb83138d7ca3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksmtp-18.04.2.tar.xz">ksmtp-18.04.2</a></td>
   <td align="right">37kB</td>
   <td><tt>76794e8caaa838b48dfe3b00677edf57a4413a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksnakeduel-18.04.2.tar.xz">ksnakeduel-18.04.2</a></td>
   <td align="right">591kB</td>
   <td><tt>591911ecbda6fb2a620a4aae8f115490b11d7368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kspaceduel-18.04.2.tar.xz">kspaceduel-18.04.2</a></td>
   <td align="right">596kB</td>
   <td><tt>2d42f31f3ecc8f22d4c0b7f4b38dc3873a2f6474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksquares-18.04.2.tar.xz">ksquares-18.04.2</a></td>
   <td align="right">211kB</td>
   <td><tt>d059d8083b30e6c9a686bc24d7c9819b95ae39cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksudoku-18.04.2.tar.xz">ksudoku-18.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>23317bfc004fe73120e79898740777f369dc10ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ksystemlog-18.04.2.tar.xz">ksystemlog-18.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>38fca675a54cac6e80b62631a2d096a870fd9336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kteatime-18.04.2.tar.xz">kteatime-18.04.2</a></td>
   <td align="right">291kB</td>
   <td><tt>fc620eb7d51ea90bdf8ea91f9d2d6950adb33dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktimer-18.04.2.tar.xz">ktimer-18.04.2</a></td>
   <td align="right">445kB</td>
   <td><tt>727bf5ca7e2fe3bfdec2c82601e36a1ca1e9577a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktnef-18.04.2.tar.xz">ktnef-18.04.2</a></td>
   <td align="right">293kB</td>
   <td><tt>fcc4d509df9656d05408d0041e43e7723850a72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktouch-18.04.2.tar.xz">ktouch-18.04.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>52b12abf8101f98da53e55ab50bab1ff065320bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-accounts-kcm-18.04.2.tar.xz">ktp-accounts-kcm-18.04.2</a></td>
   <td align="right">257kB</td>
   <td><tt>4ae2a0c12dffd54e38e839daf60245fbbba53fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-approver-18.04.2.tar.xz">ktp-approver-18.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>a7c2693e09d1d54355060d90114a52581f7d6f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-auth-handler-18.04.2.tar.xz">ktp-auth-handler-18.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>0cab71250763e5d42591fbaf2dead5754e995440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-call-ui-18.04.2.tar.xz">ktp-call-ui-18.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>21f7e6336147cfda951b041f8c9846a83317530f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-common-internals-18.04.2.tar.xz">ktp-common-internals-18.04.2</a></td>
   <td align="right">432kB</td>
   <td><tt>acfd53df69173e37209719190b3f54009292674a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-contact-list-18.04.2.tar.xz">ktp-contact-list-18.04.2</a></td>
   <td align="right">143kB</td>
   <td><tt>671d7e8ccc46c49806f819d2ce13377dd816e9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-contact-runner-18.04.2.tar.xz">ktp-contact-runner-18.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>706640032e632c936effd09f5b28bc896291a610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-desktop-applets-18.04.2.tar.xz">ktp-desktop-applets-18.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>ead2b016b17c84f9050d05addde7ed25614768d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-filetransfer-handler-18.04.2.tar.xz">ktp-filetransfer-handler-18.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>9bf46422513710573372ec46bc75ed2447be564e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-kded-module-18.04.2.tar.xz">ktp-kded-module-18.04.2</a></td>
   <td align="right">91kB</td>
   <td><tt>68eb626b79b5496a6e0dd7a786be080b9fad8183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-send-file-18.04.2.tar.xz">ktp-send-file-18.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>e37e4cd4e4b2cb26453e50a81eeeb415ba09a7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktp-text-ui-18.04.2.tar.xz">ktp-text-ui-18.04.2</a></td>
   <td align="right">458kB</td>
   <td><tt>46b0363814cb87d2a0a400d6402f9856dd59ae7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/ktuberling-18.04.2.tar.xz">ktuberling-18.04.2</a></td>
   <td align="right">31MB</td>
   <td><tt>168e7ee7bd602ac5d4c56378059fdf8dad706649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kturtle-18.04.2.tar.xz">kturtle-18.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a7e88b85d977909d110bf6ab90e2428eadfbd1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kubrick-18.04.2.tar.xz">kubrick-18.04.2</a></td>
   <td align="right">301kB</td>
   <td><tt>b7572a5e79ab9fdeef901fece0ac7db5f184c97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kwalletmanager-18.04.2.tar.xz">kwalletmanager-18.04.2</a></td>
   <td align="right">761kB</td>
   <td><tt>ff8490204abcbd967839031e39dbd7ba6c1ab6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kwave-18.04.2.tar.xz">kwave-18.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>ea5dca4c62e7e5eaa8589bb96172e5a1f7008650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/kwordquiz-18.04.2.tar.xz">kwordquiz-18.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4766629f325f8ec11bc6eded8f691169082d4e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libgravatar-18.04.2.tar.xz">libgravatar-18.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>5a865bb728750ab7a57d8e8134120ed23efb87d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkcddb-18.04.2.tar.xz">libkcddb-18.04.2</a></td>
   <td align="right">417kB</td>
   <td><tt>34344d6d8fff25cc3d59cafccbd8a4488ca06ac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkcompactdisc-18.04.2.tar.xz">libkcompactdisc-18.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>39e6165acfffab1c0b13f0763e06872c3a9e7872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkdcraw-18.04.2.tar.xz">libkdcraw-18.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>faadd0a3b7ff2ba6bb314511ea6ad166a1ea6334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkdegames-18.04.2.tar.xz">libkdegames-18.04.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>6b3d8fcd0dbb3e9bc5f166cd10e114409d17f271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkdepim-18.04.2.tar.xz">libkdepim-18.04.2</a></td>
   <td align="right">333kB</td>
   <td><tt>55e04cb2f409de8eba542b089def0e82f0705de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkeduvocdocument-18.04.2.tar.xz">libkeduvocdocument-18.04.2</a></td>
   <td align="right">205kB</td>
   <td><tt>4b99724d9a052234d4f9bccd41291d2fd44b3eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkexiv2-18.04.2.tar.xz">libkexiv2-18.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>5659a923d94cd931d2bb6395fb376752b25d7e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkgapi-18.04.2.tar.xz">libkgapi-18.04.2</a></td>
   <td align="right">172kB</td>
   <td><tt>b90a1aab745c562e66fc6e5af45f638c0d8a60e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkgeomap-18.04.2.tar.xz">libkgeomap-18.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>be9a80fbf4c18e509256a41cf2ffaa50f410c860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkipi-18.04.2.tar.xz">libkipi-18.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>a5912c44bd8954988c33476a81b20c1d24482259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkleo-18.04.2.tar.xz">libkleo-18.04.2</a></td>
   <td align="right">311kB</td>
   <td><tt>f46c6d3b84bcc133f1747dc0e4cab73c00611790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkmahjongg-18.04.2.tar.xz">libkmahjongg-18.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c2db42d0167a241e21911ba6adf93c6674fdbeb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libkomparediff2-18.04.2.tar.xz">libkomparediff2-18.04.2</a></td>
   <td align="right">172kB</td>
   <td><tt>e0b34e729247e392562b3a61361be77ba97e53c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libksane-18.04.2.tar.xz">libksane-18.04.2</a></td>
   <td align="right">134kB</td>
   <td><tt>47be2466d52567f9ed65b15a960a555394b3cc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/libksieve-18.04.2.tar.xz">libksieve-18.04.2</a></td>
   <td align="right">537kB</td>
   <td><tt>f72867499cfec3a5842d1316d0a64b3d0e83112a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/lokalize-18.04.2.tar.xz">lokalize-18.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>dbd7084a41c338e7567faa2b602c554b9717a655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/lskat-18.04.2.tar.xz">lskat-18.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>60a8f13a983c5a923abe4f4bed779089919eb5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/mailcommon-18.04.2.tar.xz">mailcommon-18.04.2</a></td>
   <td align="right">675kB</td>
   <td><tt>46b59fc0c9d292df0fca5fb31cf9ccf996a59b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/mailimporter-18.04.2.tar.xz">mailimporter-18.04.2</a></td>
   <td align="right">528kB</td>
   <td><tt>0507e481e46e0941c50e33d356889a46fc0e1984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/marble-18.04.2.tar.xz">marble-18.04.2</a></td>
   <td align="right">50MB</td>
   <td><tt>90f8c880b8ac7f4fcd9da6307e56dab53517a258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/mbox-importer-18.04.2.tar.xz">mbox-importer-18.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>ecf00430bfc56446e1a7399f12a32fda3378b169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/messagelib-18.04.2.tar.xz">messagelib-18.04.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>0cee317d9bedf5971c5afa8a346c0824309c0976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/minuet-18.04.2.tar.xz">minuet-18.04.2</a></td>
   <td align="right">26MB</td>
   <td><tt>e630250af63de093da8a434e4c9e0cdb42330b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/okular-18.04.2.tar.xz">okular-18.04.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c15a9884fee148a28b7d2d2e6430302a71244a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/palapeli-18.04.2.tar.xz">palapeli-18.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7ad53e8e883b05a98cd21eff690d5c6e61ac083c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/parley-18.04.2.tar.xz">parley-18.04.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>b8ca0f3845e3d95ee1fa6e5d7035055ce68ca956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/picmi-18.04.2.tar.xz">picmi-18.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>aabfa6644e055f9981658cd42c3270a8aeef22fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/pimcommon-18.04.2.tar.xz">pimcommon-18.04.2</a></td>
   <td align="right">288kB</td>
   <td><tt>f28a66d177fb228af108b040fc0d0b1e1d674e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/pim-data-exporter-18.04.2.tar.xz">pim-data-exporter-18.04.2</a></td>
   <td align="right">263kB</td>
   <td><tt>86bf5ce6fc82e5bfa1fd3f5941e1814548de8069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/pim-sieve-editor-18.04.2.tar.xz">pim-sieve-editor-18.04.2</a></td>
   <td align="right">436kB</td>
   <td><tt>0f3b6b254cae68362728c4d61b535239a7c8783e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/poxml-18.04.2.tar.xz">poxml-18.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>bd4fa0065915be7b1d61268caaad36f535c6b0e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/print-manager-18.04.2.tar.xz">print-manager-18.04.2</a></td>
   <td align="right">233kB</td>
   <td><tt>8180fb60568cc293ec57ee266545c3d5dc69792b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/rocs-18.04.2.tar.xz">rocs-18.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>be2cf0654350f146d2d98479dab60ea6b49a6f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/signon-kwallet-extension-18.04.2.tar.xz">signon-kwallet-extension-18.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>5dac9d0da758fddb7af9988a315fd370d14e16b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/spectacle-18.04.2.tar.xz">spectacle-18.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c4400f9e5cfba873506b1a1adc7e5b55c89de1af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/step-18.04.2.tar.xz">step-18.04.2</a></td>
   <td align="right">842kB</td>
   <td><tt>bf990514f64b848f648b53932b4c501e4bfbe58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/svgpart-18.04.2.tar.xz">svgpart-18.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>0a563702c28780c27fc1000ab80bac75088aafe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/sweeper-18.04.2.tar.xz">sweeper-18.04.2</a></td>
   <td align="right">360kB</td>
   <td><tt>bf1e309f88e1eb2df4bb4816a711de3b56bc48d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/syndication-18.04.2.tar.xz">syndication-18.04.2</a></td>
   <td align="right">156kB</td>
   <td><tt>722a430f584d23b66455ec7ee128ff49c905602d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/umbrello-18.04.2.tar.xz">umbrello-18.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>122bf0038eacb07e74353ddd71046ab2eaca40f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.04.2/src/zeroconf-ioslave-18.04.2.tar.xz">zeroconf-ioslave-18.04.2</a></td>
   <td align="right">38kB</td>
   <td><tt>3a0f0b02e84702c05f4914f3bfa16ec27abb3386</tt></td>
</tr>

</table>
