<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-20.11.90.tar.xz">akonadi-20.11.90</a></td>
   <td align="right">1555kB</td>
   <td><tt>8899e13779eac884b70aebb8344fbec7abc656ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-calendar-20.11.90.tar.xz">akonadi-calendar-20.11.90</a></td>
   <td align="right">334kB</td>
   <td><tt>cb13bc1a1679163ed9018975da00a5255828f32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-calendar-tools-20.11.90.tar.xz">akonadi-calendar-tools-20.11.90</a></td>
   <td align="right">218kB</td>
   <td><tt>0b3ef62c8e7374ff63044786bf3f4cef657d2253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadiconsole-20.11.90.tar.xz">akonadiconsole-20.11.90</a></td>
   <td align="right">193kB</td>
   <td><tt>8534a781b738f415e411c51cbe1255aa1068a5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-contacts-20.11.90.tar.xz">akonadi-contacts-20.11.90</a></td>
   <td align="right">403kB</td>
   <td><tt>44780489c75fcdc1c89f7c07e9313146351eb267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-import-wizard-20.11.90.tar.xz">akonadi-import-wizard-20.11.90</a></td>
   <td align="right">492kB</td>
   <td><tt>febca760bef3577dcc6e97da06cb313604f2fc2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-mime-20.11.90.tar.xz">akonadi-mime-20.11.90</a></td>
   <td align="right">132kB</td>
   <td><tt>5f079b030a427c9c40f666fc78bc4415ce9fa769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-notes-20.11.90.tar.xz">akonadi-notes-20.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>c0a2310d71db7f6b0b88f19514ff8ba396f303fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akonadi-search-20.11.90.tar.xz">akonadi-search-20.11.90</a></td>
   <td align="right">91kB</td>
   <td><tt>fd50e858b8f92b073fec385f5dd64a0729bdb2e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/akregator-20.11.90.tar.xz">akregator-20.11.90</a></td>
   <td align="right">2151kB</td>
   <td><tt>ddeca68143041765d6374741edbfac5069419fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/analitza-20.11.90.tar.xz">analitza-20.11.90</a></td>
   <td align="right">330kB</td>
   <td><tt>9fcc99d2c82ed353d4c4b5af36517e63558a9b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ark-20.11.90.tar.xz">ark-20.11.90</a></td>
   <td align="right">2652kB</td>
   <td><tt>082185a21f80ee22e25382430e8d23e6ac7ed47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/artikulate-20.11.90.tar.xz">artikulate-20.11.90</a></td>
   <td align="right">1057kB</td>
   <td><tt>41627ee9a4c633d613dfb6d18b33f5cbab47e821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/audiocd-kio-20.11.90.tar.xz">audiocd-kio-20.11.90</a></td>
   <td align="right">488kB</td>
   <td><tt>9de4552959ab853dae9c8d664693ea8d9abd3f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/baloo-widgets-20.11.90.tar.xz">baloo-widgets-20.11.90</a></td>
   <td align="right">255kB</td>
   <td><tt>9e37aa3c661db25d70bc876e29a969066cae0bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/blinken-20.11.90.tar.xz">blinken-20.11.90</a></td>
   <td align="right">2762kB</td>
   <td><tt>a238bbb62731ba339de5074ca809fa3c5506f8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/bomber-20.11.90.tar.xz">bomber-20.11.90</a></td>
   <td align="right">805kB</td>
   <td><tt>9bb23ff5628ec7c51b7d6e3117f414d3d3d5e8b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/bovo-20.11.90.tar.xz">bovo-20.11.90</a></td>
   <td align="right">200kB</td>
   <td><tt>39ba5d66be99d854c26d5842d9f6639085014cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/calendarsupport-20.11.90.tar.xz">calendarsupport-20.11.90</a></td>
   <td align="right">649kB</td>
   <td><tt>6dbf7ecff509ada0dfd0d2a2a1d228698c00cbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/cantor-20.11.90.tar.xz">cantor-20.11.90</a></td>
   <td align="right">8889kB</td>
   <td><tt>7bba035c482a20c9804bf9b755b231ed053672b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/cervisia-20.11.90.tar.xz">cervisia-20.11.90</a></td>
   <td align="right">1843kB</td>
   <td><tt>ceea20589354858b7f74005e5a2bfe692b29ce42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/dolphin-20.11.90.tar.xz">dolphin-20.11.90</a></td>
   <td align="right">4995kB</td>
   <td><tt>e3df5ad60a02e9cfd8184c47cbe3c51ccd447143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/dolphin-plugins-20.11.90.tar.xz">dolphin-plugins-20.11.90</a></td>
   <td align="right">230kB</td>
   <td><tt>62a07382eb6549d8fe754689fb504411aed2642e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/dragon-20.11.90.tar.xz">dragon-20.11.90</a></td>
   <td align="right">1617kB</td>
   <td><tt>e357ddfac37fd9ec38c14b8f067e23a880991f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/elisa-20.11.90.tar.xz">elisa-20.11.90</a></td>
   <td align="right">1620kB</td>
   <td><tt>7df061a3d910e8a191dda3e3ccb3f93738676e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/eventviews-20.11.90.tar.xz">eventviews-20.11.90</a></td>
   <td align="right">433kB</td>
   <td><tt>de8cf7644036b09f9f9aba0908a2730826b4ccc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ffmpegthumbs-20.11.90.tar.xz">ffmpegthumbs-20.11.90</a></td>
   <td align="right">33kB</td>
   <td><tt>205096c1f8bd5e391522ee7786cfe62c6297b9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/filelight-20.11.90.tar.xz">filelight-20.11.90</a></td>
   <td align="right">655kB</td>
   <td><tt>f1c4ac0919f7306bd85b3a37b455fa1b23bd4c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/granatier-20.11.90.tar.xz">granatier-20.11.90</a></td>
   <td align="right">1905kB</td>
   <td><tt>5a51d7b00e1c94580bca8cc1e34ee2e7364908fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/grantlee-editor-20.11.90.tar.xz">grantlee-editor-20.11.90</a></td>
   <td align="right">104kB</td>
   <td><tt>34b79e1beea129b0d40845dc791d1570ca3e47d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/grantleetheme-20.11.90.tar.xz">grantleetheme-20.11.90</a></td>
   <td align="right">55kB</td>
   <td><tt>8db62f20dcf62eb3d72105696857abe96d49dad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/gwenview-20.11.90.tar.xz">gwenview-20.11.90</a></td>
   <td align="right">6587kB</td>
   <td><tt>6ac7bc83bee6c978bb9659469d832bebe4c43a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/incidenceeditor-20.11.90.tar.xz">incidenceeditor-20.11.90</a></td>
   <td align="right">533kB</td>
   <td><tt>a275a2a50f9f871f9757ba5518a0073deaf3195a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/itinerary-20.11.90.tar.xz">itinerary-20.11.90</a></td>
   <td align="right">322kB</td>
   <td><tt>69ae7f5ae574058188f02f0753e65a3a3c37e849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/juk-20.11.90.tar.xz">juk-20.11.90</a></td>
   <td align="right">1951kB</td>
   <td><tt>2dda254a3ebaaa63aae83f77162f394acf61099c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/k3b-20.11.90.tar.xz">k3b-20.11.90</a></td>
   <td align="right">10434kB</td>
   <td><tt>94c2c779662a2926bd6f9b25c5196556c6aca174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kaccounts-integration-20.11.90.tar.xz">kaccounts-integration-20.11.90</a></td>
   <td align="right">81kB</td>
   <td><tt>0c5c55baaaae17c7aac2740f28a0816df9edb054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kaccounts-providers-20.11.90.tar.xz">kaccounts-providers-20.11.90</a></td>
   <td align="right">59kB</td>
   <td><tt>76c789a8b45533462664e7f3242b15e7531aba63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kaddressbook-20.11.90.tar.xz">kaddressbook-20.11.90</a></td>
   <td align="right">3179kB</td>
   <td><tt>160c5a33198332feb2ce8bd0500281264af65359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kajongg-20.11.90.tar.xz">kajongg-20.11.90</a></td>
   <td align="right">4366kB</td>
   <td><tt>cb44f521c14117d0260521384a2729fa38d68018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kalarm-20.11.90.tar.xz">kalarm-20.11.90</a></td>
   <td align="right">2027kB</td>
   <td><tt>46b47c3151eca9cef526feff5668ccf6bbb2461e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kalarmcal-20.11.90.tar.xz">kalarmcal-20.11.90</a></td>
   <td align="right">562kB</td>
   <td><tt>fe628af1fc81c08f6febc702b7cdaddcdbb6aac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kalgebra-20.11.90.tar.xz">kalgebra-20.11.90</a></td>
   <td align="right">1120kB</td>
   <td><tt>1a4841d1d5e8d064cba576def5b2e0fef9029203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kalzium-20.11.90.tar.xz">kalzium-20.11.90</a></td>
   <td align="right">23947kB</td>
   <td><tt>1eefe2e20950b7eb84080290982b889a9b90f15d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kamera-20.11.90.tar.xz">kamera-20.11.90</a></td>
   <td align="right">106kB</td>
   <td><tt>8d93f5d62617a2490ca8bbd2c50815036d12c50b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kamoso-20.11.90.tar.xz">kamoso-20.11.90</a></td>
   <td align="right">206kB</td>
   <td><tt>7873d220e96fa23ab852d7489dd9517ba0cb20ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kanagram-20.11.90.tar.xz">kanagram-20.11.90</a></td>
   <td align="right">7841kB</td>
   <td><tt>9862092d43641292d85dc0d7a1efa2abf2038b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kapman-20.11.90.tar.xz">kapman-20.11.90</a></td>
   <td align="right">2472kB</td>
   <td><tt>0bf1c0dbd174d95743939015befdf37cb0cfeae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kapptemplate-20.11.90.tar.xz">kapptemplate-20.11.90</a></td>
   <td align="right">327kB</td>
   <td><tt>5af024b753d30501da20c021da0f73fdcbeb9e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kate-20.11.90.tar.xz">kate-20.11.90</a></td>
   <td align="right">5723kB</td>
   <td><tt>2da3a00e1f59e63c7882e45545f7e095e3cf63a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/katomic-20.11.90.tar.xz">katomic-20.11.90</a></td>
   <td align="right">1395kB</td>
   <td><tt>fcdf8e812cbae126162e57d9311e69576ee1906d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kbackup-20.11.90.tar.xz">kbackup-20.11.90</a></td>
   <td align="right">371kB</td>
   <td><tt>498690006fdeec210722a00becfd37f097bd24a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kblackbox-20.11.90.tar.xz">kblackbox-20.11.90</a></td>
   <td align="right">439kB</td>
   <td><tt>8225fed3ed3b79f1d2d106aea3059e79b822c412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kblocks-20.11.90.tar.xz">kblocks-20.11.90</a></td>
   <td align="right">1863kB</td>
   <td><tt>5f77dd346f12ac237c47dafc8b2464469557c7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kbounce-20.11.90.tar.xz">kbounce-20.11.90</a></td>
   <td align="right">3363kB</td>
   <td><tt>b6999c459fcfe701e557fc836cf06da1dec93bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kbreakout-20.11.90.tar.xz">kbreakout-20.11.90</a></td>
   <td align="right">2230kB</td>
   <td><tt>7c42d3d3d18fc371444a6f8c6bce5f3ab48c396e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kbruch-20.11.90.tar.xz">kbruch-20.11.90</a></td>
   <td align="right">5483kB</td>
   <td><tt>44af54155faaa41d4e93f17139fc67d5bf8832e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcachegrind-20.11.90.tar.xz">kcachegrind-20.11.90</a></td>
   <td align="right">796kB</td>
   <td><tt>29db3b5f2986fff109ef2a4ef62b65ece80ad37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcalc-20.11.90.tar.xz">kcalc-20.11.90</a></td>
   <td align="right">371kB</td>
   <td><tt>81bacc0c88e6796ccd6a622b15d10f29bdfba648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcalutils-20.11.90.tar.xz">kcalutils-20.11.90</a></td>
   <td align="right">317kB</td>
   <td><tt>1e160b9c741dc48fe6bd42ccd47f90f4485a3a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcharselect-20.11.90.tar.xz">kcharselect-20.11.90</a></td>
   <td align="right">357kB</td>
   <td><tt>a372706099dfab91d8cd2e4159b0a8b4b538f146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcolorchooser-20.11.90.tar.xz">kcolorchooser-20.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>7c984c5964715500a494a9698edbd7b05b527e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kcron-20.11.90.tar.xz">kcron-20.11.90</a></td>
   <td align="right">877kB</td>
   <td><tt>340106082151af5410c914833c9cffdb728df73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdebugsettings-20.11.90.tar.xz">kdebugsettings-20.11.90</a></td>
   <td align="right">66kB</td>
   <td><tt>8eaa6d2fdfe1a25a4f5eadc2cec238e89ef7f680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdeconnect-kde-20.11.90.tar.xz">kdeconnect-kde-20.11.90</a></td>
   <td align="right">535kB</td>
   <td><tt>99f8698baee5bfe5400d9a1faac1fb01a36f2978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kde-dev-scripts-20.11.90.tar.xz">kde-dev-scripts-20.11.90</a></td>
   <td align="right">357kB</td>
   <td><tt>29e26df786d811fa0424c9efea28c1a981549450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kde-dev-utils-20.11.90.tar.xz">kde-dev-utils-20.11.90</a></td>
   <td align="right">64kB</td>
   <td><tt>0ebb7ffe4c6983f4741316d2061af76610f3e969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdeedu-data-20.11.90.tar.xz">kdeedu-data-20.11.90</a></td>
   <td align="right">327kB</td>
   <td><tt>780eda4c5000d58f91983e40974b0a38eb7f82ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdegraphics-mobipocket-20.11.90.tar.xz">kdegraphics-mobipocket-20.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>8d4b029582c62a911fc8835513b82215f06f3a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdegraphics-thumbnailers-20.11.90.tar.xz">kdegraphics-thumbnailers-20.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>c704dbdc1bc411408283caac7e6c3dee1a9b0208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdenetwork-filesharing-20.11.90.tar.xz">kdenetwork-filesharing-20.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>41ce16f6636f4ac261efd84b0c704fb62ef6b317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdenlive-20.11.90.tar.xz">kdenlive-20.11.90</a></td>
   <td align="right">11205kB</td>
   <td><tt>a7accb57e7c055ac794fb6d7e35a18c9bac54537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdepim-addons-20.11.90.tar.xz">kdepim-addons-20.11.90</a></td>
   <td align="right">2095kB</td>
   <td><tt>8060cfa7383088fe21b4db75cff88c28e7f7b492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdepim-runtime-20.11.90.tar.xz">kdepim-runtime-20.11.90</a></td>
   <td align="right">1757kB</td>
   <td><tt>2d28c9dc819fcc185693d76982d985a817997482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdesdk-kioslaves-20.11.90.tar.xz">kdesdk-kioslaves-20.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>261ad112c11731551061f3676b31dfd165eab4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdesdk-thumbnailers-20.11.90.tar.xz">kdesdk-thumbnailers-20.11.90</a></td>
   <td align="right">17kB</td>
   <td><tt>6fe82ff0535e38651d120e48c06dff3bd9f14f74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdf-20.11.90.tar.xz">kdf-20.11.90</a></td>
   <td align="right">456kB</td>
   <td><tt>fe026cf69dc2638d80a45ef65087e1c8122d9632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdialog-20.11.90.tar.xz">kdialog-20.11.90</a></td>
   <td align="right">105kB</td>
   <td><tt>e59c0bbdfa231006a604b478bc1bfe79b22c3dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kdiamond-20.11.90.tar.xz">kdiamond-20.11.90</a></td>
   <td align="right">4588kB</td>
   <td><tt>c172830504d341d679b11cf7b2af4bed606d78ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/keditbookmarks-20.11.90.tar.xz">keditbookmarks-20.11.90</a></td>
   <td align="right">186kB</td>
   <td><tt>4a0f40f7f4e32f23db85286a3322af4aff4aa785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kfind-20.11.90.tar.xz">kfind-20.11.90</a></td>
   <td align="right">272kB</td>
   <td><tt>b61d6d76f5964f5403a3fd9242f4f163330d58a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kfloppy-20.11.90.tar.xz">kfloppy-20.11.90</a></td>
   <td align="right">199kB</td>
   <td><tt>955f9614628b2fc58f81c92096f542793c368581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kfourinline-20.11.90.tar.xz">kfourinline-20.11.90</a></td>
   <td align="right">628kB</td>
   <td><tt>4c45cff85e11234fa602922660ee33e4dec29d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kgeography-20.11.90.tar.xz">kgeography-20.11.90</a></td>
   <td align="right">10511kB</td>
   <td><tt>2cfc004dcb94cdcf714cfc0e310367f29cee3eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kget-20.11.90.tar.xz">kget-20.11.90</a></td>
   <td align="right">5452kB</td>
   <td><tt>52c6b70e7f849c7facbfc56bba6d24dddb76b534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kgoldrunner-20.11.90.tar.xz">kgoldrunner-20.11.90</a></td>
   <td align="right">4340kB</td>
   <td><tt>a437ce557488aaf1130df1cbcb759f09e87ed502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kgpg-20.11.90.tar.xz">kgpg-20.11.90</a></td>
   <td align="right">2816kB</td>
   <td><tt>2fd30cf60b138deff4491dc9fa844282e148276d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/khangman-20.11.90.tar.xz">khangman-20.11.90</a></td>
   <td align="right">7232kB</td>
   <td><tt>6787715a2106e1debf3acbf6774d94aa341c0e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/khelpcenter-20.11.90.tar.xz">khelpcenter-20.11.90</a></td>
   <td align="right">4150kB</td>
   <td><tt>4b4dccdd454e3fcafd2018233650a7da46a9c235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kidentitymanagement-20.11.90.tar.xz">kidentitymanagement-20.11.90</a></td>
   <td align="right">148kB</td>
   <td><tt>abf176311816bfbd4ffd1e712d4fb3c306951479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kig-20.11.90.tar.xz">kig-20.11.90</a></td>
   <td align="right">3048kB</td>
   <td><tt>663d4b1abcf2ef70e761922c95af0b0c6b855f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kigo-20.11.90.tar.xz">kigo-20.11.90</a></td>
   <td align="right">5111kB</td>
   <td><tt>c5b308be851074c13f6c09bf2500489ad2de90e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/killbots-20.11.90.tar.xz">killbots-20.11.90</a></td>
   <td align="right">1158kB</td>
   <td><tt>bfa56b0afa449caff08e3b9ef2b5cf65baa0141f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kimagemapeditor-20.11.90.tar.xz">kimagemapeditor-20.11.90</a></td>
   <td align="right">1052kB</td>
   <td><tt>cc5457b2d796b9fc111111d5a058050747784715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kimap-20.11.90.tar.xz">kimap-20.11.90</a></td>
   <td align="right">121kB</td>
   <td><tt>51d24568f4c0bf5d919bc313e2fbed6de195a1c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kio-extras-20.11.90.tar.xz">kio-extras-20.11.90</a></td>
   <td align="right">618kB</td>
   <td><tt>664b7045df26004614d7eb1b04cedca19c87364e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kio-gdrive-20.11.90.tar.xz">kio-gdrive-20.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>605e144ecac34ba9797f73025631455b30f12778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kipi-plugins-20.11.90.tar.xz">kipi-plugins-20.11.90</a></td>
   <td align="right">1605kB</td>
   <td><tt>00bfa2dbb32b248c35a82a03b4b58afa26dba526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kirigami-gallery-20.11.90.tar.xz">kirigami-gallery-20.11.90</a></td>
   <td align="right">319kB</td>
   <td><tt>831dd8aa48d89f73d712810b1527fa9c0cb42be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kiriki-20.11.90.tar.xz">kiriki-20.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>5c07dc30b9441b833353e67e175ac0f6cdb7989e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kiten-20.11.90.tar.xz">kiten-20.11.90</a></td>
   <td align="right">11031kB</td>
   <td><tt>fc3e88b3528a26f611a33d2a78c076b257f14a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kitinerary-20.11.90.tar.xz">kitinerary-20.11.90</a></td>
   <td align="right">1768kB</td>
   <td><tt>c6febd3886ae645374d019be13731f66be96f4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kjumpingcube-20.11.90.tar.xz">kjumpingcube-20.11.90</a></td>
   <td align="right">283kB</td>
   <td><tt>edecb4fe8ce6519ec6c313df3b771f0ebad65583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kldap-20.11.90.tar.xz">kldap-20.11.90</a></td>
   <td align="right">160kB</td>
   <td><tt>db1b955a98ca0dff90aaca51091398717d0fd279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kleopatra-20.11.90.tar.xz">kleopatra-20.11.90</a></td>
   <td align="right">1952kB</td>
   <td><tt>1196601f9b5e8d4635ad85d1bf1b408143263f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/klettres-20.11.90.tar.xz">klettres-20.11.90</a></td>
   <td align="right">45739kB</td>
   <td><tt>b26f9b410a212393a866da289d77a7863fa24a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/klickety-20.11.90.tar.xz">klickety-20.11.90</a></td>
   <td align="right">1362kB</td>
   <td><tt>e2a8d3d5d3980a7780f93f8ab8c312c2b583051c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/klines-20.11.90.tar.xz">klines-20.11.90</a></td>
   <td align="right">1748kB</td>
   <td><tt>9ac078574ec92a14636e097203d50d5e0dc5a70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmag-20.11.90.tar.xz">kmag-20.11.90</a></td>
   <td align="right">681kB</td>
   <td><tt>501d9dc38711822087f5cbbf36501d599254c160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmahjongg-20.11.90.tar.xz">kmahjongg-20.11.90</a></td>
   <td align="right">3354kB</td>
   <td><tt>9328d223babb35567d443125cf1297e81bdbdc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmail-20.11.90.tar.xz">kmail-20.11.90</a></td>
   <td align="right">4540kB</td>
   <td><tt>6f6c2adb54f5a9266cc96d17b986a287a9bc0030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmail-account-wizard-20.11.90.tar.xz">kmail-account-wizard-20.11.90</a></td>
   <td align="right">155kB</td>
   <td><tt>3626bd93534d28d590ee5e0285846db35f5071d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmailtransport-20.11.90.tar.xz">kmailtransport-20.11.90</a></td>
   <td align="right">164kB</td>
   <td><tt>6071d5ebf7670d8595e82c6272f2bf68097bda0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmbox-20.11.90.tar.xz">kmbox-20.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>46432ac1844f1b147b776ea1eac65c5a4c47401f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmime-20.11.90.tar.xz">kmime-20.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>b8057eb332862a7b5c58702492203b62c991954b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmines-20.11.90.tar.xz">kmines-20.11.90</a></td>
   <td align="right">936kB</td>
   <td><tt>2fd52e16f08fb343863f2989339d6bacf9692de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmix-20.11.90.tar.xz">kmix-20.11.90</a></td>
   <td align="right">1121kB</td>
   <td><tt>62e4f2ce7ca8ec62aa6649aeff9a76e44ba16a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmousetool-20.11.90.tar.xz">kmousetool-20.11.90</a></td>
   <td align="right">113kB</td>
   <td><tt>8ab6e3ee2eb293196b142c3cf5ad7c417e813dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmouth-20.11.90.tar.xz">kmouth-20.11.90</a></td>
   <td align="right">2034kB</td>
   <td><tt>38d1438f9b98eb6974f0bef068ae2f0ab5d4abdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kmplot-20.11.90.tar.xz">kmplot-20.11.90</a></td>
   <td align="right">2984kB</td>
   <td><tt>32e2d882689d00dc73db1e5b2552641156b5fd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/knavalbattle-20.11.90.tar.xz">knavalbattle-20.11.90</a></td>
   <td align="right">1257kB</td>
   <td><tt>b37c55f7503a10821e2bd9fdb98da9299905eef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/knetwalk-20.11.90.tar.xz">knetwalk-20.11.90</a></td>
   <td align="right">1237kB</td>
   <td><tt>b445980cc70ba9051fa0ef9952ae5f003b82e37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/knights-20.11.90.tar.xz">knights-20.11.90</a></td>
   <td align="right">3452kB</td>
   <td><tt>1752d8859fbab6ec79433d56f220b2d53e8d48d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/knotes-20.11.90.tar.xz">knotes-20.11.90</a></td>
   <td align="right">318kB</td>
   <td><tt>ef57bb7f5c9a45a28f2a792fc408ccacab5ba64e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kolf-20.11.90.tar.xz">kolf-20.11.90</a></td>
   <td align="right">1004kB</td>
   <td><tt>6d168f4e93c960a30b91783a613f01894e73664d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kollision-20.11.90.tar.xz">kollision-20.11.90</a></td>
   <td align="right">283kB</td>
   <td><tt>8e78e26d032293b1f14ac4b52dd8e1889fcbc7bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kolourpaint-20.11.90.tar.xz">kolourpaint-20.11.90</a></td>
   <td align="right">5553kB</td>
   <td><tt>e03415b4ee96c5c30fff11b7de16c8e0f533a026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kompare-20.11.90.tar.xz">kompare-20.11.90</a></td>
   <td align="right">900kB</td>
   <td><tt>4217c16318f44b977c8a8367fa126d1e6d611a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/konqueror-20.11.90.tar.xz">konqueror-20.11.90</a></td>
   <td align="right">7062kB</td>
   <td><tt>966ec69ea93270adce3cf7fa855200a220a8ebe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/konquest-20.11.90.tar.xz">konquest-20.11.90</a></td>
   <td align="right">650kB</td>
   <td><tt>d7ac9d2562c6c5e8a4f6db45923c0c122e349245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/konsole-20.11.90.tar.xz">konsole-20.11.90</a></td>
   <td align="right">1207kB</td>
   <td><tt>b8420609e91d3745c574ff93909e9d23981f6099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kontact-20.11.90.tar.xz">kontact-20.11.90</a></td>
   <td align="right">773kB</td>
   <td><tt>faf4fb83a4a561a77ecae38d6e3842055ca73746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kontactinterface-20.11.90.tar.xz">kontactinterface-20.11.90</a></td>
   <td align="right">35kB</td>
   <td><tt>12bb4cee65c4a80ec6be189d028568ff502efabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kontrast-20.11.90.tar.xz">kontrast-20.11.90</a></td>
   <td align="right">118kB</td>
   <td><tt>382697ae765bb6b5c7207c1924b2d8238df0753f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/konversation-20.11.90.tar.xz">konversation-20.11.90</a></td>
   <td align="right">4120kB</td>
   <td><tt>48af319bc3f69899817cb22b26e1c84f4df6dba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kopete-20.11.90.tar.xz">kopete-20.11.90</a></td>
   <td align="right">9160kB</td>
   <td><tt>42e3b890ebcbf223257f927a9db93f7df5572dd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/korganizer-20.11.90.tar.xz">korganizer-20.11.90</a></td>
   <td align="right">2192kB</td>
   <td><tt>ada1f06a4f52435ada34df997f9cb0a03b8cca13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kosmindoormap-20.11.90.tar.xz">kosmindoormap-20.11.90</a></td>
   <td align="right">303kB</td>
   <td><tt>0dd06e7c1a23ddea53c8c8fc70a47dfe23ad71d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kpat-20.11.90.tar.xz">kpat-20.11.90</a></td>
   <td align="right">3500kB</td>
   <td><tt>f753593e66f4ae8833e2333642cf1c7c3497d3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kpimtextedit-20.11.90.tar.xz">kpimtextedit-20.11.90</a></td>
   <td align="right">196kB</td>
   <td><tt>194a8bae24c875f690f038e4ebce119680f36545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kpkpass-20.11.90.tar.xz">kpkpass-20.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>9511263e74dd5b1cecdf76841ed2a55ffeca1567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kpmcore-20.11.90.tar.xz">kpmcore-20.11.90</a></td>
   <td align="right">570kB</td>
   <td><tt>ab68535db228383c084c170e2e0dec25d5775e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kpublictransport-20.11.90.tar.xz">kpublictransport-20.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>b0ad1c218aea6c4dd1bf7909449a426a12e79e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kqtquickcharts-20.11.90.tar.xz">kqtquickcharts-20.11.90</a></td>
   <td align="right">29kB</td>
   <td><tt>e004a3af1f9cc79529895df72ee48b850bb3a911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/krdc-20.11.90.tar.xz">krdc-20.11.90</a></td>
   <td align="right">1527kB</td>
   <td><tt>057fcd0d5a9322a89d63afd2b1855c2de341bb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kreversi-20.11.90.tar.xz">kreversi-20.11.90</a></td>
   <td align="right">931kB</td>
   <td><tt>02a644d7280e85176c518c4a6c38c4190cbaae61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/krfb-20.11.90.tar.xz">krfb-20.11.90</a></td>
   <td align="right">1250kB</td>
   <td><tt>7ef9209b3099ffb0f3e78511eb861beea85d4072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kross-interpreters-20.11.90.tar.xz">kross-interpreters-20.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>bd89a81437e2e636165ef8338e3e5d81bb3a4d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kruler-20.11.90.tar.xz">kruler-20.11.90</a></td>
   <td align="right">265kB</td>
   <td><tt>2f5ef8dd91f67eac69aefcaeeff95dc0ed565972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kshisen-20.11.90.tar.xz">kshisen-20.11.90</a></td>
   <td align="right">807kB</td>
   <td><tt>fc49a6911eff84c7c40ebcff5c8682da53ba4519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksirk-20.11.90.tar.xz">ksirk-20.11.90</a></td>
   <td align="right">6829kB</td>
   <td><tt>707d145fd63cc3746a599889edfe8cd54c0c1585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksmtp-20.11.90.tar.xz">ksmtp-20.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>2a5990417bbae7a1f92b24d1497c28e2ec21368f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksnakeduel-20.11.90.tar.xz">ksnakeduel-20.11.90</a></td>
   <td align="right">531kB</td>
   <td><tt>985db2a185e6976a0a710064f902f27bd35d6002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kspaceduel-20.11.90.tar.xz">kspaceduel-20.11.90</a></td>
   <td align="right">603kB</td>
   <td><tt>07e2f348b7c4634f44419cb5c368c1a0c05671b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksquares-20.11.90.tar.xz">ksquares-20.11.90</a></td>
   <td align="right">260kB</td>
   <td><tt>82d67440f67630b240571f20c595f29e15324ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksudoku-20.11.90.tar.xz">ksudoku-20.11.90</a></td>
   <td align="right">1630kB</td>
   <td><tt>2c307ed2263d7820b88ee896cb5bb5e98a02e2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ksystemlog-20.11.90.tar.xz">ksystemlog-20.11.90</a></td>
   <td align="right">1890kB</td>
   <td><tt>689ed4dc5044a4f0faa554281d967a96a3cde969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kteatime-20.11.90.tar.xz">kteatime-20.11.90</a></td>
   <td align="right">287kB</td>
   <td><tt>41bf84595aba722926b74e0dbd6a0405eb91fe9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktimer-20.11.90.tar.xz">ktimer-20.11.90</a></td>
   <td align="right">376kB</td>
   <td><tt>1d6b1c317d196e77d4428c9a87ab9b25b54fa76a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktnef-20.11.90.tar.xz">ktnef-20.11.90</a></td>
   <td align="right">292kB</td>
   <td><tt>e4f1d64e0d60180b2f72123d4bce2c010104694f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktorrent-20.11.90.tar.xz">ktorrent-20.11.90</a></td>
   <td align="right">2090kB</td>
   <td><tt>435e5a345094d6eb9828c22046e2baabfda56cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktouch-20.11.90.tar.xz">ktouch-20.11.90</a></td>
   <td align="right">4825kB</td>
   <td><tt>9499083c73fe08f3f38cff39b832ff25540d1722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-accounts-kcm-20.11.90.tar.xz">ktp-accounts-kcm-20.11.90</a></td>
   <td align="right">256kB</td>
   <td><tt>3a8028405fe1220c7542c8424ddddf4a5746ff1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-approver-20.11.90.tar.xz">ktp-approver-20.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>272bbd4a62cb0ad3af0091eeec884e6968ac1be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-auth-handler-20.11.90.tar.xz">ktp-auth-handler-20.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>45e63ba0094b5e934ecf77283c932a2568c01787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-call-ui-20.11.90.tar.xz">ktp-call-ui-20.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>97a840134f2fd9dd401aa2f440b4fc31d5895cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-common-internals-20.11.90.tar.xz">ktp-common-internals-20.11.90</a></td>
   <td align="right">438kB</td>
   <td><tt>34730d5b074da205401489b1fc383004a526416e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-contact-list-20.11.90.tar.xz">ktp-contact-list-20.11.90</a></td>
   <td align="right">146kB</td>
   <td><tt>bf1cf88cc726b32d231d34d5f147f8c19f9a3cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-contact-runner-20.11.90.tar.xz">ktp-contact-runner-20.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>cf4fc83d4b7d965458841e22da00a916941db604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-desktop-applets-20.11.90.tar.xz">ktp-desktop-applets-20.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>bfd4ff09ea3fa478244d394201e9ee3267d16375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-filetransfer-handler-20.11.90.tar.xz">ktp-filetransfer-handler-20.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>423cc650367ffeffef450b5aded70da4a22a0adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-kded-module-20.11.90.tar.xz">ktp-kded-module-20.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>8ac9b1619ad0f9082ad20bf19d075c52d8ae70a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-send-file-20.11.90.tar.xz">ktp-send-file-20.11.90</a></td>
   <td align="right">27kB</td>
   <td><tt>d5cd3c02e8e62eefd702f36472cfd27a3f1cd635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktp-text-ui-20.11.90.tar.xz">ktp-text-ui-20.11.90</a></td>
   <td align="right">460kB</td>
   <td><tt>64495848ca9cb7c0d6e20647bbcedd4be49be91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/ktuberling-20.11.90.tar.xz">ktuberling-20.11.90</a></td>
   <td align="right">69058kB</td>
   <td><tt>f08824151fe1b011af7f1b5ce225244ab1a93f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kturtle-20.11.90.tar.xz">kturtle-20.11.90</a></td>
   <td align="right">1794kB</td>
   <td><tt>08fa8116b36ac5db48b5f787b4ccfa0ec7d4c9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kubrick-20.11.90.tar.xz">kubrick-20.11.90</a></td>
   <td align="right">324kB</td>
   <td><tt>f03b33fa7bec5e20e5c7c478e862c81d9870591c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kwalletmanager-20.11.90.tar.xz">kwalletmanager-20.11.90</a></td>
   <td align="right">755kB</td>
   <td><tt>6dc9c4971cd18cd7cd2cf6a51788178f695666a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kwave-20.11.90.tar.xz">kwave-20.11.90</a></td>
   <td align="right">6720kB</td>
   <td><tt>b50983089996ce899bd14c8637ba2f37a9bcca94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/kwordquiz-20.11.90.tar.xz">kwordquiz-20.11.90</a></td>
   <td align="right">4089kB</td>
   <td><tt>b593bf3a297c36d99191af62a7ff400b445f66b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libgravatar-20.11.90.tar.xz">libgravatar-20.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>2feab44172349b8f5561c074783cffcac028f2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkcddb-20.11.90.tar.xz">libkcddb-20.11.90</a></td>
   <td align="right">415kB</td>
   <td><tt>797e42ab2bfdebccd515c7ea169ef7684f01a368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkcompactdisc-20.11.90.tar.xz">libkcompactdisc-20.11.90</a></td>
   <td align="right">94kB</td>
   <td><tt>451831cce91f0af59ea160d410fd1430ea4f1a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkdcraw-20.11.90.tar.xz">libkdcraw-20.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>44e55793c2a9cbd9909451eeaeab67e215a2596b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkdegames-20.11.90.tar.xz">libkdegames-20.11.90</a></td>
   <td align="right">6242kB</td>
   <td><tt>cbc59987fe7e2c6795dced979dfa904009bcb222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkdepim-20.11.90.tar.xz">libkdepim-20.11.90</a></td>
   <td align="right">232kB</td>
   <td><tt>3fc68ef7264b4acc0aa641036e720e25f2cef5b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkeduvocdocument-20.11.90.tar.xz">libkeduvocdocument-20.11.90</a></td>
   <td align="right">206kB</td>
   <td><tt>c51dfbf1958a5c4b23ad2b504a0ea2e56140d42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkexiv2-20.11.90.tar.xz">libkexiv2-20.11.90</a></td>
   <td align="right">63kB</td>
   <td><tt>7fdb81c4827dac22b8b259d49f7ceaa0e80dbcb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkgapi-20.11.90.tar.xz">libkgapi-20.11.90</a></td>
   <td align="right">240kB</td>
   <td><tt>8c040199b2562064d440b82b00bb7e10b811e3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkipi-20.11.90.tar.xz">libkipi-20.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>2bc58299d264e5001a73b24de037964e3b395519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkleo-20.11.90.tar.xz">libkleo-20.11.90</a></td>
   <td align="right">349kB</td>
   <td><tt>425c34e4ce8fcf259a1f34cc1e9fac1889d14e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkmahjongg-20.11.90.tar.xz">libkmahjongg-20.11.90</a></td>
   <td align="right">1651kB</td>
   <td><tt>a05c9afddba8f0e4aa8c5fd05fa1344c01e43548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libkomparediff2-20.11.90.tar.xz">libkomparediff2-20.11.90</a></td>
   <td align="right">155kB</td>
   <td><tt>1bf76b3e5d2811e10e4c87273c04721d2014c248</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libksane-20.11.90.tar.xz">libksane-20.11.90</a></td>
   <td align="right">141kB</td>
   <td><tt>8becd4b539b51a42ee844b13a02d455052d6deb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libksieve-20.11.90.tar.xz">libksieve-20.11.90</a></td>
   <td align="right">545kB</td>
   <td><tt>b21fc56e4f3155a93a6a1a066390014cf75b2f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/libktorrent-20.11.90.tar.xz">libktorrent-20.11.90</a></td>
   <td align="right">590kB</td>
   <td><tt>d7d4cbe6e2d64146d54234870fa89e746da700b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/lokalize-20.11.90.tar.xz">lokalize-20.11.90</a></td>
   <td align="right">1947kB</td>
   <td><tt>3fbd3b28bf41f72e049a8b85c3cb8d5e37e9ad37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/lskat-20.11.90.tar.xz">lskat-20.11.90</a></td>
   <td align="right">1196kB</td>
   <td><tt>ebaf8bdcc6e6009620c58a2da5fce8046f739075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/mailcommon-20.11.90.tar.xz">mailcommon-20.11.90</a></td>
   <td align="right">706kB</td>
   <td><tt>94f92159c948821a814de6710fa87339f23c45d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/mailimporter-20.11.90.tar.xz">mailimporter-20.11.90</a></td>
   <td align="right">535kB</td>
   <td><tt>0f85f098f0fe40f57e9e644f6932593b4e197b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/marble-20.11.90.tar.xz">marble-20.11.90</a></td>
   <td align="right">50990kB</td>
   <td><tt>8f33f9851d881e7a976ba22ea95d4d2c53d7bfbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/markdownpart-20.11.90.tar.xz">markdownpart-20.11.90</a></td>
   <td align="right">25kB</td>
   <td><tt>4025e0407e9111ae0d0a889972de508f5809bf5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/mbox-importer-20.11.90.tar.xz">mbox-importer-20.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>ab1fe8c6277b722409158f54fe37a971a49a6b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/messagelib-20.11.90.tar.xz">messagelib-20.11.90</a></td>
   <td align="right">10288kB</td>
   <td><tt>95cc6e8f9d859bcbe61ba7d280c3354259c42ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/minuet-20.11.90.tar.xz">minuet-20.11.90</a></td>
   <td align="right">27077kB</td>
   <td><tt>9b4f6bd02de53df79ecfbda040be0aaa493c2f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/okular-20.11.90.tar.xz">okular-20.11.90</a></td>
   <td align="right">7697kB</td>
   <td><tt>dedc04f60e62b638db7d5beb177282e3dd307d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/palapeli-20.11.90.tar.xz">palapeli-20.11.90</a></td>
   <td align="right">2030kB</td>
   <td><tt>9bf33898dcc442661294998ef8fad4012b9e0cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/parley-20.11.90.tar.xz">parley-20.11.90</a></td>
   <td align="right">8635kB</td>
   <td><tt>9a2b0c47e8ebf4196df7c5836670c929c80eacfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/partitionmanager-20.11.90.tar.xz">partitionmanager-20.11.90</a></td>
   <td align="right">2036kB</td>
   <td><tt>6310344e85db3e6e01a82d2f824eff0138ec050b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/picmi-20.11.90.tar.xz">picmi-20.11.90</a></td>
   <td align="right">1335kB</td>
   <td><tt>1ae29f7aa3cb583f4c5f93cc9e53891eb87c80b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/pimcommon-20.11.90.tar.xz">pimcommon-20.11.90</a></td>
   <td align="right">353kB</td>
   <td><tt>f154b83071bef3b0538e1929f06a730c80541b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/pim-data-exporter-20.11.90.tar.xz">pim-data-exporter-20.11.90</a></td>
   <td align="right">389kB</td>
   <td><tt>4b2224c00895540708ced60c1ad95d26dffe0bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/pim-sieve-editor-20.11.90.tar.xz">pim-sieve-editor-20.11.90</a></td>
   <td align="right">443kB</td>
   <td><tt>ee1c4243007f677615466206882eaac3226311aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/poxml-20.11.90.tar.xz">poxml-20.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>19eb7873494faad9c491fe3b741f33b88912e834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/print-manager-20.11.90.tar.xz">print-manager-20.11.90</a></td>
   <td align="right">252kB</td>
   <td><tt>5c1642949159a040d92899cb8195db67eadd33c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/rocs-20.11.90.tar.xz">rocs-20.11.90</a></td>
   <td align="right">1456kB</td>
   <td><tt>ef206dff2d5eeb778d2766d776da1ed4f64dd799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/signon-kwallet-extension-20.11.90.tar.xz">signon-kwallet-extension-20.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>34b3beb0f468b4b061de3f984fd3181ca77112d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/spectacle-20.11.90.tar.xz">spectacle-20.11.90</a></td>
   <td align="right">1136kB</td>
   <td><tt>cd1412f9bb43b4e6a011b4656a0611c78d788040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/step-20.11.90.tar.xz">step-20.11.90</a></td>
   <td align="right">928kB</td>
   <td><tt>4f92dadea90fe628d2144a39156be314ecca5ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/svgpart-20.11.90.tar.xz">svgpart-20.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>23826733fbf5fd5665771cf60ea3354f20df134d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/sweeper-20.11.90.tar.xz">sweeper-20.11.90</a></td>
   <td align="right">363kB</td>
   <td><tt>826e56ddaa04851710ce3a6e9c3baa9b1bb03009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/umbrello-20.11.90.tar.xz">umbrello-20.11.90</a></td>
   <td align="right">5425kB</td>
   <td><tt>ee57a0349592cba31da8a7dab2aefbf9823f688a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/yakuake-20.11.90.tar.xz">yakuake-20.11.90</a></td>
   <td align="right">373kB</td>
   <td><tt>891d121067bb4aae762d2409c96cc212e93fe891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.11.90/src/zeroconf-ioslave-20.11.90.tar.xz">zeroconf-ioslave-20.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>503069150ddb22fd227029fca6b02f07162c7e31</tt></td>
</tr>

</table>
