<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-20.12.3.tar.xz">akonadi-20.12.3</a></td>
   <td align="right">1556kB</td>
   <td><tt>d08db9cd2a1297c5b671b323d86ff141aa28d27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-calendar-20.12.3.tar.xz">akonadi-calendar-20.12.3</a></td>
   <td align="right">334kB</td>
   <td><tt>32009d0e33ccbf2a9cdb5b90ec4a35c61fe8de5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-calendar-tools-20.12.3.tar.xz">akonadi-calendar-tools-20.12.3</a></td>
   <td align="right">219kB</td>
   <td><tt>ec6efdcd9023011df7c47b746a8ceca09e28591a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadiconsole-20.12.3.tar.xz">akonadiconsole-20.12.3</a></td>
   <td align="right">193kB</td>
   <td><tt>e3ae24663cfa91d0030cba54a2d3f6e6b5a0d005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-contacts-20.12.3.tar.xz">akonadi-contacts-20.12.3</a></td>
   <td align="right">404kB</td>
   <td><tt>6f6b4e65d43aaccf110af89e70db4ab51fb484de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-import-wizard-20.12.3.tar.xz">akonadi-import-wizard-20.12.3</a></td>
   <td align="right">494kB</td>
   <td><tt>64aa246e82e55775167c6bf177c4d569781d981f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-mime-20.12.3.tar.xz">akonadi-mime-20.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>5e6a9e3885daf8a84dbe5a9958c0abebb40725fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-notes-20.12.3.tar.xz">akonadi-notes-20.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>0a607d6eed03a0c48bd1893f0de4d4e68e1513aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akonadi-search-20.12.3.tar.xz">akonadi-search-20.12.3</a></td>
   <td align="right">91kB</td>
   <td><tt>5e22ab2faceca581b6000d28a5a8614da5afea37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/akregator-20.12.3.tar.xz">akregator-20.12.3</a></td>
   <td align="right">2154kB</td>
   <td><tt>ccd7d7ba3fe7a848f8ac7f40bb95fe28395d181f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/analitza-20.12.3.tar.xz">analitza-20.12.3</a></td>
   <td align="right">333kB</td>
   <td><tt>05125fe8ba91cbaa97025c779ea7ecb4dede30dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ark-20.12.3.tar.xz">ark-20.12.3</a></td>
   <td align="right">2653kB</td>
   <td><tt>c420284617af098aedb526c437f19df26c887161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/artikulate-20.12.3.tar.xz">artikulate-20.12.3</a></td>
   <td align="right">1059kB</td>
   <td><tt>d1deaf0885116912562981815f727d623713ff48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/audiocd-kio-20.12.3.tar.xz">audiocd-kio-20.12.3</a></td>
   <td align="right">488kB</td>
   <td><tt>4b882e314931934b7b1b5282f9738632da1212d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/baloo-widgets-20.12.3.tar.xz">baloo-widgets-20.12.3</a></td>
   <td align="right">255kB</td>
   <td><tt>cf6ace1e1052e3dc9a9416f431081709a42e9684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/blinken-20.12.3.tar.xz">blinken-20.12.3</a></td>
   <td align="right">2478kB</td>
   <td><tt>96e018738ccd918e7477d382463fcbb9700d1756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/bomber-20.12.3.tar.xz">bomber-20.12.3</a></td>
   <td align="right">805kB</td>
   <td><tt>d067cff9d48163f15297ace1f8d9af1e8911c36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/bovo-20.12.3.tar.xz">bovo-20.12.3</a></td>
   <td align="right">200kB</td>
   <td><tt>c6488fa028076f4e1be4ea7dc5fd656304f2ecd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/calendarsupport-20.12.3.tar.xz">calendarsupport-20.12.3</a></td>
   <td align="right">650kB</td>
   <td><tt>98eb975dbe924820bbf45161797db683c7f5615e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/cantor-20.12.3.tar.xz">cantor-20.12.3</a></td>
   <td align="right">8914kB</td>
   <td><tt>0d6bc0fe84841e34601cb5214be1041f2acee6ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/cervisia-20.12.3.tar.xz">cervisia-20.12.3</a></td>
   <td align="right">1844kB</td>
   <td><tt>b19bdd7c414269d0ec9a4450ea18f7360158aa65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/dolphin-20.12.3.tar.xz">dolphin-20.12.3</a></td>
   <td align="right">5014kB</td>
   <td><tt>521e00a2de03862c1c71007b6da53c6ed4f2f664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/dolphin-plugins-20.12.3.tar.xz">dolphin-plugins-20.12.3</a></td>
   <td align="right">233kB</td>
   <td><tt>b064f7a1e72eb5b759099ab1eef7404fe4d7c7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/dragon-20.12.3.tar.xz">dragon-20.12.3</a></td>
   <td align="right">1617kB</td>
   <td><tt>79c3ce1b9d9645a2fd49d3c060f0cfc5cbcf1073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/elisa-20.12.3.tar.xz">elisa-20.12.3</a></td>
   <td align="right">1623kB</td>
   <td><tt>5e781de40e280ba0b0d80187452f1dd092e6fa08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/eventviews-20.12.3.tar.xz">eventviews-20.12.3</a></td>
   <td align="right">433kB</td>
   <td><tt>d0963e3aab93f73ed4bf8bb5a44258b6ad3f968d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ffmpegthumbs-20.12.3.tar.xz">ffmpegthumbs-20.12.3</a></td>
   <td align="right">33kB</td>
   <td><tt>db74414d1c0786e4e8b89ba74be30b490308f3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/filelight-20.12.3.tar.xz">filelight-20.12.3</a></td>
   <td align="right">655kB</td>
   <td><tt>c04b27afb210c7bcd67ab035a0520a1beadd85d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/granatier-20.12.3.tar.xz">granatier-20.12.3</a></td>
   <td align="right">1905kB</td>
   <td><tt>5cfc610495093f57692ff0b26e5276b716a1b103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/grantlee-editor-20.12.3.tar.xz">grantlee-editor-20.12.3</a></td>
   <td align="right">104kB</td>
   <td><tt>f506fa8f8c9fbbdf20efc7dea046bda287e081da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/grantleetheme-20.12.3.tar.xz">grantleetheme-20.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>da9dd94a351d262274a68bf64811cb1e0b2572e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/gwenview-20.12.3.tar.xz">gwenview-20.12.3</a></td>
   <td align="right">6595kB</td>
   <td><tt>a457d05b780d6c9034ae20e2b47e2d504f3b3569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/incidenceeditor-20.12.3.tar.xz">incidenceeditor-20.12.3</a></td>
   <td align="right">533kB</td>
   <td><tt>f28e50fc4fecfbbbb0d22bbf06da4564c9209ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/itinerary-20.12.3.tar.xz">itinerary-20.12.3</a></td>
   <td align="right">326kB</td>
   <td><tt>d7ac077b828cd7b43893d4f8909194b6cc74fd19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/juk-20.12.3.tar.xz">juk-20.12.3</a></td>
   <td align="right">1951kB</td>
   <td><tt>fc35cddf6f638aa2e8d3828eb393ccd2f63fd9f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/k3b-20.12.3.tar.xz">k3b-20.12.3</a></td>
   <td align="right">10437kB</td>
   <td><tt>094fb553e92134384beb8a4a3b94dcb600af1870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kaccounts-integration-20.12.3.tar.xz">kaccounts-integration-20.12.3</a></td>
   <td align="right">82kB</td>
   <td><tt>1b24c073b8c8a119a1d2853070d3fc0c55f0f4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kaccounts-providers-20.12.3.tar.xz">kaccounts-providers-20.12.3</a></td>
   <td align="right">60kB</td>
   <td><tt>0676b7166ed9f3d261eb3cb99e55596093548b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kaddressbook-20.12.3.tar.xz">kaddressbook-20.12.3</a></td>
   <td align="right">3187kB</td>
   <td><tt>3e9f998828c2b3c527d5ea359126ecf6e2d2950f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kajongg-20.12.3.tar.xz">kajongg-20.12.3</a></td>
   <td align="right">4367kB</td>
   <td><tt>5bb515939338acee702d482aea11e55af0ab4687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kalarm-20.12.3.tar.xz">kalarm-20.12.3</a></td>
   <td align="right">2060kB</td>
   <td><tt>8bccbb255f0dae69bde4772b2d6f799acb6f01d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kalarmcal-20.12.3.tar.xz">kalarmcal-20.12.3</a></td>
   <td align="right">563kB</td>
   <td><tt>d6fda5e5c01559a808f701caeb744e557940ab17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kalgebra-20.12.3.tar.xz">kalgebra-20.12.3</a></td>
   <td align="right">1000kB</td>
   <td><tt>dac2a892afdd6d182dd7c068dae54927a5349838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kalzium-20.12.3.tar.xz">kalzium-20.12.3</a></td>
   <td align="right">23947kB</td>
   <td><tt>a5dff194a72c21e85df3f42fb653ff510318c821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kamera-20.12.3.tar.xz">kamera-20.12.3</a></td>
   <td align="right">106kB</td>
   <td><tt>7d1622190c28c56556b7c4b15e5fbc9711337565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kamoso-20.12.3.tar.xz">kamoso-20.12.3</a></td>
   <td align="right">206kB</td>
   <td><tt>f727ee17e634f372c5c3fbb4b6d29b0f616100b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kanagram-20.12.3.tar.xz">kanagram-20.12.3</a></td>
   <td align="right">7840kB</td>
   <td><tt>4140343e472bcebc7ac3a7703c69fc9248888994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kapman-20.12.3.tar.xz">kapman-20.12.3</a></td>
   <td align="right">2472kB</td>
   <td><tt>448f6a8305b1c8870bd26cb7cacf947cf9b9275b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kapptemplate-20.12.3.tar.xz">kapptemplate-20.12.3</a></td>
   <td align="right">328kB</td>
   <td><tt>6ee9ac2c9374e8cb72337aa4eeb6f08b71750082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kate-20.12.3.tar.xz">kate-20.12.3</a></td>
   <td align="right">5809kB</td>
   <td><tt>7b7993cdc9436990352c7e08e84aca8aa547a71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/katomic-20.12.3.tar.xz">katomic-20.12.3</a></td>
   <td align="right">1395kB</td>
   <td><tt>0226c5ef34f2e1a010f6f2d38e65f7546e9a685e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kbackup-20.12.3.tar.xz">kbackup-20.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>df6b1259821ccc31f8f92f1af057afc1ec004f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kblackbox-20.12.3.tar.xz">kblackbox-20.12.3</a></td>
   <td align="right">439kB</td>
   <td><tt>3710701da4309432d58b3e5a37c90d001f4ddaf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kblocks-20.12.3.tar.xz">kblocks-20.12.3</a></td>
   <td align="right">1863kB</td>
   <td><tt>b9f42af54c9755768cc60b49873af71c07ce0915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kbounce-20.12.3.tar.xz">kbounce-20.12.3</a></td>
   <td align="right">3362kB</td>
   <td><tt>31c34dae142620913df41bfef68099c6205ea023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kbreakout-20.12.3.tar.xz">kbreakout-20.12.3</a></td>
   <td align="right">2230kB</td>
   <td><tt>a693b9aaa9992260ec1d69b62fb5541be5cf7143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kbruch-20.12.3.tar.xz">kbruch-20.12.3</a></td>
   <td align="right">5483kB</td>
   <td><tt>629b9d622cd7cc0aa28bbaa11fae819164cd14eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcachegrind-20.12.3.tar.xz">kcachegrind-20.12.3</a></td>
   <td align="right">799kB</td>
   <td><tt>2b5bac9dc35c98279bbb45acaffc525e1e6f646f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcalc-20.12.3.tar.xz">kcalc-20.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>40ba2e269d7ef92d39fe6814bd38e9523d3a5e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcalutils-20.12.3.tar.xz">kcalutils-20.12.3</a></td>
   <td align="right">316kB</td>
   <td><tt>738e0eedc986dc64611caadb4532f9598ebb2fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcharselect-20.12.3.tar.xz">kcharselect-20.12.3</a></td>
   <td align="right">358kB</td>
   <td><tt>c8c4ec42291da7bc6a3c612d8b0c1b663735b791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcolorchooser-20.12.3.tar.xz">kcolorchooser-20.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>bc0a1bc17990509431bf1b0743c7d28bf0019599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kcron-20.12.3.tar.xz">kcron-20.12.3</a></td>
   <td align="right">877kB</td>
   <td><tt>55ddc7e465521bc7080ea0123856595ffbf906a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdebugsettings-20.12.3.tar.xz">kdebugsettings-20.12.3</a></td>
   <td align="right">66kB</td>
   <td><tt>b5cde54bd248988682b90861afe4fee88f48e045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdeconnect-kde-20.12.3.tar.xz">kdeconnect-kde-20.12.3</a></td>
   <td align="right">538kB</td>
   <td><tt>1abcf2b2056b3a73db174c1da0eafbf5a879fb05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kde-dev-scripts-20.12.3.tar.xz">kde-dev-scripts-20.12.3</a></td>
   <td align="right">357kB</td>
   <td><tt>a086c10031571cdc93e879b6e0a594a3aa4f6f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kde-dev-utils-20.12.3.tar.xz">kde-dev-utils-20.12.3</a></td>
   <td align="right">64kB</td>
   <td><tt>b9df661568b0c98ad3a851bb95ea0723fb473566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdeedu-data-20.12.3.tar.xz">kdeedu-data-20.12.3</a></td>
   <td align="right">327kB</td>
   <td><tt>5d91772d35870aa2ffe2b8aa7b9590ba53fdf68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdegraphics-mobipocket-20.12.3.tar.xz">kdegraphics-mobipocket-20.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>e72138bdb8e879dccb504a3a0dcc77e8a3b699d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdegraphics-thumbnailers-20.12.3.tar.xz">kdegraphics-thumbnailers-20.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>20ecf4ad6c350098bc9e149a1552e6aac35ea4b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdenetwork-filesharing-20.12.3.tar.xz">kdenetwork-filesharing-20.12.3</a></td>
   <td align="right">338kB</td>
   <td><tt>1713596ca5e7b1087fbae84c0019c11efb4dedcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdenlive-20.12.3.tar.xz">kdenlive-20.12.3</a></td>
   <td align="right">11244kB</td>
   <td><tt>3a6e02a21bebd9acc6a2700ca75daec7bafd6bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdepim-addons-20.12.3.tar.xz">kdepim-addons-20.12.3</a></td>
   <td align="right">2095kB</td>
   <td><tt>427e0689038ef50bffd8582c9fce74740e40480f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdepim-runtime-20.12.3.tar.xz">kdepim-runtime-20.12.3</a></td>
   <td align="right">1759kB</td>
   <td><tt>e4169daa62ad9f78ce402d31582285a3a47c80ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdesdk-kioslaves-20.12.3.tar.xz">kdesdk-kioslaves-20.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>4537052c93580e7725527a2bf664f5943b2205da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdesdk-thumbnailers-20.12.3.tar.xz">kdesdk-thumbnailers-20.12.3</a></td>
   <td align="right">17kB</td>
   <td><tt>9a2fa25728d5d63ec6a4c6e3c995ec38fbbcc737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdf-20.12.3.tar.xz">kdf-20.12.3</a></td>
   <td align="right">456kB</td>
   <td><tt>67682be9230a85e18083da4d4bc635221eb7c3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdialog-20.12.3.tar.xz">kdialog-20.12.3</a></td>
   <td align="right">105kB</td>
   <td><tt>eb64d6f244e23bed5f33cf3b857efffa18e9e54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kdiamond-20.12.3.tar.xz">kdiamond-20.12.3</a></td>
   <td align="right">4588kB</td>
   <td><tt>d5f0eb6713975a3edc44e16c6d68dea74f6cb308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/keditbookmarks-20.12.3.tar.xz">keditbookmarks-20.12.3</a></td>
   <td align="right">187kB</td>
   <td><tt>5eb2a558dbf73d64609824c7b050648f1a2d3c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kfind-20.12.3.tar.xz">kfind-20.12.3</a></td>
   <td align="right">272kB</td>
   <td><tt>717b4974f3b4bb028ce0505b11416d551b59bfe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kfloppy-20.12.3.tar.xz">kfloppy-20.12.3</a></td>
   <td align="right">199kB</td>
   <td><tt>a7b7d2db4a4c178bdac91aa4fd7a5483d0becebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kfourinline-20.12.3.tar.xz">kfourinline-20.12.3</a></td>
   <td align="right">628kB</td>
   <td><tt>1bcaff1b0f4b281ad7ac3afe951b30e68d3ab010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kgeography-20.12.3.tar.xz">kgeography-20.12.3</a></td>
   <td align="right">10511kB</td>
   <td><tt>ccc2d3defe200c004c0a893d7214bbac02cfd84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kget-20.12.3.tar.xz">kget-20.12.3</a></td>
   <td align="right">5452kB</td>
   <td><tt>da1b89c0c2db27bce7f0203a2b829b2ec84c4104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kgoldrunner-20.12.3.tar.xz">kgoldrunner-20.12.3</a></td>
   <td align="right">4340kB</td>
   <td><tt>ae7f40fbf72bce709a220be19845dc99c0795f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kgpg-20.12.3.tar.xz">kgpg-20.12.3</a></td>
   <td align="right">2824kB</td>
   <td><tt>e6562ee12909530b0c09cf49cc817ab047215c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/khangman-20.12.3.tar.xz">khangman-20.12.3</a></td>
   <td align="right">7226kB</td>
   <td><tt>3c0d711db066f6c6211ae62d73b51a8149b53464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/khelpcenter-20.12.3.tar.xz">khelpcenter-20.12.3</a></td>
   <td align="right">4150kB</td>
   <td><tt>784cda95a9ba434c34e7f9707a24af23c61d10fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kidentitymanagement-20.12.3.tar.xz">kidentitymanagement-20.12.3</a></td>
   <td align="right">148kB</td>
   <td><tt>e5c30151622588b6addb7485ec89df21d24cc691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kig-20.12.3.tar.xz">kig-20.12.3</a></td>
   <td align="right">3048kB</td>
   <td><tt>750fdb63f6df71c216d7bb4931bfff6e25258e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kigo-20.12.3.tar.xz">kigo-20.12.3</a></td>
   <td align="right">5111kB</td>
   <td><tt>4024579f954bf5fcc4b9e46cfb94574ca1ac3e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/killbots-20.12.3.tar.xz">killbots-20.12.3</a></td>
   <td align="right">1158kB</td>
   <td><tt>f650787aef2d3cd0995ea8489e52f259c899712a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kimagemapeditor-20.12.3.tar.xz">kimagemapeditor-20.12.3</a></td>
   <td align="right">1053kB</td>
   <td><tt>810b40223f251897d3f13d88e331ce72ff4d9873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kimap-20.12.3.tar.xz">kimap-20.12.3</a></td>
   <td align="right">121kB</td>
   <td><tt>0fd408075d1374e1e81fac506eafc8b23602201a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kio-extras-20.12.3.tar.xz">kio-extras-20.12.3</a></td>
   <td align="right">621kB</td>
   <td><tt>bf36af39998208b43b680070ad46872d33c879a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kio-gdrive-20.12.3.tar.xz">kio-gdrive-20.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>2606cdad8bd8d6543a3add2cc5e863f8355cca88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kipi-plugins-20.12.3.tar.xz">kipi-plugins-20.12.3</a></td>
   <td align="right">1606kB</td>
   <td><tt>74242523dd3c61509f760558775f563eda3bd27b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kirigami-gallery-20.12.3.tar.xz">kirigami-gallery-20.12.3</a></td>
   <td align="right">320kB</td>
   <td><tt>beb13f12595cd2068b32eadee73313fef7cd3586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kiriki-20.12.3.tar.xz">kiriki-20.12.3</a></td>
   <td align="right">369kB</td>
   <td><tt>0cceeacd2a4e08d8dcf08ec51a0c080b211345ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kiten-20.12.3.tar.xz">kiten-20.12.3</a></td>
   <td align="right">11033kB</td>
   <td><tt>0a305981cb346cad2845a0f69752e4d7243a6b09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kitinerary-20.12.3.tar.xz">kitinerary-20.12.3</a></td>
   <td align="right">1766kB</td>
   <td><tt>96a6d60f37095d7b31de7da7a6d04327170c3ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kjumpingcube-20.12.3.tar.xz">kjumpingcube-20.12.3</a></td>
   <td align="right">284kB</td>
   <td><tt>8e9c2f1f8a1ca3531588c3cc7d03cdb6cfb02e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kldap-20.12.3.tar.xz">kldap-20.12.3</a></td>
   <td align="right">160kB</td>
   <td><tt>b9c903fe9f38e7d53fb777a670c59e21190da242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kleopatra-20.12.3.tar.xz">kleopatra-20.12.3</a></td>
   <td align="right">1954kB</td>
   <td><tt>6697e811381c1e23a893785f293dcb7491dcd5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/klettres-20.12.3.tar.xz">klettres-20.12.3</a></td>
   <td align="right">45956kB</td>
   <td><tt>2579ea5d6e5e10f60bb303158a9cab9b35f56d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/klickety-20.12.3.tar.xz">klickety-20.12.3</a></td>
   <td align="right">1362kB</td>
   <td><tt>39a9f7057e1d0adb6c8f90bf62c3f09e587bb921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/klines-20.12.3.tar.xz">klines-20.12.3</a></td>
   <td align="right">1748kB</td>
   <td><tt>8f55340f14c2a08c1061e83c3c2869c73faf4fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmag-20.12.3.tar.xz">kmag-20.12.3</a></td>
   <td align="right">683kB</td>
   <td><tt>792066198c17e6d83c5ce4c1ebb77d09fc8c65ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmahjongg-20.12.3.tar.xz">kmahjongg-20.12.3</a></td>
   <td align="right">3354kB</td>
   <td><tt>ec0aacbb4a2c297b3b80decc2e8a779d69b51574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmail-20.12.3.tar.xz">kmail-20.12.3</a></td>
   <td align="right">4561kB</td>
   <td><tt>88e0594f3a654e971dfff694e64b9fe4142175c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmail-account-wizard-20.12.3.tar.xz">kmail-account-wizard-20.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>e46a9e77d398a8492c3d572d6f74ba19f28e4099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmailtransport-20.12.3.tar.xz">kmailtransport-20.12.3</a></td>
   <td align="right">164kB</td>
   <td><tt>4d9a499406bb229dcfee36f03796d2168616de67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmbox-20.12.3.tar.xz">kmbox-20.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>1bc1ecd124847d3707e031caba2fb3064bde8bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmime-20.12.3.tar.xz">kmime-20.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>60927de7c095ff3df82b75ab58b4bd5e4dcbd429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmines-20.12.3.tar.xz">kmines-20.12.3</a></td>
   <td align="right">937kB</td>
   <td><tt>da4577e0e3a920843a05343799bd49247e98ae26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmix-20.12.3.tar.xz">kmix-20.12.3</a></td>
   <td align="right">1123kB</td>
   <td><tt>b0e4d97664c508dc35aa2a02c4fea31e8e751d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmousetool-20.12.3.tar.xz">kmousetool-20.12.3</a></td>
   <td align="right">114kB</td>
   <td><tt>5a3c46d03265b655300784652174092bc8255f97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmouth-20.12.3.tar.xz">kmouth-20.12.3</a></td>
   <td align="right">2037kB</td>
   <td><tt>2a90fbb85158f3a12ff075556a7ac849cf7b1d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kmplot-20.12.3.tar.xz">kmplot-20.12.3</a></td>
   <td align="right">2984kB</td>
   <td><tt>44b2a2bf5007066bfdeca337d202a4c33d8758b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/knavalbattle-20.12.3.tar.xz">knavalbattle-20.12.3</a></td>
   <td align="right">1260kB</td>
   <td><tt>e37685720f5d8f4eb9585f2722b08183aca1cf99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/knetwalk-20.12.3.tar.xz">knetwalk-20.12.3</a></td>
   <td align="right">1237kB</td>
   <td><tt>0365727f2ef2b785980cfe35f723144c6c53f861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/knights-20.12.3.tar.xz">knights-20.12.3</a></td>
   <td align="right">3452kB</td>
   <td><tt>254b908f2c51ee4afe6c06c6007eb807c9973401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/knotes-20.12.3.tar.xz">knotes-20.12.3</a></td>
   <td align="right">321kB</td>
   <td><tt>09e7ea8444f1e0dca6ea3f5e0c16aed29ec743f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kolf-20.12.3.tar.xz">kolf-20.12.3</a></td>
   <td align="right">1005kB</td>
   <td><tt>872ea751f3f9055fbec71e66dbae3e1c0aa0c9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kollision-20.12.3.tar.xz">kollision-20.12.3</a></td>
   <td align="right">283kB</td>
   <td><tt>dce632603cdd8ccb3b9fada6dc594e195160e5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kolourpaint-20.12.3.tar.xz">kolourpaint-20.12.3</a></td>
   <td align="right">5553kB</td>
   <td><tt>0be0cbc1c9bd538fd704407407a0a3268893ea7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kompare-20.12.3.tar.xz">kompare-20.12.3</a></td>
   <td align="right">907kB</td>
   <td><tt>dc4cc92915af88428a15e9841ec10155a72bda10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/konqueror-20.12.3.tar.xz">konqueror-20.12.3</a></td>
   <td align="right">7072kB</td>
   <td><tt>4f03b27f8a009d1a76a34bed6c580d16027536b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/konquest-20.12.3.tar.xz">konquest-20.12.3</a></td>
   <td align="right">650kB</td>
   <td><tt>abd871a539e29f30df579aa59e4974116581cabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/konsole-20.12.3.tar.xz">konsole-20.12.3</a></td>
   <td align="right">1221kB</td>
   <td><tt>6fe6388ef450b5fb718abcac4c9b7fa43adc191b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kontact-20.12.3.tar.xz">kontact-20.12.3</a></td>
   <td align="right">772kB</td>
   <td><tt>4f6b0763ec861a42dc46598df6f8d3d837a7f356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kontactinterface-20.12.3.tar.xz">kontactinterface-20.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>3323fb7d7bb43f5dfd40fb0644689e69256d70e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kontrast-20.12.3.tar.xz">kontrast-20.12.3</a></td>
   <td align="right">119kB</td>
   <td><tt>c15044b9f6729a771b371b03a15bf8e748d4eb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/konversation-20.12.3.tar.xz">konversation-20.12.3</a></td>
   <td align="right">4142kB</td>
   <td><tt>f002e1562e4a40117f95a7259d208a6fd85bf615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kopete-20.12.3.tar.xz">kopete-20.12.3</a></td>
   <td align="right">9160kB</td>
   <td><tt>e5b61fb0ebd3a8bcd7759bd2d42f4c9146e03bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/korganizer-20.12.3.tar.xz">korganizer-20.12.3</a></td>
   <td align="right">2193kB</td>
   <td><tt>5441356299c75ac1b8038a0fd02b34611afca806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kosmindoormap-20.12.3.tar.xz">kosmindoormap-20.12.3</a></td>
   <td align="right">307kB</td>
   <td><tt>1084a6d3d9b41918b6cac824c3ec857e6bc04e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kpat-20.12.3.tar.xz">kpat-20.12.3</a></td>
   <td align="right">3500kB</td>
   <td><tt>6b6ef7ef9e97d248b69182e2b75faacafea033a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kpimtextedit-20.12.3.tar.xz">kpimtextedit-20.12.3</a></td>
   <td align="right">196kB</td>
   <td><tt>8281e389cea030fb20628a9843df2ff5ac757c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kpkpass-20.12.3.tar.xz">kpkpass-20.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>9de4bd292eddb9b9a82a15d47ee4edd14735805a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kpmcore-20.12.3.tar.xz">kpmcore-20.12.3</a></td>
   <td align="right">570kB</td>
   <td><tt>b4dce151d5db5fabb2db8d4d60752a82116bab3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kpublictransport-20.12.3.tar.xz">kpublictransport-20.12.3</a></td>
   <td align="right">337kB</td>
   <td><tt>723266593ce16d968c91d630dd9b603963659cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kqtquickcharts-20.12.3.tar.xz">kqtquickcharts-20.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>c9da6e304e6967e5efa087a02a8abab8ebd73d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/krdc-20.12.3.tar.xz">krdc-20.12.3</a></td>
   <td align="right">1527kB</td>
   <td><tt>313b4fb1c9272d9a9cf538bca57ff1a8411c67da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kreversi-20.12.3.tar.xz">kreversi-20.12.3</a></td>
   <td align="right">931kB</td>
   <td><tt>7c98857c5ca27b08a557f5874726b309c79748a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/krfb-20.12.3.tar.xz">krfb-20.12.3</a></td>
   <td align="right">1250kB</td>
   <td><tt>3f89dd5a9a4776b39ba6a41232c4088787b2c53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kross-interpreters-20.12.3.tar.xz">kross-interpreters-20.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>5d196206bf81aac7196b1e54e6d074817f55671e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kruler-20.12.3.tar.xz">kruler-20.12.3</a></td>
   <td align="right">266kB</td>
   <td><tt>1fec432d5ec8d61b343ce8fa7667bb69aad4fd8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kshisen-20.12.3.tar.xz">kshisen-20.12.3</a></td>
   <td align="right">807kB</td>
   <td><tt>5f73bcde82481418835a1d0878ed006b1ba50c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksirk-20.12.3.tar.xz">ksirk-20.12.3</a></td>
   <td align="right">6829kB</td>
   <td><tt>3db8eebe8492ce380c5f5b9eac7c68c898d5fbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksmtp-20.12.3.tar.xz">ksmtp-20.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>8ac9127be282cd79209abd660583c8671f98a2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksnakeduel-20.12.3.tar.xz">ksnakeduel-20.12.3</a></td>
   <td align="right">531kB</td>
   <td><tt>7f4bd1ecfd651b76fa8ca8f54ba11545246bdb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kspaceduel-20.12.3.tar.xz">kspaceduel-20.12.3</a></td>
   <td align="right">603kB</td>
   <td><tt>fcb15988024031bfb590c34a640b2963856f9a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksquares-20.12.3.tar.xz">ksquares-20.12.3</a></td>
   <td align="right">260kB</td>
   <td><tt>3f4275f0e96b8821ba7b49a63c04a85f7d75316f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksudoku-20.12.3.tar.xz">ksudoku-20.12.3</a></td>
   <td align="right">1637kB</td>
   <td><tt>8090cb0425661143db8e221c583eac386d7ffc6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ksystemlog-20.12.3.tar.xz">ksystemlog-20.12.3</a></td>
   <td align="right">1893kB</td>
   <td><tt>bf934f0238cffc8af5c0e3506b28b9272300ada1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kteatime-20.12.3.tar.xz">kteatime-20.12.3</a></td>
   <td align="right">287kB</td>
   <td><tt>1c3f2a2ef6a4f7406f004d7bdb96a01e5e3a7dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktimer-20.12.3.tar.xz">ktimer-20.12.3</a></td>
   <td align="right">377kB</td>
   <td><tt>bea1e355e534d2baffb4c1b3a242979d54e2a060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktnef-20.12.3.tar.xz">ktnef-20.12.3</a></td>
   <td align="right">292kB</td>
   <td><tt>4f31a7b3dd0e067348e4d1f2648c30771f756ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktorrent-20.12.3.tar.xz">ktorrent-20.12.3</a></td>
   <td align="right">2091kB</td>
   <td><tt>7c7a68f7238f7c9f813a6dd835b318233412ee7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktouch-20.12.3.tar.xz">ktouch-20.12.3</a></td>
   <td align="right">4826kB</td>
   <td><tt>60843788acc2219c456cfcb86727b41e9665bd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-accounts-kcm-20.12.3.tar.xz">ktp-accounts-kcm-20.12.3</a></td>
   <td align="right">256kB</td>
   <td><tt>0cff32219b94b57378ad1733f4993d6f12360064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-approver-20.12.3.tar.xz">ktp-approver-20.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>b76b5e5028920b741500f2a97a33fcf80f80a9c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-auth-handler-20.12.3.tar.xz">ktp-auth-handler-20.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>582ae15dd7fd7bc7c4c2b6ee74340952273cc434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-call-ui-20.12.3.tar.xz">ktp-call-ui-20.12.3</a></td>
   <td align="right">95kB</td>
   <td><tt>12fbc1761084e4f6935cfd0c9c741c7e32816cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-common-internals-20.12.3.tar.xz">ktp-common-internals-20.12.3</a></td>
   <td align="right">439kB</td>
   <td><tt>7f102db2300fcbc47fc3126ff3ef637bb38da71f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-contact-list-20.12.3.tar.xz">ktp-contact-list-20.12.3</a></td>
   <td align="right">146kB</td>
   <td><tt>3f3b6e095d4ff8eaca26cb396e5376ca84d4d99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-contact-runner-20.12.3.tar.xz">ktp-contact-runner-20.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>883298d782de66f998552f502d358008ec76eb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-desktop-applets-20.12.3.tar.xz">ktp-desktop-applets-20.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>d891903ee887983ae4a15dc3f27f3daf13b9c10e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-filetransfer-handler-20.12.3.tar.xz">ktp-filetransfer-handler-20.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>1acecaaa4d5610c04f2236b0814fb29cbe734edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-kded-module-20.12.3.tar.xz">ktp-kded-module-20.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>74e9d4479c364333334e98be8d0db5c5882774fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-send-file-20.12.3.tar.xz">ktp-send-file-20.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>23960d0f9819c2df2686e3c5c2786eda2ebfea9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktp-text-ui-20.12.3.tar.xz">ktp-text-ui-20.12.3</a></td>
   <td align="right">460kB</td>
   <td><tt>0a7222daeedaaca3fdf7c75f4df71bf4e839a334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/ktuberling-20.12.3.tar.xz">ktuberling-20.12.3</a></td>
   <td align="right">69055kB</td>
   <td><tt>efac7647a62651bd98976487210c80e4ef53a1ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kturtle-20.12.3.tar.xz">kturtle-20.12.3</a></td>
   <td align="right">1794kB</td>
   <td><tt>a18524fb38fb5cac8af542cfd794d53a029dc935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kubrick-20.12.3.tar.xz">kubrick-20.12.3</a></td>
   <td align="right">331kB</td>
   <td><tt>aeed480b6979cc19bcd694da75b014b01effa690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kwalletmanager-20.12.3.tar.xz">kwalletmanager-20.12.3</a></td>
   <td align="right">755kB</td>
   <td><tt>ee0149631d135c26f1b11e571c11fa1beb3ddf6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kwave-20.12.3.tar.xz">kwave-20.12.3</a></td>
   <td align="right">6749kB</td>
   <td><tt>27a63e89db373063ae29fcd7460f0dac5a1ac866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/kwordquiz-20.12.3.tar.xz">kwordquiz-20.12.3</a></td>
   <td align="right">4089kB</td>
   <td><tt>64f2ba1b5f1ca02c277c28e9f35f459cda081d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libgravatar-20.12.3.tar.xz">libgravatar-20.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>49947f33d2e0b9c09521492f2eda927571d71bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkcddb-20.12.3.tar.xz">libkcddb-20.12.3</a></td>
   <td align="right">415kB</td>
   <td><tt>ce4207cac78f3c319d652048732138c4184f4d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkcompactdisc-20.12.3.tar.xz">libkcompactdisc-20.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>bcd58fd5c92558e6cab9f9ceedd22ce1b7ac11f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkdcraw-20.12.3.tar.xz">libkdcraw-20.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>3dd2e4f7e908d2a227bff36d6483c931b466bc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkdegames-20.12.3.tar.xz">libkdegames-20.12.3</a></td>
   <td align="right">6239kB</td>
   <td><tt>50eb9fb3a103e722665c60302065ccbe1625ecb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkdepim-20.12.3.tar.xz">libkdepim-20.12.3</a></td>
   <td align="right">232kB</td>
   <td><tt>d06f22afd684a4c80a38732d3e59af272a0217da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkeduvocdocument-20.12.3.tar.xz">libkeduvocdocument-20.12.3</a></td>
   <td align="right">206kB</td>
   <td><tt>b15cb1fe9aee48a07dea5fdd0bee1cdaa1698338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkexiv2-20.12.3.tar.xz">libkexiv2-20.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>7bd7da7b933f8c8e3efa79e7d39e4773628cf894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkgapi-20.12.3.tar.xz">libkgapi-20.12.3</a></td>
   <td align="right">240kB</td>
   <td><tt>035483d71c9c57bc44048d4d4e41ed8ccd292a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkipi-20.12.3.tar.xz">libkipi-20.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>02a8cc828e995f7885ded83534d634ba973a0023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkleo-20.12.3.tar.xz">libkleo-20.12.3</a></td>
   <td align="right">350kB</td>
   <td><tt>a8d26c9ce1161db63c3325645a34cccdc27c10d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkmahjongg-20.12.3.tar.xz">libkmahjongg-20.12.3</a></td>
   <td align="right">1651kB</td>
   <td><tt>ba4d87d816d4bb77377f8a69c1720368b90e4ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libkomparediff2-20.12.3.tar.xz">libkomparediff2-20.12.3</a></td>
   <td align="right">155kB</td>
   <td><tt>7dcd084b36e380108a7a6c9fa5ea993134d44774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libksane-20.12.3.tar.xz">libksane-20.12.3</a></td>
   <td align="right">142kB</td>
   <td><tt>ba6eddb5e07c13ba6c189ed3964524398de7c93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libksieve-20.12.3.tar.xz">libksieve-20.12.3</a></td>
   <td align="right">545kB</td>
   <td><tt>9bd19c6ebfe66e7e7740250f62b8daf9418ea850</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/libktorrent-20.12.3.tar.xz">libktorrent-20.12.3</a></td>
   <td align="right">590kB</td>
   <td><tt>ac2410fa75452d2593994279e249006f3181c904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/lokalize-20.12.3.tar.xz">lokalize-20.12.3</a></td>
   <td align="right">1949kB</td>
   <td><tt>9c8e1ade7e630a83872c1f4f756d362dbcbde93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/lskat-20.12.3.tar.xz">lskat-20.12.3</a></td>
   <td align="right">1196kB</td>
   <td><tt>ce94e059c2e711015f3fc7624a6f8d2202c5bff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/mailcommon-20.12.3.tar.xz">mailcommon-20.12.3</a></td>
   <td align="right">706kB</td>
   <td><tt>2965dca5a32f08819091aa76e53dcc00d601f265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/mailimporter-20.12.3.tar.xz">mailimporter-20.12.3</a></td>
   <td align="right">535kB</td>
   <td><tt>60f73c2509e460f4124c4e8aca37aa4d828f4ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/marble-20.12.3.tar.xz">marble-20.12.3</a></td>
   <td align="right">51017kB</td>
   <td><tt>8b81f1f9e7eb3c767d661883b30c8bb3858142dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/markdownpart-20.12.3.tar.xz">markdownpart-20.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>5855419a501735cb34de04bf5537552ecb71a061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/mbox-importer-20.12.3.tar.xz">mbox-importer-20.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>c1f4e9be4dee4a9b3f114ef000017654357aa4f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/messagelib-20.12.3.tar.xz">messagelib-20.12.3</a></td>
   <td align="right">10281kB</td>
   <td><tt>646cb85939ed3018c6b9a2bc580ecd320046cceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/minuet-20.12.3.tar.xz">minuet-20.12.3</a></td>
   <td align="right">27081kB</td>
   <td><tt>feca364970ea0e484cf44d5488ca063d3a0ffe42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/okular-20.12.3.tar.xz">okular-20.12.3</a></td>
   <td align="right">7699kB</td>
   <td><tt>c6b8b746b7d192ede083042cda8d1755f2e69f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/palapeli-20.12.3.tar.xz">palapeli-20.12.3</a></td>
   <td align="right">2030kB</td>
   <td><tt>47e20f3c8ac0958b4d51db76a60201a8264012e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/parley-20.12.3.tar.xz">parley-20.12.3</a></td>
   <td align="right">8634kB</td>
   <td><tt>aa03c47cc8966cba26111acfb3d94b6808c3db7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/partitionmanager-20.12.3.tar.xz">partitionmanager-20.12.3</a></td>
   <td align="right">2036kB</td>
   <td><tt>449e56f99b058ef4ff4456539f7cc3e6ea9d37e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/picmi-20.12.3.tar.xz">picmi-20.12.3</a></td>
   <td align="right">1335kB</td>
   <td><tt>e888d00ec7ba6cc0d531abb0f533fadbf68f109b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/pimcommon-20.12.3.tar.xz">pimcommon-20.12.3</a></td>
   <td align="right">355kB</td>
   <td><tt>65a4bceb6df8e3d41ec97609c74e3d550c3ad6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/pim-data-exporter-20.12.3.tar.xz">pim-data-exporter-20.12.3</a></td>
   <td align="right">392kB</td>
   <td><tt>14924c33864483bfb4394f9216f62e2a0c59f583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/pim-sieve-editor-20.12.3.tar.xz">pim-sieve-editor-20.12.3</a></td>
   <td align="right">444kB</td>
   <td><tt>2192017e9f3f47c50670ae4364351f6bba22f4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/poxml-20.12.3.tar.xz">poxml-20.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>9bd3890b85cd03fd42c64e8b6587391a80426d1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/print-manager-20.12.3.tar.xz">print-manager-20.12.3</a></td>
   <td align="right">252kB</td>
   <td><tt>c601bb94117a95b1337c8fd694c867c301d4de49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/rocs-20.12.3.tar.xz">rocs-20.12.3</a></td>
   <td align="right">1457kB</td>
   <td><tt>7597bdf441fbad275f4c7e72f7ed6f8a4c2a43f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/signon-kwallet-extension-20.12.3.tar.xz">signon-kwallet-extension-20.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>294f3847cba77ab58b047ef90eeb7e4e3d6add39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/spectacle-20.12.3.tar.xz">spectacle-20.12.3</a></td>
   <td align="right">1143kB</td>
   <td><tt>1907569462b3944db467af397868ea9168868c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/step-20.12.3.tar.xz">step-20.12.3</a></td>
   <td align="right">936kB</td>
   <td><tt>01e136a0c77a54b6537b7602012fdc4726eb2f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/svgpart-20.12.3.tar.xz">svgpart-20.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>1c781c1b34a614141aca6efd4ae0fa5338361ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/sweeper-20.12.3.tar.xz">sweeper-20.12.3</a></td>
   <td align="right">363kB</td>
   <td><tt>6bb3d2bc0d58ce7e0a6afb847de1266a9473e336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/umbrello-20.12.3.tar.xz">umbrello-20.12.3</a></td>
   <td align="right">5425kB</td>
   <td><tt>b38b0f6f9117eeaf91e78c0e3d01257edefac427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/yakuake-20.12.3.tar.xz">yakuake-20.12.3</a></td>
   <td align="right">373kB</td>
   <td><tt>281bec15e82d8ed61c6fb63467524a9846666857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.12.3/src/zeroconf-ioslave-20.12.3.tar.xz">zeroconf-ioslave-20.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>4b1349e5aed1ce2946209eaa3f08b1dadaec413f</tt></td>
</tr>

</table>
